!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html
  / <![endif]
  %head
    %meta{ charset: "utf-8" }
    %meta{ content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title
      Green Ruby :
      = name
    %meta{ content: "A Newsletter dedicated to weekly fresh news about ruby, web development, javascript, and related topics.", name: "description" }
    %meta{ content: "width=device-width, minimum-scale=1.0, maximum-scale=1.0", name: "viewport" }

    %link{ href: "feed.rss", rel: "alternate", title: "Green Ruby", type: "application/atom+xml" }
    %link{ href: "css/screen.css", rel: "stylesheet" }
    %script{ src: "js/vendor/modernizr-2.6.2-respond-1.1.0.min.js" }
  %body
    /[if lt IE 7]
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>

    #container
      #wrapper
        #titlebar
          #logo
            %img{ alt: "Green Ruby", height: "81", width: "100", src: "img/green-ruby-100.png"}
          %h1.head
            Green Ruby News
        .cell
          #intro
            This is a curated feed of fresh links of the week about ruby, javascript and web development.
            Watch out every sunday.
          #content
            .nav
              %ul
                %li
                  %a{ href: 'index.html'} Home
                %li
                  %a{ href: 'about.html'} About
                %li
                  %a{ href: 'http://cdb.io/GZM0Bv' } Map of subscribers
              %form{ id: "signup", action: "http://codegreenit.us6.list-manage1.com/subscribe/post?u=f1b3b59d2383eeb07537f6440&amp;id=7136c985cf", method: "post", target: "_blank"}
                .label Weekly Newsletter
                %input{ class: 'email', name: 'EMAIL', placeholder: 'email address', type: 'email' }
                %input{ class: 'button', name: 'subscribe', type: 'submit', value: 'Subscribe' }
              %h4 
                %a{ href: "feed.rss", style: "float:right;", alt: "rss" }
                  %img{ src: "img/rss.png"} 
                Archives
              %ul.letters
              %h4 More
              %ul
                %li
                  %a{ href: 'https://github.com/greenruby/grn-static'} Source
                %li
                  %a{ href: 'mailto:news@greenruby.org'} Contact
                %li
                  %a{ href: 'http://twitter.com/greenrubist'} @greenrubist

            .column
              = content
          #footer
            %a{ href: 'mailto:news@greenruby.org', class: 'contact'}
              contact
            The Green Ruby Newsletter is published by <a href="http://mose.github.io">Mose</a>
            .copyright
              Copyright &copy; 2013 Mose
              %a( rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/")
                %img( alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" )

    %script{ src: "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
    :javascript
      window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')

    %script{ src: "js/static.js" }

