<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#145 - nov 15th 2015</h1>
</div>
<div id="templateBody">



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://www.boldking.com/" class="linktitle">Boldking</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Simple and nice usage of illustrations.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://www.dreamfactory.com/" class="linktitle">DreamFactory</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
REST API backend for mobile, web, and IoT applications
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://www.ruby-lang.org/en/news/2015/11/11/ruby-2-3-0-preview1-released/" class="linktitle">Ruby 2.3.0-preview1 Released</a>

</td><td class="date">
nov 11
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Many new features and improvements are included.
</td></tr>

<tr><td>
<a href="https://github.com/stitchfix/immutable-struct" class="linktitle">Immutable-struct</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Create struct-like classes that don't have setters, but have an awesome constructor.
</td></tr>

<tr><td>
<a href="https://github.com/stitchfix/stitches" class="linktitle">Stitches</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Rails Engine and supporting classes for easily exposing a RESTful API.
</td></tr>

<tr><td>
<a href="https://github.com/zipmark/rspec_api_documentation" class="linktitle">Rspec_api_documentation</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Automatically generate API documentation from RSpec.
</td></tr>

<tr><td>
<a href="https://github.com/modeset/apitome" class="linktitle">Apitome</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
An API documentation reader (as a rails engine) for RSpec API Documentation.
</td></tr>

<tr><td>
<a href="https://github.com/thirtysixthspan/descriptive_statistics" class="linktitle">Descriptive_statistics</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Adds methods to the Enumerable module to allow easy calculation of basic descriptive statistics.
</td></tr>

<tr><td>
<a href="https://facette.io/" class="linktitle">Facette</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Time series data visualization and graphing software.
</td></tr>

<tr><td>
<a href="https://github.com/coreos/clair" class="linktitle">Clair</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Container Vulnerability Analysis Service.
</td></tr>

<tr><td>
<a href="https://helm.sh/" class="linktitle">Helm</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
The Kubernetes Package Manager.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://jakeyesbeck.com/2015/11/08/ruby-delegate-class/" class="linktitle">Ruby DelegateClass</a>

</td><td class="date">
nov 8
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Composing objects to achieve flexibility and maintain encapsulation.
</td></tr>

<tr><td>
<a href="http://blog.honeybadger.io/ruby-enumerable-slicing-before-when-and-after/" class="linktitle">Slicing and Dicing Ruby Enumerables</a>

</td><td class="date">
nov 10
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Super-useful methods when you need to group items in an array or other enumerable based on arbitrary criteria.
</td></tr>

<tr><td>
<a href="http://vaidehijoshi.github.io/blog/2015/11/10/methods-to-remember-things-by-ruby-memoization/" class="linktitle">Methods to Remember Things by: Ruby Memoization</a>

</td><td class="date">
nov 10
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Another post describing memoization in details.
</td></tr>

<tr><td>
<a href="http://blog.golang.org/6years" class="linktitle">Six years of Go</a>

</td><td class="date">
nov 10
<img class="icon" src="ico/go.png" height="18" width="18" align="right" alt="go" />
</td></tr>
<tr><td colspan="2" class="comment">
Happy birthday Go.
</td></tr>

<tr><td>
<a href="http://olivierlacan.com/posts/hash-comparison-in-ruby-2-3/" class="linktitle">Hash Comparison in Ruby 2.3</a>

</td><td class="date">
nov 11
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
New hash comparison methods that will be available in Ruby 2.3 when it's released this coming Christmas.
</td></tr>

<tr><td>
<a href="http://weblog.rubyonrails.org/2015/11/11/snappier-development-mode-in-rails-5/" class="linktitle">Snappier Development Mode in Rails 5</a>

</td><td class="date">
nov 11
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
For a long time Rails simply reloaded unconditionally in every request, this will be changed in Rails 5.
</td></tr>

<tr><td>
<a href="http://eileencodes.com/posts/the-sprockets-4-manifest/" class="linktitle">The Sprockets 4 Manifest</a>

</td><td class="date">
nov 11
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
When Rails 5 is released it will require that you upgrade to Sprockets 4.
</td></tr>

<tr><td>
<a href="https://alternatelabs.co/blog/search-by-proximity-using-postgis" class="linktitle">Search by proximity using PostGIS and Rails</a>

</td><td class="date">
nov 11
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Try out PostGIS, an addon for PostgreSQL.
</td></tr>

<tr><td>
<a href="https://css-tricks.com/the-difference-between-responsive-and-adaptive-design/" class="linktitle">The Difference Between Responsive and Adaptive Design</a>

</td><td class="date">
nov 11
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
This is a question that comes up more regularly than you might expect.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/html5-native-drag-and-drop-api/" class="linktitle">Using HTML5’s Native Drag and Drop API</a>

</td><td class="date">
nov 11
<img class="icon" src="ico/html5.png" height="18" width="18" align="right" alt="html5" />
</td></tr>
<tr><td colspan="2" class="comment">
Hook into native events and attributes to handle drag and drop interactions.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/simple-clutter-free-programming-with-go/" class="linktitle">Simple, Clutter-free Programming with Go</a>

</td><td class="date">
nov 11
<img class="icon" src="ico/go.png" height="18" width="18" align="right" alt="go" />
</td></tr>
<tr><td colspan="2" class="comment">
Many of the reasons Go is chosen for large-scale, distributed and network-heavy applications.
</td></tr>

<tr><td>
<a href="http://blog.michelada.io/ruby-2-3-0-preview-1" class="linktitle">Ruby 2.3.0 preview 1</a>

</td><td class="date">
nov 12
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
 Review of did_you_mean.gem, Safe navigation operator and Frozen String Literal Pragma.
</td></tr>

<tr><td>
<a href="http://chriskottom.com/blog/2015/11/bulletproof-rails-background-jobs/" class="linktitle">Bulletproof Rails Background Jobs</a>

</td><td class="date">
nov 12
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Few common-sense patterns to keep the back side as neat and well-ordered as the front.
</td></tr>

<tr><td>
<a href="http://blog.nordeus.com/dev-ops/power-failure-testing-with-ssds.htm" class="linktitle">Power Failure Testing with SSDs</a>

</td><td class="date">
nov 12
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Testing SSD disks and Postgres.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/overview-javascript-templating-engines/" class="linktitle">An Overview of JavaScript Templating Engines</a>

</td><td class="date">
nov 13
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
What benefits JavaScript templates can provide.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by mose (publisher), tysliu (editors), 
Nauman Tariq, hsatac, xenor (contributors)
.</i>

</div>


<div id="rant">
<h3>Rant</h3>

<div class="baseline"><i>The random rant of the week by mose.</i></div>
<h4>More about bullies</h4>

<p>This week I read the <a href="http://devblog.avdi.org/2015/11/09/software-bullying/">reaction of Avdi</a> to the rant of Linus last week. He proposes a short but insightful angle by just naming it 'bullying'. It rejoins the damage that I consider the coder-hero culture brings to our industry.</p>

<p>Certainly the creative process of writing software attract creative people. They have strong personalities, some have tendencies to mild autism. They move mountains and their pride make them work day and night to achieve unbelievable things.</p>

<p>This is good and well, but on the long run, now that we are passing 2 generations of coders, we know that it's not sustainable on the long run. Plus, it has a disastrous impact on team building. No pyramid was built by a single hero.</p>

<p>Incidentally I also read an interesting article about <a href="http://www.businessinsider.com/why-computer-programmers-need-to-stop-calling-themselves-engineers-already-2015-11">Why computer programmers need to stop calling themselves engineers already</a>. Even if I can't clearly explain how this is related, I have the feeling it's talking about something that is in the same area.</p>

</div>


</div>
</div>
