<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#064 - apr 27th 2014</h1>
</div>
<div id="templateBody">

<div>
<div class="baseline">
<h2>Edito</h2>
That's a busy weekend for us, RubyConf taiwan just ended, <a href="https://twitter.com/search?q=rubyconftw&mode=photos">check some photos</a>. RailsConf 2014 happened at the same time and confreaks published videos on justin.tv (see below). And else in the world, here are the geeky news of the week.
<br>
</div>
</div>



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://aquatilis.tv//" class="linktitle">Aquatilis</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
An project of exploration of oceans, superb images and nice navigation
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://www.accredible.com/" class="linktitle">Accredible</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Keep track of online training sessions from coursera, edX, udacity.
</td></tr>

<tr><td>
<a href="https://pintask.me/" class="linktitle">Pintask</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Task tracker, ala Trello.
</td></tr>

<tr><td>
<a href="https://waffle.io/" class="linktitle">Waffle</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A workflow tool for github issues.
</td></tr>

<tr><td>
<a href="https://gandalf.io/" class="linktitle">Gandalf.io</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Simple docker hosting for private images.
</td></tr>

<tr><td>
<a href="http://www.3dhubs.com/" class="linktitle">3D Hubs</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Find a 3D printer near you.
</td></tr>

<tr><td>
<a href="http://status.modern.ie/" class="linktitle">IE status</a>

</td><td class="date">

<img class="icon" src="ico/html5.png" height="18" width="18" align="right" alt="html5" />
</td></tr>
<tr><td colspan="2" class="comment">
The prevision of IE support of new css3/js/html5 features, from microsoft.
</td></tr>

<tr><td>
<a href="http://www.amazon.com/dp/1783286296/" class="linktitle">Rails 4 Application Development</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
I usualy don't link books in this letter, but that one is pretty good.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/ko1/allocation_tracer" class="linktitle">Allocation tracer</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Allocation tracer, checking ruby objects lifecycle.
</td></tr>

<tr><td>
<a href="https://github.com/flynn/flynn" class="linktitle">Flynn first preview</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
This long waited PaaS tool released its first usable version.
</td></tr>

<tr><td>
<a href="http://www.go.cd/" class="linktitle">Gocd</a>

</td><td class="date">

<img class="icon" src="ico/go.png" height="18" width="18" align="right" alt="go" />
</td></tr>
<tr><td colspan="2" class="comment">
Automate and streamline the build-test-release cycle for continuous delivery.
</td></tr>

<tr><td>
<a href="http://jamesrwhite.github.io/minicron/" class="linktitle">Minicron</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
A rails app with a GUI to manage cron jobs and notifications.
</td></tr>

<tr><td>
<a href="http://www.consul.io/" class="linktitle">Consul</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
A new service discovery tool from the vagrant guys, seems like an evolution of Serf.
</td></tr>

<tr><td>
<a href="http://bigspaceship.github.io/shine.js/" class="linktitle">Shine</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
A library for pretty shadows.
</td></tr>

<tr><td>
<a href="https://github.com/gogits/gogs" class="linktitle">Gogs</a>

</td><td class="date">

<img class="icon" src="ico/go.png" height="18" width="18" align="right" alt="go" />
</td></tr>
<tr><td colspan="2" class="comment">
Self Hosted Git Service, like a gitlab limited to the git features.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://chr13.com/2014/04/20/using-facebook-notes-to-ddos-any-website/" class="linktitle">Using Facebook Notes to DDoS any website</a>

</td><td class="date">
apr 20
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
They say they cannot fix it. Read carefully and protect yourself against this.
</td></tr>

<tr><td>
<a href="https://zapier.com/engineering/continuous-integration-jenkins-docker-github/" class="linktitle">TravisCI-like Continuous Integration with Docker and Jenkins</a>

</td><td class="date">
apr 21
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Zapier explains how they use jenkins, docker and github commit API.
</td></tr>

<tr><td>
<a href="https://zapier.com/engineering/continuous-integration-jenkins-docker-github/" class="linktitle">TravisCI-like Continuous Integration with Docker and Jenkins</a>

</td><td class="date">
apr 21
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Zapier explains how they use jenkins, docker and github commit API.
</td></tr>

<tr><td>
<a href="http://www.centurylinklabs.com/what-is-docker-and-when-to-use-it/" class="linktitle">What docker is and when to use it</a>

</td><td class="date">
apr 22
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
A very good explanation of what docker is not, and how it compares to other technologies.
</td></tr>

<tr><td>
<a href="http://globaldev.co.uk/2014/04/ruby-tips-part-5/" class="linktitle">Ruby Tips Part 5</a>

</td><td class="date">
apr 22
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Misc tips about ruby, also good to check the previous ones.
</td></tr>

<tr><td>
<a href="https://hakiri.io/blog/ruby-security-have-you-not" class="linktitle">Ruby Security Have You Not!</a>

</td><td class="date">
apr 22
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Metrics from Hakiri, a service for checking gems security.
</td></tr>

<tr><td>
<a href="http://david.heinemeierhansson.com/2014/tdd-is-dead-long-live-testing.html" class="linktitle">TDD is dead. Long live testing.</a>

</td><td class="date">
apr 23
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A shout out against test-first paradigm from the rails father.
</td></tr>

<tr><td>
<a href="http://www.haskellforall.com/2014/04/model-view-controller-haskell-style.html" class="linktitle">Model-view-controller, Haskell-style</a>

</td><td class="date">
apr 25
<img class="icon" src="ico/hk.png" height="18" width="18" align="right" alt="hk" />
</td></tr>
<tr><td colspan="2" class="comment">
Doing MVC in Haskell.
</td></tr>

<tr><td>
<a href="http://code.tutsplus.com/tutorials/chrome-devtools-features-you-may-have-missed--cms-20850" class="linktitle">Chrome DevTools Features You May Have Missed</a>

</td><td class="date">
apr 25
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
6 dev features from chrome.
</td></tr>

<tr><td>
<a href="http://blog.codinghorror.com/what-can-men-do/" class="linktitle">What Can Men Do?</a>

</td><td class="date">
apr 25
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Why we need more lady-coders and how to help it.
</td></tr>

</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://www.youtube.com/watch?v=XA8_hZfVecI" class="linktitle">Building JavaScript Tools</a>
<span class="duration">(29m)</span>
</td><td class="date">
apr 25
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
JavaScript Abstract Syntax Trees and building your own tools.
</td></tr>

<tr><td>
<a href="http://www.justin.tv/confreaks/b/522089408" class="linktitle">RailsConf 2014</a>

</td><td class="date">
apr 25
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Preview of the confreaks footage from the railsconf this weekend.
</td></tr>

</table>

<h3>Listen</h3>
<div class="baseline">What could be heard last week ..</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://podcasts.thoughtbot.com/giantrobots/95" class="linktitle">Giant robots #95</a>
<span class="duration">(42m)</span>
</td><td class="date">
apr 21
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Making Time (Chas Emerick, The Quilt Project).
</td></tr>

<tr><td>
<a href="http://blog.codepen.io/2014/04/22/009-code-quality/" class="linktitle">CodePen podcast 009</a>
<span class="duration">(29m)</span>
</td><td class="date">
apr 22
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Code quality (linting).
</td></tr>

<tr><td>
<a href="http://blog.producthunt.co/post/83516326966/product-hunt-radio-episode-2" class="linktitle">Product Hunt Radio 2</a>
<span class="duration">(32m)</span>
</td><td class="date">
apr 22
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
About online-to-offline apps, and various other topics.
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/495-episode-458-april-22nd-2014" class="linktitle">Ruby5 458</a>
<span class="duration">(6m)</span>
</td><td class="date">
apr 22
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Searchlight, no dumping, this week in rails, whiny validation, bootstrap 3 and simple forms, open source gardener.
</td></tr>

<tr><td>
<a href="http://rubyrogues.com/153-rr-from-the-forum/" class="linktitle">Ruby Rogues 153</a>
<span class="duration">(1h10)</span>
</td><td class="date">
apr 23
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
From the Forum, extracts from the ruby parley discourse.
</td></tr>

<tr><td>
<a href="http://javascriptjabber.com/105-jsj-jsconf-and-organizing-conferences-with-chris-williams/" class="linktitle">Javascript Jabber 105</a>
<span class="duration">(1h16)</span>
</td><td class="date">
apr 23
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
JSConf and Organizing Conferences with Chris Williams.
</td></tr>

<tr><td>
<a href="http://5by5.tv/changelog/119" class="linktitle">TheChangelog 119</a>
<span class="duration">(48m)</span>
</td><td class="date">
apr 25
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
MEAN.js & Full-Stack JavaScript w/ Roie and Amos.
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/494-episode-457-april-18th-2014" class="linktitle">Ruby5 459</a>
<span class="duration">(6m)</span>
</td><td class="date">
apr 25
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
letter opener web, mint-exporter, moingoid observers, DHH interview, ids_please, ruby heroes 2014.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by mose (editor), xenor (informer).</i>

</div>



</div>
</div>
