<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#163 - mar 20th 2016</h1>
</div>
<div id="templateBody">



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://printedbysomerset.com/" class="linktitle">Somerset</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
A printing design company, with a funny website.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://runnable.io/" class="linktitle">Runnable</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A sandbox service that creates full-stack environments for GitHub branches.
</td></tr>

<tr><td>
<a href="https://zube.io" class="linktitle">Zube</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Project management for GitHub issues.
</td></tr>

<tr><td>
<a href="https://github.com/ampproject/amphtml" class="linktitle">Amphtml</a>

</td><td class="date">

<img class="icon" src="ico/html5.png" height="18" width="18" align="right" alt="html5" />
</td></tr>
<tr><td colspan="2" class="comment">
AMP HTML source code, samples, and documentation.
</td></tr>

<tr><td>
<a href="http://uigradients.com" class="linktitle">uiGradients</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Handpicked collection of colour gradients for designers and developers.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/iridakos/duckrails" class="linktitle">Duckrails</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A development tool to quickly & dynamically mock API endpoints.
</td></tr>

<tr><td>
<a href="http://infraruby.com/" class="linktitle">InfraRuby</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A statically typed Ruby on the JVM.
</td></tr>

<tr><td>
<a href="https://github.com/dry-rb" class="linktitle">Dry-rb</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A collection of Ruby libraries, each intended to encapsulate a common task.
</td></tr>

<tr><td>
<a href="https://github.com/amatsuda/stateful_enum" class="linktitle">Stateful_enum</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A very simple state machine plugin built on top of ActiveRecord::Enum.
</td></tr>

<tr><td>
<a href="https://github.com/altmetric/urn" class="linktitle">Urn</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Ruby library to validate and normalize URNs according to RFC 2141.
</td></tr>

<tr><td>
<a href="https://github.com/janlelis/unicode-confusable" class="linktitle">Unicode-confusable</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Unicode::Confusable.confusable? 'ℜսᖯʏ', 'Ruby'.
</td></tr>

<tr><td>
<a href="https://github.com/telegram-bot-rb/telegram-bot" class="linktitle">Telegram-bot</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Library for building Telegram Bots with Rails integration.
</td></tr>

<tr><td>
<a href="https://github.com/janlelis/clipboard" class="linktitle">Clipboard</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Ruby access to the clipboard on Windows, Linux, MacOS, Java and Cygwin.
</td></tr>

<tr><td>
<a href="https://github.com/AtomicPair/wolfentext3d" class="linktitle">Wolfentext3d</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
3D dungeon crawling in your terminal.
</td></tr>

<tr><td>
<a href="http://autumnai.com/" class="linktitle">Autumn AI</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
The Hacker's Machine Intelligence Platform.
</td></tr>

<tr><td>
<a href="https://github.com/DKirwan/calendar-heatmap" class="linktitle">Calendar-heatmap</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A d3 heatmap representing time series data similar to github's contribution chart.
</td></tr>

<tr><td>
<a href="https://github.com/dbushell/Pikaday" class="linktitle">Pikaday</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Another Datepicker. Lightweight, no dependencies, modular CSS.
</td></tr>

<tr><td>
<a href="https://github.com/t1m0n/air-datepicker" class="linktitle">Air-datepicker</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Yet another jQuery datepicker.
</td></tr>

<tr><td>
<a href="http://slushjs.github.io/#/" class="linktitle">Slush</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Streaming scaffolding system: Gulp as a replacement for YeomanGulp as a replacement for Yeoman.
</td></tr>

<tr><td>
<a href="http://crystal-lang.org/" class="linktitle">Crystal</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Ruby-inspired low level language.
</td></tr>

<tr><td>
<a href="http://appbaseio.github.io/dejaVu/" class="linktitle">Dejavu</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Elasticsearch browser.
</td></tr>

<tr><td>
<a href="https://github.com/tobiasfeistmantl/LeSSL" class="linktitle">LeSSL</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
A certificate manager for lets-encrypt certificates in ruby.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://blog.arkency.com/2016/03/creating-new-content-types-in-rails-4-dot-2/" class="linktitle">Creating new content types in Rails 4.2</a>

</td><td class="date">
mar 13
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Working with respond_to or respond_with inside rails controllers.
</td></tr>

<tr><td>
<a href="http://www.betterruby.com/gangs-in-ruby-observer/" class="linktitle">Ruby Design Patterns: Observer</a>

</td><td class="date">
mar 14
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Separate code concerns and make it adaptable by observer pattern.
</td></tr>

<tr><td>
<a href="http://blog.mccartie.com/2016/03/14/modify-your-ruby-app%27s-dns-lookup.html" class="linktitle">Modify Your Ruby App's DNS Lookup</a>

</td><td class="date">
mar 14
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Custom DNS information within our app, instead of needing to modify your system’s /etc/hosts file.
</td></tr>

<tr><td>
<a href="https://robots.thoughtbot.com/rebuilding-git-in-ruby" class="linktitle">Rebuilding Git in Ruby</a>

</td><td class="date">
mar 14
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Overiview of the RGit implementatiion details.
</td></tr>

<tr><td>
<a href="https://subvisual.co/blog/posts/74-ruby-bits-each-with-object" class="linktitle">Ruby Bits:Each with object</a>

</td><td class="date">
mar 15
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
TheEnumerable module is the core of everything in Ruby. Meet the each_with_object method.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/introduction-jquery-deferred-objects/" class="linktitle">An Introduction to jQuery’s Deferred Objects</a>

</td><td class="date">
mar 16
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
For a long time, JavaScript developers have used callback functions to perform several tasks.
</td></tr>

<tr><td>
<a href="http://www.rachelandrew.co.uk/archives/2016/03/16/css-exclusions-and-grid-layout/" class="linktitle">CSS Exclusions and Grid Layout</a>

</td><td class="date">
mar 16
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Exclusions specification will be useful for creating layouts on the web once Grid ships in browsers.
</td></tr>

<tr><td>
<a href="https://ma.ttias.be/remote-code-execution-git-versions-client-server-2-7-1-cve-2016-2324-cve-2016-2315/" class="linktitle">Remote Code Execution in all git versions</a>

</td><td class="date">
mar 16
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
This has the potential to be huge: server and client side remote code execution through a buffer overflow.
</td></tr>

<tr><td>
<a href="https://zachholman.com/talk/firing-people" class="linktitle">Firing People</a>

</td><td class="date">
mar 16
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
How can we fix the firing process if we're not even talking about it first.
</td></tr>

<tr><td>
<a href="http://jvns.ca/blog/2016/03/16/tcpdump-is-amazing/" class="linktitle">Tcpdump is amazing</a>

</td><td class="date">
mar 16
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
The case of tracing slow HTTP requests.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/results-ultimate-css-survey/" class="linktitle">The Results of The Ultimate CSS Survey</a>

</td><td class="date">
mar 17
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
3-part survey aimed at gathering info on the habits and preferences of CSS developers in the industry.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/quickly-create-a-telegram-bot-in-ruby/" class="linktitle">Quickly Create a Telegram Bot in Ruby</a>

</td><td class="date">
mar 17
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Telegram might be a new name to you, but it’s gaining popularity the in the last few years.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/responsive-web-components/" class="linktitle">How You Can Use Responsive Web Components Today</a>

</td><td class="date">
mar 17
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Web Components are a W3 specification that enables you to build your own HTML elements.
</td></tr>

<tr><td>
<a href="https://css-tricks.com/ligature-icons/" class="linktitle">Ligature Icons via Pseudo Elements and Icon Fonts</a>

</td><td class="date">
mar 18
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Rather than use text in the HTML though, you can use a pseudo element.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by mose (publisher), xenor, tysliu (editors)
, Nauman Tariq, hsatac, Michael Weigle (contributors)
.</i>

</div>


<div id="rant">
<h3>Rant</h3>

<div class="baseline"><i>The random rant of the week by mose.</i></div>
<h4>No rant this week</h4>

<p>Well it's not the first time. I just don't feel inspired. So I better shut up rather than writing useless rant. It's so easy to fill up space with meaningless content. But I'm not doing that ever. I only speak out when I have something to say. And yes, I'm very comfortable to contradict myself by writing a useless rant. This is the beauty of the human being: our ability to abstract makes possible all sort of paradoxes. Wait, is it related to abstractions? hmm, This is a great topic for my day-dreaming in the subway. Oh, damn I'm late. Cya all and have a good week.</p>

</div>


</div>
</div>
