<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#085 - sep 21th 2014</h1>
</div>
<div id="templateBody">

<div>
<div class="baseline">
<h2>Edito</h2>
There is some people every day on our <a href="http://webchat.freenode.net/?channels=%23greenruby">irc channel</a>, but as I wanted to try <a href="http://slack.com">slack</a> I opened a room there too (recent upgrades on hipchat were very annoying). <a href="mailto:mose@greenruby.org">Poke me</a> if you want an invite to join it, for some chatting, or just if you want to see how slack works.
<br>
</div>
</div>



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.endlessicons.com/" class="linktitle">Endless Icons</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
A collection of free flat icons and creative stuff.
</td></tr>

<tr><td>
<a href="http://codepen.io/patterns/" class="linktitle">Design Patterns</a>

</td><td class="date">

<img class="icon" src="ico/html5.png" height="18" width="18" align="right" alt="html5" />
</td></tr>
<tr><td colspan="2" class="comment">
Collections of patterns from Codepen contributions.
</td></tr>

<tr><td>
<a href="http://preziotte.com/partymode/" class="linktitle">Party mode</a>

</td><td class="date">

<img class="icon" src="ico/html5.png" height="18" width="18" align="right" alt="html5" />
</td></tr>
<tr><td colspan="2" class="comment">
Experimental music visualizer using d3.js and the web audio api.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.sinatracookbook.com/" class="linktitle">Sinatra cookbook</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
(book) nothing to do with chef, all about Sinatra.
</td></tr>

<tr><td>
<a href="https://docs.google.com/presentation/d/1cqdp89_kolr4q1YAQaB-6i5GXip8MHyve8MvQ_1r6_s/edit" class="linktitle">Ruby Gotchas</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Collection of some good small gotchas when you write ruby script.
</td></tr>

<tr><td>
<a href="http://www.algomation.com/" class="linktitle">Algomation</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Platform for creating and sharing didactic visualizations of algorithms.
</td></tr>

<tr><td>
<a href="http://collabshot.com/" class="linktitle">CollabShot</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Real time collaboration for screen grabs.
</td></tr>

<tr><td>
<a href="http://www.weekendhacker.net/" class="linktitle">Weekend hacker</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Find ideas for your weekends.
</td></tr>

<tr><td>
<a href="http://speedcurve.com/" class="linktitle">SpeedCurve</a>

</td><td class="date">

<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Monitor front-end performance.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://www.ruby-lang.org/en/news/2014/09/19/ruby-2-1-3-is-released/" class="linktitle">Ruby 2.1.3</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Contains a change of full GC timing to reduce memory consumption.
</td></tr>

<tr><td>
<a href="http://elixir-lang.org/blog/2014/09/18/elixir-v1-0-0-released/" class="linktitle">Elixir v1.0.03</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Elixir finally reached a stable milestone.
</td></tr>

<tr><td>
<a href="https://github.com/typicode/katon" class="linktitle">Katon</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Alternative to Pow development tool, with a wider scope (Node, Ruby, Python, Go, ..).
</td></tr>

<tr><td>
<a href="https://bosonic.github.io/" class="linktitle">Bosonic</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Set of tools to build and use reusable Web Components.
</td></tr>

<tr><td>
<a href="https://github.com/MadRabbit/sweet-logger" class="linktitle">SweetLogger</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A rails logger that don't let log entries for concurrent requests overlap.
</td></tr>

<tr><td>
<a href="https://github.com/voltrb/volt" class="linktitle">Volt</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A ruby web framework where your ruby runs on both server and client.
</td></tr>

<tr><td>
<a href="http://nomad-cli.com/" class="linktitle">Nomad</a>

</td><td class="date">

<img class="icon" src="ico/mobile.png" height="18" width="18" align="right" alt="mobile" />
</td></tr>
<tr><td colspan="2" class="comment">
World-Class Command Line Utilities For iOS Development.
</td></tr>

<tr><td>
<a href="https://github.com/ColdSauce/CosmosBrowserAndroid" class="linktitle">CosmosBrowserAndroid</a>

</td><td class="date">

<img class="icon" src="ico/mobile.png" height="18" width="18" align="right" alt="mobile" />
</td></tr>
<tr><td colspan="2" class="comment">
Connect to internet by SMS, no data or wifi required.
</td></tr>

<tr><td>
<a href="http://code.shutterstock.com/rickshaw/" class="linktitle">Rickshaw</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
JavaScript toolkit for creating interactive time series graphs (based on D3).
</td></tr>

<tr><td>
<a href="https://github.com/tommoor/tinycon" class="linktitle">Tinycon</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A small library for manipulating the favicon.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.rigelgroupllc.com/blog/2014/09/14/working-with-complex-sql-statements/" class="linktitle">Working With Complex SQL Statements in Rails and ActiveRecord</a>

</td><td class="date">
sep 14
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Write your own activerecord method with custom postgresql sql code.
</td></tr>

<tr><td>
<a href="http://codeincomplete.com/posts/2014/9/15/ruby_daemons/" class="linktitle">Daemonizing Ruby Processes</a>

</td><td class="date">
sep 15
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
How-to for daemonizing Ruby code without adding any new dependencies.
</td></tr>

<tr><td>
<a href="http://www.justinweiss.com/blog/2014/09/15/a-lightweight-way-to-handle-different-validation-situations/" class="linktitle">A Lightweight Way to Handle Different Validation Situations</a>

</td><td class="date">
sep 15
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Some cases of conditional validations.
</td></tr>

<tr><td>
<a href="http://shayfrendt.com/posts/upgrading-github-to-rails-3-with-zero-downtime/" class="linktitle">Upgrading GitHub to Rails 3 with Zero Downtime</a>

</td><td class="date">
sep 15
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
How they did it, plus some metrics.
</td></tr>

<tr><td>
<a href="http://authenticff.com/journal/successful-tools-in-remote-work" class="linktitle">Successful Tools in Remote Work</a>

</td><td class="date">
sep 16
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Communication is king. It has to be, otherwise it all falls apart.
</td></tr>

<tr><td>
<a href="http://www.html5rocks.com/en/tutorials/shapes/getting-started/" class="linktitle">Getting Started with CSS Shapes</a>

</td><td class="date">
sep 16
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Wrapping content around custom paths.
</td></tr>

<tr><td>
<a href="http://robots.thoughtbot.com/postgres-window-functions" class="linktitle">Postgres Window Functions</a>

</td><td class="date">
sep 16
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Advanced sorting and limiting on a subset of a joined table of data.
</td></tr>

<tr><td>
<a href="http://dev.mikamai.com/post/97732414859/the-rails-angular-equation-can-give-you-satisfaction" class="linktitle">The Rails + Angular equation can give you satisfaction</a>

</td><td class="date">
sep 17
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Simple example or rails combined with angular.
</td></tr>

<tr><td>
<a href="http://edelpero.svbtle.com/everything-you-always-wanted-to-know-about-writing-good-rake-tasks-but-were-afraid-to-ask" class="linktitle">Everything About Rake Tasks</a>

</td><td class="date">
sep 17
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
What Makes a Rake Task a Good Task?
</td></tr>

<tr><td>
<a href="http://www.infoworld.com/article/2607128/application-development/4-ways-docker-fundamentally-changes-application-development.html" class="linktitle">4 ways Docker fundamentally changes application development</a>

</td><td class="date">
sep 17
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
How Docker containers streamline development and deployment.
</td></tr>

<tr><td>
<a href="https://netguru.co/blog/9-ways-to-speed-up-your-rspec-tests" class="linktitle">9 ways to speed up your RSpec tests</a>

</td><td class="date">
sep 19
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Various tips to make your tests faster.
</td></tr>

<tr><td>
<a href="https://www.amberbit.com/blog/2014/9/19/splitting-monolithic-rails-applications/" class="linktitle">Splitting monolithic Rails applications</a>

</td><td class="date">
sep 19
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
An approach for making a rails application more modular.
</td></tr>

<tr><td>
<a href="http://robots.thoughtbot.com/active-record-eager-loading-with-query-objects-and-decorators" class="linktitle">ActiveRecord Eager Loading with Query Objects and Decorators</a>

</td><td class="date">
sep 19
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Also illustrates the use of the postgres window function.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/testing-page-objects-siteprism/" class="linktitle">Testing Page Objects with SitePrism</a>

</td><td class="date">
sep 19
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
SitePrism is a Page Object Model DSL for Capybara.
</td></tr>

</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.atozcss.com/text-and-typography-in-css/" class="linktitle">AtoZ CSS: text</a>
<span class="duration">(7m)</span>
</td><td class="date">
sep 16
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Quick reference about all the text css styles.
</td></tr>

<tr><td>
<a href="https://www.youtube.com/watch?v=hiwZUxc1Fpw" class="linktitle">Tom Dale talks about the humans behind Tilde and Ember.js</a>
<span class="duration">(40m)</span>
</td><td class="date">
sep 17
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Bonus: A tour of their office.
</td></tr>

<tr><td>
<a href="https://motioninmotion.tv/screencasts/45" class="linktitle">The Raw Experience of Setting Up RubyMotion for Android</a>
<span class="duration">(36m)</span>
</td><td class="date">
sep 18
<img class="icon" src="ico/mobile.png" height="18" width="18" align="right" alt="mobile" />
</td></tr>
<tr><td colspan="2" class="comment">
RubyMotion's support for Android has finally reached public beta.
</td></tr>

</table>

<h3>Listen</h3>
<div class="baseline">What could be heard last week ..</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://podcasts.thoughtbot.com/giantrobots/116" class="linktitle">Giant robots #116</a>
<span class="duration">(32m)</span>
</td><td class="date">
sep 15
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A Model Jellyfish (Carl Smith).
</td></tr>

<tr><td>
<a href="http://thewebplatform.libsyn.com/the-bosonic-project" class="linktitle">Web platform #11</a>
<span class="duration">(54m)</span>
</td><td class="date">
sep 15
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
The Bosonic Project.
</td></tr>

<tr><td>
<a href="http://nodeup.com/seventytwo" class="linktitle">Nodeup 72</a>
<span class="duration">(1h35)</span>
</td><td class="date">
sep 15
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
 A webgl show.
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/533-episode-496-september-16th-2014" class="linktitle">Ruby5 496</a>
<span class="duration">(6m)</span>
</td><td class="date">
sep 16
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Volt, fast tests, protect from forgery, upmin admin.
</td></tr>

<tr><td>
<a href="http://rubyrogues.com/174-rubygems-with-eric-hodel/" class="linktitle">Ruby Rogues 174</a>
<span class="duration">(1h14)</span>
</td><td class="date">
sep 17
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Rubygems with Eric Hodel.
</td></tr>

<tr><td>
<a href="http://javascriptjabber.com/126-jsj-the-ionic-framework-with-max-lynch-and-tyler-renelle/" class="linktitle">Javascript Jabber 126</a>
<span class="duration">(59m)</span>
</td><td class="date">
sep 17
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
The Ionic Framework with Max Lynch and Tyler Renelle.
</td></tr>

<tr><td>
<a href="http://blog.codepen.io/2014/09/19/023-churn/" class="linktitle">CodePen 23</a>
<span class="duration">(27m)</span>
</td><td class="date">
sep 19
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Churn.
</td></tr>

<tr><td>
<a href="http://5by5.tv/rubyonrails/168" class="linktitle">Ruby on Rails Podcast 168</a>
<span class="duration">(1h06)</span>
</td><td class="date">
sep 19
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Josh Owens - 2007 Rails Rumble Winner; Bonus Meteor Intro.
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/534-episode-497-september-19th-2014" class="linktitle">Ruby5 497</a>
<span class="duration">(5m)</span>
</td><td class="date">
sep 19
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Fourchette, helioth, hutils, toshi, byebug.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by mose (editor).</i>

</div>



</div>
</div>
