<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#066 - may 11th 2014</h1>
</div>
<div id="templateBody">

<div>
<div class="baseline">
<h2>Edito</h2>
A lot of new releases this week, both on ruby, and on rails, but also various others. We also have a lot of podcasts at the bottom too.
<br>
</div>
</div>



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.youthedesigner.com/2014/05/01/awesome-playing-cards-for-web-developers/" class="linktitle">Playing Cards for Web Developers</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
Great gift for beginners.
</td></tr>

<tr><td>
<a href="http://demosthenes.info/blog/758/Resources-For-Free-Legal-Web-Images" class="linktitle">Resources For Free, Legal Web Images</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
When original photo is not possible, and budget is tight, royalty-free photos can help.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://webcomponents.org/" class="linktitle">WebComponents.org</a>

</td><td class="date">

<img class="icon" src="ico/html5.png" height="18" width="18" align="right" alt="html5" />
</td></tr>
<tr><td colspan="2" class="comment">
A place to discuss and evolve web component best-practices.
</td></tr>

<tr><td>
<a href="https://moqups.com/" class="linktitle">Moqups</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
New version of Moqups is available. Make mockups online.
</td></tr>

<tr><td>
<a href="http://www.stylestats.org/" class="linktitle">StyleStats</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Instantly give stats on CSS for any website.
</td></tr>

<tr><td>
<a href="http://sourcemaking.com/" class="linktitle">SourceMaking</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A general purpose collection of patterns references for coders.
</td></tr>

<tr><td>
<a href="http://leanstack.io/cloud-stacks" class="linktitle">Leanstack</a>

</td><td class="date">

<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
See what the best startups and companies in the world are using.
</td></tr>

<tr><td>
<a href="http://www.accentlearners.com/" class="linktitle">Accent Learners</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
If your boss rolls eyes at your English accent, make him pay you this (yeah most Green Ruby readers are not English native speakers actually).
</td></tr>

<tr><td>
<a href="http://rails-refactoring.com/" class="linktitle">Rails Refactoring</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
This is another book about fearless refactoring, published this year.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://www.ruby-lang.org/en/news/2014/05/09/ruby-2-1-2-is-released/" class="linktitle">Ruby 2.1.2</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
With Hash#reject regression fix.
</td></tr>

<tr><td>
<a href="http://weblog.rubyonrails.org/2014/5/6/Rails_3_2_18_4_0_5_and_4_1_1_have_been_released/" class="linktitle">Rails 3.2.18, 4.0.5, 4.1.1</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
This is a security release related to CVE-2014-0130.
</td></tr>

<tr><td>
<a href="http://jekyllrb.com/news/2014/05/06/jekyll-turns-2-0-0/" class="linktitle">Jekyll turns 2.0.0</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Exactly one year after the 1.0.0, this version has a lot of changes.
</td></tr>

<tr><td>
<a href="http://blog.atom.io/2014/05/06/atom-is-now-open-source.html" class="linktitle">Atom open sourced</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
This was uncertain for a while, but they made it! Great move.
</td></tr>

<tr><td>
<a href="http://packetbeat.com/" class="linktitle">PacketBeat</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Open Source application monitoring & packet tracing system.
</td></tr>

<tr><td>
<a href="http://flippinawesome.org/2014/05/05/slush-a-better-web-app-scaffolding-tool/" class="linktitle">Slush</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A Better Web App Scaffolding Tool.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://ruby-journal.com/how-to-override-default-primary-key-id-in-rails" class="linktitle">How to Override Default Primary Key Id in Rails</a>

</td><td class="date">
apr 18
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Integer primary keys are not the only way.
</td></tr>

<tr><td>
<a href="https://masteruby.github.io/productivity-booster/2014/05/02/vim-plugins-for-ruby.html" class="linktitle">10 useful vim plugins for Ruby</a>

</td><td class="date">
may 2
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Many of you probably have those installed, but who knows.
</td></tr>

<tr><td>
<a href="http://nicksda.apotomo.de/2014/05/reform-1-0-form-objects-for-ruby-and-rails/" class="linktitle">Reform 1.0 – Form Objects For Ruby And Rails</a>

</td><td class="date">
may 5
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Examples of usage for the release of the 1.0 of reform.
</td></tr>

<tr><td>
<a href="https://medium.com/p/a2010c13d3d5" class="linktitle">Getting gulpy</a>

</td><td class="date">
may 6
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Advanced tips for using gulp.js.
</td></tr>

<tr><td>
<a href="http://css-tricks.com/reading-position-indicator/" class="linktitle">Reading Position Indicator</a>

</td><td class="date">
may 7
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Very nice when the page gets long.
</td></tr>

<tr><td>
<a href="http://10kb.nl/blog/automatically-generate-angular-resources-for-your-rails-api" class="linktitle">Angular resources for your Rails API</a>

</td><td class="date">
may 7
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Automatically generate them, with some rails route setup.
</td></tr>

<tr><td>
<a href="http://globaldev.co.uk/2014/05/ruby-2-1-in-detail/" class="linktitle">Ruby 2.1 In Detail</a>

</td><td class="date">
may 6
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Changes and improvements in the last ruby version.
</td></tr>

<tr><td>
<a href="http://blog.arkency.com/2014/05/mastering-rails-validations-objectify/" class="linktitle">Mastering Rails Validations - Objectify</a>

</td><td class="date">
may 8
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Advanced techniques for managing validations, a sequel from a link published last week.
</td></tr>

<tr><td>
<a href="http://scotch.io/bar-talk/bootstrap-3-tips-and-tricks-you-might-not-know" class="linktitle">Bootstrap 3 Tips and Tricks You Might Not Know</a>

</td><td class="date">
may 8
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Various tricks to make Bootstrap more docile.
</td></tr>

<tr><td>
<a href="http://shoesrb.com/2014/05/10/shoes-4pre1-release.html" class="linktitle">Shoes 4 preview released</a>

</td><td class="date">
may 10
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
This is the new shoes, so you can throw away the old ones. Help find bugs before the release.
</td></tr>

<tr><td>
<a href="http://blog.8thlight.com/uncle-bob/2014/05/10/WhenToMock.html" class="linktitle">When to Mock</a>

</td><td class="date">
may 10
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Great review of mocking by Uncle Bob.
</td></tr>

</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://confreaks.com/events/railsconf" class="linktitle">RailsConf 2014</a>
<span class="duration">(26 videos)</span>
</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
The whole conf. Pay attention to the DHH keynote it seems to be quite controversial.
</td></tr>

<tr><td>
<a href="http://confreaks.com/events/gophercon2014" class="linktitle">GopherCon 2014</a>
<span class="duration">(7 videos)</span>
</td><td class="date">

<img class="icon" src="ico/go.png" height="18" width="18" align="right" alt="go" />
</td></tr>
<tr><td colspan="2" class="comment">
The first Go conference.
</td></tr>

<tr><td>
<a href="http://vimeo.com/94347623" class="linktitle">Network connectivity: optional</a>
<span class="duration">(29m)</span>
</td><td class="date">
may 7
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Off-line access and the web.
</td></tr>

</table>

<h3>Listen</h3>
<div class="baseline">What could be heard last week ..</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://blog.codepen.io/2014/05/05/010-email/" class="linktitle">Code Pen 010</a>
<span class="duration">(30m)</span>
</td><td class="date">
may 5
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Marketing email, transactional email, all kinds of email.
</td></tr>

<tr><td>
<a href="http://podcasts.thoughtbot.com/giantrobots/97" class="linktitle">Giant robots #97</a>
<span class="duration">(26m)</span>
</td><td class="date">
may 5
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Railing Against Rails (Ernie Miller).
</td></tr>

<tr><td>
<a href="http://blog.producthunt.co/post/84915320344/product-hunt-radio-episode-4" class="linktitle">Product Hunt Radio 4</a>
<span class="duration">(42m)</span>
</td><td class="date">
mat 6
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
At Everywhere else conference, discussion between Josh Miller, Ben Yokovitz, Ryan Hoover.
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/499-episode-462-may-6th-2014" class="linktitle">Ruby5 462</a>
<span class="duration">(7m)</span>
</td><td class="date">
may 6
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Good news from the Ruby Core meeting, TDD debates galore, AdequateRecord, and some surprisingly uneventful code ping pong.
</td></tr>

<tr><td>
<a href="http://rubyrogues.com/155-rr-why-ruby-sucks/" class="linktitle">Ruby Rogues 155</a>
<span class="duration">(1h16)</span>
</td><td class="date">
may 7
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Why Ruby Sucks.
</td></tr>

<tr><td>
<a href="http://javascriptjabber.com/107-jsj-clojurescript-om-with-david-nolen/" class="linktitle">Javascript Jabber 107</a>
<span class="duration">(52m)</span>
</td><td class="date">
may 7
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
ClojureScript & Om with David Nolen.
</td></tr>

<tr><td>
<a href="http://5by5.tv/changelog/121" class="linktitle">TheChangelog 121</a>
<span class="duration">(57m)</span>
</td><td class="date">
may 8
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Dart with Lars Bak and Seth Ladd from Google.
</td></tr>

<tr><td>
<a href="http://5by5.tv/rubyonrails/149" class="linktitle">Ruby on Rails Podcast #149</a>
<span class="duration">(1h)</span>
</td><td class="date">
may 8
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
This podcast was revived after 5 years of silence in march. This episode is about early days of Ruby and Rails and the heterogeneous architecture of Wunderlist with Chad Fowler.
</td></tr>

<tr><td>
<a href="http://www.arresteddevops.com/cloud-scaling/" class="linktitle">Arrested DevOps 10</a>
<span class="duration">(1h)</span>
</td><td class="date">
may 8
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Scaling the Application Mountains.
</td></tr>

<tr><td>
<a href="http://nodeup.com/sixtythree" class="linktitle">NodeUp 63</a>
<span class="duration">(2h03)</span>
</td><td class="date">
may 9
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
a live lnug show.
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/500-episode-463-may-9th-2014" class="linktitle">Ruby5 463</a>
<span class="duration">(5m)</span>
</td><td class="date">
may 9
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Untangline spaghetti code, opening the Atom source, better presenters with DumbDelegator, managing your OS X setup with osxc, an intro to Rails view caching, and the Eldritch async DS.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">
<i>Links curated by by mose (editor),

xenor (informer)
.</i>
</div>


<div id="rant">
<h3>Rant</h3>
<div class="baseline"><i>The random rant of the week by mose.</i></div>


</div>


</div>
</div>
