<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#032 - sep 15th 2013</h1>
</div>
<div id="templateBody">

<div>
<div class="baseline">
<h2>Edito</h2>
As announced previously, there is more and more devops thing in my scope. Not much posts this week, but a bunch of podcasts. Docker and go are really good fun. Hey I still love ruby, but golang recently got a lot of my attention.
<br>
</div>
</div>



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.typographicposters.com/" class="linktitle">Typographic Posters</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
A neat collection of posters that use typogray as a graphic basis.
</td></tr>

<tr><td>
<a href="http://www.phonebloks.com/" class="linktitle">Phonebloks</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
Okay it's absolutely not in the scope, but I really love this phone idea.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/dockerforge" class="linktitle">DockerForge</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A github repo for sharing docker tools.
</td></tr>

<tr><td>
<a href="https://www.freevectormaps.com/" class="linktitle">Free Vector Maps</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A colection of royalty free vector geographic maps.
</td></tr>

<tr><td>
<a href="https://githubreminder.org/signin" class="linktitle">GitHubReminder</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A reminder about your starred projects on Github.
</td></tr>

<tr><td>
<a href="http://www.kickstarter.com/projects/48651611/espruino-javascript-for-things" class="linktitle">Espruino</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A new tiny-board subtitled: javascript for things.
</td></tr>

<tr><td>
<a href="http://www.dungeonsanddevelopers.com/" class="linktitle">Dungeons & Developers</a>

</td><td class="date">

<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Funny D&D character sheet based on web developers skills.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://labs.bigroomstudios.com/libraries/animo-js" class="linktitle">Animo.js</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A powerful little tool for managing CSS animations.
</td></tr>

<tr><td>
<a href="http://blog.phusion.nl/2013/09/11/debian-and-ubuntu-packages-for-phusion-passenger/" class="linktitle">Phusion Passenger</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Phusion now ships passenger as .deb packages. Upgrades gonna be easier now
</td></tr>

<tr><td>
<a href="http://blog.gitlab.org/gitlab-6-dot-0-released/" class="linktitle">Gitlab 6.0</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
This open source clone of github gets a shiny new major version ready.
</td></tr>

<tr><td>
<a href="http://googlecreativelab.github.io/coder/" class="linktitle">Coder for raspberry PI</a>

</td><td class="date">

<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
An interesting project, targeted at teaching the web using a raspberry PI.
</td></tr>

<tr><td>
<a href="http://pcaro.es/p/hermit/" class="linktitle">Hermit</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A font for programmers, by a programmer.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://tech.pro/blog/1561/five-helpful-tips-when-using-requirejs" class="linktitle">Five Helpful Tips When Using RequireJS</a>

</td><td class="date">
sep 10
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Require.js is more and more popular, this article unveils a fea tips about it.
</td></tr>

<tr><td>
<a href="https://hacks.mozilla.org/2013/09/css-length-explained/" class="linktitle">CSS Length Explained</a>

</td><td class="date">
sep 10
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
A dive into how sizes are measured in css and why.
</td></tr>

<tr><td>
<a href="http://jtimberman.housepub.org/blog/2013/09/10/managing-secrets-with-chef-vault/" class="linktitle">Managing Secrets With Chef Vault</a>

</td><td class="date">
sep 10
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Details about the chef-vault gem for managing passwords and keys in chef.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/terrific-time-saving-css-tools/" class="linktitle">10 Terrific Time-Saving CSS Cleanup Tools</a>

</td><td class="date">
sep 12
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
A list of great tools for css housekeeping.
</td></tr>

<tr><td>
<a href="http://spin.atomicobject.com/2013/09/12/remote-pairing-tools/" class="linktitle">A Comparison of Remote Pairing Tools</a>

</td><td class="date">
sep 12
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Comparison between skype, wemux, chrome remote desktop for remote pairing.
</td></tr>

</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://devblog.avdi.org/2013/09/10/rubytapas-freebie-enumerator/" class="linktitle">Ruby Tapas freebie: enumerator</a>
<span class="duration">(4m)</span>
</td><td class="date">
sep 10
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Quick presentation on the enumerator from ruuby core librairies.
</td></tr>

<tr><td>
<a href="http://dev2ops.org/2013/09/john-willis-notes-notable-devops-culture-traits/" class="linktitle">Devops culture traits</a>
<span class="duration">(59m)</span>
</td><td class="date">
sep 10
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Cool talk about company culture, not only about devops.
</td></tr>

<tr><td>
<a href="http://www.youtube.com/watch?v=NtPDWEJ34xE" class="linktitle">Restructuring Rails</a>
<span class="duration">(35m)</span>
</td><td class="date">
sep 15
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A refactoring story at boston.rb.
</td></tr>

</table>

<h3>Listen</h3>
<div class="baseline">What could be heard last week ..</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://learn.thoughtbot.com/giantrobots/65" class="linktitle">Giant robots 65</a>
<span class="duration">(38m)</span>
</td><td class="date">
sep 09
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
With Chris Savage and Brendan Schwartz about Wistia.
</td></tr>

<tr><td>
<a href="http://devopscafe.org/show/2013/9/9/devops-cafe-episode-41.html" class="linktitle">DevOps cafe 41</a>
<span class="duration">(38m)</span>
</td><td class="date">
sep 09
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
With Dave Mangot from Salesforce about DevOps, organizational design, and toolchain choices.
</td></tr>

<tr><td>
<a href="http://www.jupiterbroadcasting.com/42767/docker-all-the-things-cr-66/" class="linktitle">Coder Radio 66</a>
<span class="duration">(45m)</span>
</td><td class="date">
sep 09
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
With Andy and Ben from Dotcloud about the future of docker and a bit about go.
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/437-episode-401-september-10th-2013" class="linktitle">Ruby5 401</a>
<span class="duration">(7m)</span>
</td><td class="date">
sep 10
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Kochiku, scaling rails, passenger, ruby off rails, postgresql, seeing is believing.
</td></tr>

<tr><td>
<a href="http://rubyrogues.com/122-rr-daemons-with-kenneth-kalmer/" class="linktitle">RubyRogues 122</a>
<span class="duration">(1h12)</span>
</td><td class="date">
sep 11
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Daemons with Kenneth Kalmer. Very good one.
</td></tr>

<tr><td>
<a href="http://5by5.tv/changelog/103" class="linktitle">TheChangelog 103</a>
<span class="duration">(1h)</span>
</td><td class="date">
sep 13
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
GitLab and open source with Sytse Sijbrandij.
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/438-episode-402-september-13th-2013" class="linktitle">Ruby5 402</a>
<span class="duration">(6m)</span>
</td><td class="date">
sep 13
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Ruboto irb, railscasts, polyglot, rubygems, rails load path, yokozuna, ruby2600.
</td></tr>

<tr><td>
<a href="http://javascriptjabber.com/075-jsj-maintainable-javascript-with-nicholas-zakas/" class="linktitle">Javascript Jabber 075</a>
<span class="duration">(57m)</span>
</td><td class="date">
sep 13
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Maintainable JavaScript with Nicholas Zakas.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">
<i>Links curated by by mose (editor),

xenor (informer)
.</i>
</div>



</div>
</div>
