<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#102 - jan 18th 2015</h1>
</div>
<div id="templateBody">



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://365awesomedesigners.com/" class="linktitle">365 awesome designers</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
That's a huge list of creative minds.
</td></tr>

<tr><td>
<a href="http://karshhagan.com" class="linktitle">Karsh Hagan</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
A brand agency website.
</td></tr>

<tr><td>
<a href="http://fixedagency.com/" class="linktitle">Fixed</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Another digital agency cool website.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://rforcats.net/" class="linktitle">R for cats</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
An intro to R for new programmers.
</td></tr>

<tr><td>
<a href="http://www.uxpin.com/guide-to-mockups.html" class="linktitle">The Guide to Mockups</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
(book) Mockup Types, Methods And Best Practices.
</td></tr>

<tr><td>
<a href="https://leanpub.com/mean-machine" class="linktitle">MEAN Machine</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
(book) A beginner's practical guide to the JavaScript stack.
</td></tr>

<tr><td>
<a href="https://telekomlabs.github.io/" class="linktitle">Hardening Framework</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Set of Puppet and Chef code for hardening servers.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://rbkit.codemancers.com/" class="linktitle">Rbkit</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Rbkit has been designed as a low-pause profiler to be used for profiling real world applications.
</td></tr>

<tr><td>
<a href="https://github.com/peter-murach/loaf" class="linktitle">Loaf</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Manages and displays breadcrumb trails in Rails app.
</td></tr>

<tr><td>
<a href="https://github.com/ianks/octodown" class="linktitle">Octodown</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Github markdown previewing straight from your shell (well, by launching a browser, heh).
</td></tr>

<tr><td>
<a href="http://getkickstart.com/" class="linktitle">Kickstart</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Faster and lighter than Bootstrap.
</td></tr>

<tr><td>
<a href="https://6to5.org/" class="linktitle">6to5</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Turns ES6+ code into vanilla ES5, so you can use next generation features today.
</td></tr>

<tr><td>
<a href="https://github.com/yaronn/blessed-contrib" class="linktitle">blessed-contrib</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Build dashboards using ascii/ansi art and javascript.
</td></tr>

<tr><td>
<a href="http://gabinaureche.com/TheaterJS/" class="linktitle">TheaterJS</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Typing effect mimicking human behavior.
</td></tr>

<tr><td>
<a href="http://www.myth.io/" class="linktitle">Myth</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Write pure CSS while still giving you the benefits of tools like LESS and Sass.
</td></tr>

<tr><td>
<a href="http://dashiell.io/" class="linktitle">Dashiell</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Websockets frontend for server interrogation.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://chriskottom.com/blog/2015/01/code-quality-metrics-that-matter/" class="linktitle">Code Quality: Metrics That Matter</a>

</td><td class="date">
jan 11
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Review of useful tools to measure (rails) code quality.
</td></tr>

<tr><td>
<a href="http://www.justinweiss.com/blog/2015/01/13/when-edge-cases-poke-holes-in-your-perfect-solution/" class="linktitle">Understanding some Enumerable methods</a>

</td><td class="date">
jan 12
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
An abstraction exercise by implementing Enumerable methods in Ruby.
</td></tr>

<tr><td>
<a href="http://www.justinweiss.com/blog/2015/01/13/when-edge-cases-poke-holes-in-your-perfect-solution/" class="linktitle">When Edge Cases Poke Holes in Your Perfect Solution</a>

</td><td class="date">
jan 13
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
You can’t fight too much cleverness with more cleverness.
</td></tr>

<tr><td>
<a href="http://engineering.heroku.com/blogs/2014-01-14-debugging-super-methods-ruby22" class="linktitle">Debugging Super Methods with Ruby 2.2</a>

</td><td class="date">
jan 14
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Why Ruby 2.2.0 exposing super method metadata needed to be added.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/getting-started-myth-preprocessor-future/" class="linktitle">Getting Started with Myth Preprocessor</a>

</td><td class="date">
jan 14
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
A new alternative to Less and Sass.
</td></tr>

<tr><td>
<a href="http://blog.rangle.io/blog/the-art-of-promise-based-architecture/" class="linktitle">The Art of Promise-Based Architecture</a>

</td><td class="date">
jan 14
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Problems can be resolved by switching from raw callbacks to promises.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/using-redis-node-js/" class="linktitle">Using Redis with Node.js</a>

</td><td class="date">
jan 14
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Various ways of interacting with Redis from a Node.js app using the node_redis library.
</td></tr>

<tr><td>
<a href="http://gilesbowkett.blogspot.fr/2015/01/why-panda-strike-wrote-fastest-json.html" class="linktitle">The Fastest JSON Schema Validator for Node.js</a>

</td><td class="date">
jan 15
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
JSCK is the fastest JSON Schema validator for Node.js, he says.
</td></tr>

<tr><td>
<a href="http://thenewstack.io/facebook-storage/" class="linktitle">How Facebook Does Storage</a>

</td><td class="date">
jan 15
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
The special way to think about photo storage at high scale.
</td></tr>

<tr><td>
<a href="http://thechangelog.com/trello-as-a-cms/" class="linktitle">How we use Trello to generate our weekly newsletter</a>

</td><td class="date">
jan 15
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
The story behind the making of the Changelog weekly newsletter.
</td></tr>

<tr><td>
<a href="https://blog.engineyard.com/2015/instances-classes-and-modules" class="linktitle">Instances, Classes, and Modules, Oh My!</a>

</td><td class="date">
jan 15
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Several levels of method visibility and scope level.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/rails-model-caching-redis/" class="linktitle">Rails Model Caching with Redis</a>

</td><td class="date">
jan 15
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Model level caching is something that’s often ignored, even by seasoned developers.
</td></tr>

<tr><td>
<a href="http://devblog.avdi.org/2015/01/16/why-does-ruby-have-blocks/" class="linktitle">Why does Ruby have blocks?</a>

</td><td class="date">
jan 16
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
The basic explanation of what blocks really are.
</td></tr>

<tr><td>
<a href="http://jgaskins.org/blog/2015/1/17/clearwater-a-front-end-web-framework-in-ruby" class="linktitle">Clearwater, a Front-End Web Framework in Ruby</a>

</td><td class="date">
jan 17
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Based on Opal, write the frontend side using ruby.
</td></tr>

</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://gorails.com/episodes/refactoring-controller-methods" class="linktitle">Gorails 39</a>
<span class="duration">(19m)</span>
</td><td class="date">
jan 17
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Refactoring Controller Methods.
</td></tr>

</table>

<h3>Listen</h3>
<div class="baseline">What could be heard last week ..</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://blog.codepen.io/2015/01/12/032-secrets/" class="linktitle">Codepen 32</a>
<span class="duration">(33m)</span>
</td><td class="date">
jan 13
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Secrets.
</td></tr>

<tr><td>
<a href="http://nodeup.com/eightyone" class="linktitle">Nodeup 81</a>
<span class="duration">(39m)</span>
</td><td class="date">
jan 13
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
An io.js show.
</td></tr>

<tr><td>
<a href="http://giantrobots.fm/129" class="linktitle">Giant Robots 129</a>
<span class="duration">(35m)</span>
</td><td class="date">
jan 13
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
The Engineering of Payments (Ian Logan).
</td></tr>

<tr><td>
<a href="https://ruby5.codeschool.com/episodes/558-episode-521-january-13th-2015" class="linktitle">Ruby5 #521</a>
<span class="duration">(7m)</span>
</td><td class="date">
jan 13
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
5 Ruby methods, code metrics, sprocket-traceur, toxiproxy, email_prefixer, phone verification.
</td></tr>

<tr><td>
<a href="http://devchat.tv/ruby-rogues/190-rr-apprenticeship-with-joseph-mastey-and-jill-lynch-of-enova" class="linktitle">RubyRogues 190</a>
<span class="duration">(1h12)</span>
</td><td class="date">
jan 14
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Apprenticeship with Joseph Mastey and Jill Lynch of Enova.
</td></tr>

<tr><td>
<a href="http://devchat.tv/js-jabber/142-jsj-sharejs-with-joseph-gentle" class="linktitle">Javascript Jabber 142</a>
<span class="duration">(1h17)</span>
</td><td class="date">
jan 14
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
ShareJS with Joseph Gentle.
</td></tr>

<tr><td>
<a href="http://www.thecloudcast.net/2015/01/the-cloudcast-176-devops-vc-perspective.html" class="linktitle">The Cloudcast #176</a>
<span class="duration">(43m)</span>
</td><td class="date">
jan 15
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Dev,Ops & VC Perspective on Modern Apps.
</td></tr>

<tr><td>
<a href="http://devchat.tv/adventures-in-angular/025-aia-testing-with-ward-bell" class="linktitle">Adventure in angular #25</a>
<span class="duration">(40m)</span>
</td><td class="date">
jan 15
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Testing with Ward Bell.
</td></tr>

<tr><td>
<a href="http://www.arresteddevops.com/blameless/" class="linktitle">Arrested DevOps 28</a>
<span class="duration">(1h12)</span>
</td><td class="date">
jan 15
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Incidents and Accidents: Examining Failure Without Blame.
</td></tr>

<tr><td>
<a href="http://thewebplatform.libsyn.com/25-live-static-showdown-2015" class="linktitle">Web Platform Podcast #25</a>
<span class="duration">(55m)</span>
</td><td class="date">
jan 15
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
LIVE - Static Showdown 2015, with divshot.
</td></tr>

<tr><td>
<a href="http://bikeshed.fm/6" class="linktitle">The Bike Shed 6</a>
<span class="duration">(42m)</span>
</td><td class="date">
jan 16
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Shh! Library Under Maintenance.
</td></tr>

<tr><td>
<a href="http://5by5.tv/changelog/137" class="linktitle">The Changelog 137</a>
<span class="duration">(1h05)</span>
</td><td class="date">
jan 16
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Better GitHub Issues with HuBoard and Ryan Rauh.
</td></tr>

<tr><td>
<a href="https://ruby5.codeschool.com/episodes/560-episodes-522-january-16th-2015" class="linktitle">Ruby5 #522</a>
<span class="duration">(5m)</span>
</td><td class="date">
jan 16
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
ember-cli-rails, spyke, debugging super, recalculating counter cache, gauguin.
</td></tr>

<tr><td>
<a href="http://www.opsallthethings.com/podcast/012-catching-up/" class="linktitle">Ops All The Things 12</a>
<span class="duration">(51m)</span>
</td><td class="date">
jan 16
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Catching Up. The return to a more consistent scheduling.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">
<i>Links curated by by mose (editor),

xenor, simon (informers)
.</i>
</div>


<div id="rant">
<h3>Rant</h3>
<div class="baseline"><i>The random rant of the week by mose.</i></div>
<h4>While 42</h4>

<p>This week I got in contact with Sylvain from <a href="http://while42.org">while 42</a>. It's a social network for french engineers, but with a special touch on it. There is no facebook page or google group. They intentionally decided to be irl-first. For people that are most likely to be online all the time, this sounds so therapeutic! So, I decided, with Thomas from Gandi, to setup a Taiwan chapter. If you want to know more (and are french, engineer, and living in Taipei) just drop me a mail.</p>

<h4>Traveling ruby</h4>

<p>This is a project from the <a href="http://www.phusion.nl/">Phusion</a> people, called <a href="https://github.com/phusion/traveling-ruby">Traveling ruby</a>. Its purpose is to make it easy to build auto-sustaining tarballs for ruby programms, including ruby binary and all gems in it. That way you can publish a tarball and your customer/user will just launch whatever you put in it. No need to install ruby or any gems.</p>

<p>I gave it a try yesterday on my <a href="https://github.com/eduvo/zabbix-ruby-client">zabbix-ruby-client</a> gem, and after a few tweaks (mostly because I wanted to use an unpublished version of my gem), it all worked pretty fine. Result is a tarball of 8M. Uploaded to the server (an old squeeze), it just ran the self-contained ruby 2.1.5 with no hassle. It reminded me a bit of the feeling when you upload a go executable on the server. Really neat.</p>

<h4>Palm control</h4>

<p>There are tiny things that can change a lot. My recent tiny thing is the palm control technique. Every sunday when I prepare Green Ruby I do a huge amount of copy pasting all over the place. Recently I found on a post about keyboard someone talking about the palm control technique for avoiding the copypaste fatigue.</p>

<p>Well, you need to have a keyboard that makes it possible. Mine is a <a href="http://support.logitech.com/en_us/product/10104">Logitech washable k310</a>. I already liked its look, and even better, it's perfect for this palm thing because keys are prominent. Use the palm to push control and then it's only a matter of hitting c or v with the index. Honestly, it changed my life!</p>

</div>


</div>
</div>
