<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#090 - oct 26th 2014</h1>
</div>
<div id="templateBody">

<div>
<div class="baseline">
<h2>Edito</h2>
Rails Rumble 2014 winners will be announced in a few hours, you can check the <a href="http://railsrumble.com/entries/all">list of submissions</a>. There is a lot of creative ideas over there.
<br>
</div>
</div>



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://niceandserious.com/" class="linktitle">Nice and Serious</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
An ethically-driven creative agency.
</td></tr>

<tr><td>
<a href="http://allthefreestock.com/" class="linktitle">All the free Stock</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Get all the Free Stock Images, Videos and Icons in one location.
</td></tr>

<tr><td>
<a href="http://www.piccolo.cc/" class="linktitle">Piccolo</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A pocket sized open source CNC-bot, arduino based.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.thinkful.com/learn/ruby-on-rails-tutorial/" class="linktitle">Learn Ruby on Rails</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Learn Ruby on Rails as You Modify a Craigslist Clone.
</td></tr>

<tr><td>
<a href="http://chrisnager.github.io/cursors/" class="linktitle">Cursors</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
All available cursors in one page.
</td></tr>

<tr><td>
<a href="http://www.awwwards.com/case_studies_vol1" class="linktitle">Case studies</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
(Book) Exciting Web Projects: Conception to Execution.
</td></tr>

<tr><td>
<a href="https://userium.com/" class="linktitle">Userium</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Checklist to catch common usability problems before user testing.
</td></tr>

<tr><td>
<a href="https://www.netlify.com/" class="linktitle">Netlify</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Builds, deploys and host static websites and apps.
</td></tr>

<tr><td>
<a href="https://www.targeted.io/" class="linktitle">Targeted</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Test your email designs across 30+ email clients before you send them.
</td></tr>

<tr><td>
<a href="https://github.com/davidsonfellipe/awesome-wpo" class="linktitle">Awesome WPO</a>

</td><td class="date">

<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
A curated list of Web Performance Optimization.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.rubyraptor.org/" class="linktitle">Ruby Raptor</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A radically new Ruby web server (to be released next month).
</td></tr>

<tr><td>
<a href="https://github.com/yuki24/did_you_mean" class="linktitle">Did you mean</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
The 'Did you mean?' experience in Ruby code debugging.
</td></tr>

<tr><td>
<a href="https://github.com/stripe/einhorn" class="linktitle">Einhorn</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Language-independent shared socket manager.
</td></tr>

<tr><td>
<a href="http://snapsvg.io/" class="linktitle">Snap.svg</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
The JavaScript SVG library for the modern web.
</td></tr>

<tr><td>
<a href="http://exosjs.com/" class="linktitle">Exoskeleton</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Faster and leaner Backbone for your HTML5 apps.
</td></tr>

<tr><td>
<a href="https://github.com/nitrous-io/tug" class="linktitle">Tug</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Docker development workflow (could be compared to fig).
</td></tr>

<tr><td>
<a href="https://github.com/buth/stocker" class="linktitle">Stocker</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Manage environment variables securely.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.airpair.com/ruby-on-rails/posts/rails-vs-sinatra" class="linktitle">Rails vs. Sinatra by Example</a>

</td><td class="date">
oct 19
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Relative merits of Rails and Sinatra by building the same app in both frameworks.
</td></tr>

<tr><td>
<a href="http://martinfowler.com/bliki/SacrificialArchitecture.html" class="linktitle">Sacrificial Architecture</a>

</td><td class="date">
oct 20
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Build something to be able to throw away in some time.
</td></tr>

<tr><td>
<a href="http://ayende.com/blog/168802/career-planning-where-do-old-devs-go-to" class="linktitle">Career planning: Where do old devs go to?</a>

</td><td class="date">
oct 20
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Interesting feedback from old timers (people like me).
</td></tr>

<tr><td>
<a href="http://www.justinweiss.com/blog/2014/10/20/writing-better-tests-with-the-three-phase-pattern/" class="linktitle">Writing Better Tests With the Three-phase Pattern</a>

</td><td class="date">
oct 20
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Follow the Arrange, Act, Assert sequence.
</td></tr>

<tr><td>
<a href="http://scotch.io/tutorials/javascript/learning-react-getting-started-and-concepts" class="linktitle">Learning React.js: Getting Started and Concepts</a>

</td><td class="date">
oct 20
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Some React basics, first installment in a new series of tutorials.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/leveldb-ruby/" class="linktitle">LevelDB in Ruby</a>

</td><td class="date">
oct 22
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
How to use LevelDB with a Ruby wrapper.
</td></tr>

<tr><td>
<a href="http://codecondo.com/free-books-ruby-on-rails/" class="linktitle">5 Free eBooks for Learning Ruby on Rails Framework</a>

</td><td class="date">
oct 22
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
How to use LevelDB with a Ruby wrapper.
</td></tr>

<tr><td>
<a href="http://www.peterbe.com/plog/localforage-vs.-xhr" class="linktitle">localForage vs. XHR</a>

</td><td class="date">
oct 22
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Fetching from IndexedDB is about 5-15 times faster than fetching from AJAX.
</td></tr>

<tr><td>
<a href="http://www.hokstad.com/docker/patterns" class="linktitle">Eight Docker Development Patterns</a>

</td><td class="date">
oct 22
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
A docker enthousiast shares some patterns that have started to show up repeatedly.
</td></tr>

<tr><td>
<a href="https://netguru.co/blog/get-an-a-in-ssl-class-how-to-score" class="linktitle">Get an A in SSL class</a>

</td><td class="date">
oct 23
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
How to score A+ in your ssllabs test.
</td></tr>

<tr><td>
<a href="https://medium.com/cool-code-pal/how-javascript-is-going-to-replace-node-js-33cc50bfe64c" class="linktitle">How JavaScript is Going to Replace Node.js</a>

</td><td class="date">
oct 24
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Seems there is some kind of controversy around node.js governance.
</td></tr>

<tr><td>
<a href="http://robots.thoughtbot.com/human-centered-type" class="linktitle">Human-Centered Typography</a>

</td><td class="date">
oct 24
<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Treating text as an interface is as much about usability as it is enjoyment and ease.
</td></tr>

<tr><td>
<a href="http://tympanus.net/codrops/2014/10/24/wobbly-slideshow-effect/" class="linktitle">Wobbly slideshow effect</a>

</td><td class="date">
oct 24
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Experimental slideshow effect taht wobbles.
</td></tr>

<tr><td>
<a href="http://blog.siami.fr/diving-in-rails-exceptions-handling" class="linktitle">Diving in Rails - Exceptions handling</a>

</td><td class="date">
oct 25
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
How rails catches exceptions, and how you can customize it.
</td></tr>

</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://confreaks.com/events/rmr2014" class="linktitle">Rocky Mountain Ruby 2014</a>
<span class="duration">(12 videos)</span>
</td><td class="date">
oct 21
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Rocky Mountain Ruby from september 25.
</td></tr>

<tr><td>
<a href="http://confreaks.com/events/rmr2014" class="linktitle">Nickel City Ruby Conference 2014</a>
<span class="duration">(15 videos)</span>
</td><td class="date">
oct 21
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Nickel City Ruby from oct 3.
</td></tr>

<tr><td>
<a href="https://gorails.com/episodes/forum-notification-emails-and-previews" class="linktitle">Gorails 29</a>
<span class="duration">(20m)</span>
</td><td class="date">
oct 23
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Email Notifications with Rails 4.2, deliver_later, and Previews.
</td></tr>

<tr><td>
<a href="http://www.atozcss.com/the-rotatey-css-transform/" class="linktitle">AtoZ CSS: rotateY</a>
<span class="duration">(7m)</span>
</td><td class="date">
oct 23
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Rotate elements and how perspective works.
</td></tr>

</table>

<h3>Listen</h3>
<div class="baseline">What could be heard last week ..</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://foodfightshow.org/2014/10/even-moar-windows.html" class="linktitle">Food Fight Show 81</a>
<span class="duration">(1h03)</span>
</td><td class="date">
oct 18
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Even MOAR Windows.
</td></tr>

<tr><td>
<a href="http://foodfightshow.org/2014/10/live-from-chef-summit-london-2014.html" class="linktitle">Food Fight Show 82</a>
<span class="duration">(25m)</span>
</td><td class="date">
oct 18
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Live From Chef Summit London 2014.
</td></tr>

<tr><td>
<a href="http://devopscafe.org/show/2014/10/20/devops-cafe-episode-56-sidney-dekker.html" class="linktitle">DevOps Cafe 56</a>
<span class="duration">(1h05)</span>
</td><td class="date">
oct 20
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Complexity and Failure with Sidney Dekker.
</td></tr>

<tr><td>
<a href="http://giantrobots.fm/119" class="linktitle">Giant Robots 119</a>
<span class="duration">(27m)</span>
</td><td class="date">
oct 20
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Create Value or Create Technology? (Pete Hunt).
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/541-episode-504-october-21st-2014" class="linktitle">Ruby5 504</a>
<span class="duration">(5m)</span>
</td><td class="date">
oct 21
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
UltraHook, Capybara Tests, Einhorn, Barcelona Ruby Conf, Raptor.
</td></tr>

<tr><td>
<a href="http://rubyrogues.com/178-rr-book-club-refactoring-ruby-with-martin-fowler/" class="linktitle">RubyRogues 178</a>
<span class="duration">(1h15)</span>
</td><td class="date">
oct 22
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Book Club: Refactoring Ruby with Martin Fowler.
</td></tr>

<tr><td>
<a href="http://devchat.tv/js-jabber/130-jsj-browser-tools-and-extentions" class="linktitle">Javascript Jabber 130</a>
<span class="duration">(1h07)</span>
</td><td class="date">
oct 22
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Browser Tools and Extensions.
</td></tr>

<tr><td>
<a href="http://www.thecloudcast.net/2014/10/0-false-18-pt-18-pt-0-0-false-false.html" class="linktitle">The Cloudcast #166</a>
<span class="duration">(26m)</span>
</td><td class="date">
oct 22
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Creating a Docker Cloud with Clocker.
</td></tr>

<tr><td>
<a href="http://devchat.tv/adventures-in-angular/013-aia-modern-web-and-open-source-with-scott-hanselman" class="linktitle">Adventure in angular #13</a>
<span class="duration">(38m)</span>
</td><td class="date">
oct 23
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Modern Web and Open Source with Scott Hanselman.
</td></tr>

<tr><td>
<a href="http://www.thecloudcast.net/2014/10/the-cloudcast-167-bringing-advanced.html" class="linktitle">The Cloudcast #167</a>
<span class="duration">(30m)</span>
</td><td class="date">
oct 24
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Bringing Advanced Analytics to DevOps (pagerduty).
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/542-episode-505-october-24th-2014" class="linktitle">Ruby5 505</a>
<span class="duration">(6m)</span>
</td><td class="date">
oct 24
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
ENVied, Payola, Pippi, multithreading in MRI, Practicing Rails.
</td></tr>

<tr><td>
<a href="http://5by5.tv/rubyonrails/173" class="linktitle">Ruby on Rails Podcast 173</a>
<span class="duration">(1h)</span>
</td><td class="date">
oct 25
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Rails Rumble 2014 Entries.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">
<i>Links curated by by mose (editor),

xenor (informer)
.</i>
</div>


<div id="rant">
<h3>Rant</h3>
<div class="baseline"><i>The random rant of the week by mose.</i></div>


</div>


</div>
</div>
