<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#072 - jun 22th 2014</h1>
</div>
<div id="templateBody">

<div>
<div class="baseline">
<h2>Edito</h2>
As a reminder, I still have a bunch of stickers, feel free to <a href="mailto:news@greenruby.org">ask</a> for some if you want them. And if you like stickers, you also may want to get <a href="http://www.redbubble.com/people/skulioskarsson/works/10590498-ruby">that one</a>, which is pretty neat.
<br>
</div>
</div>



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://hakim.se/experiments/html5/keylight/03/#" class="linktitle">Keylight</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
A visual musical experience.
</td></tr>

<tr><td>
<a href="http://tympanus.net/Development/HoverEffectIdeas/" class="linktitle">Hover effect ideas</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
Inspiration for subtle hover effects.
</td></tr>

<tr><td>
<a href="http://allthestyleguides.tumblr.com/" class="linktitle">All the style guides</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
All the style guides and pattern libraries from well known websites.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.golangbootcamp.com/" class="linktitle">Go bootcamp</a>

</td><td class="date">

<img class="icon" src="ico/go.png" height="18" width="18" align="right" alt="go" />
</td></tr>
<tr><td colspan="2" class="comment">
(book) Everything you need to know to get started with Go..
</td></tr>

<tr><td>
<a href="http://www.emoji-cheat-sheet.com/" class="linktitle">Emoji cheat sheet</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
All the Emoji on a single page with associated code.
</td></tr>

<tr><td>
<a href="https://hu.tt/" class="linktitle">Hutt</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Video conversations (webrtc and tab sharing) with no login and for free.
</td></tr>

<tr><td>
<a href="https://dragdis.com/" class="linktitle">Dragdis</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A can of bookmarker.
</td></tr>

<tr><td>
<a href="http://codepen.io/blogging/" class="linktitle">Blogging in codepen</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Codepen opened a free blogging hosting service.
</td></tr>

<tr><td>
<a href="https://github.com/kahun/awesome-sysadmin" class="linktitle">Awesome Sysadmin</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
A curated list of open source sysadmin resources.
</td></tr>

<tr><td>
<a href="https://waypoints.io/" class="linktitle">Waypoint</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A simple tool to keep track of your projects progresses.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://blog.golang.org/go1.3" class="linktitle">go 1.3</a>

</td><td class="date">

<img class="icon" src="ico/go.png" height="18" width="18" align="right" alt="go" />
</td></tr>
<tr><td colspan="2" class="comment">
Better performance, improved tools, support for running Go in new environments, etc.
</td></tr>

<tr><td>
<a href="http://octicons.github.com/" class="linktitle">Octicons</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Set of font-icons by Github.
</td></tr>

<tr><td>
<a href="https://github.com/github/gemoji" class="linktitle">Gemoji</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Emoji images and names in rails.
</td></tr>

<tr><td>
<a href="http://fenixwebserver.com/" class="linktitle">Fenix</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A simple static desktop web server.
</td></tr>

<tr><td>
<a href="http://mikefowler.me/smallworld.js/" class="linktitle">SmallWorld</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Utility for generating map overviews.
</td></tr>

<tr><td>
<a href="http://misoproject.com/" class="linktitle">Miso</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Open source toolkit for interactive storytelling and data visualization content.
</td></tr>

<tr><td>
<a href="https://developers.google.com/web/starter-kit/" class="linktitle">Web Starter Kit</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A Google base for new projects.
</td></tr>

<tr><td>
<a href="https://github.com/thoughtbot/laptop" class="linktitle">Laptop</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A shell script which turns a Linux or Mac laptop into a development machine from scratch.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.samuelmullen.com/2014/06/evaluating-rails-projects/" class="linktitle">Evaluating Rails Projects</a>

</td><td class="date">
jun 12
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Methods and metrics to get an idea of the state of a rails app.
</td></tr>

<tr><td>
<a href="http://www.topdan.com/ruby-on-rails/simple-infinite-scrolling.html" class="linktitle">Simple Infinite Scrolling with AJAX and Rails</a>

</td><td class="date">
jun 16
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
With Kaminari and some jQuery code.
</td></tr>

<tr><td>
<a href="http://jpospisil.com/2014/06/16/the-definitive-guide-to-arel-the-sql-manager-for-ruby.html" class="linktitle">The definitive guide to Arel</a>

</td><td class="date">
jun 16
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Behind the scenes, ActiveRecord uses Arel to build the queries.
</td></tr>

<tr><td>
<a href="http://blog.salsify.com/engineering/automatic-eager-loading-rails" class="linktitle">Automatic eager loading in rails</a>

</td><td class="date">
jun 17
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Explanation about the goldiloader gem.
</td></tr>

<tr><td>
<a href="https://blog.engineyard.com/2014/ruby-app-server-arena-pt1" class="linktitle">Comparison of Popular Ruby Application Servers</a>

</td><td class="date">
jun 18
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
First round of comparison between passenger, thin, unicorn and puma.
</td></tr>

<tr><td>
<a href="http://www.toptal.com/emberjs/a-thorough-guide-to-ember-data" class="linktitle">A Thorough Guide to Ember Data</a>

</td><td class="date">
jun 19
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Ember-data changed a lot recently, this post gives a lot of example of use.
</td></tr>

<tr><td>
<a href="http://googledevelopers.blogspot.tw/2014/06/modspdy-is-now-apache-project.html" class="linktitle">mod_spdy is now an Apache project</a>

</td><td class="date">
jun 19
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Google has formally donated mod_spdy’s code to the Apache Software Foundation.
</td></tr>

</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://www.youtube.com/playlist?list=PL37ZVnwpeshFXOP2lqCUykYPXYNsK_fgN#jsconf2014" class="linktitle">JsConf 2014</a>
<span class="duration">(12 videos)</span>
</td><td class="date">
jun 11
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
For a total of 5h of video.
</td></tr>

<tr><td>
<a href="http://codemy.net/posts/rails-4-1-message-verifier" class="linktitle">Rails 4.1 Message Verifier</a>
<span class="duration">(11m)</span>
</td><td class="date">
jun 15
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A brief introduction to Rails Message Verifier.
</td></tr>

<tr><td>
<a href="https://vimeo.com/phusionnl/review/98027409/03ba678684" class="linktitle">Phusion Passenger Code Walkthrough</a>
<span class="duration">(27m)</span>
</td><td class="date">
jun 16
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Phusion Passenger codebase, shows you how it works and how things fit together.
</td></tr>

<tr><td>
<a href="http://confreaks.com/events/inspect" class="linktitle">Ruby Motion Inspect 2014</a>
<span class="duration">(19 videos)</span>
</td><td class="date">
jun 20
<img class="icon" src="ico/mobile.png" height="18" width="18" align="right" alt="mobile" />
</td></tr>
<tr><td colspan="2" class="comment">
The full track of the rubymotion conf from may 28th.
</td></tr>

</table>

<h3>Listen</h3>
<div class="baseline">What could be heard last week ..</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://podcasts.thoughtbot.com/giantrobots/102" class="linktitle">Giant robots #103</a>
<span class="duration">(37m)</span>
</td><td class="date">
jun 16
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Consulting the Consultants (Adam Wathan, Chris Keithlin).
</td></tr>

<tr><td>
<a href="http://blog.codepen.io/2014/06/18/015-changing-mind/" class="linktitle">CodePen 015</a>
<span class="duration">(38m)</span>
</td><td class="date">
jun 18
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Changing Your Mind, evolve your app.
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/510-episode-473-june-17th-2014" class="linktitle">Ruby5 473</a>
<span class="duration">(5m)</span>
</td><td class="date">
jun 17
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
New Bundler, AREL, app with Ruby Shoes, attr_searchable, a passenger screencast, and SmartListing.
</td></tr>

<tr><td>
<a href="http://rubyrogues.com/161-rr-docker-deploys-with-sam-saffron/" class="linktitle">Ruby Rogues 161</a>
<span class="duration">(1h12)</span>
</td><td class="date">
jun 18
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Docker Deploys with Sam Saffron.
</td></tr>

<tr><td>
<a href="http://javascriptjabber.com/113-jsj-community-dynamics-with-reginald-braithwaite/" class="linktitle">Javascript Jabber 113</a>
<span class="duration">(49m)</span>
</td><td class="date">
jun 18
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Community Dynamics with Reginald Braithwaite.
</td></tr>

<tr><td>
<a href="http://5by5.tv/rubyonrails/155" class="linktitle">Ruby on Rails Podcast #155</a>
<span class="duration">(1h29)</span>
</td><td class="date">
jun 20
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Nick Quaranto - rubygems.org, CoworkBuffalo, Nickel City Ruby, aqueousband.net.
</td></tr>

<tr><td>
<a href="http://blog.producthunt.com/post/89358744704/product-hunt-radio-episode-11" class="linktitle">Product Hunt Radio 11</a>
<span class="duration">(43m)</span>
</td><td class="date">
jun 20
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
About the Fire Phone, Facebook’s new app, Slingshot, and a stupid app called Yo.
</td></tr>

<tr><td>
<a href="http://nodeup.com/sixtyfive" class="linktitle">NodeUp 65</a>
<span class="duration">(55m)</span>
</td><td class="date">
jun 20
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A campjs show.
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/511-episode-474-june-20th-2014" class="linktitle">Ruby5 472</a>
<span class="duration">(5m)</span>
</td><td class="date">
jun 20
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Ember and Rails tutorial, gemoji, exception googling, dev banners, Grand Central Dispatch, laptop dev setup.
</td></tr>

</table>

<h3>Devtips</h3>
<div class="baseline">The tips of the week collected from Faria Dev Team ..</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://devtips.faria.co/2014-06-18-avoid-fork-in-thread.html" class="linktitle">Avoid fork in threads at least not with multi threads</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">

</td></tr>

<tr><td>
<a href="http://devtips.faria.co/2014-06-18-git-bisect.html" class="linktitle">Git bisect to track where it broke</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">

</td></tr>

<tr><td>
<a href="http://devtips.faria.co/2014-06-18-merging-arrays.html" class="linktitle">Merging arrays and remove duplicates</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">

</td></tr>

<tr><td>
<a href="http://devtips.faria.co/2014-06-18-bigtext.html" class="linktitle">BigText a js lib for justifying big text</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">

</td></tr>

<tr><td>
<a href="http://devtips.faria.co/2014-06-18-svg-in-compass.html" class="linktitle">SVG in Compass experimental support</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">

</td></tr>

<tr><td>
<a href="http://devtips.faria.co/2014-06-19-chrome-flicker-fix.html" class="linktitle">Chrome flicker fix and blur fix too</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">

</td></tr>

<tr><td>
<a href="http://devtips.faria.co/2014-06-19-footer-in-prince-pdf.html" class="linktitle">Footer in PrinceXml PDF with some touch of css</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">

</td></tr>

<tr><td>
<a href="http://devtips.faria.co/2014-06-19-less-first.html" class="linktitle">Less first for safer file examination</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">

</td></tr>

<tr><td>
<a href="http://devtips.faria.co/2014-06-19-ruby-at-exit.html" class="linktitle">Ruby at_exit for clever process termination</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">

</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by mose (editor).</i>

</div>



</div>
</div>
