<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#206 - jan 15th 2017</h1>
</div>
<div id="templateBody">



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://codepen.io/2016/popular/pens/" class="linktitle">The Most Hearted of 2016</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
These are the most hearted Pens of 2016.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://segment.com/" class="linktitle">Segment</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Collect all of your customer data and send it anywhere.
</td></tr>

<tr><td>
<a href="https://github.com/ryanmcdermott/clean-code-javascript" class="linktitle">clean-code-javascript</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A guide to producing readable, reusable, and refactorable software in JavaScript.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/simple-and-powerful/act-form" class="linktitle">ActForm</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Create form object easily with activemodel >= 5.
</td></tr>

<tr><td>
<a href="https://github.com/pandas-dev/pandas" class="linktitle">Pandas</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Flexible and powerful data analysis / manipulation library for Python.
</td></tr>

<tr><td>
<a href="https://github.com/markets/invisible_captcha" class="linktitle">Invisible_captcha</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Unobtrusive and flexible spam protection for RoR apps.
</td></tr>

<tr><td>
<a href="https://github.com/keepcosmos/terjira" class="linktitle">Terjira</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
An interactive CLI tool for Jira.
</td></tr>

<tr><td>
<a href="https://github.com/jwilm/alacritty" class="linktitle">Alacritty</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A cross-platform, GPU-accelerated terminal emulator.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://blog.scoutapp.com/articles/2017/01/09/state-of-the-2017-rails-stack" class="linktitle">State of the 2017 Rails Stack</a>

</td><td class="date">
jan 9
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Are folks upgrading to Rails 5? Where is the Postgres vs. MySQL battle heading? Are devs embracing Puma and concurrency?
</td></tr>

<tr><td>
<a href="https://blog.codeminer42.com/from-rails-to-hanami-models-d1175d2d5b33" class="linktitle">From Rails to Hanami: Models</a>

</td><td class="date">
jan 9
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Hanami is a MVC web framework for Ruby that prioritize the use of plain objects over magical classes with too much responsibility.
</td></tr>

<tr><td>
<a href="https://www.sitepoint.com/do-the-right-thing-and-document-your-rails-api-with-swagger/" class="linktitle">Do the Right Thing and Document Your Rails API with Swagger</a>

</td><td class="date">
jan 9
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Learn how to use swagger to document APIs.
</td></tr>

<tr><td>
<a href="http://blog.honeybadger.io/ruby-rescue-elegant-trick-for-knowing-which-exceptions-to-catch/" class="linktitle">Rescue's Elegant Trick for Knowing Which Exceptions to Catch</a>

</td><td class="date">
jan 10
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Example of how a seemingly-trivial implementation detail like using === instead of kind_of? makes Ruby much more flexible and interesting.
</td></tr>

<tr><td>
<a href="https://blog.prototypr.io/fantastic-flow-arrows-for-sketch-a2b01545ff2d" class="linktitle">Fantastic Flow Arrows for Sketch</a>

</td><td class="date">
jan 10
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
This tutorial shows you how to make scalable, dynamic flow arrows for your UX flow charts and explainers.
</td></tr>

<tr><td>
<a href="http://dev.mikamai.com/post/155762886624/how-requirements-shaped-my-code-aka-rails-5-and" class="linktitle">How requirements shaped my code, AKA Rails 5 and ActiveRecord before_destroy callbacks</a>

</td><td class="date">
jan 12
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Model callbacks in Rails 5 has some gotcha, here is one in before_destroy.
</td></tr>

<tr><td>
<a href="https://css-tricks.com/almanac/properties/i/initial-letter/" class="linktitle">initial-letter</a>

</td><td class="date">
jan 12
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
initial-letter is a CSS property that selects the first letter of the element where it is applied and specifies the number of lines the letter occupies.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by xenor (publisher), tysliu, mose (editors), 
Nauman Tariq (contributors)
.</i>

</div>


<div id="rant">
<h3>Rant</h3>

<div class="baseline"><i>The random rant of the week by xenor.</i></div>
<h4>Imagination</h4>

<p>I am not a believer of many things, like god, fate, or fortune teller, but I am a believer of imagination. It's the motivation for human to make great things based on something only in their head.</p>

<p>Sometimes we mistakenly treat illusion as imagination, which leads to (or will leed to) disasters. To distinguish them is actually easy, for imagination you can foresee real steps to the destination, but illusion only shows the destination itself without any routes to it.</p>

<p>More precisely, when we moving toward an imagination, it becomes a vision, a goal, or an open source project. Do you have any imaginations? Let's make it happen today!</p>

</div>


</div>
</div>
