<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#201 - dec 11th 2016</h1>
</div>
<div id="templateBody">



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://chinatown.co.uk/en/" class="linktitle">Chinatown London</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Clean layout with interesting effects.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://javascript30.com" class="linktitle">JavaScript 30</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Build 30 things with vanilla JS in 30 days with 30 tutorials
</td></tr>

<tr><td>
<a href="https://bold.io/" class="linktitle">bold.io</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A lightweight editor for authentic writing.
</td></tr>

<tr><td>
<a href="https://github.com/ansistrano/deploy" class="linktitle">Ansistrano</a>

</td><td class="date">

<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
It's an Ansible port for Capistrano.
</td></tr>

<tr><td>
<a href="https://disqus.com/" class="linktitle">Disqus</a>

</td><td class="date">

<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
A saas commenting system.
</td></tr>

<tr><td>
<a href="https://buble.surge.sh/" class="linktitle">Buble</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Fast ES2015 compiler.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="portainer.io" class="linktitle">Portainer</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
A web interface to manage docker containers.
</td></tr>

<tr><td>
<a href="https://github.com/danielsdeleo/Decider" class="linktitle">Decider</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Flexible and Extensible Machine Learning Ruby lib
</td></tr>

<tr><td>
<a href="https://github.com/cardmagic/classifier" class="linktitle">Classifier</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A general classifier module to allow Bayesian and other types of classifications.
</td></tr>

<tr><td>
<a href="https://github.com/KDr2/erlix" class="linktitle">Erlix</a>

</td><td class="date">

<img class="icon" src="ico/el.png" height="18" width="18" align="right" alt="el" />
</td></tr>
<tr><td colspan="2" class="comment">
Ruby Interface of Erlang.
</td></tr>

<tr><td>
<a href="https://github.com/skywinder/github-changelog-generator" class="linktitle">Github-changelog-generator</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Automatically generate change log from tags, issues, labels and pull requests on GitHub.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://erikbern.com/2016/12/05/the-half-life-of-code.html" class="linktitle">The half-life of code & the ship of Theseus</a>

</td><td class="date">
dec 5
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
interesting research of how long a line of code lives.
</td></tr>

<tr><td>
<a href="https://www.rubytapas.com/2016/12/05/refactoring-ruby-dry-domain-models-struct-table/" class="linktitle">Refactoring Ruby: DRY up your domain models using a struct table</a>

</td><td class="date">
dec 5
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
It can be helpful to watch other programmers demonstrate the perspective changes that they’ve used to solve big problems.
</td></tr>

<tr><td>
<a href="http://www.blackbytes.info/2016/12/new-ruby-features/" class="linktitle">9 New Features in Ruby 2.4</a>

</td><td class="date">
dec 6
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
It has become a tradition to release new Ruby versions on Christmas.
</td></tr>

<tr><td>
<a href="http://blog.honeybadger.io/a-beginner-s-guide-to-exceptions-in-ruby/" class="linktitle">A Beginner's Guide to Exceptions in Ruby</a>

</td><td class="date">
dec 6
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
People who know basic Ruby syntax but aren't really sure what an exception is or why it's useful.
</td></tr>

<tr><td>
<a href="https://blog.codeship.com/replacing-sinatra-with-rack-in-sidekiq/" class="linktitle">Replacing Sinatra with Rack in Sidekiq</a>

</td><td class="date">
dec 6
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Making the transition from powering the Sidekiq Web UI with Sinatra to having it powered by a pure Rack app.
</td></tr>

<tr><td>
<a href="https://about.gitlab.com/2016/12/07/building-a-new-gitlab-docs-site-with-nanoc-gitlab-ci-and-gitlab-pages/" class="linktitle">Building a new GitLab Docs site with Nanoc, GitLab CI, and GitLab Pages</a>

</td><td class="date">
dec 7
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
How we built the new GitLab Docs portal from the ground up
</td></tr>

<tr><td>
<a href="https://babeljs.io/blog/2016/12/07/the-state-of-babel" class="linktitle">The State of Babel</a>

</td><td class="date">
dec 7
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Current state of Babel, the powerful JavaScript tooling suite.
</td></tr>

<tr><td>
<a href="https://medium.com/@ccverak/the-pure-functions-experiment-488ee3f16194" class="linktitle">The Pure Functions experiment</a>

</td><td class="date">
dec 9
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Talk about pure functions and how they help to write better and maintainable code.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by xenor (publisher), tysliu, mose (editors), 
Nauman Tariq (contributors)
.</i>

</div>


<div id="rant">
<h3>Rant</h3>

<div class="baseline"><i>The random rant of the week by xenor.</i></div>
<h4>Machine Learning</h4>

<p>After AlphaGo beats human, it seems more and more programmers and programming languages start to put their hands into the secret hole. I am not there yet, but the trend is really forcing us to face it.</p>

<p>I believe soon enough we will either be programmed by program or write the program to program others. When the time comes, which side will you stand?</p>

</div>


</div>
</div>
