<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#169 - may 1st 2016</h1>
</div>
<div id="templateBody">



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.endoftheinternet.com/" class="linktitle">The End of the Internet</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
At the end there was just a map.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://rwdtow.stdout.in/" class="linktitle">Ruby Web Dev The Other Way</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Personal ruby web development best practices guide by Ievgen Kuzminov.
</td></tr>

<tr><td>
<a href="http://csshexagon.com" class="linktitle">CSS Hexagon Generator</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Generate your own pure CSS hexagons with box-shadow, border, and background image.
</td></tr>

<tr><td>
<a href="https://glot.io/" class="linktitle">Glot.io</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
An open source pastebin with runnable snippets and API.
</td></tr>

<tr><td>
<a href="http://typatone.com/" class="linktitle">Typatone</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
The act of writing has always been an art. Now, it can also be an act of music.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://www.ruby-lang.org/en/news/2016/04/26/ruby-2-3-1-released/" class="linktitle">Ruby 2.3.1 Released</a>

</td><td class="date">
apr 26
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
This is the first TEENY version release of the stable 2.3 series, there are many bugfixes.
</td></tr>

<tr><td>
<a href="https://github.com/thredded/thredded" class="linktitle">Thredded</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A Rails 4.2+ forum engine.
</td></tr>

<tr><td>
<a href="https://github.com/nevir/Bumbler" class="linktitle">Bumbler</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Track the load progress of your Bundler-based projects.
</td></tr>

<tr><td>
<a href="https://github.com/ostinelli/apnotic" class="linktitle">Apnotic</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
An Apple Push Notification gem able to provide instant feedback.
</td></tr>

<tr><td>
<a href="https://github.com/doudou/memdump" class="linktitle">Memdump</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Command line manipulation and analysis tool for Ruby 2.1+ memory dumps.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://robots.thoughtbot.com/blocks-procs-and-enumerable" class="linktitle">Blocks, Procs, and Enumerable</a>

</td><td class="date">
apr 25
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Some basics of ruby, exposed.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/a-basic-html5-template/" class="linktitle">A basic HTML5 Template for any project</a>

</td><td class="date">
apr 25
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
As you learn HTML5 and add new techniques to your toolbox, you’re likely going to want to build yourself boilerplate.
</td></tr>

<tr><td>
<a href="https://blog.codeship.com/unobtrusive-javascript-via-ajax-rails/" class="linktitle">Unobtrusive JavaScript via AJAX in Rails</a>

</td><td class="date">
apr 26
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
JavaScript outside of HTML’s page structure not to pollute it.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/improving-the-quality-of-your-css-with-postcss/" class="linktitle">Improving the Quality of Your CSS with PostCSS</a>

</td><td class="date">
apr 26
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
A way to raise quality in CSS code.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/animated-google-map-markers-css-javascript/" class="linktitle">Creating Animated Google Map Markers with CSS and JavaScript</a>

</td><td class="date">
apr 26
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
The Google Maps API lacks flexibility and creativity with map markers.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/react-alternatives-preact-virtualdom-deku/" class="linktitle">3 Lightweight React Alternatives: Preact, VirtualDom &amp; Deku</a>

</td><td class="date">
apr 26
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Why those alternatives might be right for your next project.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/5-career-ending-mistakes-web-developers-make/" class="linktitle">5 Career-Ending Mistakes Web Developers Make</a>

</td><td class="date">
apr 26
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Well, here is a stupid title for a list of common sense points on how to keep a healthy relationship with customers.
</td></tr>

<tr><td>
<a href="https://medium.freecodecamp.com/being-a-developer-after-40-3c5dd112210c#.jl4ajlm93" class="linktitle">Being A Developer After 40</a>

</td><td class="date">
apr 26
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Story and insights from a 42 years-old developer.
</td></tr>

<tr><td>
<a href="http://blog.dantup.com/2016/04/have-software-developers-given-up/" class="linktitle">Have Software Developers Given Up?</a>

</td><td class="date">
apr 26
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Collection of screenshots from last month demonstrating that the web is full of bugz.
</td></tr>

<tr><td>
<a href="http://dave.cheney.net/2016/04/27/dont-just-check-errors-handle-them-gracefully" class="linktitle">Don’t just check errors, handle them gracefully</a>

</td><td class="date">
apr 27
<img class="icon" src="ico/go.png" height="18" width="18" align="right" alt="go" />
</td></tr>
<tr><td colspan="2" class="comment">
Presentation at the recent GoCon spring conference in Tokyo, Japan.
</td></tr>

<tr><td>
<a href="http://chrisholtz.com/blog/switch-git-branch-by-partial-name/" class="linktitle">Switch Git Branches by partial name</a>

</td><td class="date">
apr 27
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Pretty useful in large projects.
</td></tr>

<tr><td>
<a href="https://scotch.io/tutorials/build-a-music-player-with-react-electron-ii-making-the-ui" class="linktitle">Build a Music Player with React & Electron II: Making the UI</a>

</td><td class="date">
apr 27
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
From mockup to full code.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/introduction-to-using-jwt-in-rails/" class="linktitle">An Introduction to Using JWT Authentication in Rails</a>

</td><td class="date">
apr 28
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
All you need to know abotu JSON Web Tokens.
</td></tr>

<tr><td>
<a href="https://labs.detectify.com/2016/04/28/slack-bot-token-leakage-exposing-business-critical-information/" class="linktitle">Slack bot token leakage exposing business critical information</a>

</td><td class="date">
apr 28
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Developers are leaking access tokens for Slack widely on GitHub, in public repositories.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/use-json-data-fields-mysql-databases/" class="linktitle">How to Use JSON Data Fields in MySQL Databases</a>

</td><td class="date">
apr 29
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
The line between SQL and NoSQL databases has become increasingly blurred.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by mose (publisher), xenor, tysliu (editors)
, Nauman Tariq, hsatac, James, Lincoln (contributors)
.</i>

</div>


<div id="rant">
<h3>Rant</h3>

<div class="baseline"><i>The random rant of the week by mose.</i></div>
<h4>Nothing to rant about</h4>

<p>Except that Labor Day should be celebrated by a 24h day work, not a holiday. Doesn't make sense. Where is gone the respect for slavery? Muhahaha</p>

</div>


</div>
</div>
