<div id="templateContainer">
<div id="templateHeader">
<h1>#088 - oct 12th 2014</div>
</div>
<div id="templateBody">
<div>
	<div class="baseline">
	<h2>Edito</h2>
	If you understand japanese, check the <a href="http://www.youtube.com/watch?v=jLJvdMIoJs4">presentation</a> of tenderlove at rubykaigi. Damn he's good.
<br>
<br>
<em>&nbsp; mose - the green ruby editor</em><br>
<em>&nbsp;

	xenor - the informer

</em><br>
&nbsp; <a href="http://greenruby.org" target="_self">http://greenruby.org</a>
<br>
</div>


<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="http://designspiration.net/" class="linktitle">Designspiration</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Resource to help discover and share great design.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://thegrid.io/" class="linktitle">The grid</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				AI websites that design themselves.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://pablotheflamingo.com/" class="linktitle">Pablo the flamingo</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Totally useless dancing flamingo (also check the <a href="http://pablotheflamingo.com/?dev">behind the scene</a>).
			</td>
		</tr>
	
</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="http://devfreecasts.org/" class="linktitle">Dev Free Casts</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				A huge collection of free screencasts for devs.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://devtoolstips.com/" class="linktitle">DevToolsTips</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Curated collection of Chrome Developer Tools tips and tricks.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://www.nostarch.com/railscrashcourse" class="linktitle">Rails Crash Course</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				(Book) A No-Nonsense Guide to Rails Development.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://codefights.com/" class="linktitle">Code Fights</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Code challenges that test how fast you can debug JavaScript.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://github.com/AllThingsSmitty/must-watch-css" class="linktitle">Must-Watch CSS</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				A useful list of must-watch videos about CSS.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://www.bloc.io/programming-course-comparison" class="linktitle">Programming course comparison</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				13 popular options for learning how to code, analyzed and compared.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://www.nextdesignweb.com/2014/10/HTML5-JavaScript-Tools-and-jQuery-Plugins.html" class="linktitle">35 Useful HTML5, JavaScript Tools and jQuery Plugins</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Another of those lists, this one has some nice entries.
			</td>
		</tr>
	
</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="https://github.com/marshyski/quick-secure" class="linktitle">Quick Secure</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Simple script for hardening and securing base linux systems.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://github.com/facebook/taste-tester" class="linktitle">Taste Tester</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				The test-tester utility for testing chef diffs via chef-zero.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://github.com/zeman/perfmap" class="linktitle">PerfMap</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Front-end performance heatmap bookmarklet.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://github.com/tabolario/kibana-rack" class="linktitle">kibana-rack</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Embed Kibana as a Rack application and creates a proxy to Elasticsearch.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://github.com/neckhair/classy_cancan" class="linktitle">ClassyCancan</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Classify your cancancan abilities.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://github.com/Aufree/easy-emoji" class="linktitle">easy-emoji</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Make the emoji easier to use for Rails.
			</td>
		</tr>
	
</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="http://zachholman.com/talk/move-fast-break-nothing/" class="linktitle">Move fast & break nothing</a>
				
			</td>
			<td class="date">
				oct 3
				
					
						<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Transcript of a talk from Zach Holman from Github. Very long and very wise.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://www.infinum.co/the-capsized-eight/articles/top-8-tools-for-ruby-on-rails-code-optimization-and-cleanup" class="linktitle">Top 8 tools for Ruby on Rails code optimization and cleanup</a>
				
			</td>
			<td class="date">
				oct 6
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Keeping your code clean and organized while developing a large Rails application.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://www.justinweiss.com/blog/2014/10/06/three-great-ways-to-learn-ruby-faster/" class="linktitle">Three Great Ways to Learn Ruby Faster</a>
				
			</td>
			<td class="date">
				oct 6
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				In short: Ruby Quiz, Exercism.io and try a tiny app.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://medium.com/este-js-framework/whats-wrong-with-angular-js-97b0a787f903" class="linktitle">What’s wrong with Angular.js</a>
				
			</td>
			<td class="date">
				oct 6
				
					
						<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Not everybody is happy about angular. This one explains why, and gets bunch of interesting comments in return.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://medium.com/este-js-framework/what-i-would-recommend-instead-of-angular-js-62b057d8a9e" class="linktitle">What I would recommend instead of Angular.js?</a>
				
			</td>
			<td class="date">
				oct 7
				
					
						<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Sequel of the previous one.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://github.com/blog/1900-the-best-developer-tools-now-free-for-students" class="linktitle">The best developer tools, now free for students</a>
				
			</td>
			<td class="date">
				oct 7
				
					
						<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				The GitHub Student Developer Pack.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://thomasleecopeland.com/2014/10/07/cleaning-up-a-rails-routes-file.html" class="linktitle">Cleaning up a Rails routes file</a>
				
			</td>
			<td class="date">
				oct 7
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Large Rails apps have a way of gathering cruft. One popular cruft hideout is config/routes.rb.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://tech.blog.box.com/2014/10/introducing-leche-a-javascript-testing-utility-for-mocha-and-sinon/" class="linktitle">Introducing Leche</a>
				
			</td>
			<td class="date">
				oct 7
				
					
						<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				A JavaScript Testing Utility for Mocha and Sinon.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://www.smashcompany.com/technology/object-oriented-programming-is-an-expensive-disaster-which-must-end" class="linktitle">Object Oriented Programming is an expensive disaster which must end</a>
				
			</td>
			<td class="date">
				oct 7
				
					
						<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				A very long writing about OOP. only go there if you have time and brain cells to dedicate to it. Spoiler, functionnal programming is the new black.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://codingnews.info/post/memoization.html" class="linktitle">Memoization in Ruby, Python and Javascript</a>
				
			</td>
			<td class="date">
				oct 8
				
					
						<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				How the different languages haadle memoization.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://dev.mikamai.com/post/99472635014/analyze-ruby-execution-stack-with-caller" class="linktitle">Analyze ruby execution stack with #caller</a>
				
			</td>
			<td class="date">
				oct 8
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Make backtrace your custom debugging tool with #caller.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://www.reinteractive.net/posts/214-tail-call-optimisation-in-ruby-mri" class="linktitle">Tail Call Optimisation in MRI</a>
				
			</td>
			<td class="date">
				oct 9
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				TCO is disabled by default, but it's good to know what it does.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://www.cio.com/article/2824615/careers-staffing/why-ruby-is-the-crown-jewel-in-a-developers-resume.html" class="linktitle">Why Ruby Is the Crown Jewel in a Developer's Resume</a>
				
			</td>
			<td class="date">
				oct 9
				
					
						<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Demand for Ruby on Rails talent continues at a steady pace.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://www.kavinder.com/blog/2014-10-10-rebuild-a-gem-rack/" class="linktitle">Rebuild a Gem: Rack</a>
				
			</td>
			<td class="date">
				oct 10
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Exercise to rewrite rack for educative purpose.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://robots.thoughtbot.com/from-model-logic-to-views-helpers-and-to-null-objects" class="linktitle">Refactoring From Model to View Helper to Null Object</a>
				
			</td>
			<td class="date">
				oct 10
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Replacing conditional with polymorphism.
			</td>
		</tr>
	
</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="https://sysadmincasts.com/episodes/38-crash-course-on-mysql" class="linktitle">Crash Course on MySQL</a>
				<span class="duration">(23m)</span>
			</td>
			<td class="date">
				oct 8
				
					
						<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Common tasks associated with looking after a single MySQL server.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://www.youtube.com/watch?v=eq1v_3dQC00" class="linktitle">Rules of Devops</a>
				<span class="duration">(35m)</span>
			</td>
			<td class="date">
				oct 8
				
					
						<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Talk given at DeveopDay Chicago about devops culture.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://www.atozcss.com/widows-and-orphans/" class="linktitle">AtoZ CSS: Widows</a>
				<span class="duration">(5m)</span>
			</td>
			<td class="date">
				oct 9
				
					
						<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Paged media, Widows and Orphans.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://gorails.com/episodes/forum-nested-attributes-and-fields-for" class="linktitle">Nested Attributes and fields_for</a>
				<span class="duration">(9m)</span>
			</td>
			<td class="date">
				oct 9
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Forum Series Part 3 from gorails.
			</td>
		</tr>
	
</table>

<h3>Listen</h3>
<div class="baseline">What could be heard last week ..</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="http://foodfightshow.org/2014/10/windows-automation-for-angry-neckbeards.html" class="linktitle">Food Fight 201410</a>
				<span class="duration">(1h22)</span>
			</td>
			<td class="date">
				oct 7
				
					
						<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Windows Automation for Frustrated Sysadmins.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://ruby5.envylabs.com/episodes/538-episode-501-october-7th-2014" class="linktitle">Ruby5 501</a>
				<span class="duration">(6m)</span>
			</td>
			<td class="date">
				oct 7
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Rails data migrations, tools for optimization, Bundler::Updater, UUID with Postgres, Active Record, Ruby 2.2.0.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://rubyrogues.com/177-rr-creativity-and-technology/" class="linktitle">Ruby Rogues 177</a>
				<span class="duration">(1h17)</span>
			</td>
			<td class="date">
				oct 8
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Creativity and Technology.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://javascriptjabber.com/129-jsj-baas-with-ryan-done/" class="linktitle">Javascript Jabber 129</a>
				<span class="duration">(54m)</span>
			</td>
			<td class="date">
				oct 8
				
					
						<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				BaaS with Ryan Done.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://nodeup.com/seventythree" class="linktitle">NodeUp 73</a>
				<span class="duration">(1h04)</span>
			</td>
			<td class="date">
				oct 9
				
					
						<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				An internet of things show.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://devchat.tv/adventures-in-angular/011-aia-angular-fire-with-david-east-and-kato-wulf" class="linktitle">Adventure in angular #11</a>
				<span class="duration">(34m)</span>
			</td>
			<td class="date">
				oct 10
				
					
						<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Angular Fire with David East and Kato Wulf.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://thewebplatform.libsyn.com/meshblu-npm-and-the-internet-of-everywhere" class="linktitle">Web Platform #13</a>
				<span class="duration">(1h07)</span>
			</td>
			<td class="date">
				oct 10
				
					
						<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				MeshBlu, NPM, and The Internet of Everywhere.
			</td>
		</tr>
	
</table>

</div>
</div>
