<div id="templateContainer">
<div id="templateHeader">
<h1>#029 - aug 25th 2013</div>
</div>
<div id="templateBody">
<div>
	<div class="baseline">
	<h2>Edito</h2>
	This week there is a lot of videos from Lone Star and Steel City. Also, I give at the very end a list of many podcasts, not really related to ruby, but can be of interest.
<br>
<br>
<em>&nbsp; mose - the green ruby editor</em><br>
<em>&nbsp;

	xenor - the informer

</em><br>
&nbsp; <a href="http://greenruby.org" target="_self">http://greenruby.org</a>
<br>
</div>


<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="http://cyclemon.com/" class="linktitle">Cyclemon</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Funny collection of bicycles.
			</td>
		</tr>
	
</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="http://aboard.io/" class="linktitle">Aboard</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Combine some RSS feeds and sail the seas of inspiration.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://codassium.com/" class="linktitle">Codassium</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				An online service to conduct remote coder interviews.
			</td>
		</tr>
	
</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="http://sass.fffunction.co/" class="linktitle">Sassaparilla</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				A css framework on compass focused on responsive designs.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://ternjs.net/" class="linktitle">Tern</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Stand-alone code-analysis engine for JavaScript, with plugins for vim, emacs, ST.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://ricostacruz.com/nprogress/" class="linktitle">NProgress.js</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				A nanoscopic progress bar. Featuring realistic trickle animations to convince your users that something is happening.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://www.appgyver.com/steroids" class="linktitle">Steroids</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/mobile.png" height="18" width="18" align="right" alt="mobile" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				On the top of phonegap, but guilding thing in an hybrid way, like semi-native and faster.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://mozilla.github.io/brick/" class="linktitle">Brick</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				UI component for the web by Mozilla.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://github.com/square/apropos" class="linktitle">Apropos</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				A compass extension for handling responsive image sizes.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://github.com/xdissent/ievms" class="linktitle">IEvms</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Debugging js/css for IE is hell, this can help by setting up virtual machines for each version.
			</td>
		</tr>
	
</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="http://philipwalton.com/articles/decoupling-html-css-and-javascript/" class="linktitle">Decoupling Your HTML, CSS, and JavaScript</a>
				
			</td>
			<td class="date">
				aug 17
				
					
						<img class="icon" src="ico/html5.png" height="18" width="18" align="right" alt="html5" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Some good practices about building web sites.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://www.chrisle.me/2013/08/running-headless-selenium-with-chrome/" class="linktitle">Running Headless Selenium with Chrome</a>
				
			</td>
			<td class="date">
				aug 19
				
					
						<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				An interesting setup with chrome, selenium, and vagrant.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://rakeroutes.com/blog/deliberate-git/" class="linktitle">Deliberate Git</a>
				
			</td>
			<td class="date">
				aug 19
				
					
						<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				A textual version of a talk about git at Steel City. Lotta tips.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://blog.modulus.io/absolute-beginners-guide-to-nodejs" class="linktitle">An absolute beginner's guide to node.js</a>
				
			</td>
			<td class="date">
				aug 20
				
					
						<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Yet another starting point to node.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://reefpoints.dockyard.com/2013/08/20/design-patterns-observer-pattern.html" class="linktitle">The Observer Pattern</a>
				
			</td>
			<td class="date">
				aug 20
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Building observer class from scratch.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://www.naildrivin5.com/blog/2013/08/21/inconsistent-architecture.html" class="linktitle">Inconsistent Architecture</a>
				
			</td>
			<td class="date">
				aug 21
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Interesting insight about architecture choices when building a (rails) application.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://brianplexico.com/using-rubys-scan-method-to-transform-strings/" class="linktitle">Using Ruby’s Scan Method to Transform Strings</a>
				
			</td>
			<td class="date">
				aug 22
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				A tiny trick using scan on strings.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://www.sitepoint.com/10-interface-typos-you-dont-even-know-youre-making/" class="linktitle">10 Interface Typos You Don’t Even Know You’re Making</a>
				
			</td>
			<td class="date">
				aug 22
				
					
						<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				A small lesson of proper english for UI makers.
			</td>
		</tr>
	
</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="http://steelcityruby.confbots.com/video/72709097" class="linktitle">Friendly Flying Robots with Ruby</a>
				<span class="duration">(40m)</span>
			</td>
			<td class="date">
				aug 16
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Jim Weirich shows how to control a drone with ruby.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://steelcityruby.confbots.com/video/72791610" class="linktitle">Devops for the rubyist soul</a>
				<span class="duration">(30m)</span>
			</td>
			<td class="date">
				aug 17
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Capistrano, puppet, git, vagrant, the lessons from Braintree.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://steelcityruby.confbots.com/" class="linktitle">Steel City Ruby</a>
				<span class="duration">(13 videos)</span>
			</td>
			<td class="date">
				aug 17
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				The videos from Steel city 2013 Ruby conf.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://www.confreaks.com/events/lonestarruby2013" class="linktitle">Lone Star Ruby Conf 2013</a>
				<span class="duration">(30 videos)</span>
			</td>
			<td class="date">
				aug 19
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				A huge collection of the talks from lone star. Like if you were there.
			</td>
		</tr>
	
</table>

<h3>Listen</h3>
<div class="baseline">What could be heard last week ..</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="https://learn.thoughtbot.com/giantrobots/62" class="linktitle">Giant robots 62</a>
				<span class="duration">(32m)</span>
			</td>
			<td class="date">
				aug 19
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Ben speaks with Natalie Nagele and Ilya Sabanin about Wildbit, Beanstalk, and work flow.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://episodes.gitminutes.com/2013/08/gitminutes-19-marcin-kuzminski-from.html" class="linktitle">Gitminutes #19</a>
				<span class="duration">(1h07)</span>
			</td>
			<td class="date">
				aug 19
				
					
						<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Discussion with Marcin Kuzminski, co-founder of RhodeCode, an open-source Git/Mercurial hosting provider.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://ruby5.envylabs.com/episodes/432-episode-396-august-20th-2013" class="linktitle">Ruby5 396</a>
				<span class="duration">(6m)</span>
			</td>
			<td class="date">
				aug 20
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				rails 4.1, numdler local path, multitable fulltext search predicates, strong params, ruby2 & rails4 docs, rails API best practices.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://rubyrogues.com/119-rr-accessibility-with-brian-hogan/" class="linktitle">RubyRogues 119</a>
				<span class="duration">(1h17)</span>
			</td>
			<td class="date">
				aug 21
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Accessibility with Brian Hogan.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://5by5.tv/changelog/101" class="linktitle">TheChangelog 101</a>
				<span class="duration">(1h)</span>
			</td>
			<td class="date">
				aug 22
				
					
						<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Talk with Isaac Schlueter about the origins of npm, and Node.js.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://ruby5.envylabs.com/episodes/433-episode-397-august-23rd-2013" class="linktitle">Ruby5 397</a>
				<span class="duration">(6m)</span>
			</td>
			<td class="date">
				aug 23
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				ruby_identicon, observer pattern, lita, figaro, common table expressions, top 10 rails sites.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://javascriptjabber.com/072-jsj-screencasts/" class="linktitle">Javascript Jabber 072</a>
				<span class="duration">(49m)</span>
			</td>
			<td class="date">
				aug 23
				
					
						<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Screencasts, how to make them.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="" class="linktitle">More podcasts</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				I was asked recently if I was really listening to all the podcasts I list here. The answer is yes, and that's only a subgroup of all what I listen to. I got a bus commute (almost) everyday of 2 hours and I don't listen to music (ever).<ul><li><a href="http://sixgun.org/linuxoutlaws">Linux Outlaws</a></li><li><a href="http://distrowatch.com/news/podcast.xml">Distrowatch</a></li><li><a href="http://www.jupiterbroadcasting.com/tag/linux-action-show/">Linux Action Show</a></li><li><a href="http://www.theskepticsguide.org/">The skeptics guide to the universe</a></li><li><a href="http://5by5.tv/cmdspace">Command space</a></li><li><a href="http://twit.tv/show/floss-weekly">FLOSS weekly</a></li><li><a href="http://twit.tv/show/this-week-in-tech">This week in tech</a></li><li><a href="http://freakonomics.com/tag/freakonomics-podcast/">Freakonomics</a></li><li><a href="http://kernelpanicoggcast.net/">Kernel panic</a></li><li><a href="http://parlonsruby.com/">Parlons ruby (fr)</a></li></ul>
			</td>
		</tr>
	
</table>

</div>
</div>
