<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#209 - feb 5th 2017</h1>
</div>
<div id="templateBody">



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.north2.net/?browser=full" class="linktitle">north2</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Creative digital studio with a very colorful website.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://snapcraft.io/" class="linktitle">Snapcraft</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Build universal Linux packages.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/palkan/litecable" class="linktitle">Lite Cable</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Lightweight ActionCable implementation.
</td></tr>

<tr><td>
<a href="https://github.com/ankane/blazer" class="linktitle">Blazer</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Visualize SQL into charts or dashboards.
</td></tr>

<tr><td>
<a href="https://github.com/westonganger/spreadsheet_architect" class="linktitle">Spreadsheet Architect</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A lib to create XLSX, ODS, or CSV spreadsheets from ActiveRecord relations, Ruby classes, or predefined data.
</td></tr>

<tr><td>
<a href="https://github.com/redbooth/percona_migrator" class="linktitle">Percona Migrator</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Percona's pt-online-schema-change runner for ActiveRecord migrations.
</td></tr>

<tr><td>
<a href="https://github.com/xijo/letsencrypt_heroku" class="linktitle">letsencrypt_heroku</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
CLI tool to automate SSL certificate setup and renewal for letsencrypt and rails (or any other rack based application).
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://blog.honeybadger.io/jquery-free-rails-and-legacy-browsers/" class="linktitle">JQuery-Free Rails and Legacy Browsers</a>

</td><td class="date">
jan 30
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
The one major drawback to eliminating JQuery is that UJS will no longer support older browsers as well as it used to.
</td></tr>

<tr><td>
<a href="http://rom-rb.org/blog/rom-3-0-released/" class="linktitle">ROM 3.0 Released</a>

</td><td class="date">
jan 30
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
The biggest highlight are new features in rom-sql and rom-repository.
</td></tr>

<tr><td>
<a href="https://www.rubytapas.com/2017/01/31/two-screencasts-two-ways-eradicate-ruby-nil-values" class="linktitle">Two screencasts, two ways to eradicate Ruby nil values</a>

</td><td class="date">
jan 31
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
nil values are the worst They crop up where you didn’t expect them.
</td></tr>

<tr><td>
<a href="https://codeascraft.com/2017/01/31/how-etsy-manages-https-and-ssl-certificates-for-custom-domains-on-pattern/" class="linktitle">How Etsy Manages HTTPS and SSL Certificates for Custom Domains on Pattern</a>

</td><td class="date">
jan 31
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Challenges you run into when building a system designed to serve HTTPS traffic for hundreds of thousands of domains.
</td></tr>

<tr><td>
<a href="http://tenderlovemaking.com/2017/02/01/object-id-in-mri.html" class="linktitle">Object ID in MRI</a>

</td><td class="date">
feb 1
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
We can use the address of an object to calculate the arena (or page) in to which the object was allocated.
</td></tr>

<tr><td>
<a href="https://scotch.io/tutorials/using-git-hooks-in-your-development-workflow" class="linktitle">Using Git Hooks in Your Development Workflow</a>

</td><td class="date">
feb 1
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Learn how to use git hooks to enhance your development workflow.
</td></tr>

<tr><td>
<a href="http://blog.honeybadger.io/our-postgres-infrastructure/" class="linktitle">Our Postgres Infrastructure</a>

</td><td class="date">
feb 1
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
It's been a lot of fun scaling up Honeybadger and making the infrastructure more resilient to failure.
</td></tr>

<tr><td>
<a href="http://shopifyengineering.myshopify.com/blogs/engineering/solving-for-weekly-flash-sales-through-scriptable-load-balancers" class="linktitle">Handle Massive Traffic Using Scriptable Load Balancers</a>

</td><td class="date">
feb 2
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
How shopify handles heavy spikes with nginx + Lua scripting.
</td></tr>

<tr><td>
<a href="https://css-tricks.com/intro-to-vue-5-animations/" class="linktitle">Intro to Vue.js: Animations</a>

</td><td class="date">
feb 3
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
An overview of the basics to get you up and running so you can get to know Vue.js.
</td></tr>

<tr><td>
<a href="http://www.eq8.eu/blogs/37-post-create-and-put-update" class="linktitle">POST != Create and PUT != Update</a>

</td><td class="date">
feb 5
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Just be aware that PUT is not synonym for PATCH just because Rails behaves this way.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by xenor (publisher), tysliu, mose (editors)
.</i>

</div>



</div>
</div>
