<div id="templateContainer">
<div id="templateHeader">
<h1>#002 - feb 16th 2013</div>
</div>
<div id="templateBody">
<div>
	<div class="baseline">
	<h3>Edito</h3>
	This second edition is an occasion to tune up a bit the mailchimp templates, and make the letter readable on phones. Well, it was chinese new year hollidays so I got plenty of time and wanted to add more rubyconf dates. Damn there are so many. I will keep a record at the bottom of each letter, so people can get organized in advance.
<br>
<br>
<em>&nbsp; mose - the green ruby editor</em><br>
<em>&nbsp;

	xenor - the informer

</em><br>
&nbsp; <a href="http://greenruby.org" target="_self">http://greenruby.org</a>
<br>
</div>


<h2>Listen</h2>
<div class="baseline">What could be heard last week ..</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="http://ruby5.envylabs.com/episodes/348-episode-344-february-12th-2013">Ruby5 344</a>
				
			</td>
			<td class="date">
				feb 12
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				security release, ruby heroes, and some pointers.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://ruby5.envylabs.com/episodes/349-episode-345-february-15th-2013">Ruby5 345</a>
				
			</td>
			<td class="date">
				feb 15
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				haml 4, rails templates, paratrooper, shpec, yaml hacks, bundler-audit, rubymotion.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://rubyrogues.com/092-rr-picksposion/">RubyRogues 092</a>
				
			</td>
			<td class="date">
				feb 13
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				special picks, with a lot of books references, some various talk about remote working, desktop arrangements, and others.
			</td>
		</tr>
	
</table>

<h2>Watch</h2>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="http://www.youtube.com/watch?feature=player_embedded&v=983zk0eqYLY">Live coding with Jim Weirich</a>
				
			</td>
			<td class="date">
				feb 13
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				TDD by example (kata), given/then/when in rspec, lot of tips
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://railscasts.com/episodes/406-public-activity">Railscats: public activity</a>
				
			</td>
			<td class="date">
				feb 13
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				gets big brother over your users shoulders.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://www.2ality.com/2013/02/edge-2013-videos.html">EdgeConf videos</a>
				
			</td>
			<td class="date">
				feb 13
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				now online the panels from edgeconf that happened in London on feb 9th. Hats off for the fast delivery.
			</td>
		</tr>
	
</table>

<h2>Read</h2>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="http://rubysource.com/design-patterns-in-ruby-observer-singleton/">Design patterns in ruby: observer, singleton</a>
				
			</td>
			<td class="date">
				jan 31
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Nice article describing with code examples some well known but not that much used design patterns.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://gistflow.com/posts/679-state-machine-with-rails-basics">State machine with rails</a>
				
			</td>
			<td class="date">
				feb 8
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Some examples of code using the state_machine gem.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://www.creativebloq.com/web-design/examples-of-javascript-1233964">35 top example of javascript</a>
				
			</td>
			<td class="date">
				feb 12
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				a list of spectacular websites using cutting edge javascript tricks.
			</td>
		</tr>
	
</table>

<h2>Install</h2>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="http://twitter.github.com/flight/">flight</a>
				
			</td>
			<td class="date">
				
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				is a new js framework for web application, based on jQuery
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://www.discourse.org">discourse</a>
				
			</td>
			<td class="date">
				
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				is a forum of a new generation, using rails, postgresql, redis. Not necessarily easy to install but definitely an interesting UI.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://github.com/shpec/shpec">shpec</a>
				
			</td>
			<td class="date">
				
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				a test suite for shell scripts that tastes like rspec
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://github.com/postmodern/bundler-audit">bundler-audit</a>
				
			</td>
			<td class="date">
				
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				looks for vulnerable gems, quite useful these days
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://github.com/mattsears/nyan-cat-formatter">nyan-cat-formatter</a>
				
			</td>
			<td class="date">
				
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				just for making tests output laughable
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://shin1ohno.github.com/event_cal">event_cal</a>
				
			</td>
			<td class="date">
				
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				yet another but cool calendar library
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://github.com/fzaninotto/uptime">uptime</a>
				
			</td>
			<td class="date">
				
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				a server monitoring solution with modejs and mongodb
			</td>
		</tr>
	
</table>

<h2>Fun</h2>
<div class="baseline"></div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="http://www.rubyrags.com">ruby T-Shirts</a>
				
			</td>
			<td class="date">
				
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				ruby/rails goodies
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://rubyheroes.com">Ruby hero</a>
				
			</td>
			<td class="date">
				
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Vote for your ruby hero.
			</td>
		</tr>
	
</table>

</div>
