<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#107 - feb 22th 2015</h1>
</div>
<div id="templateBody">



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://genelab.nasa.gov/" class="linktitle">Genelab</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Nice website, but also, well, it's in space.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://remoteok.io/" class="linktitle">Remote | OK</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
An aggregated job board for remote opportunities.
</td></tr>

<tr><td>
<a href="https://gumroad.com/l/goal-oriented-git/" class="linktitle">Goal-Oriented Git</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
(book) another book from Thoughtbot, aimed at git beginners, now in beta.
</td></tr>

<tr><td>
<a href="https://commits.io/" class="linktitle">Commits.io</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A shop that sells posters with your github code.
</td></tr>

<tr><td>
<a href="http://devopschecklist.com/" class="linktitle">The devops checklist</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
48 items you can use to gauge the maturity of your software delivery competency.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.redmine.org/news/95" class="linktitle">Redmine 3.0.0</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
and 2.6.2, including security fixes too.
</td></tr>

<tr><td>
<a href="https://github.com/voormedia/rails-erd" class="linktitle">Rails ERD</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Generate Entity-Relationship Diagrams for Rails applications.
</td></tr>

<tr><td>
<a href="https://github.com/soveran/cuba" class="linktitle">Cuba</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Cuba is a micro framework in ruby for web applications.
</td></tr>

<tr><td>
<a href="https://github.com/etsy/deployinator" class="linktitle">Deployinator</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Deploy code like Etsy.
</td></tr>

<tr><td>
<a href="http://www.sonnyjs.org/?home" class="linktitle">Sonny.js</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Minimal single page app framework.
</td></tr>

<tr><td>
<a href="http://konvajs.github.io/" class="linktitle">Konva</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
2d html5 canvas framework for desktop and mobile applications.
</td></tr>

<tr><td>
<a href="https://www.graylog.org/announcing-graylog-v1-0-ga/" class="linktitle">Graylog v1.0</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
A big milestone for that alternative to elk.
</td></tr>

<tr><td>
<a href="https://github.com/sgotti/baci" class="linktitle">Baci</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
ACI builder for rocket, using Dockerfiles.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://patshaughnessy.net/2015/2/16/mark-methods-private-when-you-dont-test-them" class="linktitle">Mark Methods Private When You Don’t Test Them</a>

</td><td class="date">
feb 16
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Mark methods private when you test them indirectly by calling the other, public methods in the same class.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/creating-image-gallery-using-flickr-api-requirements-markup/" class="linktitle">Creating an Image Gallery with the Flickr API</a>

</td><td class="date">
feb 16
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Tutorial on using the Flickr API.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/building-credit-card-form-custom-element-polymer/" class="linktitle">Building a Credit Card Form Custom Element with Polymer</a>

</td><td class="date">
feb 17
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Demo of an example usage of polymer.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/breakpoints-tweakpoints-sass/" class="linktitle">Breakpoints and Tweakpoints in Sass</a>

</td><td class="date">
feb 17
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
A way to deal with responsive design is to use a map of breakpoints in a config file.
</td></tr>

<tr><td>
<a href="http://martinfowler.com/articles/refactoring-external-service.html" class="linktitle">Refactoring code that accesses external services</a>

</td><td class="date">
feb 17
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Refactor some congealed code into a common pattern: separation of external service access code.
</td></tr>

<tr><td>
<a href="https://blog.engineyard.com/2015/life-beyond-rails-brief-look-alternate-web-frameworks-ruby" class="linktitle">A Brief Look at Alternate Web Frameworks for Ruby</a>

</td><td class="date">
feb 17
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Because rails is not the only choice.
</td></tr>

<tr><td>
<a href="http://nandovieira.com/using-postgresql-and-jsonb-with-ruby-on-rails" class="linktitle">Using PostgreSQL and jsonb with Ruby on Rails</a>

</td><td class="date">
feb 17
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
PostgreSQL 9.4 introduced jsonb, a new column type for storing documents in your relational database.
</td></tr>

<tr><td>
<a href="https://robots.thoughtbot.com/tdd-your-dockerfiles-with-rspec-and-serverspec" class="linktitle">Test Drive Your Dockerfiles with RSpec and ServerSpec</a>

</td><td class="date">
feb 17
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Demonstration on how to TDD a Dockerfile that installs Node on Ubuntu.
</td></tr>

<tr><td>
<a href="http://css-tricks.com/accidental-css-resets/" class="linktitle">Accidental CSS Resets</a>

</td><td class="date">
feb 18
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Any time you use a shorthand property in CSS, you set all the values for all the properties it deals with.
</td></tr>

<tr><td>
<a href="http://viget.com/extend/gulp-rails-asset-pipeline" class="linktitle">Gulp on Rails: Replacing the Asset Pipeline</a>

</td><td class="date">
feb 18
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A solution that fully integrates a Gulp-based asset pipeline with Rails.
</td></tr>

<tr><td>
<a href="http://blog.lunarlogic.io/2015/models-on-a-diet/" class="linktitle">Models on a diet</a>

</td><td class="date">
feb 18
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Usually models are very fat, here is how to extract validations out of the model.
</td></tr>

<tr><td>
<a href="https://robots.thoughtbot.com/rails-on-docker" class="linktitle">Rails on Docker</a>

</td><td class="date">
feb 19
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Tutorial to seyup a working rails dev env on a mac.
</td></tr>

<tr><td>
<a href="http://www.brianstorti.com/understanding-bundler-setup-process/" class="linktitle">Understanding Bundler's setup process</a>

</td><td class="date">
feb 19
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A look into Bundler's code.
</td></tr>

<tr><td>
<a href="https://mattbrictson.com/registry-pattern" class="linktitle">The Registry Pattern</a>

</td><td class="date">
feb 19
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Using a Registry to look up collaborators in Rails, like external APIs.
</td></tr>

<tr><td>
<a href="http://6ftdan.com/allyourdev/2015/02/20/some-basic-ruby-tools-for-sniffing-out-errors/" class="linktitle">Some Basic Ruby Tools for Sniffing out Errors</a>

</td><td class="date">
feb 20
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Quick review of pry, byebug, pry-debug, better_errors, notify_send.
</td></tr>

<tr><td>
<a href="http://www.leighhalliday.com/why-doesnt-my-code-work-outside-rails" class="linktitle">Why doesn't my code work outside of Rails?</a>

</td><td class="date">
feb 20
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
The evil of rails monkey-patching.
</td></tr>

</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://gorails.com/episodes/intro-to-importing-from-csv" class="linktitle">Introduction to Importing from CSV</a>
<span class="duration">(16m)</span>
</td><td class="date">
jan 21
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Introduction to Importing from CSV.
</td></tr>

</table>

<h3>Listen</h3>
<div class="baseline">What could be heard last week ..</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.developertea.com/episodes/7768" class="linktitle">Developer tea 18</a>
<span class="duration">(11m)</span>
</td><td class="date">
feb 16
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Listener Questions.
</td></tr>

<tr><td>
<a href="http://nodeup.com/eightythree" class="linktitle">NodeUp 83</a>
<span class="duration">(1h06)</span>
</td><td class="date">
feb 16
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A libuv show.
</td></tr>

<tr><td>
<a href="http://devchat.tv/js-jabber/147-jsj-io-js-with-isaac-schleuter-and-mikeal-rogers" class="linktitle">Javascript Jabber 146</a>
<span class="duration">(59m)</span>
</td><td class="date">
feb 18
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
io.js with Isaac Schlueter and Mikeal Rogers.
</td></tr>

<tr><td>
<a href="http://thewebplatform.libsyn.com/31-building-with-reactjs" class="linktitle">Web platform #31</a>
<span class="duration">(51m)</span>
</td><td class="date">
feb 17
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Building with React.js.
</td></tr>

<tr><td>
<a href="http://blog.codepen.io/2015/02/18/036-settings/" class="linktitle">CodePen 36</a>
<span class="duration">(31m)</span>
</td><td class="date">
feb 18
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Settings.
</td></tr>

<tr><td>
<a href="http://devchat.tv/ruby-rogues/195-rr-building-your-technology-radar-with-neal-ford" class="linktitle">RubyRogues 195</a>
<span class="duration">(58m)</span>
</td><td class="date">
feb 18
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Building Your Technology Radar with Neal Ford.
</td></tr>

<tr><td>
<a href="http://devchat.tv/adventures-in-angular/030-aia-angular-interns-with-rodric-haddad-and-anting-shen" class="linktitle">Adventure in angular #30</a>
<span class="duration">(29m)</span>
</td><td class="date">
feb 19
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Angular Interns with Rodric Haddad and Anting Shen.
</td></tr>

<tr><td>
<a href="http://episodes.gitminutes.com/2015/02/gitminutes-31-mary-rose-cook-on-gitlet.html" class="linktitle">Git minutes #31</a>
<span class="duration">(1h05)</span>
</td><td class="date">
feb 19
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Heroku Recommends Puma, pretty_backtrace, Weird Stuff with Hashes, Ruby Survey 2015, Que.
</td></tr>

<tr><td>
<a href="https://ruby5.codeschool.com/episodes/567-episode-529-february-20th-2015" class="linktitle">Ruby5 #529</a>
<span class="duration">(5m)</span>
</td><td class="date">
feb 20
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
private methods, Set intersection, fat models, Predicting Test Failures.
</td></tr>

<tr><td>
<a href="http://www.thecloudcast.net/2015/02/krispy-kreme-donations-2015-huge-thank.html" class="linktitle">The cloudcast #179</a>
<span class="duration">(40m)</span>
</td><td class="date">
feb 20
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Managing Containers w/o a Tupperware Party.
</td></tr>

<tr><td>
<a href="http://www.developertea.com/episodes/7768" class="linktitle">Developer tea 19</a>
<span class="duration">(14m)</span>
</td><td class="date">
feb 20
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Ben Orenstein from Thoughtbot, Part One.
</td></tr>

<tr><td>
<a href="http://bikeshed.fm/8" class="linktitle">The Bike Shed 8</a>
<span class="duration">(37m)</span>
</td><td class="date">
feb 20
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Attributes API, Relation#or, Paid Open Source.
</td></tr>

<tr><td>
<a href="http://5by5.tv/changelog/143" class="linktitle">The Changelog #143</a>
<span class="duration">(57m)</span>
</td><td class="date">
feb 20
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Mary Rose Cook on Gitlet.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by mose (editor), xenor, simon (informers).</i>

</div>


<div id="rant">
<h3>Rant</h3>

<div class="baseline"><i>The random rant of the week by mose.</i></div>
<h4>Happy year of the Goat</h4>

<p>Here it was Chinese New Year this week. A good occasion for those who are not familiar with chinese state of the web to read about its <a href="http://designbeep.com/2015/02/20/free-download-chinese-new-year-icon-pack-50-icons/">web design trends 2015</a>. This article is pretty deep and reflects accurately how China uses its connectivity.</p>

<p>So, xin nian kuai le, and of course, gong xi fa cai. And if you need related icons, <a href="http://designbeep.com/2015/02/20/free-download-chinese-new-year-icon-pack-50-icons/">here are some</a>.</p>

<h4>Hello in Firefox</h4>

<p>Now that I'm working from Taiwan with a French company, I was have been searching for a decent solution for video conferencing. Because skype and google-hangouts are just not things I like to use. I found out that new versions of firefox include by default a one to one webrtc feature, named <a href="https://support.mozilla.org/en-US/kb/firefox-hello-video-and-voice-conversations-online">Hello</a>. It works pretty nicely. I also tried out <a href="https://glideroom.com/">Glideroom</a> and <a href="https://hu.tt/">Hutt</a>. There are also heavier solutions that I tried in the past like the <a href="http://bigbluebutton.org/">big blue button</a>.</p>

<p>Unfortunately some dude in the ops team pointed out that webrtc was <a href="https://blog.ipvanish.com/webrtc-security-hole-leaks-real-ip-addresses/">not secure</a>, so it's not likely to become a standard for us. Hrum, well, that's debatable how proprietary solutions are more secure. There is no way to get it figured out. Anyways Webrtc became a <a href="http://www.w3.org/TR/2015/WD-webrtc-20150210/">w3c standard</a> recently, and the section 12, named security, says: TBD. Let's hope it will be done properly.</p>

<p>Any of you have some first hand experience with any alternative video conference system, please send me a mail with your feedback.</p>

</div>


</div>
</div>
