<div id="templateContainer">
<div id="templateHeader">
<h1>#057 - mar 9th 2014</div>
</div>
<div id="templateBody">
<div>
	<div class="baseline">
	<h2>Edito</h2>
	If debugging is the process of removing bugs, then programming must be the process of putting them in. // Edsger Dijkstra.
<br>
<br>
<em>&nbsp; mose - the green ruby editor</em><br>
<em>&nbsp;

	xenor - the informer

</em><br>
&nbsp; <a href="http://greenruby.org" target="_self">http://greenruby.org</a>
<br>
</div>


<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="http://io9.com/this-map-shows-what-the-global-internet-really-looks-li-1538714495" class="linktitle">This map shows what the global Internet really looks like</a>
				
			</td>
			<td class="date">
				
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				A map of the undersea cables that we depend upon.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://www.tinydesignr.com/2014/03/responsive-web-design-tutorials.html" class="linktitle">68 Best Responsive Web Design Tutorials</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/mobile.png" height="18" width="18" align="right" alt="mobile" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Very rich list of websites if you want to be more responsive.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://www.centurylinklabs.com/top-10-open-source-docker-projects/" class="linktitle">Top 10 Open-Source Docker Projects</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				List of projects taking advantage of the docker system.
			</td>
		</tr>
	
</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="http://www.appdeveloperatlas.com/" class="linktitle">App Developer Atlas</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/mobile.png" height="18" width="18" align="right" alt="mobile" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				A directory of tools for apps developer.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://jsonstub.com/" class="linktitle">JsonStub</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Fake the backend while you develop the frontend.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://useiconic.com/" class="linktitle">Iconic</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Advanced icons for the modern web.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://animatron.com/" class="linktitle">Animatron</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/html5.png" height="18" width="18" align="right" alt="html5" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Online tool for creating html5 animations.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://www.glyphrstudio.com/" class="linktitle">Glyphr</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/html5.png" height="18" width="18" align="right" alt="html5" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				A free, html5 based font editor.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://saasclub.com/" class="linktitle">Saas Club</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				A website that tracks resources for the SaaS community.
			</td>
		</tr>
	
</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="http://cutjs.org/" class="linktitle">Cut.js</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Dom + jQuery for canvas.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://pakyow.com/" class="linktitle">Pakyow</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				A not-so-well-known ruby framework, faster than Sinatra. Just release v0.8.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://github.com/elasticsearch/elasticsearch-rails" class="linktitle">Elasticsearch-rails 0.1.0</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				The decent successor of Tire seems ready now.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://www.pixate.com/" class="linktitle">Freestyle</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/mobile.png" height="18" width="18" align="right" alt="mobile" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Native app's look and feel, using CSS.
			</td>
		</tr>
	
</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="http://tech.ftbpro.com/post/78195641092/ruby-2-1-our-experience" class="linktitle">Ruby 2.1 - Our Experience</a>
				
			</td>
			<td class="date">
				mar 1
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Experience report on ruby 2.1 migration path.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://dev.ubervu.com/a-github-river-for-elasticsearch/" class="linktitle">A GitHub River for Elasticsearch</a>
				
			</td>
			<td class="date">
				mar 3
				
					
						<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				A neat new elasticsearch river.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://eng.joingrouper.com/blog/2014/03/03/rails-the-missing-parts-interactors" class="linktitle">Rails - the Missing Parts - Interactors</a>
				
			</td>
			<td class="date">
				mar 3
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Also need to check <a href="https://news.ycombinator.com/item?id=7335211">dhh's comment</a> for why NOT doing a interactor.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://reefpoints.dockyard.com/2014/03/03/using-database-templates.html" class="linktitle">Using Database Templates in Rails</a>
				
			</td>
			<td class="date">
				mar 3
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Database template for postgres application.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://mojolingo.com/blog/2014/putting-the-can-in-cancan/" class="linktitle">Putting the Can in CanCan</a>
				
			</td>
			<td class="date">
				mar 5
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				cancancan, a cancan continuation (seriously, where is @rbate ?).
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://blog.arbitrary.io/the-arbitrary-logo/" class="linktitle">The Arbitrary Logo</a>
				
			</td>
			<td class="date">
				mar 5
				
					
						<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Story and code about a changing logo.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://blogs.atlassian.com/2014/03/every-team-needs-kick-ass-code-reviews/" class="linktitle">Every team needs kick-ass code reviews</a>
				
			</td>
			<td class="date">
				mar 5
				
					
						<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Code review explained.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://arstechnica.com/security/2014/03/critical-crypto-bug-leaves-linux-hundreds-of-apps-open-to-eavesdropping/" class="linktitle">Critical crypto bug in Linux and apps</a>
				
			</td>
			<td class="date">
				mar 5
				
					
						<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				This GnuTLS bug is worse than the big Apple 'goto fail' bug patched last week (also check <a href="http://news.softpedia.com/news/Linux-Teaches-a-Security-Lesson-to-Microsoft-and-Apple-Once-More-431085.shtml">this article</a>).
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://github.com/blog/1790-announcing-the-github-developer-program" class="linktitle">Announcing the GitHub Developer Program</a>
				
			</td>
			<td class="date">
				mar 6
				
					
						<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				An interesting new initiative from github.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://codeascraft.com/2014/02/28/etsys-journey-to-continuous-integration-for-mobile-apps/" class="linktitle">Etsy’s Journey to Continuous Integration for Mobile Apps</a>
				
			</td>
			<td class="date">
				mar 8
				
					
						<img class="icon" src="ico/mobile.png" height="18" width="18" align="right" alt="mobile" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				An architecture exploration with all the details.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://codegeekz.com/25-code-snippet-resources-and-repositories-for-developers/" class="linktitle">25 Code Snippet Resources and Repositories for Developers</a>
				
			</td>
			<td class="date">
				mar 8
				
					
						<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				A pretty good shortlist of bookmarks for you geeks.
			</td>
		</tr>
	
</table>

<h3>Listen</h3>
<div class="baseline">What could be heard last week ..</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="http://podcasts.thoughtbot.com/giantrobots/88" class="linktitle">Giant robots #88</a>
				<span class="duration">(28m)</span>
			</td>
			<td class="date">
				mar 3
				
					
						<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Prospering Communities (Kyle Bragger).
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://ruby5.envylabs.com/episodes/481-episode-445-march-4th-2014" class="linktitle">Ruby5 445</a>
				<span class="duration">(7m)</span>
			</td>
			<td class="date">
				mar 4
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Interactors, component, rubymotion, adapter pattern, ruby universe.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://rubyrogues.com/146-rr-book-club-ruby-under-a-microscope-with-pat-shaughnessy/" class="linktitle">Ruby Rogues 146</a>
				<span class="duration">(1h07)</span>
			</td>
			<td class="date">
				mar 5
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Book Club – Ruby Under a Microscope with Pat Shaughnessy.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://javascriptjabber.com/099-jsj-npm-inc-with-isaac-schlueter-laurie-voss-and-rod-boothby/" class="linktitle">Javascript Jabber 099</a>
				<span class="duration">(56m)</span>
			</td>
			<td class="date">
				mar 5
				
					
						<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				npm, Inc. with Isaac Schlueter, Laurie Voss, and Rod Boothby.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://ruby5.envylabs.com/episodes/482-episode-446-march-7th-2014" class="linktitle">Ruby5 446</a>
				<span class="duration">(5m)</span>
			</td>
			<td class="date">
				mar 7
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Drone, under OS, hell ruby, rubygems.org costs, rails 4 assets, flippit.
			</td>
		</tr>
	
</table>

</div>
</div>
