<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#099 - dec 28th 2014</h1>
</div>
<div id="templateBody">

<div>
<div class="baseline">
<h2>Edito</h2>
As announced, Ruby 2.2.0 was released on christmas day, nice gift. Various other projects also released new versions this week, check them out below. And, this is the last edition of the year. So, enjoy the last bits of 2014, and see you in 2015 for the 100th edition of Green Ruby.
<br>
</div>
</div>



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://superlooper.universlabs.co.uk/" class="linktitle">Super Looper</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Looper experiment that lets you play with touch and record loops.
</td></tr>

<tr><td>
<a href="http://demodern.com/" class="linktitle">Demodern</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Nice agency website.
</td></tr>

<tr><td>
<a href="http://404sites.tumblr.com/" class="linktitle">FourZeroFour</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Collection of 404 pages with nice design.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.allrubybooks.com/" class="linktitle">All Ruby Books</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Links to 182 books on ruby, rails, and others.
</td></tr>

<tr><td>
<a href="http://planetruby.herokuapp.com/" class="linktitle">Planet Ruby</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
New syndication website for ruby news.
</td></tr>

<tr><td>
<a href="https://uptimerobot.com/" class="linktitle">Uptime Robot</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
50 Monitors, Checked Every 5 Minutes, Totally Free.
</td></tr>

<tr><td>
<a href="http://www.testmunk.com/" class="linktitle">Testmunk</a>

</td><td class="date">

<img class="icon" src="ico/mobile.png" height="18" width="18" align="right" alt="mobile" />
</td></tr>
<tr><td colspan="2" class="comment">
Test your app on a large pool of Android and iOS devices.
</td></tr>

<tr><td>
<a href="http://flattyshadow.com/" class="linktitle">FlattyShadow</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Flat Shadow Generator.
</td></tr>

<tr><td>
<a href="http://www.storyboardthat.com/" class="linktitle">StoryboardThat</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Online Storyboard Creator.
</td></tr>

<tr><td>
<a href="http://codegeekz.com/25-excellent-freebies-designers/" class="linktitle">25 Excellent Freebies for Designers</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
From icons to progress bars.
</td></tr>

<tr><td>
<a href="http://codegeekz.com/20-best-responsive-design-tools/" class="linktitle">20 Best Responsive Design Tools</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Curated list of 20 modern tools.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://www.ruby-lang.org/en/news/2014/12/25/ruby-2-2-0-released/" class="linktitle">Ruby 2.2.0 Released</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
As announced previously, this is the final release for ruby 2.2. Faster with better GC.
</td></tr>

<tr><td>
<a href="http://www.jruby.org/2014/12/22/jruby-1-7-18.html" class="linktitle">JRuby 1.7.18 Released</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Towards filling out any missing compatibility issues with Ruby 1.9.3.
</td></tr>

<tr><td>
<a href="http://lucaguidi.com/2014/12/23/2014-retrospective-a-year-of-lotus.html" class="linktitle">Lotus 0.2.0</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
2014 Retrospective: A Year Of Lotus (ruby web framework).
</td></tr>

<tr><td>
<a href="https://github.com/leejarvis/slop" class="linktitle">Slop 4.0</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Simple Lightweight Option Parsing.
</td></tr>

<tr><td>
<a href="http://blog.jquery.com/2014/12/18/jquery-1-11-2-and-2-1-3-released-safari-fail-safe-edition/" class="linktitle">jQuery 1.11.2 and 2.1.3</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
New jQuery releases with a significant bug fix/patch for Safari.
</td></tr>

<tr><td>
<a href="http://codyhouse.co/gem/css-animated-headlines/" class="linktitle">Animated Headlines</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
A collection of animated headlines using CSS transitions.
</td></tr>

<tr><td>
<a href="https://gin-gonic.github.io/gin/" class="linktitle">Gin</a>

</td><td class="date">

<img class="icon" src="ico/go.png" height="18" width="18" align="right" alt="go" />
</td></tr>
<tr><td colspan="2" class="comment">
Web framework written in Golang. Competes with martini.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://tooky.co.uk/your-tests-want-you-to-change-your-design/" class="linktitle">Your tests want you to change your design</a>

</td><td class="date">
dec 19
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
When something is hard to test it’s usually a good indicator that you should change something in your design.
</td></tr>

<tr><td>
<a href="https://justinas.org/my-reason-to-be-excited-for-go-14/" class="linktitle">My reason to be excited for Go 1.4</a>

</td><td class="date">
dec 22
<img class="icon" src="ico/go.png" height="18" width="18" align="right" alt="go" />
</td></tr>
<tr><td colspan="2" class="comment">
More than a week ago, Go 1.4 was released.
</td></tr>

<tr><td>
<a href="http://css-tricks.com/link-header-header-link/" class="linktitle">Link in Header? Or Header in Link?</a>

</td><td class="date">
dec 22
<img class="icon" src="ico/html5.png" height="18" width="18" align="right" alt="html5" />
</td></tr>
<tr><td colspan="2" class="comment">
Compare differences in link placement.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/editor-rubyists-use/" class="linktitle">What Editor Do Rubyists Use?</a>

</td><td class="date">
dec 22
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Ratings of text editors used by ruby devs.
</td></tr>

<tr><td>
<a href="https://codeascraft.com/2014/12/22/engineering-rotation/" class="linktitle">Engineering Rotation</a>

</td><td class="date">
dec 22
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
We Invite Everyone at Etsy to Do an Engineering Rotation: Here’s why.
</td></tr>

<tr><td>
<a href="https://netguru.co/blog/why-hackathons-are-always-a-good" class="linktitle">Why Hackathons Are Always a Good Idea</a>

</td><td class="date">
dec 22
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Collection of mobile apps from Netguru to help doing hackathons.
</td></tr>

<tr><td>
<a href="http://hashrocket.com/blog/posts/a-compendium-of-hooks-in-embercli" class="linktitle">A Compendium of Hooks in EmberCLI</a>

</td><td class="date">
dec 22
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
List all known addon hooks as of EmberCLI version 0.1.4.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/introducing-sass-compatibility/" class="linktitle">Introducing Sass-Compatibility</a>

</td><td class="date">
dec 23
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Compatibilities in different versions of SASS.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/write-better-markup-html-inspector/" class="linktitle">Write Better Markup with HTML Inspector</a>

</td><td class="date">
dec 23
<img class="icon" src="ico/html5.png" height="18" width="18" align="right" alt="html5" />
</td></tr>
<tr><td colspan="2" class="comment">
Code quality tool to help you and your team to write better markup.
</td></tr>

<tr><td>
<a href="http://robots.thoughtbot.com/why-you-should-use-a-mechanical-keyboard" class="linktitle">Why You Should Use a Mechanical Keyboard</a>

</td><td class="date">
dec 23
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
State of the art of the last keyboard fashion.
</td></tr>

<tr><td>
<a href="http://robots.thoughtbot.com/handling-security-issues-in-open-source-projects" class="linktitle">Handling Security Issues In Open Source Projects</a>

</td><td class="date">
dec 24
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
How to deal with security issues in OSS.
</td></tr>

<tr><td>
<a href="http://ariya.ofilabs.com/2014/12/docker-and-phoenix-how-to-make-your-continuous-integration-more-awesome.html" class="linktitle">Docker and Phoenix</a>

</td><td class="date">
dec 25
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
How to Make Your Continuous Integration More Awesome.
</td></tr>

<tr><td>
<a href="http://avi.io/blog/2014/12/26/ruby-and-rails-development-environment-using-chef-and-vagrant" class="linktitle">Ruby and Rails Development Using Chef and Vagrant</a>

</td><td class="date">
dec 26
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
The devbox gem is designed to fast provisioning of new laptops.
</td></tr>

<tr><td>
<a href="https://blog.engineyard.com/2014/ruby-isnt-dead" class="linktitle">Ruby isn't dead</a>

</td><td class="date">
dec 26
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Why people say it's dying and why it's not dying.
</td></tr>

</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://confreaks.com/events/RubyConf2014" class="linktitle">Ruby Conference 2014</a>
<span class="duration">(63 videos)</span>
</td><td class="date">
dec 26
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
I already posted about this one, but more 24 videos were added this week.
</td></tr>

</table>

<h3>Listen</h3>
<div class="baseline">What could be heard last week ..</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://giantrobots.fm/127" class="linktitle">Giant Robots 127</a>
<span class="duration">(39m)</span>
</td><td class="date">
dec 22
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Merging Worlds (Meng To).
</td></tr>

<tr><td>
<a href="http://puppetlabs.com/podcasts/podcast-automated-testing-beaker-windows" class="linktitle">Puppet Podcast: Beaker</a>
<span class="duration">(26m)</span>
</td><td class="date">
dec 22
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Automated Testing with Beaker for Windows.
</td></tr>

<tr><td>
<a href="http://blog.codepen.io/2014/12/22/030-jobs/" class="linktitle">Codepen 30</a>
<span class="duration">(33m)</span>
</td><td class="date">
dec 22
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Launched a new Job board.
</td></tr>

<tr><td>
<a href="http://nodeup.com/eighty" class="linktitle">NodeUp 80</a>
<span class="duration">(40m)</span>
</td><td class="date">
dec 22
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A developer mental health show.
</td></tr>

<tr><td>
<a href="http://5by5.tv/rubyonrails/180" class="linktitle">Ruby on Rails Podcast 180</a>
<span class="duration">(1h12)</span>
</td><td class="date">
dec 22
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Josh Smith - Separating Server and Client Applications.
</td></tr>

<tr><td>
<a href="http://devchat.tv/ruby-rogues/187-marketing-yourself-as-a-software-developer-with-john-sonmez" class="linktitle">RubyRogues 187</a>
<span class="duration">(1h15)</span>
</td><td class="date">
dec 24
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Marketing Yourself as a Software Developer with John Sonm.
</td></tr>

<tr><td>
<a href="http://devchat.tv/js-jabber/139-jsj-the-mozilla-developer-network-with-les-orchard-and-david-walsh" class="linktitle">Javascript Jabber 139</a>
<span class="duration">(54m)</span>
</td><td class="date">
dec 24
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
The Mozilla Developer Network with Les Orchard and David Walsh.
</td></tr>

<tr><td>
<a href="http://devchat.tv/adventures-in-angular/022-aia-form-validation-with-kent-c-dodds" class="linktitle">Adventure in angular #22</a>
<span class="duration">(30m)</span>
</td><td class="date">
dec 25
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Form Validation with Kent C. Dodds.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">
<i>Links curated by by mose (editor),

xenor, simon (informers)
.</i>
</div>



</div>
</div>
