<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#074 - jul 6th 2014</h1>
</div>
<div id="templateBody">

<div>
<div class="baseline">
<h2>Edito</h2>
This week we had a rails upgrade for security (but only concerns postgres) and another one immediately for fixing a regression in the security fix. It happens sometimes. But there is so much more happening all around. It's very hard to compose this letter because I have to pick news from such a massive amount of new things. But here it is, enjoy :)
<br>
</div>
</div>



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://aelgru.github.io/" class="linktitle">Gruber experiments</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
Various visual web experiments.
</td></tr>

<tr><td>
<a href="http://www.google.com/design/" class="linktitle">Google design</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
A portal for everything design at google.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://teleport.org/" class="linktitle">Teleport</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
All about going live somewhere else, maybe remote working.
</td></tr>

<tr><td>
<a href="http://tagtree.tv/" class="linktitle">Tagtree</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Screencasts about modern javascript.
</td></tr>

<tr><td>
<a href="http://www.wolframcloud.com/" class="linktitle">Wolfram Cloud</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
For programming online in Wolfram.
</td></tr>

<tr><td>
<a href="http://realfavicongenerator.net/" class="linktitle">Real Favicon Generator</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Generate the favicon pictures and HTML code that work on all major browsers and platforms.
</td></tr>

<tr><td>
<a href="http://json-ld.org/" class="linktitle">JSON-LD</a>

</td><td class="date">

<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
This is Json plus a linked data layer, just became an official standard at W3C.
</td></tr>

<tr><td>
<a href="http://bootstrapcarnival.com/" class="linktitle">Bootstrap carnival</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Showcasing 1000+ Bootstrap themes under many different categories.
</td></tr>

<tr><td>
<a href="http://browsertap.com/" class="linktitle">BrowserTap</a>

</td><td class="date">

<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Fast and interactive cross-browser testing (in alpha test).
</td></tr>

<tr><td>
<a href="https://www.deploy.do/" class="linktitle">DeployDo</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Cloud deployment service with preview.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://weblog.rubyonrails.org/2014/7/2/Rails_4_0_8_and_4_1_4_have_been_released/" class="linktitle">Rails 4.1.4</a>

</td><td class="date">
jul 2
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Rails 4.0.8 and 4.1.4 have been released (security fix on 4.1.3 had a regression).
</td></tr>

<tr><td>
<a href="http://blog.docker.com/2014/07/announcing-docker-1-1/" class="linktitle">Docker 1.1.0</a>

</td><td class="date">
jul 3
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Various improvements and new features. This is moving fast.
</td></tr>

<tr><td>
<a href="https://github.com/Fullscreen/yt" class="linktitle">Yt</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
The most reliable YouTube API Ruby client.
</td></tr>

<tr><td>
<a href="https://github.com/axemclion/browser-perf" class="linktitle">Browser-perf</a>

</td><td class="date">

<img class="icon" src="ico/css.png" height="18" width="18" align="right" alt="css" />
</td></tr>
<tr><td colspan="2" class="comment">
Performance Metrics for Web Browsers, designed for CI.
</td></tr>

<tr><td>
<a href="http://pixelbuddha.net/freebie/buddha-line-icons-100" class="linktitle">Buddha Line Icons Complete</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Freebie, 100 line icons.
</td></tr>

<tr><td>
<a href="https://github.com/longshoreman/longshoreman" class="linktitle">Longshoreman</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Automated deployment with Docker.
</td></tr>

<tr><td>
<a href="https://github.com/kristopolous/BOOTSTRA.386" class="linktitle">Bootstrap 386</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Bootstrap theme to make webpages look like they are from the 1980s.
</td></tr>

<tr><td>
<a href="https://github.com/codemix/fast.js" class="linktitle">Fast.js</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Faster user-land reimplementations for several common builtin native JavaScript functions.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://frontendbabel.info/articles/webpage-rendering-101/" class="linktitle">About Webpage Rendering</a>

</td><td class="date">
jun 30
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
What Every Frontend Developer Should Know: repaint and reflow.
</td></tr>

<tr><td>
<a href="http://webuild.envato.com/blog/techniques-for-mobile-and-responsive-cross-browser-testing/" class="linktitle">Techniques for mobile and responsive cross-browser testing</a>

</td><td class="date">
jun 30
<img class="icon" src="ico/mobile.png" height="18" width="18" align="right" alt="mobile" />
</td></tr>
<tr><td colspan="2" class="comment">
An Envato case study. Pretty good list of tools.
</td></tr>

<tr><td>
<a href="http://www.beussery.com/blog/index.php/2014/06/robots-txt-disallow-20/" class="linktitle">robots.txt disallow: 20 Years of Mistakes To Avoid</a>

</td><td class="date">
jun 30
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
robots.txt has 20 years, here is an update of how they are really used now.
</td></tr>

<tr><td>
<a href="http://code.tutsplus.com/tutorials/debjs-the-tiniest-debugger-in-the-world--cms-21565" class="linktitle">Deb.js: the Tiniest Debugger in the World</a>

</td><td class="date">
jun 30
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Detailed example of usage of deb.js.
</td></tr>

<tr><td>
<a href="https://ninefold.com/blog/2014/07/01/rails-and-the-warped-asset-pipeline/" class="linktitle">Rails and the Warped Asset Pipeline</a>

</td><td class="date">
jul 1
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Magics of the asset pipeline explained.
</td></tr>

<tr><td>
<a href="http://blog.arkency.com/2014/07/one-ruby-to-rule-them-all/" class="linktitle">From Rails to RubyMotion: basic toolkit</a>

</td><td class="date">
jul 1
<img class="icon" src="ico/mobile.png" height="18" width="18" align="right" alt="mobile" />
</td></tr>
<tr><td colspan="2" class="comment">
Resources and tools for a smooth start on rubymotion.
</td></tr>

<tr><td>
<a href="http://blog.plataformatec.com.br/2014/07/ruby-blocks-precedence/" class="linktitle">Ruby blocks precedence</a>

</td><td class="date">
jul 1
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Blocks have precedence too.
</td></tr>

<tr><td>
<a href="https://medium.com/css-tutorials/css-spheres-aab1a341deb2" class="linktitle">CSS Spheres</a>

</td><td class="date">
jul 2
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Using CSS gradients to create spheres.
</td></tr>

<tr><td>
<a href="http://aerotwist.com/blog/pixels-are-expensive/" class="linktitle">Pixels are expensive</a>

</td><td class="date">
jul 3
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
An addendum to the other article about webpage rendering cited above.
</td></tr>

<tr><td>
<a href="http://blog.jquery.com/2014/07/03/dont-use-jquery-latest-js/" class="linktitle">Don’t Use jquery-latest.js</a>

</td><td class="date">
jul 3
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
You shouldn’t be using jquery-latest.js on a production site, here is why.
</td></tr>

<tr><td>
<a href="https://medium.com/code-adventures/farewell-node-js-4ba9e7f3e52b" class="linktitle">Farewell Node.js</a>

</td><td class="date">
jul 4
<img class="icon" src="ico/go.png" height="18" width="18" align="right" alt="go" />
</td></tr>
<tr><td colspan="2" class="comment">
A <a href="https://github.com/visionmedia">prolific</a> node.js coder looks for new maintainers (express, jade, mocha, ...) now that he moves to golang. He explains why.
</td></tr>

</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.atozcss.com/the-id-selector/" class="linktitle">A to Z CSS: ID</a>
<span class="duration">(7m)</span>
</td><td class="date">
jul 1
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Some of the reasons why he prefers the class selector over ID.
</td></tr>

<tr><td>
<a href="https://www.youtube.com/watch?v=fIhIjub1ry0" class="linktitle">Ruby Code Reading: Equalizer and Concord</a>
<span class="duration">(1h26)</span>
</td><td class="date">
jun 24
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Two Ruby Rogues read over some of the code from rom-rb.
</td></tr>

</table>

<h3>Listen</h3>
<div class="baseline">What could be heard last week ..</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://podcasts.thoughtbot.com/giantrobots/105" class="linktitle">Giant robots #105</a>
<span class="duration">(33m)</span>
</td><td class="date">
jun 30
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Use Your Info-magination (Marc-André Cournoyer).
</td></tr>

<tr><td>
<a href="http://blog.producthunt.com/post/90351652849/product-hunt-radio-episode-12" class="linktitle">Product Hunt 12</a>
<span class="duration">(43m)</span>
</td><td class="date">
jun 30
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
At Homebrew headquarters with Hunter Walk and Satya Patel.
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/513-episode-476-july-1st-2014" class="linktitle">Ruby5 476</a>
<span class="duration">(7m)</span>
</td><td class="date">
jul 1
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Fast attributes, Yt, Pundit, Active Admin jcrop, fragment caching optout, new Rails versions.
</td></tr>

<tr><td>
<a href="http://rubyrogues.com/163-rr-education-with-coraline-ada-ehmke-and-katrina-owen/" class="linktitle">Ruby Rogues 163</a>
<span class="duration">(1h16)</span>
</td><td class="date">
jul 2
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Education with Coraline Ada Ehmke and Katrina Owen.
</td></tr>

<tr><td>
<a href="http://javascriptjabber.com/115-jsj-the-es6-module-loader-polyfill-systemjs-and-jspm-with-guy-bedford/" class="linktitle">Javascript Jabber 115</a>
<span class="duration">(45m)</span>
</td><td class="date">
jul 2
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
The ES6 Module Loader Polyfill, SystemJS, and jspm with Guy Bedford.
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/514-episode-477-july-4th-2014" class="linktitle">Ruby5 477</a>
<span class="duration">(5m)</span>
</td><td class="date">
jul 4
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
rails security, modular migrations, warped asset pipeline, Arel.
</td></tr>

<tr><td>
<a href="http://5by5.tv/rubyonrails/157" class="linktitle">Ruby on Rails Podcast #157</a>
<span class="duration">(59m)</span>
</td><td class="date">
jul 5
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Lex Friedman is Hiring a Ruby on Rails Developer for the Midroll Podcast Ad Network.
</td></tr>

</table>

<h3>Devtips</h3>
<div class="baseline">The tips of the week collected from Faria Dev Team ..</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://devtips.faria.co/2014-06-30-css-line-break.html" class="linktitle">CSS line break even inside tables</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">

</td></tr>

<tr><td>
<a href="http://devtips.faria.co/2014-07-02-profiling-rspec.html" class="linktitle">Profiling Rspec to track long tests</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">

</td></tr>

<tr><td>
<a href="http://devtips.faria.co/2014-07-02-analytics-in-elasticsearch.html" class="linktitle">Analytics in Elasticsearch are so fast</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">

</td></tr>

<tr><td>
<a href="http://devtips.faria.co/2014-07-02-paths-in-capybara.html" class="linktitle">Paths in Capybara when there are params</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">

</td></tr>

<tr><td>
<a href="http://devtips.faria.co/2014-07-02-vim-pbcopy.html" class="linktitle">Vim pbcopy to yank to clipboard</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">

</td></tr>

<tr><td>
<a href="http://devtips.faria.co/2014-07-04-sql-in-a-shell.html" class="linktitle">SQL in a shell and more from the parallel package</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">

</td></tr>

<tr><td>
<a href="http://devtips.faria.co/2014-07-04-toggle-mockup-in-background.html" class="linktitle">Toggle mockup in background for html/css authoring</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">

</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">
<i>Links curated by by mose (editor),

xenor (informer)
.</i>
</div>


<div id="rant">
<h3>Rant</h3>
<div class="baseline"><i>The random rant of the week by mose.</i></div>

</div>


</div>
</div>
