<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#222 - may 7th 2017</h1>
</div>
<div id="templateBody">



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://interfacelovers.com" class="linktitle">Interface Lovers</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Online magazine for creative professionals.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://conversationaldevelopment.com/" class="linktitle">Conversational Development</a>

</td><td class="date">

<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
New thoughts on software development based on software's life cycle and focused on continuous conversation during development.
</td></tr>

<tr><td>
<a href="http://vize.it/" class="linktitle">Vize.it</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Custom image recognition API.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/wooorm/franc" class="linktitle">Franc</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Detect the language of text.
</td></tr>

<tr><td>
<a href="https://ketchuphq.com/" class="linktitle">Ketchup</a>

</td><td class="date">

<img class="icon" src="ico/go.png" height="18" width="18" align="right" alt="go" />
</td></tr>
<tr><td colspan="2" class="comment">
A simple CMS in Go and Typescript.
</td></tr>

<tr><td>
<a href="https://github.com/yanc0/beeping" class="linktitle">BeePing</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
BeePing is a distant http check as a Service.
</td></tr>

<tr><td>
<a href="https://github.com/Semantic-Org/Semantic-UI" class="linktitle">Semantic-UI</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
An UI component framework based around useful principles from natural language.
</td></tr>

<tr><td>
<a href="https://github.com/vshatskyi/black-screen" class="linktitle">Black-screen</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A fancy terminal emulator.
</td></tr>

<tr><td>
<a href="https://github.com/shiroyasha/factory_girl_instruments" class="linktitle">Factory_girl_instruments</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Instruments for benchmarking, tracing, and debugging FactoryGirl models.
</td></tr>

<tr><td>
<a href="https://github.com/ruby-rbot/rbot" class="linktitle">ruby-rbot/rbot</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Ruby IRC bot.
</td></tr>

<tr><td>
<a href="https://www.iotacss.com/" class="linktitle">iotaCSS</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Open source SASS based OOCSS framework built for scale.
</td></tr>

<tr><td>
<a href="https://prepack.io/" class="linktitle">Prepack</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A tool in early development for making JavaScript code run faster.
</td></tr>

<tr><td>
<a href="https://github.com/zenorocha/codecopy" class="linktitle">Codecopy</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A browser extension that adds copy to clipboard buttons on every code block.
</td></tr>

<tr><td>
<a href="https://github.com/ngryman/speedracer" class="linktitle">Speedracer</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Collect performance metrics for js library/application.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://www.indiehackers.com/businesses/discourse" class="linktitle">Discourse</a>

</td><td class="date">
may 7
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Jeff Atwood explains how targeting high-value businesses instead of consumers helped grow Discourse's revenue.
</td></tr>

<tr><td>
<a href="https://medium.com/@vaidehijoshi/crafting-better-code-reviews-1a5fc00a9312" class="linktitle">Crafting Better Code Reviews</a>

</td><td class="date">
may 2
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Why doing code review and how to improve it.
</td></tr>

<tr><td>
<a href="https://github.com/actionjack/so-you-want-to-recruit-a-devops-engineer" class="linktitle">So you want to Hire a DevOps</a>

</td><td class="date">
may 3
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Hints and tips to make onboarding easier.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by xenor (publisher), mose (editors)
.</i>

</div>



</div>
</div>
