<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#083 - sep 7th 2014</h1>
</div>
<div id="templateBody">

<div>
<div class="baseline">
<h2>Edito</h2>
This week there is some progress on the future version of Green Ruby website, you can check <a href="https://github.com/greenruby/grn-js">https://github.com/greenruby/grn-js</a> if you are curious. And if you want to contribute, you are welcome to join us (just send a mail to <a href="mailto:mose@greenruby.org">mose@greenruby.org</a>). Thanks Quentin, Greg, Jared, Xenor and Pooyan that already jumped in.
<br>
</div>
</div>



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.awwwards.com/the-100-greatest-free-fonts-for-2014.html" class="linktitle">The 100 Greatest Free Fonts for 2014</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
All kinds of typefaces which can be seamlessly integrated into any design.
</td></tr>

<tr><td>
<a href="http://tympanus.net/Development/TabStylesInspiration/" class="linktitle">Tab Styles Inspiration</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
A small collection of styles for tabs.
</td></tr>

<tr><td>
<a href="http://codegeekz.com/20-useful-docs-guides-front-end-developers/" class="linktitle">20 Useful Docs and Guides for Front-End Developers</a>

</td><td class="date">
sep 5
<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
A small collection of styles for tabs.
</td></tr>

<tr><td>
<a href="http://www.slant.co/topics/67/~what-are-the-best-programming-fonts" class="linktitle">What are the best programming fonts?</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Around 50 fonts reviewed.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.gridlover.net/" class="linktitle">Gridlover</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
The tool to establish a typographic system with modular scale and vertical rhythm.
</td></tr>

<tr><td>
<a href="https://www.zerotier.com" class="linktitle">Zerotier</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Network Virtualization Everywhere.
</td></tr>

<tr><td>
<a href="https://kobra.io" class="linktitle">Kobra</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Collaborative code editor, plus video and voice.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://kitematic.com/" class="linktitle">Kitematic</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
The easiest way to start using Docker on your Mac (with a UI, even).
</td></tr>

<tr><td>
<a href="http://impulse.luster.io/" class="linktitle">Impulse</a>

</td><td class="date">

<img class="icon" src="ico/mobile.png" height="18" width="18" align="right" alt="mobile" />
</td></tr>
<tr><td colspan="2" class="comment">
Library for building dynamic physics based interactions, with a focus on mobile web.
</td></tr>

<tr><td>
<a href="http://www.jayway.com/2014/09/06/neo4j-rb-3-0-rc/" class="linktitle">Neo4j.rb 3.0.rc</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Ruby driver for the Neo4j graph database.
</td></tr>

<tr><td>
<a href="http://gravit.io/" class="linktitle">Gravit</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
New and fresh thinking open source design tool (written in HTML5/js/css).
</td></tr>

<tr><td>
<a href="https://www.hashicorp.com/blog/consul-0-4.html" class="linktitle">Consul 0.4</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Solution for service discovery, configuration, and orchestration.
</td></tr>

<tr><td>
<a href="http://amcss.github.io/" class="linktitle">AMCSS</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Use HTML attributes and their values rather than classes for styling elements.
</td></tr>

<tr><td>
<a href="https://github.com/elasticdog/transcrypt" class="linktitle">Transcrypt</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Transparently encrypt files within a git repository.
</td></tr>

<tr><td>
<a href="http://mgcrea.github.io/angular-strap/" class="linktitle">AngularStrap</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
AngularJS 1.2+ native directives for Bootstrap 3.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://railsapps.github.io/rails-authorization.html" class="linktitle">Rails Authorization</a>

</td><td class="date">
sep 1
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
How to control access in a Rails application, with Pundit or others.
</td></tr>

<tr><td>
<a href="http://codeincomplete.com/posts/2014/9/1/soa/" class="linktitle">SOA and Rails - Overview</a>

</td><td class="date">
sep 1
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Review of all the ways to implement a scalable SOA architecture.
</td></tr>

<tr><td>
<a href="http://alistapart.com/article/git-the-safety-net-for-your-projects" class="linktitle">Git: The Safety Net for Your Projects</a>

</td><td class="date">
sep 2
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Various insights about git, and special attention to branches, reset vs revert, bisect.
</td></tr>

<tr><td>
<a href="http://codeincomplete.com/posts/2014/9/2/soa_using_http/" class="linktitle">SOA and Rails - using HTTP</a>

</td><td class="date">
sep 2
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Part 2 of this collection of great articles about SOA, this one focus on HTTP exchanges.
</td></tr>

<tr><td>
<a href="http://codeincomplete.com/posts/2014/9/3/soa_using_amqp/" class="linktitle">SOA and Rails - using AMQP</a>

</td><td class="date">
sep 3
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Part 3 of the articles about SOA, now checking the AMQP way.
</td></tr>

<tr><td>
<a href="https://netguru.co/blog/service-objects-in-rails-will-help" class="linktitle">Service objects in Rails</a>

</td><td class="date">
sep 3
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
To design clean and maintainable code.
</td></tr>

<tr><td>
<a href="http://robots.thoughtbot.com/back-to-basics-solid" class="linktitle">Back to Basics: SOLID</a>

</td><td class="date">
sep 3
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Five fundamental principles that help engineers write maintainable code.
</td></tr>

<tr><td>
<a href="http://wegowise.github.io/blog/2014/09/03/rspec-verifying-doubles/" class="linktitle">Verifying Doubles in RSpec 3</a>

</td><td class="date">
sep 3
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Create test doubles that verify themselves as conforming to the same interface as a 'real' object.
</td></tr>

<tr><td>
<a href="http://codeincomplete.com/posts/2014/9/4/introducing_rackrabbit/" class="linktitle">SOA and Rails - Introducing RackRabbit</a>

</td><td class="date">
sep 4
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Part 4 about SOA, with a custom MQ solution, alternative to bunny.
</td></tr>

<tr><td>
<a href="http://www.reinteractive.net/posts/207-different-controllers-for-different-contexts" class="linktitle">Different controllers for different contexts</a>

</td><td class="date">
sep 4
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Making your application easier to understand, maintain and grow.
</td></tr>

<tr><td>
<a href="http://hashrocket.com/blog/posts/drop-in-responsive-styles-with-sass" class="linktitle">Drop-in Responsive Styles With Sass</a>

</td><td class="date">
sep 4
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Clever usage of a +responsive mixin in SASS.
</td></tr>

<tr><td>
<a href="http://robots.thoughtbot.com/an-introduction-to-webgl" class="linktitle">An Introduction to WebGL</a>

</td><td class="date">
sep 5
<img class="icon" src="ico/html5.png" height="18" width="18" align="right" alt="html5" />
</td></tr>
<tr><td colspan="2" class="comment">
From zero to a working 3D application, how the various concepts work and why.
</td></tr>

<tr><td>
<a href="http://apiux.com/2014/09/05/api-design-sustainability/" class="linktitle">How to design APIs that last</a>

</td><td class="date">
sep 5
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Initial design principles which help building long lived APIs.
</td></tr>

</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://sysadmincasts.com/episodes/36-cli-monday-column-and-tr" class="linktitle">SysadminCasts #36</a>
<span class="duration">(4m)</span>
</td><td class="date">
sep 1
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
CLI Monday: column and tr.
</td></tr>

<tr><td>
<a href="http://www.atozcss.com/the-required-pseudo-class/" class="linktitle">AtoZ CSS: Required</a>
<span class="duration">(5m)</span>
</td><td class="date">
sep 2
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Using :required and other state-based pseudo classes.
</td></tr>

</table>

<h3>Listen</h3>
<div class="baseline">What could be heard last week ..</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://podcasts.thoughtbot.com/giantrobots/114" class="linktitle">Giant robots #114</a>
<span class="duration">(25m)</span>
</td><td class="date">
sep 1
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Offer Value First (Ryan Delk).
</td></tr>

<tr><td>
<a href="http://blog.codepen.io/2014/09/02/021-planning/" class="linktitle">CodePen 21</a>
<span class="duration">(36m)</span>
</td><td class="date">
sep 2
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Planning new features.
</td></tr>

<tr><td>
<a href="http://thewebplatform.libsyn.com/web-accessibility-for-javascript-components-and-custom-elements" class="linktitle">Web platform #9</a>
<span class="duration">(1h03)</span>
</td><td class="date">
sep 3
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Web Accessibility for JavaScript Components and Custom Elements.
</td></tr>

<tr><td>
<a href="http://rubyrogues.com/172-rr-extreme-deployment-with-badri-janakiraman-and-florian-motlik/" class="linktitle">Ruby Rogues 172</a>
<span class="duration">(1h16)</span>
</td><td class="date">
sep 3
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Extreme Deployment with Badri Janakiraman and Florian Motlik.
</td></tr>

<tr><td>
<a href="http://javascriptjabber.com/124-jsj-the-origin-of-javascript-with-brendan-eich/" class="linktitle">Javascript Jabber 124</a>
<span class="duration">(1h44)</span>
</td><td class="date">
sep 3
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
The Origin of Javascript with Brendan Eich.
</td></tr>

<tr><td>
<a href="http://5by5.tv/rubyonrails/166" class="linktitle">Ruby on Rails Podcast 166</a>
<span class="duration">(59m)</span>
</td><td class="date">
sep 4
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Tom & Nick Mango - Rails Rumble 2014 Preview.
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/530-episode-493-september-5th-2014" class="linktitle">Ruby5 493</a>
<span class="duration">(6m)</span>
</td><td class="date">
sep 5
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
TimeWithZone, descriptive_statistics, ActiveJob and GlobalID, Paperdragon, English operators.
</td></tr>

<tr><td>
<a href="http://devopscafe.org/show/2014/9/5/devops-cafe-episode-54-gene-kim.html" class="linktitle">DevOps Cafe 54</a>
<span class="duration">(47m)</span>
</td><td class="date">
sep 5
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Gene Kim, DevOps in the Enterprise.
</td></tr>

<tr><td>
<a href="http://www.thecloudcast.net/2014/09/the-cloudcast-160-state-of-cloudcast.html" class="linktitle">The Cloudcast #160</a>
<span class="duration">(46m)</span>
</td><td class="date">
sep 5
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
The State of The Cloudcast - MidYear 2014.
</td></tr>

<tr><td>
<a href="http://nodeup.com/seventyone" class="linktitle">Node Up 71</a>
<span class="duration">(1h19)</span>
</td><td class="date">
sep 5
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
a team netflix show.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by mose (editor), xenor (informer).</i>

</div>



</div>
</div>
