<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#224 - may 21st 2017</h1>
</div>
<div id="templateBody">



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://chackathon.com/" class="linktitle">Chackathon</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Scroll and reveal effect with elegant.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://mavo.io/" class="linktitle">Mavo</a>

</td><td class="date">

<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Turns HTML into a featureful web application.
</td></tr>

<tr><td>
<a href="https://kolide.co/" class="linktitle">Kolide</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Make all infrastructure services like a queryable database.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/AaronLasseigne/polyfill" class="linktitle">Polyfill</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Polyfill implements newer Ruby features into older versions.
</td></tr>

<tr><td>
<a href="https://github.com/tholman/obnoxious.css" class="linktitle">Obnoxious.css</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Animations for the strong of heart, and weak of mind.
</td></tr>

<tr><td>
<a href="https://github.com/openlink/structured-data-sniffer" class="linktitle">Structured-data-sniffer</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A plugin for Chrome, Firefox and Opera browsers that detects and shows structured data embedded in web pages.
</td></tr>

<tr><td>
<a href="https://github.com/pawandubey/cuckoo_filter" class="linktitle">Cuckoo_filter</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Pure Ruby cuckoo filter implementation.
</td></tr>

<tr><td>
<a href="https://github.com/GoogleChrome/workbox" class="linktitle">Workbox</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A collection of JavaScript libraries for progressive web apps.
</td></tr>

<tr><td>
<a href="https://github.com/gmattie/Data-Pixels" class="linktitle">Data-Pixels</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Create pixel art programmatically.
</td></tr>

<tr><td>
<a href="https://github.com/ghosh/microtip" class="linktitle">Microtip</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Css only lightweight tooltip library.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.sinatrarb.com/2017/05/15/sinatra-two-point-oh.html" class="linktitle">SINATRA TWO POINT OH!</a>

</td><td class="date">
may 15
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Major feature include compatibility with Rails 5.
</td></tr>

<tr><td>
<a href="https://codeascraft.com/2017/05/15/how-etsy-ships-apps/" class="linktitle">How Etsy Ships Apps</a>

</td><td class="date">
may 15
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Deploying code should be easy. It should happen often, and it should involve its engineers.
</td></tr>

<tr><td>
<a href="https://evilmartians.com/chronicles/fighting-the-hydra-of-n-plus-one-queries" class="linktitle">Fighting the Hydra of N+1 queries</a>

</td><td class="date">
may 15
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
We should prevent N+1 from the very beginning in our application’s test coverage.
</td></tr>

<tr><td>
<a href="http://schneems.com/2017/05/17/ruby-backend-performance-getting-started-guide/" class="linktitle">Ruby Backend Performance Getting Started Guide</a>

</td><td class="date">
may 17
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Always benchmarking.
</td></tr>

<tr><td>
<a href="https://css-tricks.com/user-facing-state/" class="linktitle">User Facing State</a>

</td><td class="date">
may 19
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
All dynamic components of an application have a default user-facing state, and that state needs to be stored and updated as users interact with these components.
</td></tr>

<tr><td>
<a href="https://blog.cognitohq.com/five-pry-features-every-ruby-developer-should-know/" class="linktitle">5 Pry Features Every Ruby Developer Should Know</a>

</td><td class="date">
may 20
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Pry is much more than a tool for setting a breakpoint though. It is a great tool for exploring code interactively.
</td></tr>

<tr><td>
<a href="http://rubyblog.pro/2017/05/solid-single-responsibility-principle-by-example" class="linktitle">[S]OLID - Single Responsibility Principle by example</a>

</td><td class="date">
may 20
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
The general idea here is to have 3 reusable classes instead of 1 class with 4 responsibilities.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by xenor (publisher), tysliu (editors)
.</i>

</div>



</div>
</div>
