<div id="templateContainer">
<div id="templateHeader">
<h1>#019 - jun 16th 2013</div>
</div>
<div id="templateBody">
<div>
	<div class="baseline">
	<h2>Edito</h2>
	There is so much noise about iOs7, it's hard to avoid referring to it a bit. But hopefully there is other news, like the new <a href="http://www.ruby-lang.org/en/news/2013/06/12/new-ruby-lang-org-released/">Ruby-lang</a> website, now collaborative via github.
<br>
<br>
<em>&nbsp; mose - the green ruby editor</em><br>
<em>&nbsp;

	xenor - the informer

</em><br>
&nbsp; <a href="http://greenruby.org" target="_self">http://greenruby.org</a>
<br>
</div>


<h3>Use</h3>
<div class="baseline">Web applications and tools, available for making our life easier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="http://www.google.com/trends/hottrends/visualize?nrow=5&ncol=5" class="linktitle">Google Trends</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Realtime animated display of search keywords on google.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://bradfrostweb.com/blog/post/atomic-web-design/" class="linktitle">Atomic design</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/html5.png" height="18" width="18" align="right" alt="html5" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				A component approach to web design.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://www.masswerk.at/404" class="linktitle">Space invader 404</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Just put some vintage game on your 404 page.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://www.google.com/loon/" class="linktitle">Loon</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				The google project involving internet access by the way of balloons.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://unicode-table.com/en/" class="linktitle">Unicode table</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				The table of unicode characters.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://dpi.lv/" class="linktitle">DPI love</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				A table to calculate the ppi/dpi conversion for all screen sizes.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://tympanus.net/Development/CreativeButtons/" class="linktitle">Creative Button Styles</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				A list of button effects in the flat kind of flavor.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://www.easel.ly" class="linktitle">Easel.ly</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				A creative design builder online in beta stage.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://www.easel.io" class="linktitle">Easel.io</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Another online page builder that is not to be confused with the previous one.
			</td>
		</tr>
	
</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="http://weblog.rubyonrails.org/2013/6/11/Rails-4-0-release-candidate-2/" class="linktitle">Rails 4.0.0-rc2</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Another step towards a final version next weekend (if this rc is good enough).
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://ruboto.org/2013/06/09/Ruboto-0.13.0-release-doc.html" class="linktitle">Ruboto</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Version 0.13.0 of this ruby mobile environment for android.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://andismith.github.io/caniuse-widget/" class="linktitle">Can I Use this widget</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/html5.png" height="18" width="18" align="right" alt="html5" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Mostly for technical writers, this widget enables displaying information from caniuse.com.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://github.com/sindresorhus/GitHub-Notifier" class="linktitle">Github notifier</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Browser extension that displays your GitHub notifications unread count.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://conditionerjs.com/" class="linktitle">Conditioner</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				A javascript library for loading and unloading behavior based on environment conditions.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://bgrins.github.io/devtools-snippets/" class="linktitle">DevTools Snippets</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Dev snippets for chrome and firefox.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://github.com/eric1234/gist-dep" class="linktitle">Gist-dep</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				A tool to make it easy to share snippets of code between projects and developers.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://fontawesome.io/" class="linktitle">Fontawesome</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				This icon-font ships version 3.2.0 with 50 more icons.
			</td>
		</tr>
	
</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="http://www.stucox.com/blog/using-webp-with-modernizr/" class="linktitle">Using WebP with Modernizr</a>
				
			</td>
			<td class="date">
				jun 5
				
					
						<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				A use case of very good use of Modernizr js lib for delivering lighter images.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://christianheilmann.com/2013/06/10/irregular-shape-rollovers-with-canvas-and-png/" class="linktitle">Irregular shape rollovers with Canvas and PNG</a>
				
			</td>
			<td class="date">
				jun 10
				
					
						<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				The upgrade in twitter api was announced a while ago and is now effective.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://dev.twitter.com/blog/api-v1-is-retired" class="linktitle">Twitter API v1 Retirement is Complete</a>
				
			</td>
			<td class="date">
				jun 11
				
					
						<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				The upgrade in twitter api was announced a while ago and is now effective.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://blog.mengto.com/ios-7-transition-flat/" class="linktitle">iOS 7 And The Transition To Flat</a>
				
			</td>
			<td class="date">
				jun 11
				
					
						<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				A moderate analysis of the new iOS design, that disappointed so many.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://adioso.com/blog/2013/06/responsifying-adioso/" class="linktitle">Yes, you really can make complex webapps responsive</a>
				
			</td>
			<td class="date">
				jun 12
				
					
						<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				A showcase of using zurb foundation for responsive design css.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://www.jstorimer.com/blogs/workingwithcode/8085491-nobody-understands-the-gil" class="linktitle">Nobody understands the GIL (1)</a>
				
			</td>
			<td class="date">
				jun 12
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Part 1 of a deep exploration of ruby Global Interpreter Lock.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="rubysource.com/interviewing-rogues-james-edward-gray-ii/" class="linktitle">Interviewing Rogues – James Edward Gray II</a>
				
			</td>
			<td class="date">
				jun 13
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				In the serie of interviews of the Rogues, now it's JEG2 turn.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://www.jstorimer.com/blogs/workingwithcode/8100871-nobody-understands-the-gil-part-2-implementation" class="linktitle">Nobody understands the GIL (2)</a>
				
			</td>
			<td class="date">
				jun 14
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Part 2 about the GIL, implementation details.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://viget.com/inspire/making-infield-form-labels-suck-less" class="linktitle">Making Infield Form Labels Suck Less</a>
				
			</td>
			<td class="date">
				jun 14
				
					
						<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				An alternative for labeling in html forms.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://robots.thoughtbot.com/post/53022241323/seamlessly-navigate-vim-and-tmux-splits" class="linktitle">Seamlessly Navigate Vim and tmux Splits</a>
				
			</td>
			<td class="date">
				jun 15
				
					
						<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Those tips are going in the current trend about remote pair-programming.
			</td>
		</tr>
	
</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="https://www.youtube.com/watch?v=S9sktFzL3tQ" class="linktitle">Wait, Chrome DevTools can do THAT?</a>
				<span class="duration">(45m)</span>
			</td>
			<td class="date">
				jun 7
				
					
						<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Plenty of tricks about chrome devtools.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://gist.github.com/yhara/5705717" class="linktitle">RubyKaigi videos</a>
				
			</td>
			<td class="date">
				jun 10
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				A list of all talks from rubykeigi with links to videos and slides.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://www.railsonmaui.com/blog/2013/06/11/emberjs-rails4-tutorial/" class="linktitle">Ember.js Tutorial With Rails 4</a>
				<span class="duration">(42m)</span>
			</td>
			<td class="date">
				jun 11
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				This post covers setting up Rails4 as the persistence engine.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://developers.google.com/live/shows/779042419" class="linktitle">webpagetest.org : Waterfall Antipatterns</a>
				<span class="duration">(50m)</span>
			</td>
			<td class="date">
				jun 13
				
					
						<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Review of major features of webpagetest.org and focus on the waterfall graph.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://www.youtube.com/watch?v=pocsv39pNXA" class="linktitle">Content Security Policy </a>
				<span class="duration">(33m)</span>
			</td>
			<td class="date">
				jun 14
				
					
						<img class="icon" src="ico/html5.png" height="18" width="18" align="right" alt="html5" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				A new feature in browsers for addressing the XSS problem.
			</td>
		</tr>
	
</table>

<h3>Listen</h3>
<div class="baseline">What could be heard last week ..</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="http://episodes.gitminutes.com/2013/06/gitminutes-12-git-merge-2013-part-4.html" class="linktitle">Git Minutes #12</a>
				<span class="duration">(51m)</span>
			</td>
			<td class="date">
				jun 10
				
					
						<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				The last episode of this git podcast for now, still at gitmerge conf.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://learn.thoughtbot.com/podcast/52" class="linktitle">Giant robots 52</a>
				<span class="duration">(1h)</span>
			</td>
			<td class="date">
				jun 10
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Ben discusses with Tenderlove and Joe Ferris. Pretty lively.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://ruby5.envylabs.com/episodes/413-episode-377-june-11th-2013" class="linktitle">Ruby5 377</a>
				<span class="duration">(5m)</span>
			</td>
			<td class="date">
				jun 11
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				rubygems paranoia, scopes, rubberband flamethrower, stripe, git pairing.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://rubyrogues.com/109-rr-extreme-programming-with-will-read/" class="linktitle">RubyRogues 109</a>
				<span class="duration">(57m)</span>
			</td>
			<td class="date">
				jun 12
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Extreme programming with Will Read, and its differences with Scrum.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://5by5.tv/changelog/93" class="linktitle">The Changelog 93</a>
				<span class="duration">(1h15)</span>
			</td>
			<td class="date">
				jun 12
				
					
						<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Sass, Bourbon and Product Design with Phil LaPier.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://ruby5.envylabs.com/episodes/414-episode-378-june-14th-2013" class="linktitle">Ruby5 378</a>
				<span class="duration">(5m)</span>
			</td>
			<td class="date">
				jun 14
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				ror4 rc2, the gil, fontawesome, string inquirer, dist-dep, rubynation.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://javascriptjabber.com/063-jsj-burnout/" class="linktitle">Javascript Jabber 062</a>
				<span class="duration">(48m)</span>
			</td>
			<td class="date">
				jun 14
				
					
						<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Group therapy for depressing geeks in a podcast. Nothing about js.
			</td>
		</tr>
	
</table>

</div>
</div>
