<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#215 - mar 19th 2017</h1>
</div>
<div id="templateBody">



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.shantellmartin.art/" class="linktitle">Shantell Martin</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Interesting cover design with nice hover effect.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://weekly.monitoring.love/" class="linktitle">Monitor weekly</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
A new newsletter for devops.
</td></tr>

<tr><td>
<a href="http://codepicnic.com" class="linktitle">CodePicnic</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Easily create a real-time sandbox with embaded console in browser.
</td></tr>

<tr><td>
<a href="https://recast.ai" class="linktitle">Recast.AI</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A collaborative bot platform that can train and build bots.
</td></tr>

<tr><td>
<a href="https://opensource.guide/" class="linktitle">Open Source Guides</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Learn how to launch and grow an open-source project.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/huacnlee/rucaptcha" class="linktitle">RuCaptcha</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
This is a Captcha gem for Rails Applications. It drawing captcha image with C code.
</td></tr>

<tr><td>
<a href="https://github.com/janlelis/characteristics" class="linktitle">Characteristics</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A Ruby library which provides some basic information about how characters behave in different encodings.
</td></tr>

<tr><td>
<a href="https://www.ubuntu.com/containers/lxd" class="linktitle">LXD</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Another type of Linux hypervisor, that looks like a container system.
</td></tr>

<tr><td>
<a href="https://github.com/manuelmorales/little-boxes" class="linktitle">Little-boxes</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Dependency injection framework.
</td></tr>

<tr><td>
<a href="https://github.com/shiroyasha/kamisama" class="linktitle">Kamisama</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Start, monitor, and observe background worker processes.
</td></tr>

<tr><td>
<a href="https://github.com/vizvamitra/patme" class="linktitle">Patme</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Elixir-style pattern matching for ruby methods.
</td></tr>

<tr><td>
<a href="https://github.com/ioquatix/rack-freeze" class="linktitle">Rack-freeze</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A policy framework for implementing thread-safe rack middleware.
</td></tr>

<tr><td>
<a href="https://github.com/janlelis/unibits" class="linktitle">Unibits</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Visualize different Unicode encodings in the terminal.
</td></tr>

<tr><td>
<a href="https://buckbuild.com/" class="linktitle">Buck</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
A build system developed and used by Facebook.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://www.cevo.com.au/culture/2017/03/12/four-values-of-devops.html" class="linktitle">The 4 values of a devops transformation</a>

</td><td class="date">
mar 12
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Work lean, embrace failure, automate everything and demand diversity.
</td></tr>

<tr><td>
<a href="http://schneems.com/2017/03/13/puma-ports-and-polish/" class="linktitle">Puma, Ports, and Polish</a>

</td><td class="date">
mar 13
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Polish is what distinguishes good software from great software.
</td></tr>

<tr><td>
<a href="https://segment.com/blog/the-million-dollar-eng-problem/" class="linktitle">The million dollar engineering problem</a>

</td><td class="date">
mar 14
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
The cost of microservices infrastructure and the terraform solution.
</td></tr>

<tr><td>
<a href="https://www.twilio.com/blog/2017/03/google-spreadsheets-ruby.html" class="linktitle">Google Spreadsheets and Ruby</a>

</td><td class="date">
mar 14
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Using google_drive to interact with Google spreadsheets.
</td></tr>

<tr><td>
<a href="https://scotch.io/bar-talk/five-things-you-can-use-in-es6-today" class="linktitle">5 Features You Can Use in ES6 Today</a>

</td><td class="date">
mar 15
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Five features that will make your Javascript code better right now.
</td></tr>

<tr><td>
<a href="http://venturebeat.com/2017/03/15/gitlab-acquires-software-chat-startup-gitter-will-open-source-the-code/" class="linktitle">GitLab acquires software chat startup Gitter, will open-source the code</a>

</td><td class="date">
mar 15
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Quite a bold move, Gitlab funding is getting serious.
</td></tr>

<tr><td>
<a href="https://medium.com/@strangeworks/bots-on-rails-part-two-building-conversational-flow-db096f6eceac" class="linktitle">Bots on Rails. Part two, building conversational flow</a>

</td><td class="date">
mar 17
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Step-by-step guide on setting up a bot on Facbook.
</td></tr>

<tr><td>
<a href="http://pixelatedworks.com/articles/embracing-change-rails51-adopts-yarn-webpack-and-the-js-ecosystem/" class="linktitle">Embracing Change: Rails 5.1 Adopts Yarn, Webpack, and the JS Ecosystem</a>

</td><td class="date">
mar 17
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
What the Rails team has been doing to ensure Rails remains competitive in the web framework space.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by xenor (publisher), tysliu, mose (editors), 
Nauman Tariq (contributors)
.</i>

</div>



</div>
</div>
