<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#017 - jun 2nd 2013</h1>
</div>
<div id="templateBody">

<div>
<div class="baseline">
<h2>Edito</h2>
Last week there was a lot of activity with conferences with rubykaigi, fluentconf, jsconf. There are many videos to catch up with.
<br>
</div>
</div>



<h3>Listen</h3>
<div class="baseline">What could be heard last week ..</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://episodes.gitminutes.com/2013/05/gitminutes-10-git-merge-2013-part-2.html" class="linktitle">Git Minutes #10</a>
<span class="duration">(44m)</span>
</td><td class="date">
may 27
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Recording in the Git Merge conference in Berlin with various Git Heroes, part 2.
</td></tr>

<tr><td>
<a href="http://learn.thoughtbot.com/podcast/50" class="linktitle">Giant robots 50</a>
<span class="duration">(43m)</span>
</td><td class="date">
may 27
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Interview with Jeff Casimir and Katrina Owen talking about conferences, learning and stuff.
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/377-episode-373-may-28th-2013" class="linktitle">Ruby5 373</a>
<span class="duration">(5m)</span>
</td><td class="date">
may 28
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Railsconf, attrio, rubylearning, Gogaruco, extensible browsers.
</td></tr>

<tr><td>
<a href="http://rubyrogues.com/107-rr-impostor-syndrome-with-tim-chevalier/" class="linktitle">RubyRogues 107</a>
<span class="duration">(1h13)</span>
</td><td class="date">
may 29
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Impostor Syndrome with Tim Chevalier. Group therapy session at the rogues.
</td></tr>

<tr><td>
<a href="http://5by5.tv/changelog/91" class="linktitle">The Changelog 91</a>
<span class="duration">(1h)</span>
</td><td class="date">
may 29
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Discover Meteor.js with Sacha Greif.
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/378-episode-374-may-31st-2013" class="linktitle">Ruby5 374</a>
<span class="duration">(6m)</span>
</td><td class="date">
may 31
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Rspec, version cake, Amazon oauth, Sass, naught.
</td></tr>

<tr><td>
<a href="http://javascriptjabber.com/061-jsj-functional-reactive-programming-with-juha-paananen-and-joe-fiorini/" class="linktitle">Javascript Jabber 061</a>
<span class="duration">(49m)</span>
</td><td class="date">
may 31
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Functional Reactive Programming with Juha Paananen and Joe Fiorini. FRP everywhere!
</td></tr>

</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://fluentconf.com/fluent2013/public/content/video" class="linktitle">FluentConf</a>
<span class="duration">(16 videos)</span>
</td><td class="date">
may 30
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Videos of the talks given during fluentconf by O'Reilly.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://joelhooks.com/blog/2013/05/22/lessons-learned-kicking-off-an-angularjs-project/" class="linktitle">A Year with a Large AngularJS Project</a>

</td><td class="date">
may 22
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Lessons learned after a year of using Angluar.js.
</td></tr>

<tr><td>
<a href="http://net.tutsplus.com/tutorials/javascript-ajax/cargo-culting-in-javascript/" class="linktitle">Cargo-Culting in JavaScript</a>

</td><td class="date">
may 24
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Guidelines to detect cargo-cult, or newbie errors in js code.
</td></tr>

<tr><td>
<a href="http://net.tutsplus.com/articles/interviews/master-developers-christian-heilmann/" class="linktitle">Master Developers: Christian Heilmann</a>

</td><td class="date">
may 26
<img class="icon" src="ico/html5.png" height="18" width="18" align="right" alt="html5" />
</td></tr>
<tr><td colspan="2" class="comment">
Interview with @codepo8, a big HTML5 evangelist.
</td></tr>

<tr><td>
<a href="http://arstechnica.com/security/2013/05/critical-ruby-on-rails-bug-exploited-in-wild-hacked-servers-join-botnet/" class="linktitle">Ruby on Rails bug exploited in wild</a>

</td><td class="date">
may 29
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Critical Ruby on Rails bug exploited, hacked servers join botnet. If you didn't upgrade, do it now!
</td></tr>

<tr><td>
<a href="http://css-tricks.com/sass-style-guide/" class="linktitle">SASS Style Guide</a>

</td><td class="date">
may 29
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
This style guide is a way to discover some good practice for your SASS stylesheets.
</td></tr>

<tr><td>
<a href="http://mobile.smashingmagazine.com/2013/05/29/the-state-of-responsive-web-design/" class="linktitle">The State Of Responsive Web Design</a>

</td><td class="date">
may 29
<img class="icon" src="ico/mobile.png" height="18" width="18" align="right" alt="mobile" />
</td></tr>
<tr><td colspan="2" class="comment">
A pretty exhaustive list of details involved in web responsive design.
</td></tr>

<tr><td>
<a href="http://blog.tojicode.com/2013/05/how-blink-has-affected-webgl.html" class="linktitle">How Blink has affected WebGL</a>

</td><td class="date">
may 29
<img class="icon" src="ico/html5.png" height="18" width="18" align="right" alt="html5" />
</td></tr>
<tr><td colspan="2" class="comment">
Some explanation of what blink is going to change on the webGL front.
</td></tr>

<tr><td>
<a href="http://robots.thoughtbot.com/post/50091183897/fast-json-apis-in-rails-with-key-based-caches-and" class="linktitle">Fast JSON APIs in Rails</a>

</td><td class="date">
may 30
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Review on how to use ActiveModel::Serializers and partial object caching to speed up json api.
</td></tr>

<tr><td>
<a href="http://blogs.atlassian.com/2013/05/highlights-git-1-8-3/" class="linktitle">What You Need To Know About The New Git 1.8.3</a>

</td><td class="date">
may 30
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Some new features in the last git version.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://blog.phusion.nl/2013/05/29/phusion-passenger-4-0-5-released/" class="linktitle">Passenger</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
This 4.0.5 is a security release. Time to upgrade.
</td></tr>

<tr><td>
<a href="http://blog-en.shingara.fr/errbit-0-dot-1-0.html" class="linktitle">Errbit</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Version 0.1.0, this project, a self-hosted kind of airbrake, is active but curiously was missing a release process. Now it's fixed!
</td></tr>

<tr><td>
<a href="http://dtao.github.io/lazy.js/" class="linktitle">Lazy.js</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Like underscore, but lazier (about its evaluation of course).
</td></tr>

<tr><td>
<a href="http://purecss.io/" class="linktitle">Pure CSS</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
A set of small, responsive CSS modules, also has rails gems. But based on YUI (hmm).
</td></tr>

<tr><td>
<a href="http://montagejs.org/" class="linktitle">Montage</a>

</td><td class="date">

<img class="icon" src="ico/html5.png" height="18" width="18" align="right" alt="html5" />
</td></tr>
<tr><td colspan="2" class="comment">
An HTML5 framework for building modern Web Apps.
</td></tr>

<tr><td>
<a href="https://github.com/jsoverson/plato" class="linktitle">Plato.js</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
JavaScript source code visualization, static analysis, and complexity tool.
</td></tr>

<tr><td>
<a href="http://madeye.io/get-started" class="linktitle">Madeye</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Remote pair programming made easy.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications and tools, available for making our life easier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://uptodate.frontendrescue.org/" class="linktitle">Git Together</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
List of resources to follow to get on the edge of the web.
</td></tr>

<tr><td>
<a href="http://veerle.duoh.com/inspiration" class="linktitle">The inspiration stream</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Stream of selected design for inspiration or wandering.
</td></tr>

<tr><td>
<a href="http://www.webfonts.info" class="linktitle">WebFonts</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
A website dedicated to webfonts, with examples and articles, can help making some font choices.
</td></tr>

<tr><td>
<a href="http://www.videry.me/" class="linktitle">Videry</a>

</td><td class="date">

<img class="icon" src="ico/html5.png" height="18" width="18" align="right" alt="html5" />
</td></tr>
<tr><td colspan="2" class="comment">
Curated Videos for Web Designers, pretty neat.
</td></tr>

<tr><td>
<a href="http://colourco.de/" class="linktitle">Colourco.de</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
A simple color exploration page.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by mose (editor), xenor (informer).</i>

</div>



</div>
</div>
