<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#226 - jun 4th 2017</h1>
</div>
<div id="templateBody">

<div>
<div class="baseline">
<h2>Edito</h2>
<h2>The end</h2>
<p></p>
<h4>GreenRuby weekly newsletter ceases to exist.<br> No more email will be sent.<br> No more update will be made.</h4>
<p><br></p>
<p>After 4 years of relentless gathering of links, we have to come to this painful decision to quit. Few months ago, I got distracted, and Xenor stepped up to manage the publication. But now he's in a transition too and it's time for us to take a decision.</p>
<p>It's been a blast. Thank you all for your support. Now let's move on. There is going to be more adventures down the road.</p>
<p>After this email is sent, the whole list of subscribers will be deleted, so we won't have any ways to reach you anymore. Feel free to reach us at news@greenruby.org</p>
<p>You can still reach the archives of the past newsletters on <a href="http://greenruby.org">http://greenruby.org</a></p>
<p><br></p>
<p>mose</p> 
<br>
</div>
</div>




<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by mose (publisher), xenor, tysliu (editors), 
 (contributors)
.</i>

</div>



</div>
</div>
