<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#151 - dec 27th 2015</h1>
</div>
<div id="templateBody">



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.oursroux.com/" class="linktitle">Benjamin Guedj portfolio</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
A french designer fullpage portfolio, very graphic.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://johnpolacek.github.io/expressive-css/" class="linktitle">Expressive CSS</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
An approach to writing lightweight, scalable CSS.
</td></tr>

<tr><td>
<a href="https://css-cursor.techstream.org/" class="linktitle">CSS Cursor</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
This small web app helps you to choose cursor type from the showcase for use in your application.
</td></tr>

<tr><td>
<a href="http://slackarchive.io/" class="linktitle">SlackArchive.io</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Public chat archive for Slack.
</td></tr>

<tr><td>
<a href="https://dbheroapp.com/gui-database-client-for-mysql-postgresql-mac-osx" class="linktitle">dbHero</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
GUI for PostgreSQL & MySQL.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://www.ruby-lang.org/en/news/2015/12/25/ruby-2-3-0-released/" class="linktitle">Ruby 2.3.0 Released</a>

</td><td class="date">
dec 25
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Bunch of new features in that new release. Happy Christmas.
</td></tr>

<tr><td>
<a href="https://github.com/tj/terminal-table" class="linktitle">Terminal-table</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Ruby ASCII Table Generator, simple and feature rich.
</td></tr>

<tr><td>
<a href="https://github.com/samg/diffy" class="linktitle">Diffy</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Easy Diffing in Ruby.
</td></tr>

<tr><td>
<a href="https://github.com/thoughtbot/pester" class="linktitle">Pester</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Automatically ask for a PR review on slack.
</td></tr>

<tr><td>
<a href="https://github.com/krautcomputing/services" class="linktitle">Services</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A nifty service layer for your Rails app.
</td></tr>

<tr><td>
<a href="https://github.com/bglusman/debt_ceiling" class="linktitle">Debt_ceiling</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Get a grip on your technical debt.
</td></tr>

<tr><td>
<a href="https://github.com/Nguyenanh/fastgem" class="linktitle">Fastgem</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Command line color tool for search Ruby Gem faster
</td></tr>

<tr><td>
<a href="https://github.com/caskroom/homebrew-cask" class="linktitle">Homebrew-cask</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A CLI for the administration of Mac applications. Not new, but now it is included in Homebrew. Update yours.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://qz.com/522079/the-long-incredibly-tortuous-and-fascinating-process-of-creating-a-chinese-font/" class="linktitle">The long, incredibly tortuous, and fascinating process of creating a Chinese font</a>

</td><td class="date">
dec 18
<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Just you try designing 13,000-plus intricate character shapes that all have to balance one another.
</td></tr>

<tr><td>
<a href="http://blog.honeybadger.io/what-does-argv-mean-in-ruby/" class="linktitle">How does ARGV get set in Ruby?</a>

</td><td class="date">
dec 21
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Understand how ARGV works by jumping into MRI code.
</td></tr>

<tr><td>
<a href="http://vaidehijoshi.github.io/blog/2015/12/22/composing-microscopic-rails-views-with-cells/" class="linktitle">Composing Microscopic Rails Views With Cells</a>

</td><td class="date">
dec 22
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
How to use the Cells gem for powerful encapsulation.
</td></tr>

<tr><td>
<a href="https://infinum.co/the-capsized-eight/articles/multiline-strings-ruby-2-3-0-the-squiggly-heredoc" class="linktitle">Multiline strings in Ruby 2.3.0</a>

</td><td class="date">
dec 22
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Space indent when using heredoc can be used without breaking code's indentation in Ruby 2.3.0.
</td></tr>

<tr><td>
<a href="https://www.amberbit.com/blog/2015/12/22/when-choose-elixir-over-ruby-for-2016-projects/" class="linktitle">When to choose Elixir over Ruby for 2016 projects?</a>

</td><td class="date">
dec 22
<img class="icon" src="ico/el.png" height="18" width="18" align="right" alt="el" />
</td></tr>
<tr><td colspan="2" class="comment">
What are the criteria that may push you to use Elixir.
</td></tr>

<tr><td>
<a href="http://www.fullstackradio.com/32" class="linktitle">DHH - Building Basecamp 3 like a Porsche 911</a>

</td><td class="date">
dec 22
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
(podcast) in-depth talk about basecamp 3.
</td></tr>

<tr><td>
<a href="http://practicingdeveloper.com/2015/12/22/the-joy-of-a-collaborative-writing-process-practicing-ruby/" class="linktitle">The joy of a collaborative writing process</a>

</td><td class="date">
dec 22
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
There is so much value in active collaboration and the internet needs more of that.
</td></tr>

<tr><td>
<a href="https://robots.thoughtbot.com/email-confirmation-with-clearance" class="linktitle">Email confirmation with Clearance</a>

</td><td class="date">
dec 23
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
How to use clearance gem for email confirmations.
</td></tr>

<tr><td>
<a href="http://dev.mensfeld.pl/2015/12/upgrading-to-ruby-on-rails-5-0-from-rails-4-2-application-use-case/" class="linktitle">Upgrading to Ruby on Rails 5.0 from Rails 4.2</a>

</td><td class="date">
dec 24
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
If you have a decent code coverage level and you know what you’re doing, upgrade should not be a big problem.
</td></tr>

<tr><td>
<a href="https://evilmartians.com/chronicles/ruby-2_2-oom" class="linktitle">How Ruby 2.2 can cause an out-of-memory server crash</a>

</td><td class="date">
dec 24
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Some examples and patch for ruby 2.2's memory manage issue.
</td></tr>

<tr><td>
<a href="https://medium.com/@heidar/ruby-2-0-keyword-arguments-and-hook-messages-3f006f5c8f65#.fz13agyrf" class="linktitle">Ruby 2.0 keyword arguments and hook messages</a>

</td><td class="date">
dec 26
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A pretty neat pattern called hook messages.
</td></tr>

<tr><td>
<a href="https://css-tricks.com/flex-grow-is-weird/" class="linktitle">flex-grow is weird. Or is it?</a>

</td><td class="date">
dec 26
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
How flex-grow works, weird quirks and all.
</td></tr>

<tr><td>
<a href="https://medium.com/@heidar/switching-from-rbenv-to-postmodern-s-ruby-install-and-chruby-f0daa24b36e6#.82v4sxt3q" class="linktitle">Switching from rbenv to postmodern’s ruby-install and chruby</a>

</td><td class="date">
dec 27
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Switch over from rvm and rbenv to ruby-install and chruby.
</td></tr>

<tr><td>
<a href="http://blog.bigbinary.com/2015/12/28/application-record-in-rails-5.html" class="linktitle">ApplicationRecord in Rails 5</a>

</td><td class="date">
dec 28
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Rails 5 beta-1 was recently released and one of the notable change was introduction of ApplicationRecord.
</td></tr>

</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.sitepoint.com/watch-controller-testing-with-ruby/" class="linktitle">Controller Testing with Ruby</a>
<span class="duration">(12m)</span>
</td><td class="date">
dec 22
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
How to write controller specs and isolate them from other parts of your application with the help of mocks and stubs.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by mose (publisher), xenor (editors)
, Nauman Tariq, hsatac (contributors)
.</i>

</div>


<div id="rant">
<h3>Rant</h3>

<div class="baseline"><i>The random rant of the week by mose.</i></div>
<h4>Happy end of 2015</h4>

<p>Take good time, use the calendar rotation as a pretext to have good resolutions, get wasted like if you were a teenager (wait, what? we all are teenagers here?), or do whatever makes you happy if like me you prefer to remain sober. See you in 2016.</p>

<h4>SlackCast 2016</h4>

<p>We had a lot of discussion with Nauman Tariq about how to make slack usage more lively, more useful, and such things. We worked together on a concept of event that we want to try next weekend. It will happen next Saturday (Jan 2nd) around 23:00 UTC (more or less 4 hours). If you want to participate, please shoot me an <a href="mailto:mose@greenruby.org">email</a>, and we'll give you the precise time when we know it, plus the how-to-join-in. It will be a first time, it won't be perfect, but it will be a lot of fun.</p>

<p>Read more about it on the <a href="https://slack-files.com/T05052K3Q-F0FSX2GHG-3330dc8ef1">SlackCast manifesto</a>. You also can join <a href="http://www.rubyonrails.link/">rubyonrails.link</a>, that's where it will happen.</p>

</div>


</div>
</div>
