<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#197 - nov 13th 2016</h1>
</div>
<div id="templateBody">



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://circlesconference.com" class="linktitle">Circles Conference</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Circles is a creative design conference where designers can learn from world-changing thinkers and innovators for the creative community.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://2016.rubyconf.tw/" class="linktitle">RubyConf Taiwan 2016</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
As usual Matz will be there.
</td></tr>

<tr><td>
<a href="https://snyk.io/" class="linktitle">Snyk</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Fix/Alert known vulnerabilities in Node.js and Ruby apps on Github.
</td></tr>

<tr><td>
<a href="https://devfreebooks.github.io/" class="linktitle">DevFreeBooks</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A collection of free books for developers
</td></tr>

<tr><td>
<a href="https://github.com/dhamaniasad/HeadlessBrowsers" class="linktitle">HeadlessBrowsers</a>

</td><td class="date">

<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
A list of (almost) all headless web browsers in existence.
</td></tr>

<tr><td>
<a href="https://submit.co/" class="linktitle">Submit.co</a>

</td><td class="date">

<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Where to get press coverage for your startup: list of websites.
</td></tr>

<tr><td>
<a href="http://www.vocalizer.io/" class="linktitle">Vocalizer</a>

</td><td class="date">

<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Vocalizer is a web accessibility tool for people with difficult to pronounce names.
</td></tr>

<tr><td>
<a href="https://www.hyper.sh/" class="linktitle">Hyper.sh</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Deploy your container apps in 5 sec!
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/bitboxer/manpages" class="linktitle">manpages</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Add man pages support to ruby gems.
</td></tr>

<tr><td>
<a href="https://github.com/CISOfy/lynis" class="linktitle">Lynis</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Security auditing tool for Linux, macOS, and UNIX-based systems.
</td></tr>

<tr><td>
<a href="http://rackhd.readthedocs.io/en/latest/" class="linktitle">RackHD</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Stack for enabling automated hardware management and orchestration through cohesive APIs.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://blog.codeship.com/microservice-communication-queues/" class="linktitle">Microservice Communication with Queues</a>

</td><td class="date">
nov 9
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Microservices work together by communicating messages back and forth so that they can accomplish the larger task.
</td></tr>

<tr><td>
<a href="https://www.ruby-lang.org/en/news/2016/11/09/ruby-2-4-0-preview3-released/" class="linktitle">Ruby 2.4.0-preview3 Released</a>

</td><td class="date">
nov 9
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Various performance improvements.
</td></tr>

<tr><td>
<a href="https://medium.com/geckoboard-under-the-hood/how-to-build-a-network-stack-in-ruby-f73aeb1b661b" class="linktitle">How to build a network stack in Ruby</a>

</td><td class="date">
nov 10
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Learning about sockets, datagrams, bit-twiddling and more.
</td></tr>

<tr><td>
<a href="https://www.sitepoint.com/7-design-patterns-to-refactor-mvc-components-in-rails/" class="linktitle">7 Design Patterns to Refactor MVC Components in Rails</a>

</td><td class="date">
nov 10
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Refactoring patterns with examples.
</td></tr>

<tr><td>
<a href="https://blog.heroku.com/ruby-3-by-3/" class="linktitle">Ruby 3x3: Matz, Koichi, and Tenderlove on the future of Ruby Performance</a>

</td><td class="date">
nov 10
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
An interview with Matz and Tenderlove on Ruby 3.
</td></tr>

<tr><td>
<a href="http://blog.bigbinary.com/2016/11/10/ruby-2-4-adds-better-support-for-extracting-captured-data-from-regexp-match-results.html" class="linktitle">Ruby 2.4 and captured data from Regexp match results</a>

</td><td class="date">
nov 10
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Ruby 2.4 adds support for extracting named captures and positional capture groups from Regexp match results
</td></tr>

<tr><td>
<a href="https://css-tricks.com/the-power-of-rgba/" class="linktitle">The Power of the rgba() Color Function in CSS</a>

</td><td class="date">
nov 10
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Ability to do color manipulations right in the browser.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by mose (publisher), xenor, tysliu (editors), 
mose (contributors)
.</i>

</div>


<div id="rant">
<h3>Rant</h3>

<div class="baseline"><i>The random rant of the week by mose.</i></div>
<h4>My lovely Chatbots, sick already?</h4>

<p>Recently I have been to a meetup about chatbots. I was expecting something technical. But it seems that I was totally mislead on what chatbots are. They are visibly now more of a marketing tool than just a cool piece of technology.</p>

<p>I'm pretty convinced that web interfaces are going to die slowly in favor of more conversational interfaces. But in past technology shift we had some time between appearance and marketability. Like with the web, the social networks, etc. No more. Chatbots are immediate slaves for sales volumes. All the blooming of new services for 'building your own bot' are just totally geared towards customers management and acquisition.</p>

<p>My naive assumption was that assistive conversational interface could have a larger scope. But well, the market is driven by what sells, and what sells is what make more sales. I just hope it will have a nice border effect to improve chatbots as a tool or as a general interface to access information.</p>

<p>But my instinct warns me against the potential invasion of our social world online by all sort of aggressive automated peddlers. The same way we get robotic phone calls. Chatbots are going to be the new color of spam?</p>

</div>


</div>
</div>
