<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#149 - dec 14th 2015</h1>
</div>
<div id="templateBody">



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.informationisbeautifulawards.com/news/116-2015-the-winners" class="linktitle">Best Visualizations 2015</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
The best and brightest of the data viz world in 2015.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://cloudcraft.co/" class="linktitle">Cloudcraft</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Visualize your cloud architecture like a pro.
</td></tr>

<tr><td>
<a href="https://github.com/oneuijs/You-Dont-Need-jQuery" class="linktitle">You-Dont-Need-jQuery</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Examples of how to do query, style, dom, ajax, event etc like jQuery with plain javascript.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/ruby-grape/grape" class="linktitle">grape</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
An opinionated micro-framework for creating REST-like APIs in Ruby.
</td></tr>

<tr><td>
<a href="https://github.com/dryrb/dry-validation" class="linktitle">dry-validation</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Data validation library based on predicate logic and rule composition
</td></tr>

<tr><td>
<a href="https://toshi.io/" class="linktitle">Toshi</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A full bitcoin node for building web applications.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://racksburg.com/choosing-an-http-status-code/" class="linktitle">Choosing an HTTP Status Code — Stop Making It Hard</a>

</td><td class="date">
dec 4
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Use right HTTP status code when design APIs.
</td></tr>

<tr><td>
<a href="http://nithinbekal.com/posts/ruby-2-3-features/" class="linktitle">What's new in Ruby 2.3?</a>

</td><td class="date">
dec 7
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Frozen strings, dig for Hash and Array, did_you_mean... and many more others.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/ios-and-android-programming-with-go/" class="linktitle">iOS and Android Programming with Go</a>

</td><td class="date">
dec 8
<img class="icon" src="ico/go.png" height="18" width="18" align="right" alt="go" />
</td></tr>
<tr><td colspan="2" class="comment">
Possibilities for native iOS and Android programming with Go.
</td></tr>

<tr><td>
<a href="https://robots.thoughtbot.com/data-migrations-in-rails" class="linktitle">Data Migrations in Rails</a>

</td><td class="date">
dec 8
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Use temp rake task instead of rails database migration as data migration.
</td></tr>

<tr><td>
<a href="http://blog.honeybadger.io/ruby-unix-command-line/" class="linktitle">Level Up Your Command-Line-Fu With Ruby</a>

</td><td class="date">
dec 8
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Using ruby as a swiss army knife to improve some comand-line tasks.
</td></tr>

<tr><td>
<a href="http://www.akitaonrails.com/2015/12/09/ex-pusher-lite-part-1-phoenix-channels-and-rails-apps" class="linktitle">Ex Pusher Lite - Part 1: Phoenix Channels and Rails apps</a>

</td><td class="date">
dec 9
<img class="icon" src="ico/el.png" height="18" width="18" align="right" alt="el" />
</td></tr>
<tr><td colspan="2" class="comment">
Part 1 of a series which moves rails app to phoenix.
</td></tr>

<tr><td>
<a href="http://lucaguidi.com/2015/12/09/25000-requests-per-second-for-rack-json-api-with-mruby.html" class="linktitle">25,000+ Req/s for Rack JSON API with MRuby</a>

</td><td class="date">
dec 9
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Performance comparison for a simple rack app between MRI ruby and mruby.
</td></tr>

<tr><td>
<a href="https://blog.codeship.com/speeding-up-bulk-imports-in-rails/" class="linktitle">Speeding Up Bulk Imports in Rails</a>

</td><td class="date">
dec 9
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Direct SQL calls is more efficient when dealing with buld imports.
</td></tr>

<tr><td>
<a href="http://craftingruby.com/posts/2015/12/09/rails-antipattern-fat-decorator.html" class="linktitle">Rails Anti-Pattern: Fat Decorator</a>

</td><td class="date">
dec 9
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Make single decoretor less envy by separate concerns into small decorators.
</td></tr>

<tr><td>
<a href="https://css-tricks.com/using-multi-step-animations-transitions/" class="linktitle">Using Multi-Step Animations and Transitions</a>

</td><td class="date">
dec 11
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Multi-step animations and transitions are fun little tricks we have at our disposal to create rich, dynamic movement in CSS.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/spice-up-your-slack-channel-with-hubot/" class="linktitle">How to Spice up Your Slack Channel with Hubot</a>

</td><td class="date">
dec 11
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Integrate Hubot to Slack in many ways.
</td></tr>

</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://confreaks.tv/events/dockerconeu2015" class="linktitle">DockerCon EU 2015</a>

</td><td class="date">
dec 8
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
DockerCon EU 2015 all presentations.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by mose (publisher), xenor, tysliu (editors)
, Nauman Tariq, hsatac (contributors)
.</i>

</div>


<div id="rant">
<h3>Rant</h3>

<div class="baseline"><i>The random rant of the week by xenor.</i></div>
<h4>Physical Health of Developers</h4>

<p>This is the first time for me to release the newsletter without our dear friend mose, who is currently in fever and need to take some days to recover. Recently I've been noticed that some developers including me suffering from small or big health issues.</p>

<p>The reason sometimes is obvious, when developer's mode is on, it sticks for hours without leaving our screen and keyboard. Even when taking a break, we are still on smaller screens or keyboards (tablet, mobile...etc). Our mind keeps running and sometimes physical requirements just seems unnecessary. So, after several stays up or absences of meals, it happened.</p>

<p>Am I going to suggest standing up and doing outdoor activities? Hell no! The desire of gathering and absorbing information is what makes us strong, our body is just the minimum support for our mind.</p>

<p>So what should we do? Well, eat, drink, rest, and grab a keyboard to type!</p>

</div>


</div>
</div>
