<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#154 - jan 17th 2016</h1>
</div>
<div id="templateBody">



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://thegreytales.net/en/" class="linktitle">The grey tailes</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Very interactive and graphical layout.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://rubyfu.net/" class="linktitle">RubyFu</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
(book) A book with ruby hacks and tricks.
</td></tr>

<tr><td>
<a href="http://remotespace.io" class="linktitle">Remotespace.io</a>

</td><td class="date">

<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Handpicked content about remote work.
</td></tr>

<tr><td>
<a href="http://www.shellcheck.net/" class="linktitle">ShellCheck</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Shell script static analyzer.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/mz026/hash_police" class="linktitle">Hash_police</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
To check whether given two hashes are of the same format.
</td></tr>

<tr><td>
<a href="https://github.com/thoughtbot/scenic" class="linktitle">Scenic</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Versioned database views for Rails.
</td></tr>

<tr><td>
<a href="https://github.com/somebee/imba" class="linktitle">Imba</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A new programming language for the web that compiles to performant and readable JavaScript.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://jakeyesbeck.com/2016/01/10/how-to-parallelize-ruby-http-requests/" class="linktitle">How To Parallelize Ruby HTTP Requests</a>

</td><td class="date">
jan 10
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Of a good usage of em-synchrony.
</td></tr>

<tr><td>
<a href="https://medium.com/@vincedevendra/enumerators-and-enumerable-in-ruby-d351dd9da875#.fswfuk2nu" class="linktitle">Enumerators and Enumerable Methods in Ruby</a>

</td><td class="date">
jan 11
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
One of the coolest features of Ruby is the Enumerable methods.
</td></tr>

<tr><td>
<a href="http://rorbservations.com/post/137089961739/recipe-to-store-capistranos-server-configs-in-yaml" class="linktitle">Capistrano Server Configs in YAML</a>

</td><td class="date">
jan 11
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Extract server-specific information from your Capistrano deployment files.
</td></tr>

<tr><td>
<a href="http://teotti.com/create-dependency-structures-with-local-ruby-gems/" class="linktitle">Create dependency structures with local Ruby Gems</a>

</td><td class="date">
jan 11
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Using a local gems dependency structure is complementary to good object oriented practices
</td></tr>

<tr><td>
<a href="http://blog.testdouble.com/posts/2016-01-12-debugging-dependencies-with-git-bisect.html" class="linktitle">Debugging gems with git bisect.</a>

</td><td class="date">
jan 12
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Bisecting is an oft-overlooked tool that's good to have in your arsenal
</td></tr>

<tr><td>
<a href="https://css-tricks.com/the-sass-ampersand/" class="linktitle">The Sass Ampersand</a>

</td><td class="date">
jan 12
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
A nice time-saver when you know how to use it, or a bit of a time-waster when you're struggling.
</td></tr>

<tr><td>
<a href="http://softwareengineeringdaily.com/2016/01/13/the-evolution-of-rails-with-david-heinemeier-hansson/" class="linktitle">The Evolution of Rails with David Heinemeier Hansson</a>

</td><td class="date">
jan 13
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A 1-houyr long audio interview with DHH.
</td></tr>

<tr><td>
<a href="http://6ftdan.com/allyourdev/2016/01/13/101-ruby-code-factoids/" class="linktitle">101 Ruby Code Factoids</a>

</td><td class="date">
jan 13
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A collection of Ruby tricks.
</td></tr>

<tr><td>
<a href="https://semaphoreci.com/community/tutorials/dockerizing-a-ruby-on-rails-application" class="linktitle">Dockerizing a Ruby on Rails Application</a>

</td><td class="date">
jan 13
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Why and when should we use docker?
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/parallel-javascript-with-paralleljs/" class="linktitle">Parallel JavaScript with ParallelJS</a>

</td><td class="date">
jan 13
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
One of the coolest new possibilities arriving along with HTML5 was the Worker interface of the Web Workers API.
</td></tr>

<tr><td>
<a href="https://css-tricks.com/print-magazine-layouts-converted-to-web-layouts/" class="linktitle">Influencing Web Layouts with Print Layouts</a>

</td><td class="date">
jan 13
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Examples on playing with fonts and shapes.
</td></tr>

<tr><td>
<a href="http://eftimov.net/refactoring-builder-pattern/" class="linktitle">Refactoring in Ruby: The right place for a Builder?</a>

</td><td class="date">
jan 13
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Use builder for validating dependent relation objects.
</td></tr>

<tr><td>
<a href="http://blog.kubernetes.io/2016/01/why-Kubernetes-doesnt-use-libnetwork.html?m=1" class="linktitle">Why Kubernetes doesn’t use libnetwork</a>

</td><td class="date">
jan 14
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
The deep reasons why kubernetes and docker actually don't mix that well.
</td></tr>

<tr><td>
<a href="http://bensnape.com/2016/01/14/terraform-design-patterns-the-terrafile/" class="linktitle">Terraform Design Patterns: the Terrafile</a>

</td><td class="date">
jan 14
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Design pattern to use Terraform even more productively.
</td></tr>

<tr><td>
<a href="https://css-tricks.com/designing-a-product-page-layout-with-flexbox/" class="linktitle">Designing A Product Page Layout with Flexbox</a>

</td><td class="date">
jan 15
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Flexbox can help us create flexible layouts that are optimized for the web and mobile devices.
</td></tr>

<tr><td>
<a href="https://github.com/dear-github/dear-github" class="linktitle">Dear Github</a>

</td><td class="date">
jan 15
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
An open letter to GitHub from the maintainers of open source projects.
</td></tr>

</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.sitepoint.com/watch-the-axis-of-flexbox/" class="linktitle">The Axis of Flexbox</a>
<span class="duration">(7m)</span>
</td><td class="date">
jan 13
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Learn about the axes of Flexbox, which are different than the traditional top to bottom, left to right axes.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by mose (publisher), xenor, tysliu (editors)
, Nauman Tariq, hsatac (contributors)
.</i>

</div>


<div id="rant">
<h3>Rant</h3>

<div class="baseline"><i>The random rant of the week by mose.</i></div>
<h4>Nah</h4>

<p>Got busy and I have no time to rant this week, sorry about this.</p>

</div>


</div>
</div>
