<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#202 - dec 18th 2016</h1>
</div>
<div id="templateBody">



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://residente.com/en/" class="linktitle">Residente</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
A great visual-musical exploration website.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://neveragain.tech/" class="linktitle">Never again</a>

</td><td class="date">

<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Today we stand together to say: not on our watch, and never again.
</td></tr>

<tr><td>
<a href="https://peekier.com/" class="linktitle">Peekier</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Another way to search the web, safely and visually.
</td></tr>

<tr><td>
<a href="https://github.com/arbox/nlp-with-ruby" class="linktitle">Awesome NLP with Ruby</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Resources, libraries, information sources about computational processing of texts in human languages with Ruby.
</td></tr>

<tr><td>
<a href="https://ascii.li/emoticon-creator" class="linktitle">Text Emoticon Creator</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
The ultimate useless tool that you can't live without.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://www.ruby-lang.org/en/news/2016/12/12/ruby-2-4-0-rc1-released/" class="linktitle">Ruby 2.4.0-rc1 Released</a>

</td><td class="date">
dec 12
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Features include hash table improvements, unifying fixnum and bignum, support for unicode mapping any many more.
</td></tr>

<tr><td>
<a href="https://github.com/JoshCheek/seeing_is_believing" class="linktitle">Seeing Is Believing</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Evaluates Ruby code, recording the results of each line.
</td></tr>

<tr><td>
<a href="https://github.com/cloudson/gitql" class="linktitle">Gitql</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A git query language.
</td></tr>

<tr><td>
<a href="http://www.sikuli.org/" class="linktitle">Sikuli Script</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Uses image recognition to identify and control GUI components.
</td></tr>

<tr><td>
<a href="https://github.com/socialpandas/sidekiq-superworker" class="linktitle">sidekiq-superworker</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Directed acyclic graphs of Sidekiq jobs.
</td></tr>

<tr><td>
<a href="https://github.com/listia/enum_transitions" class="linktitle">Enum_transitions</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
ActiveRecord::Enum transition validations.
</td></tr>

<tr><td>
<a href="https://github.com/zeit/hyper" class="linktitle">Hyper</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A terminal built on web technologies.
</td></tr>

<tr><td>
<a href="https://github.com/ebeigarts/database_flusher" class="linktitle">Database_flusher</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Tiny and fast database cleaner.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://www.sitepoint.com/common-rails-security-pitfalls-and-their-solutions/" class="linktitle">Common Rails Security Pitfalls and Their Solutions</a>

</td><td class="date">
dec 12
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
It’s important to understand common (and less common) security pitfalls that you may encounter.
</td></tr>

<tr><td>
<a href="https://www.rubytapas.com/2016/12/14/ruby-code-on-windows/" class="linktitle">How to make your Ruby code work on Windows PCs</a>

</td><td class="date">
dec 12
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Sometimes it is unavoidable.
</td></tr>

<tr><td>
<a href="https://tech.lendinghome.com/keeping-data-in-sync-with-activerecord-updatedat-95bd76955a01" class="linktitle">Keeping Data in Sync with ActiveRecord::UpdatedAt</a>

</td><td class="date">
dec 13
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
ActiveRecord does not touch updated_at by default when calling certain methods.
</td></tr>

<tr><td>
<a href="http://calendar.perfplanet.com/2016/prefer-defer-over-async/" class="linktitle">Prefer DEFER Over ASYNC</a>

</td><td class="date">
dec 14
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Frequently, I notice this blocking JavaScript is loaded with the ASYNC tag.
</td></tr>

<tr><td>
<a href="https://blog.bradfieldcs.com/all-the-talks-from-systems-we-love-debcd9cffca#.jtm6e6k9b" class="linktitle">All the talks from Systems We Love</a>

</td><td class="date">
dec 15
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Details of the talks of the most interesting conference of the year.
</td></tr>

<tr><td>
<a href="https://bogdanvlviv.github.io/posts/ruby/patterns/design-patterns-in-ruby.html" class="linktitle">Design Patterns in Ruby</a>

</td><td class="date">
dec 17
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Smmary of design patterns from the book Design Patterns in Ruby (by Russ Olsen)
</td></tr>

<tr><td>
<a href="https://www.w3.org/Style/CSS20/" class="linktitle">20 Years of CSS</a>

</td><td class="date">
dec 17
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
On December 17, 1996, W3C published the first standard for CSS.
</td></tr>

<tr><td>
<a href="https://medium.com/@JonHall_/itsm-devops-and-why-the-three-tier-structure-must-be-replaced-with-swarming-91e76ba22304#.r606rx2ce" class="linktitle">Why three-tier support should be replaced with Swarming</a>

</td><td class="date">
dec 17
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
The 3-tier support structure is ubiquitous in ITSM, but it is fundamentally at odds with DevOps principles. Swarming is a better answer.
</td></tr>

</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://www.youtube.com/watch?v=TPe6UXMDMGM" class="linktitle">Systems We Love</a>
<span class="duration">(8h52)</span>
</td><td class="date">
dec 13
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
20 systems, crazy high quality talks.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by xenor (publisher), tysliu, mose (editors), 
Nauman Tariq (contributors)
.</i>

</div>



</div>
</div>
