<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#098 - dec 21th 2014</h1>
</div>
<div id="templateBody">

<div>
<div class="baseline">
<h2>Edito</h2>
Jingle bell, Rails 4.2 is out. There are a bunch of new features there that have been expected for a while. But there is a lot other things to check out in this week collection of links. Enjoy your holidays if you get any.
<br>
</div>
</div>



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://gifmylive.arte.tv/fr" class="linktitle">Gif my live</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
In french, and so visual. Takes a bit to load though.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.appgyver.com/" class="linktitle">AppGyver</a>

</td><td class="date">

<img class="icon" src="ico/mobile.png" height="18" width="18" align="right" alt="mobile" />
</td></tr>
<tr><td colspan="2" class="comment">
For hybrid app development from the get-go.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/online-graphs-charts/" class="linktitle">Apps for Creating Online Graphs and Charts</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Creating graph online without any installations.
</td></tr>

<tr><td>
<a href="https://leanpub.com/wewut" class="linktitle">Working Effectively with Unit Tests</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
(book) most effective way to test.
</td></tr>

<tr><td>
<a href="http://css-tricks.com/relating-designing-performance-lara-hogan/" class="linktitle">Designing for Performance</a>

</td><td class="date">

<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
(book) review of the book 'Designing for Performance' by Lara Hogan.
</td></tr>

<tr><td>
<a href="http://codegeekz.com/best-jquery-timeline-plugins-developers/" class="linktitle">Best jQuery Timeline Plugins for Developers</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Curated list of jQuery timeline plugins.
</td></tr>

<tr><td>
<a href="http://codegeekz.com/free-responsive-html5-templates/" class="linktitle">25 Free Responsive HTML5 Templates for 2014</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
25 templates to get your project started.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://weblog.rubyonrails.org/2014/12/19/Rails-4-2-final/" class="linktitle">Rails 4.2</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Active Job, Asynchronous Mails, Adequate Record, Web Console, Foreign Keys.
</td></tr>

<tr><td>
<a href="https://www.ruby-lang.org/en/news/2014/12/18/ruby-2-2-0-rc1-released/" class="linktitle">Ruby 2.2.0-rc1</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
The final release of Ruby 2.2.0 is scheduled on December 25, 2014.
</td></tr>

<tr><td>
<a href="https://github.com/grosser/rubinjam" class="linktitle">Jam</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Jam entire gem into a binary that works with any ruby.
</td></tr>

<tr><td>
<a href="https://github.com/nicklink483/dare" class="linktitle">Dare</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Ruby Web Game library on top of Opal.
</td></tr>

<tr><td>
<a href="http://wysihtml.com/" class="linktitle">Wysihtml</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
The code is completely library agnostic: No jQuery, Prototype or similar is required.
</td></tr>

<tr><td>
<a href="http://getskeleton.com/" class="linktitle">Skeleton</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
A dead simple, responsive boilerplate.
</td></tr>

<tr><td>
<a href="http://blog.phusion.nl/2014/12/19/phusion-passenger-4-0-56-facepalming-file-descriptor-leak-node-js-load-balancing/" class="linktitle">Phusion Passenger 4.0.56</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Facepalming at file descriptor leak, Node.js load balancing.
</td></tr>

<tr><td>
<a href="https://github.com/PressLabs/gitfs" class="linktitle">gitfs</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Version controlled file system.
</td></tr>

<tr><td>
<a href="https://github.com/adrianco/spigo" class="linktitle">spigo</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Simulate Protocol Interactions in Go.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://www.vagrantup.com/blog/vagrant-push-to-deploy.html" class="linktitle">Vagrant Push: One Command to Deploy Any Application</a>

</td><td class="date">
dec 12
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Vagrant 1.7 comes with a new command: vagrant push.
</td></tr>

<tr><td>
<a href="https://sethvargo.com/getting-an-a-plus-on-qualys-ssl-labs-tester/" class="linktitle">Getting an A+ on Qualy's SSL Labs Tester</a>

</td><td class="date">
dec 14
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
This post will detail the steps for getting an A+ SSL rating using Nginx.
</td></tr>

<tr><td>
<a href="http://www.schneems.com/2014/12/15/hashie-considered-harmful.html" class="linktitle">Hashie Considered Harmful</a>

</td><td class="date">
dec 15
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
An Ode to Hash and OpenStruct.
</td></tr>

<tr><td>
<a href="https://medium.com/@KamilLelonek/what-service-objects-are-not-7abef8aa2f99" class="linktitle">What service objects are not</a>

</td><td class="date">
dec 16
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
An opinionated guide to Service Objects.
</td></tr>

<tr><td>
<a href="http://dev.mikamai.com/post/105439378224/opal-under-a-microscope-object-creation-in-ruby" class="linktitle">Object creation in Ruby and JavaScript</a>

</td><td class="date">
dec 17
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
How Ruby objects are mapped in JavaScript-land by the Opal compiler.
</td></tr>

<tr><td>
<a href="http://brandonhilkert.com/blog/a-ruby-refactor-exploring-dependency-injection-options/" class="linktitle">Exploring dependency injection options</a>

</td><td class="date">
dec 17
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Constructor injection and setter injection.
</td></tr>

<tr><td>
<a href="http://blog.circleci.com/announcing-ios-and-android-support/" class="linktitle">Launch of iOS and Android Support on CircleCI</a>

</td><td class="date">
dec 17
<img class="icon" src="ico/mobile.png" height="18" width="18" align="right" alt="mobile" />
</td></tr>
<tr><td colspan="2" class="comment">
CircleCI just acquired Distiller, a company focused on iOS testing and deployment.
</td></tr>

<tr><td>
<a href="http://hashrocket.com/blog/posts/16-tips-from-the-2014-winter-miniconf" class="linktitle">16 Tips from the 2014 Winter Miniconf</a>

</td><td class="date">
dec 18
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Grab bag of Linux, shell, PostgreSQL, and Ruby tricks.
</td></tr>

<tr><td>
<a href="http://www.developingandstuff.com/2014/12/elegant-permalinks-in-rails.html" class="linktitle">Elegant permalinks in Rails</a>

</td><td class="date">
dec 18
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Adding permalinks to a Rails app using the friendly_id gem.
</td></tr>

<tr><td>
<a href="https://www.arangodb.com/2014/12/18/getting-started-guacamole-rails" class="linktitle">Getting started with Guacamole on Rails</a>

</td><td class="date">
dec 18
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Guacamole is a object-document-mapper, alternative to ActiveRecord.
</td></tr>

<tr><td>
<a href="http://www.rohit.io/blog/rip-nagios-hello-docker-shinken.html" class="linktitle">RIP Nagios. Hello Docker Shinken!</a>

</td><td class="date">
dec 18
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Guacamole is a object-document-mapper, alternative to ActiveRecord.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/creating-stateful-modals-angularjs-angular-ui-router/" class="linktitle">Creating Stateful Modals in AngularJS</a>

</td><td class="date">
dec 19
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
With Angular UI Router.
</td></tr>

<tr><td>
<a href="http://css-tricks.com/redirect-web-page/" class="linktitle">How to Redirect a Web Page</a>

</td><td class="date">
dec 19
<img class="icon" src="ico/html5.png" height="18" width="18" align="right" alt="html5" />
</td></tr>
<tr><td colspan="2" class="comment">
Examples of redirects done by HTML, JS, Web servers, PHP, Ruby, Node js.
</td></tr>

<tr><td>
<a href="http://blog.appsdeck.eu/post/105609534953/graceful-server-restart-with-go" class="linktitle">Graceful server restart with Go</a>

</td><td class="date">
dec 19
<img class="icon" src="ico/go.png" height="18" width="18" align="right" alt="go" />
</td></tr>
<tr><td colspan="2" class="comment">
How to cleanly upgrade a running server.
</td></tr>

<tr><td>
<a href="https://medium.com/@rcdexta/hash19-a-json-aggregation-library-f2ef43d64a86" class="linktitle">Hash19: A JSON aggregation library</a>

</td><td class="date">
dec 20
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A Ruby gem to map complex JSON to objects.
</td></tr>

<tr><td>
<a href="http://www.devbattles.com/en/sand/post-470-How+to+Use+Omniauth+with+MongoDB+to+Authenticate+your+Users" class="linktitle">How to Use Omniauth with MongoDB to Authenticate your Users</a>

</td><td class="date">
dec 20
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A Ruby gem to map complex JSON to objects.
</td></tr>

<tr><td>
<a href="https://blog.hboeck.de/archives/863-Dont-update-NTP-stop-using-it.html" class="linktitle">Don't update NTP – stop using it</a>

</td><td class="date">
dec 20
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Better use tlsdate.
</td></tr>

</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.thoughtworks.com/talks/the-death-of-agile" class="linktitle">The Death of Agile</a>
<span class="duration">(44m)</span>
</td><td class="date">
dec 16
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Talk by Dave Thomas from ThoughtWorks, quite humorist.
</td></tr>

<tr><td>
<a href="https://sysadmincasts.com/episodes/42-crash-course-on-vagrant-revised" class="linktitle">Sysadmincast #43</a>
<span class="duration">(22m)</span>
</td><td class="date">
dec 16
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Crash Course on Vagrant.
</td></tr>

<tr><td>
<a href="http://confreaks.com/events/velocityconfeu2014" class="linktitle">Velocity 2014</a>
<span class="duration">(9 videos)</span>
</td><td class="date">
dec 16
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Velocity Conference Europe 2014.
</td></tr>

<tr><td>
<a href="https://gorails.com/episodes/comments-with-polymorphic-associations" class="linktitle">GoRails #36</a>
<span class="duration">(22m)</span>
</td><td class="date">
dec 19
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Comments With Polymorphic Associations.
</td></tr>

</table>

<h3>Listen</h3>
<div class="baseline">What could be heard last week ..</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://giantrobots.fm/126" class="linktitle">Giant Robots 126</a>
<span class="duration">(47m)</span>
</td><td class="date">
dec 15
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Log In to Your Space (Zach Dunn).
</td></tr>

<tr><td>
<a href="http://centurylinklabs.podomatic.com/entry/2014-12-15T14_27_13-08_00" class="linktitle">Century Link Podcast 22</a>
<span class="duration">(26m)</span>
</td><td class="date">
dec 15
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
What's New in Deis 1.0 Docker PaaS.
</td></tr>

<tr><td>
<a href="http://puppetlabs.com/podcasts/podcast-test-driven-development" class="linktitle">Puppet Podcast: TDD</a>
<span class="duration">(24m)</span>
</td><td class="date">
dec 16
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Puppet Server is a rewrite of puppet master in clojure.
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/554-episode-517-december-16-2014" class="linktitle">Ruby5 517</a>
<span class="duration">(4m)</span>
</td><td class="date">
dec 16
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Streem, Rails 4.2.rc3, Papercrop, RubyMotion 3.0.
</td></tr>

<tr><td>
<a href="http://devchat.tv/ruby-rogues/186-rr-the-4-rules-of-simple-design-with-corey-haines" class="linktitle">RubyRogues 186</a>
<span class="duration">(1h07)</span>
</td><td class="date">
dec 17
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
The 4 Rules of Simple Design with Corey Haines.
</td></tr>

<tr><td>
<a href="http://devchat.tv/js-jabber/138-jsj-track-js-with-todd-gardner" class="linktitle">Javascript Jabber 138</a>
<span class="duration">(1h02)</span>
</td><td class="date">
dec 17
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
{Track:js} with Todd Gardner.
</td></tr>

<tr><td>
<a href="http://devchat.tv/adventures-in-angular/021-aia-duck-angular-with-avishek-sen-gupta" class="linktitle">Adventure in angular #21</a>
<span class="duration">(27m)</span>
</td><td class="date">
dec 18
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Duck Angular with Avishek Sen Gupta.
</td></tr>

<tr><td>
<a href="http://thewebplatform.libsyn.com/22-live-an-open-source-panel-disussion" class="linktitle">Web Platform Podcast 22</a>
<span class="duration">(1h14)</span>
</td><td class="date">
dec 18
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
LIVE - An Open Source Discussion Panel.
</td></tr>

<tr><td>
<a href="http://5by5.tv/changelog/135" class="linktitle">The Changelog #135</a>
<span class="duration">(1h)</span>
</td><td class="date">
dec 19
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
EOY 2014 with Adam and Jerod.
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/555-episode-518-december-19-2014" class="linktitle">Ruby5 518</a>
<span class="duration">(7m)</span>
</td><td class="date">
dec 19
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Eastward Ho, no hashie, Git, where does your code go, strong parameters.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">
<i>Links curated by by mose (editor),

xenor (informer)
.</i>
</div>


<div id="rant">
<h3>Rant</h3>
<div class="baseline"><i>The random rant of the week by mose.</i></div>


</div>


</div>
</div>
