<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#030 - sep 1st 2013</h1>
</div>
<div id="templateBody">

<div>
<div class="baseline">
<h2>Edito</h2>
The edito is, this time, totally irrelevant and really pertinent at the same time.
<br>
</div>
</div>



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.wearestillmarching.com/landing/" class="linktitle">We are still marching</a>

</td><td class="date">

<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Photo memorial of the Martin Luther King speech.
</td></tr>

<tr><td>
<a href="http://beoplay.com/Products/BeoplayH3" class="linktitle">Beoplay</a>

</td><td class="date">

<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
A nice looking website, with a cool navigation.
</td></tr>

<tr><td>
<a href="http://salleedesign.com/photo-stories/" class="linktitle">Salee blog</a>

</td><td class="date">

<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Great blog with travel photos and you can choose your mustache.
</td></tr>

<tr><td>
<a href="http://wtfviz.net/" class="linktitle">WTF Visualisations</a>

</td><td class="date">

<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Visualisations that make no sense, quite fun.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://justdelete.me/" class="linktitle">Just delete me</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Central place where you can seek for void (and notice what websites don't allow it).
</td></tr>

<tr><td>
<a href="http://cloudcastlegroup.com/blog/basiliq" class="linktitle">Free hand UI kit</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A paper-based UI designer for web and mobile apps.
</td></tr>

<tr><td>
<a href="http://gitrep.com/" class="linktitle">GitRep</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A website where you can organize, compare, find similar public repos on github.
</td></tr>

<tr><td>
<a href="http://keycodes.atjayjo.com/" class="linktitle">keycodes</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A quick way to get keycodes right.
</td></tr>

<tr><td>
<a href="https://www.canva.com/" class="linktitle">Canva</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
An online design tool (closed beta, but you can reserve a username and hope for an invite).
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://yeoman.io/blog/hello-1.0.html" class="linktitle">Yeoman</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Version 1.0 is out, check what's new.
</td></tr>

<tr><td>
<a href="http://livestyle.emmet.io/" class="linktitle">Emmet LiveStyle</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
A bi-directionnal CSS editing plugin for chrome/safari and sublimetext.
</td></tr>

<tr><td>
<a href="http://wagerfield.github.io/parallax/" class="linktitle">Parallax.js</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A pretty efficient parallaxing js lib.
</td></tr>

<tr><td>
<a href="https://github.com/matthewhudson/device.js" class="linktitle">Device.js</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Easy way to write Conditional JavaScript & CSS based on device operating system, oeientation and type.
</td></tr>

<tr><td>
<a href="http://intentionjs.com/" class="linktitle">Intention.js</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A way to write html in a responsive manner.
</td></tr>

<tr><td>
<a href="http://alisnic.github.io/nyny/" class="linktitle">Nyny</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A very small sinatra clone.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://lucb1e.com/rp/cookielesscookies/" class="linktitle">Cookieless cookies</a>

</td><td class="date">

<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
No need for cookies to get tracked, images are enough, explanations (scary).
</td></tr>

<tr><td>
<a href="http://shvets.github.io/blog/2013/08/24/how_to_protect_db_credentials_in_rails_app.html" class="linktitle">how to protect db credentials for rails app</a>

</td><td class="date">
aug 24
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Explanation about the shadow_db_credentials gem.
</td></tr>

<tr><td>
<a href="http://pnasrat.github.io/2013/08/25/inside-docker-i/" class="linktitle">Inside docker</a>

</td><td class="date">
aug 25
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A 3 parts article for understanding docker a bit better (<a href="http://pnasrat.github.io/2013/08/25/inside-docker-ii">part 2</a> and <a href="http://pnasrat.github.io/2013/08/26/inside-docker-iii">part 3</a>).
</td></tr>

<tr><td>
<a href="http://flippinawesome.org/2013/08/26/functional-css-fcss/" class="linktitle">Functional CSS (FCSS)</a>

</td><td class="date">
aug 26
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Application of the functionnal programming principles to CSS authoring.
</td></tr>

<tr><td>
<a href="http://svs.io/post/59495114366/roll-your-own-web-framework-in-half-an-hour" class="linktitle">Roll your own web framework in half an hour</a>

</td><td class="date">
aug 27
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A demo of usage of ActionDispatch.
</td></tr>

<tr><td>
<a href="http://urbanautomaton.com/blog/2013/08/27/rails-autoloading-hell/" class="linktitle">Rails autoloading</a>

</td><td class="date">
aug 27
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Understand Rails autoloading.
</td></tr>

<tr><td>
<a href="http://css-tricks.com/html5-element/" class="linktitle">The HTML5 progress Element</a>

</td><td class="date">
aug 28
<img class="icon" src="ico/html5.png" height="18" width="18" align="right" alt="html5" />
</td></tr>
<tr><td colspan="2" class="comment">
A long description of the html5 progress bar, and fallbacks.
</td></tr>

<tr><td>
<a href="http://tech.pro/tutorial/1404/debugging-modern-web-applications-part-1" class="linktitle">Debugging Modern Web Applications Part 1</a>

</td><td class="date">
aug 28
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A guide for debugging web apps css and js using chrome as an IDE.
</td></tr>

<tr><td>
<a href="http://batsov.com/articles/2013/08/30/using-gsub-with-a-block/" class="linktitle">Using Ruby's Gsub With a Block</a>

</td><td class="date">
aug 30
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Small usage explanation about using block in Ruby gsub method.
</td></tr>

<tr><td>
<a href="http://www.sys-con.com/node/2773353" class="linktitle">Russian Doll Caching</a>

</td><td class="date">
aug 31
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Introduction of Russian Doll Caching in Rails 4.
</td></tr>

</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://confreaks.com/events/rubyconfindia2013" class="linktitle">Rubyconf India</a>
<span class="duration">(17 videos)</span>
</td><td class="date">
aug 30
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
The rest of the rubyconf india videos, that just have been published.
</td></tr>

</table>

<h3>Listen</h3>
<div class="baseline">What could be heard last week ..</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://learn.thoughtbot.com/giantrobots/63" class="linktitle">Giant robots 63</a>
<span class="duration">(1h)</span>
</td><td class="date">
aug 26
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Ben and Chad discuss mentoring, job hunting tips and FAQ.
</td></tr>

<tr><td>
<a href="http://episodes.gitminutes.com/2013/08/gitminutes-20-mick-wever-on-migrating.html" class="linktitle">Gitminutes #20</a>
<span class="duration">(1h14)</span>
</td><td class="date">
aug 26
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
With Mick Wever on migrating from subversion to Git.
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/434-episode-398-august-27-2013" class="linktitle">Ruby5 398</a>
<span class="duration">(5m)</span>
</td><td class="date">
aug 27
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
ruby2, rack zippy, artoo, rails security, minuteman.
</td></tr>

<tr><td>
<a href="http://rubyrogues.com/120-rr-book-club-understanding-computation-with-tom-stuart/" class="linktitle">RubyRogues 120</a>
<span class="duration">(1h50)</span>
</td><td class="date">
aug 28
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Understanding Computation with Tom Stuart.
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/435-episode-399-august-30-2013" class="linktitle">Ruby5 399</a>
<span class="duration">(6m)</span>
</td><td class="date">
aug 30
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
confident ruby, rails 4 cheatsheet, quick bundle install, postgis, nyny.
</td></tr>

<tr><td>
<a href="http://javascriptjabber.com/073-jsj-react-with-pete-hunt-and-jordan-walke/" class="linktitle">Javascript Jabber 073</a>
<span class="duration">(56m)</span>
</td><td class="date">
aug 30
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
React with Pete Hunt and Jordan Walke.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">
<i>Links curated by by mose (editor),

xenor (informer)
.</i>
</div>


<div id="rant">
<h3>Rant</h3>
<div class="baseline"><i>The random rant of the week by mose.</i></div>

</div>


</div>
</div>
