<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#144 - nov 8th 2015</h1>
</div>
<div id="templateBody">



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.wove.com/" class="linktitle">Wove</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Pretty neat website for an interesting device.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/rstacruz/rscss" class="linktitle">Rscss</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Reasonable system for CSS stylesheet structure.
</td></tr>

<tr><td>
<a href="https://github.com/franzejr/ruby-tricks" class="linktitle">Ruby-tricks</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Ruby tricks.
</td></tr>

<tr><td>
<a href="http://www.braveclojure.com/" class="linktitle">Brave Clojure</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
(book) Free online E-book for learning Clojure.
</td></tr>

<tr><td>
<a href="https://any-api.com/" class="linktitle">AnyAPI</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Documentation and test consoles for over 150 public APIs.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/thoughtbot/administrate" class="linktitle">Administrate</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
An admin dashboard as Rails engine, build by thoughtbot.
</td></tr>

<tr><td>
<a href="https://github.com/whitesmith/rubycritic" class="linktitle">Rubycritic</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A Ruby code quality reporter.
</td></tr>

<tr><td>
<a href="https://github.com/tenderlove/namecase" class="linktitle">Namecase</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Properly case people's names
</td></tr>

<tr><td>
<a href="https://github.com/fteem/freakonomics" class="linktitle">Freakonomics</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Freakonomics Radio CLI downloader. Nothing exceptional, I just happen to love that podcast.
</td></tr>

<tr><td>
<a href="https://github.com/ircanywhere/ircanywhere" class="linktitle">Ircanywhere</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Web based multi-user IRC bouncer.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://zeroclarkthirty.com/2015-11-01-elixir-is-not-ruby.html" class="linktitle">Elixir is not Ruby</a>

</td><td class="date">
nov 1
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Differences on all dimensions about Elixir and Ruby.
</td></tr>

<tr><td>
<a href="http://www.stefanwienert.de/blog/2015/11/01/blog-migration-from-jekyll-to-middleman/" class="linktitle">Blog migration: From Jekyll to Middleman</a>

</td><td class="date">
nov 1
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Experience of a migration.
</td></tr>

<tr><td>
<a href="http://blog.honeybadger.io/ruby-self-cheat-sheet/" class="linktitle">Understanding self in Ruby</a>

</td><td class="date">
nov 2
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Look at self in a variety of every-day situations.
</td></tr>

<tr><td>
<a href="http://browniefed.com/blog/2015/11/02/react-native-how-to-make-instagram/" class="linktitle">React Native - How to make Instagram</a>

</td><td class="date">
nov 2
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Full length tutorial on a react native app with gl-react.
</td></tr>

<tr><td>
<a href="http://blog.honeybadger.io/how-ruby-interprets-and-runs-your-programs/" class="linktitle">How Ruby Interprets and Runs Your Programs</a>

</td><td class="date">
nov 3
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Using ripper and RubyVM::InstructionSequence to examine and understand how ruby works.
</td></tr>

<tr><td>
<a href="http://vaidehijoshi.github.io/blog/2015/11/03/hunting-down-the-scoop-on-activerecord-scopes/" class="linktitle">Hunting Down the Scoop on ActiveRecord Scopes</a>

</td><td class="date">
nov 3
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
What was going on under the hood when you use scopes.
</td></tr>

<tr><td>
<a href="https://robots.thoughtbot.com/announcing-administrate" class="linktitle">Announcing Administrate</a>

</td><td class="date">
nov 3
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
The successor of active-admin.
</td></tr>

<tr><td>
<a href="https://robots.thoughtbot.com/naming-colors" class="linktitle">Naming Colors</a>

</td><td class="date">
nov 3
<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Someone made a mac app to give sensible names to colors.
</td></tr>

<tr><td>
<a href="http://culttt.com/2015/11/04/using-form-objects-in-ruby-on-rails/" class="linktitle">Using Form Objects in Ruby on Rails</a>

</td><td class="date">
nov 4
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Tutorial on how to use form objects to lighten models.
</td></tr>

<tr><td>
<a href="http://blog.fiverr.com/devflow-team-collaboration-system/" class="linktitle">Team Collaboration System</a>

</td><td class="date">
nov 4
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Managing shared resources among developers.
</td></tr>

<tr><td>
<a href="http://www.mikeperham.com/2015/11/05/advanced-data-structures-in-ruby/" class="linktitle">Advanced Data Structures in Ruby</a>

</td><td class="date">
nov 5
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
2 examples of advanced data structure.
</td></tr>

<tr><td>
<a href="http://blog.bigbinary.com/2015/11/05/how-constant-lookup-happens-in-rails.html" class="linktitle">How constant lookup and resolution works in Ruby on Rails</a>

</td><td class="date">
nov 5
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
How autoload_paths, require, load, and require_relative works in rails.
</td></tr>

<tr><td>
<a href="http://codenoble.com/blog/ruby-web-applications-without-rails/" class="linktitle">Ruby Web Applications Without Rails</a>

</td><td class="date">
nov 6
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Program in ruby for the web with no framework, just rack.
</td></tr>

<tr><td>
<a href="http://teotti.com/reengineer-legacy-rails-applications/" class="linktitle">Reengineer legacy Rails applications</a>

</td><td class="date">
nov 7
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Regain control of big ball of mud Ruby on Rails applications.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by mose (publisher), xenor (editors)
, Nauman Tariq, ilake (contributors)
.</i>

</div>


<div id="rant">
<h3>Rant</h3>

<div class="baseline"><i>The random rant of the week by mose.</i></div>
<h4>Packaging a gem for Debian</h4>

<p>Recently I had to package a gem for debian as a .deb. As a matter of fact, there is a lot of companies that are not in the ruby ecosystem and they rely on things they trust rather than rubygems. For a while debian was way behind on the inclusion of ruby and versions were outdated there. So a parallel distribution ecosystem had to be created. Now we have rvm, rbenv, or chruby for ruby and bundler and rubygems for the packages. But where I work, they package everything as debian packages. So I had to adapt.</p>

<p>So I went have a look at <a href="https://wiki.debian.org/Teams/Ruby">the debian ruby team</a> and checked out the tools. That gem2deb tool is pretty convenient. I am using debian for a while but never really had to package anything. The debian community process is a bit complicated and they are not very inclusive. Compared to the ease of uploading any gem to rubygems, it's quite a fortress, and people in the process are not very welcoming.</p>

<p>Maybe it's generational. Debian started before sourceforge existed, they are rooted in a community tradition that are very exclusive and a bit elitist. But technology changes faster than people, obviously. Younger communities bootstrap in a more fluid environment.</p>

<p>I'm not sure it is related but maybe it is, there was another epic [Linus Hit][liushit] recently. Well, all those things put in perspective the niceness of the ruby community. Really, cherish it and enjoy it, it's precious.</p>

</div>


</div>
</div>
