<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#065 - may 4th 2014</h1>
</div>
<div id="templateBody">

<div>
<div class="baseline">
<h2>Edito</h2>
Hey if you know rails and are between jobs, why not come to Taiwan teach a few months ? Check this <a href="https://dl.dropboxusercontent.com/u/56565651/ACamp%20RoR%20Instructor.pdf">announce (pdf)</a>, this may be the occasion (it's paid and hosted).
<br>
</div>
</div>



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.guillaumejuvenet.com/" class="linktitle">Guillaume Juvenet</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
A simple but nicely done resume website.
</td></tr>

<tr><td>
<a href="http://beta.theexpressiveweb.com/" class="linktitle">The expressive web</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
Showcase of some of the newest features being added to the web today (by adobe).
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.icicletech.com/cheat-sheets/sublime-cheat-sheet-for-ruby-and-ruby-on-rails" class="linktitle">Sublime Text Cheat Sheet for Ruby & RoR</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A handy PDF to print and stick on your wall.
</td></tr>

<tr><td>
<a href="http://drt.fm/" class="linktitle">Dorm Room Tycoon</a>

</td><td class="date">

<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Insightful interviews for designers, hackers and startup founders.
</td></tr>

<tr><td>
<a href="https://developers.google.com/web/fundamentals/" class="linktitle">Google web fundamentals</a>

</td><td class="date">

<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Comprehensive resource for multi-device web development.
</td></tr>

<tr><td>
<a href="http://shaky.github.bushong.net/" class="linktitle">ASCII to PNG</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Instantly makes png out of ascii charts.
</td></tr>

<tr><td>
<a href="http://perfecticons.com/" class="linktitle">Perfect Icons</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
The easiest way to create resolution independent social icons.
</td></tr>

<tr><td>
<a href="http://pesticide.io/" class="linktitle">Pesticide</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Faster CSS layout debugging chrome extension.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://nodegh.io/" class="linktitle">Nodegh</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
GitHub command line tools.
</td></tr>

<tr><td>
<a href="http://xinminlabs.github.io/synvert/" class="linktitle">Synvert</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Convert ruby code to better syntax (also helpful for rails upgrade to 4.0).
</td></tr>

<tr><td>
<a href="https://github.com/kulte/various" class="linktitle">Various</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
simple ActionPack::Variant configuration for Rails 4.1.
</td></tr>

<tr><td>
<a href="https://ankane.github.io/ahoy/" class="linktitle">Ahoy</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Simple, powerful visit tracking for Rails.
</td></tr>

<tr><td>
<a href="https://github.com/makaroni4/sandi_meter/" class="linktitle">Sandimeter</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Static analysis tool for checking Ruby code for Sandi Metz' rules.
</td></tr>

<tr><td>
<a href="https://github.com/oauth-io/oauthd" class="linktitle">Oauthd</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
The open source version of the OAuth.io core.
</td></tr>

<tr><td>
<a href="http://circular.io/" class="linktitle">Circular</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
An open source Buffer app.
</td></tr>

<tr><td>
<a href="http://julian.com/research/velocity/" class="linktitle">Velocity</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Accelerated JavaScript animation as jQuery plugin.
</td></tr>

<tr><td>
<a href="http://blog.jquery.com/2014/05/01/jquery-1-11-1-and-2-1-1-released/" class="linktitle">jQuery 1.11.1 and 2.1.1</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A new jquery with some bug fixed.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://blog.tjll.net/ssh-kung-fu/" class="linktitle">SSH Kung Fu</a>

</td><td class="date">
apr 27
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
A great list of tips for having a deeper use of SSH.
</td></tr>

<tr><td>
<a href="http://matt.aimonetti.net/posts/2014/04/28/refactoring-go-code/" class="linktitle">Go, Robots and Code Refactoring</a>

</td><td class="date">
apr 28
<img class="icon" src="ico/go.png" height="18" width="18" align="right" alt="go" />
</td></tr>
<tr><td colspan="2" class="comment">
A dive into gobots, an occasion for some go tips.
</td></tr>

<tr><td>
<a href="http://www.vagrantup.com/blog/feature-preview-vagrant-1-6-docker-dev-environments.html" class="linktitle">Vagrant as Docker-Based Development Environments</a>

</td><td class="date">
apr 28
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Feature Preview of the next 1.6 version of Vagrant.
</td></tr>

<tr><td>
<a href="http://david.heinemeierhansson.com/2014/test-induced-design-damage.html" class="linktitle">Test-induced design damage</a>

</td><td class="date">
apr 29
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
DHH strikes again on his recent argument against TDD.
</td></tr>

<tr><td>
<a href="http://blog.arkency.com/2014/04/mastering-rails-validations-contexts/" class="linktitle">Mastering Rails Validations: Contexts</a>

</td><td class="date">
apr 29
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Skip validations in Rails depending on contexts.
</td></tr>

<tr><td>
<a href="http://brewhouse.io/blog/2014/04/30/gourmet-service-objects.html" class="linktitle">Gourmet Service Objects</a>

</td><td class="date">
apr 29
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A pattern for service objects explained.
</td></tr>

<tr><td>
<a href="http://blog.endpoint.com/2014/05/git-workflows-that-work.html" class="linktitle">Git Workflows That Work</a>

</td><td class="date">
may 2
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Review of 4 different git workflows.
</td></tr>

<tr><td>
<a href="http://reefpoints.dockyard.com/2014/05/03/guarding-with-arrays.html" class="linktitle">Guarding with arrays</a>

</td><td class="date">
may 3
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A simple trick for prettier arrays iterations.
</td></tr>

<tr><td>
<a href="http://articles.coreyhaines.com/posts/active-record-spec-helper/" class="linktitle">Speeding Up ActiveRecord Tests</a>

</td><td class="date">
may 3
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A trick to avoid loading the whole rails env while testing models.
</td></tr>

</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.bigastronaut.com/blog/2014/railsconf-2014-recap-day-4-with-aaron-patterson" class="linktitle">RailsConf 2014 Recap: Day 4 with Aaron Patterson</a>
<span class="duration">(4m)</span>
</td><td class="date">
apr 26
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Short recap, tenderlove relaunches the beard fashion.
</td></tr>

</table>

<h3>Listen</h3>
<div class="baseline">What could be heard last week ..</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://podcasts.thoughtbot.com/giantrobots/96" class="linktitle">Giant robots #96</a>
<span class="duration">(35m)</span>
</td><td class="date">
apr 28
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Business is Hard (Jeff Casimir from The Turing School).
</td></tr>

<tr><td>
<a href="http://nodeup.com/sixtytwo" class="linktitle">NodeUp 62</a>
<span class="duration">(1h02)</span>
</td><td class="date">
apr 28
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
a nodeconf 2014 show.
</td></tr>

<tr><td>
<a href="http://blog.producthunt.co/post/84223359564/product-hunt-radio-episode-3" class="linktitle">Product Hunt Radio 3</a>
<span class="duration">(29m)</span>
</td><td class="date">
apr 29
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
About products, from selfie apps to new innovative healthcare solutions.
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/497-episode-460-april-29th-2014" class="linktitle">Ruby5 460</a>
<span class="duration">(7m)</span>
</td><td class="date">
apr 29
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Various, what's next, railsreloader, capistrano, angular, PG power.
</td></tr>

<tr><td>
<a href="http://foodfightshow.org/2014/04/cookbook-patterns.html" class="linktitle">Food fight show 72</a>
<span class="duration">(1h09)</span>
</td><td class="date">
apr 29
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Cookbook Patterns.
</td></tr>

<tr><td>
<a href="http://rubyrogues.com/154-rr-indie-game-development-with-megan-fox/" class="linktitle">Ruby Rogues 154</a>
<span class="duration">(1h07)</span>
</td><td class="date">
apr 30
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Indie Game Development with Megan Fox.
</td></tr>

<tr><td>
<a href="http://javascriptjabber.com/106-jsj-protractor-with-julie-ralph/" class="linktitle">Javascript Jabber 106</a>
<span class="duration">(48m)</span>
</td><td class="date">
apr 30
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Protractor with Julie Ralph (angular testing).
</td></tr>

<tr><td>
<a href="http://5by5.tv/changelog/120" class="linktitle">TheChangelog 120</a>
<span class="duration">(1h11)</span>
</td><td class="date">
may 2
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Ruby tooling, chruby, ruby-install, and security with Postmodern.
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/498-episode-461-may-2nd-2014" class="linktitle">Ruby5 461</a>
<span class="duration">(5m)</span>
</td><td class="date">
may 2
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
test-induced design damage, priscilla, advanced rake, mutation testing, worldcup2014.db.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by mose (editor), xenor (informer).</i>

</div>



</div>
</div>
