<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#208 - jan 29th 2017</h1>
</div>
<div id="templateBody">



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.gsd.harvard.edu/" class="linktitle">Harvard University Graduate School of Design</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Simple and neat menu design from a research institute.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/kilimchoi/engineering-blogs" class="linktitle">Engineering-blogs</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A curated list of engineering blogs.
</td></tr>

<tr><td>
<a href="https://landing.google.com/sre/book.html" class="linktitle">Site Reliability Engineering</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
A book from Google's SRE team explains how they build, deploy, monitor, and maintain production systems.
</td></tr>

<tr><td>
<a href="https://gopherize.me/" class="linktitle">Gopherize.me</a>

</td><td class="date">

<img class="icon" src="ico/go.png" height="18" width="18" align="right" alt="go" />
</td></tr>
<tr><td colspan="2" class="comment">
Generate a Gopher avatar that's as unique as you.
</td></tr>

<tr><td>
<a href="https://headwayapp.co/" class="linktitle">Headway</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Changelog as a service.
</td></tr>

<tr><td>
<a href="http://twistapp.com/" class="linktitle">Twist</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A communication app for teams.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://iterm2colorschemes.com/" class="linktitle">Iterm Themes</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Color schemes and themes for Iterm2.
</td></tr>

<tr><td>
<a href="https://github.com/anandthakker/doiuse" class="linktitle">Doiuse</a>

</td><td class="date">

<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Lint CSS for browser support against caniuse database.
</td></tr>

<tr><td>
<a href="https://github.com/phoet/memo-it" class="linktitle">Memo-it</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A simple memoization helper with parameter support.
</td></tr>

<tr><td>
<a href="https://www.realartists.com/blog/ship-20.html" class="linktitle">Ship 2.0</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
macOS native interface to GitHub issues.
</td></tr>

<tr><td>
<a href="https://github.com/hoteltonight/shameless" class="linktitle">Shameless</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
An append-only distributed data store implemented on top of MySQL to handle a steady stream of updates.
</td></tr>

<tr><td>
<a href="https://gitea.io/en-US/" class="linktitle">Gitea</a>

</td><td class="date">

<img class="icon" src="ico/go.png" height="18" width="18" align="right" alt="go" />
</td></tr>
<tr><td colspan="2" class="comment">
A self-hosted Git service written in Go.
</td></tr>

<tr><td>
<a href="https://github.com/leereilly/swot" class="linktitle">Swot</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Identify email addresses or domains names that belong to colleges or universities.
</td></tr>

<tr><td>
<a href="https://github.com/NullVoxPopuli/drawers" class="linktitle">Drawers</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Group related classes together for Rails app.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by xenor (publisher), mose (editors), 
lincoln, hsatac (contributors)
.</i>

</div>


<div id="rant">
<h3>Rant</h3>

<div class="baseline"><i>The random rant of the week by xenor.</i></div>
<h4>Happy Rooster Year</h4>

<p>Yeah, happy rooster year, hope it lays some goden egg so that some country dosen't need to pay for to build a wall. Also hope all roosters can move as freely as possible without the barn owner making their coop great again. It's true.</p>

</div>


</div>
</div>
