<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#020 - jun 22th 2013</h1>
</div>
<div id="templateBody">

<div>
<div class="baseline">
<h2>Edito</h2>
There is a background noise recently about the return of big brother, prism, etc in many topics I parsed for this letter. Kinda scary. But here we only are interested by toys and tools, so let's be light headed and check out the stuff of this week.
<br>
</div>
</div>



<h3>Use</h3>
<div class="baseline">Web applications and tools, available for making our life easier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://oauthbible.com/" class="linktitle">The OAuth Bible</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
The final version of the Oauth Bible by mashape.
</td></tr>

<tr><td>
<a href="https://github.com/blog/1529-repository-next" class="linktitle">The new github</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
There was an interface overhaul this week at github.
</td></tr>

<tr><td>
<a href="http://devtoolsecrets.com/" class="linktitle">Secrets of the Browser Developer Tools</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A website that gathers secrets about dev tools for all browsers.
</td></tr>

<tr><td>
<a href="http://www.grumpicon.com/" class="linktitle">Grumpicon</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A drag and drop png gnerator from svg.
</td></tr>

<tr><td>
<a href="http://www.jsdb.io/" class="linktitle">JSDB.io</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A repository of useful (or not) javascript libraries (submit the ones missing).
</td></tr>

<tr><td>
<a href="http://neomam.com/interactive/13reasons/" class="linktitle">13 reasons why inforgraphics work</a>

</td><td class="date">

<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Very graphical demonstration of the power of images.
</td></tr>

<tr><td>
<a href="http://fontastic.me/" class="linktitle">Fontastic</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Online tool to create web fonts.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://mintchaos.github.io/flippant.js/" class="linktitle">Flippant.js</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
An alternative to modal windows, the flippable div.
</td></tr>

<tr><td>
<a href="http://www.minimamente.com/magic-css3-animations/" class="linktitle">CSS magic</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
A great collection of css3 effects on buttons.
</td></tr>

<tr><td>
<a href="http://daneden.me/animate/" class="linktitle">CSS Animations</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Another great collection of effects, almost similar to the previous one.
</td></tr>

<tr><td>
<a href="https://github.com/philipwalton/html-inspector/" class="linktitle">HTML inspector</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Nice tool to check webpage quality, on the html/css side.
</td></tr>

<tr><td>
<a href="http://alexwolfe.github.io/Buttons/" class="linktitle">Buttons</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
A compass tool for building buttons.
</td></tr>

<tr><td>
<a href="https://github.com/shower/shower/" class="linktitle">Shower</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
HTML presentation engine.
</td></tr>

<tr><td>
<a href="https://github.com/benfoxall/wtcss" class="linktitle">WTCSS</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Uses PhantomJS to analyse the CSS on a page.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://medium.com/how-i-learned-ruby-rails" class="linktitle">How I TRAINed to learn Rails</a>

</td><td class="date">
jun 12
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Learn rails in 2 months, pointers and advices.
</td></tr>

<tr><td>
<a href="http://updates.html5rocks.com/2013/06/sourceMappingURL-and-sourceURL-syntax-changed" class="linktitle">sourceMappingURL and sourceURL syntax changed</a>

</td><td class="date">
jun 13
<img class="icon" src="ico/html5.png" height="18" width="18" align="right" alt="html5" />
</td></tr>
<tr><td colspan="2" class="comment">
The evolution of the sourcemaps syntax.
</td></tr>

<tr><td>
<a href="http://blog.balancedpayments.com/getting-started-with-ember.js/" class="linktitle">Getting started with Ember.js</a>

</td><td class="date">
jun 14
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A quick overview of the basics of emberjs, maybe the start of more blog posts.
</td></tr>

<tr><td>
<a href="http://daverupert.com/2013/06/ughck-images/" class="linktitle">Images for mobile</a>

</td><td class="date">
jun 14
<img class="icon" src="ico/mobile.png" height="18" width="18" align="right" alt="mobile" />
</td></tr>
<tr><td colspan="2" class="comment">
Some thinking about the image breakpoints in mobile websites.
</td></tr>

<tr><td>
<a href="http://www.prashantrajan.com/posts/2013/06/leveling-up-chef-best-practices/" class="linktitle">Leveling Up on Chef Best Practices</a>

</td><td class="date">
jun 14
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Some thinking about chef conventions.
</td></tr>

<tr><td>
<a href="http://naildrivin5.com/blog/2013/06/16/production-is-all-that-matters.html" class="linktitle">Production Is All That Matters</a>

</td><td class="date">
jun 16
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
On how code is all about production mode, not about being beautiful.
</td></tr>

<tr><td>
<a href="http://rubysource.com/meet-fifteen-ruby-core-committers/" class="linktitle">Meet Fifteen Ruby Core Committers</a>

</td><td class="date">
jun 17
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Translated interview of ruby core contributors gathered at RubyKaigi.
</td></tr>

<tr><td>
<a href="http://dev.af83.com/2013/06/18/cleanup-rails-s-views-with-decorators.html" class="linktitle">Cleanup Rails views with decorators</a>

</td><td class="date">
jun 18
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A quick presentation of the draper gem.
</td></tr>

<tr><td>
<a href="http://rubylearning.com/blog/2013/06/19/how-do-i-benchmark-ruby-code/" class="linktitle">How do I benchmark Ruby code</a>

</td><td class="date">
jun 19
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
The very intimate details of benchmarking ruby code.
</td></tr>

<tr><td>
<a href="http://www.rubyinside.com/does-the-gil-make-your-ruby-code-thread-safe-6051.html" class="linktitle">Does the GIL Make Your Ruby Code Thread-Safe</a>

</td><td class="date">
jun 19
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
One more post about the GIL, following the last week explanation.
</td></tr>

<tr><td>
<a href="http://gilesbowkett.blogspot.co.uk/2013/06/heretical-guide-to-ember-js.html" class="linktitle">Heretical Guide To Ember JS</a>

</td><td class="date">
jun 19
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A new ebook of 100 pages covering Ember development ($47 is not cheap though).
</td></tr>

<tr><td>
<a href="http://coderberry.me/blog/2013/06/20/using-flash-messages-with-emberjs/" class="linktitle">Using Flash Messages With EmberJS</a>

</td><td class="date">
jun 20
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Explanation of how to use ember-flash.
</td></tr>

<tr><td>
<a href="http://devblog.avdi.org/2013/06/21/a-list-of-programming-screencast-series/" class="linktitle">A List of Programming Screencast Series</a>

</td><td class="date">
jun 21
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Avdi grimm gives us a list of screencasts series covering various topics.
</td></tr>

</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://www.youtube.com/watch?v=dUZjzQuTNX4" class="linktitle">Build Your Own Portable Raspberry Pi (1)</a>
<span class="duration">(18m)</span>
</td><td class="date">
jun 9
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
The Ben Heck show is a must in hardware hacking, now talking about making it wearable.
</td></tr>

<tr><td>
<a href="https://www.youtube.com/watch?v=dUZjzQuTNX4" class="linktitle">Build Your Own Portable Raspberry Pi (2)</a>
<span class="duration">(17m)</span>
</td><td class="date">
jun 16
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Part 2 of the easpberry hardware hacking by Ben Heck.
</td></tr>

<tr><td>
<a href="http://railscasts.com/episodes/417-foundation" class="linktitle">Railscast (free): Zurb foundation</a>
<span class="duration">(11m)</span>
</td><td class="date">
jun 16
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Quick presentation on how to integrate teh foundation css framework in rails.
</td></tr>

<tr><td>
<a href="http://vimeo.com/68526900" class="linktitle">Embracing IndexedDB</a>
<span class="duration">(25m)</span>
</td><td class="date">
jun 17
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Offline storage in the browser with IndexDB, the successor of WebSQL.
</td></tr>

<tr><td>
<a href="http://marakana.com/s/post/1491/git_from_the_bits_up_tim_berglund_advanced_github_video" class="linktitle">Git From the Bits Up</a>
<span class="duration">(55m)</span>
</td><td class="date">
jun 17
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Yje secrets of git and badly known commands.
</td></tr>

<tr><td>
<a href="http://www.jstorimer.com/blogs/workingwithcode/8136295-screencast-faster-rails-test-runs-with-unix" class="linktitle">Faster Rails test runs</a>
<span class="duration">(21m)</span>
</td><td class="date">
jun 19
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
That screencast is a lifve coding sessions, using fork and sockets ruby functions to build a custom test runner.
</td></tr>

<tr><td>
<a href="http://marakana.com/s/post/1495/node_js_the_good_parts_a_skeptics_view_video" class="linktitle">Node.JS: The Good Parts? A Skeptic's View</a>
<span class="duration">(1h)</span>
</td><td class="date">
jun 21
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A talk from Chris Richardson, java developer, about how he got hooked on node.js.
</td></tr>

</table>

<h3>Listen</h3>
<div class="baseline">What could be heard last week ..</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://episodes.gitminutes.com/2013/06/gitminutes-13-richard-hartmann-on.html" class="linktitle">Git Minutes #13</a>
<span class="duration">(51m)</span>
</td><td class="date">
jun 17
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Richard Hartmann on Managing Your Homedir with vcsh.
</td></tr>

<tr><td>
<a href="http://learn.thoughtbot.com/podcast/53" class="linktitle">Giant robots 53</a>
<span class="duration">(38m)</span>
</td><td class="date">
jun 17
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Yehuda Katz and Tom Dale about their business at Tilde.
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/415-episode-379-june-18-2013" class="linktitle">Ruby5 379</a>
<span class="duration">(6m)</span>
</td><td class="date">
jun 18
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
rails lts, awesome api, stubbing vies, environments, callbacks, changed tests.
</td></tr>

<tr><td>
<a href="http://rubyrogues.com/110rr-activerecord-with-ernie-miller/" class="linktitle">RubyRogues 110</a>
<span class="duration">(57m)</span>
</td><td class="date">
jun 19
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
ActiveRecord with Ernie Miller that is not totally happy about it.
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/414-episode-378-june-14th-2013" class="linktitle">Ruby5 378</a>
<span class="duration">(5m)</span>
</td><td class="date">
jun 21
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
lineman, elixir, giyjib, benchmark, motion-accessibility, project death.
</td></tr>

<tr><td>
<a href="http://javascriptjabber.com/064-jsj-ember-tools-with-ryan-florence/" class="linktitle">Javascript Jabber 064</a>
<span class="duration">(49m)</span>
</td><td class="date">
jun 21
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Ember Tools with Ryan Florence.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by mose (editor).</i>

</div>



</div>
</div>
