<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#035 - oct 6th 2013</h1>
</div>
<div id="templateBody">

<div>
<div class="baseline">
<h2>Edito</h2>
There is plenty of links again this week. Enjoy.
<br>
</div>
</div>



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://js13kgames.com/entries/radius-raid" class="linktitle">Radius Raid</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
A 13k javascript asteroid-like game.
</td></tr>

<tr><td>
<a href="http://www.betterthankittens.com/" class="linktitle">Better than kitten</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
Designers compete against kittens.
</td></tr>

<tr><td>
<a href="http://www.creativeapplications.net/objects/lego-calendar-by-vitamins-design-syncs-with-google-calendar/" class="linktitle">Lego Calendar syncs with Google Calendar</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
Any excuse is good to avoid letting go the kid in you.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://staticsitegenerators.net/" class="linktitle">Static Site Generators</a>

</td><td class="date">

<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
A list of 174 site generators in various languages.
</td></tr>

<tr><td>
<a href="https://usabilityhub.com/" class="linktitle">Usability Hub</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Test your designs and mockups on real people.
</td></tr>

<tr><td>
<a href="http://thecodeplayer.com/" class="linktitle">The Code Player</a>

</td><td class="date">

<img class="icon" src="ico/html5.png" height="18" width="18" align="right" alt="html5" />
</td></tr>
<tr><td colspan="2" class="comment">
Video style walkthroughs showing cool stuff being created from scratch.
</td></tr>

<tr><td>
<a href="http://tessel.io/" class="linktitle">Tessel</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Yet another micro-board for web devs, only in pre-order now.
</td></tr>

<tr><td>
<a href="https://apigee.com/console/others" class="linktitle">Apigee</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
This API console looks a bit like the Postman chrome extension but lists a bunch of providers.
</td></tr>

<tr><td>
<a href="http://nodetime.com/" class="linktitle">NodeTime</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Analytics tool for Nodejs.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://rubini.us/2013/10/04/rubinius-2-0-released/" class="linktitle">Rubinius 2.0</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
With focus of compatibility with ruby 2.1, this major release helps ruby to compete with full threaded other languages.
</td></tr>

<tr><td>
<a href="https://github.com/andrewberls/regularity" class="linktitle">Regularity</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Human readable Regex.
</td></tr>

<tr><td>
<a href="http://polymaps.org/" class="linktitle">Polymaps</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A JavaScript library for image- and vector-tiled maps using SVG.
</td></tr>

<tr><td>
<a href="http://www.google.com/webdesigner/" class="linktitle">Google web designer</a>

</td><td class="date">

<img class="icon" src="ico/html5.png" height="18" width="18" align="right" alt="html5" />
</td></tr>
<tr><td colspan="2" class="comment">
An editor for HTML5-based designs and motion graphics that can run on any device.
</td></tr>

<tr><td>
<a href="https://github.com/krasimir/absurd" class="linktitle">Absurd.js</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Writing your CSS in JavaScript, and skip the css preprocessing.
</td></tr>

<tr><td>
<a href="http://blog.jcoglan.com/2013/10/01/announcing-faye-1-0/" class="linktitle">Faye 1.0</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A big release is all about stability for this ruby and node pubsub/websocket server.
</td></tr>

<tr><td>
<a href="https://github.com/subwindow/negative-captcha" class="linktitle">Negative Captcha</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A plugin to make the process of creating a negative captcha in Rails much less painful.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://thecodeplayer.com/walkthrough/custom-animated-checkbox-inputs-using-css-iconfonts" class="linktitle">Custom animated checkbox inputs using CSS and iconfonts</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
A great walkthrough for nice looking checkboxes.
</td></tr>

<tr><td>
<a href="http://tech.ftbpro.com/post/62631065020/11-steps-to-make-your-rspec-specs-awesome" class="linktitle">11 Steps To Make Your RSpec Specs Awesome</a>

</td><td class="date">
sep 29
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Advises for a better use of rspec and testing.
</td></tr>

<tr><td>
<a href="http://blog.gemnasium.com/post/62702069261/serving-ruby-gems-the-paranoid-way" class="linktitle">Serving ruby gems, the paranoid way</a>

</td><td class="date">
sep 30
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
How to setup your own gem server.
</td></tr>

<tr><td>
<a href="http://rubyrailsexpert.com/?p=36" class="linktitle">Using papertrail to find weird problems</a>

</td><td class="date">
oct 01
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Story of a debugging process using Papertrail gem.
</td></tr>

<tr><td>
<a href="http://thecrentist.com/2013/10/01/essential-gems-ruby-on-rails-project" class="linktitle">Essential Gems When Starting a Ruby on Rails Project</a>

</td><td class="date">
oct 01
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A list of gems, most are famous, but maybe you will find a few that you don't know about yet.
</td></tr>

<tr><td>
<a href="http://rubyrailsexpert.com/?p=36" class="linktitle">6 Ways To Remove Pain From Feature Testing In Ruby On Rails</a>

</td><td class="date">
oct 02
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Tips about testing with no cucumber.
</td></tr>

<tr><td>
<a href="http://blog.codeclimate.com/blog/2013/10/02/high-speed-rails-deploys-with-git/" class="linktitle">High-Speed Rails Deploys With Git</a>

</td><td class="date">
oct 02
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Deploying in 5 seconds with simpler, faster Capistrano tasks.
</td></tr>

<tr><td>
<a href="http://toddmotto.com/ultimate-guide-to-learning-angular-js-in-one-day/" class="linktitle">Ultimate guide to learning AngularJS in one day</a>

</td><td class="date">
oct 02
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
An interactive introduction to angular using embeded jsfiddles.
</td></tr>

<tr><td>
<a href="https://blog.serverdensity.com/how-to-design-useful-monitoring-graphs-and-visualizations/" class="linktitle">How to design useful monitoring graphs and visualizations</a>

</td><td class="date">
oct 04
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A great review about how to design monitoring graphs.
</td></tr>

</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://blog.parse.com/2013/10/02/parse-developer-day-video-series-how-to-design-great-apis/" class="linktitle">How to Design Great APIs</a>
<span class="duration">(32m)</span>
</td><td class="date">
oct 02
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
A talk from Parse developer day, on what makes an API great by using emotion.
</td></tr>

<tr><td>
<a href="http://www.infoq.com/presentations/graph-database-theory" class="linktitle">A Little Graph Theory for the Busy Developer</a>
<span class="duration">(43m)</span>
</td><td class="date">
oct 03
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Very good introduction to graphs for data storage, with video sync with slides and Dr Who graph.
</td></tr>

<tr><td>
<a href="http://vimeo.com/76159530" class="linktitle">What Every Hipster Should Know About Functional Programming</a>
<span class="duration">(43m)</span>
</td><td class="date">
oct 04
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
This is the War of the Hipsters. Arm yourself now, before it goes mainstream..
</td></tr>

</table>

<h3>Listen</h3>
<div class="baseline">What could be heard last week ..</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/442-episode-406-september-27th-2013" class="linktitle">Ruby5 406</a>
<span class="duration">(5m)</span>
</td><td class="date">
sep 27
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Lambdas, rocker-box, snowden, canada Gem, community future, DCamp.
</td></tr>

<tr><td>
<a href="https://learn.thoughtbot.com/giantrobots/68" class="linktitle">Giant robots 68</a>
<span class="duration">(34m)</span>
</td><td class="date">
sep 30
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
With Paul Farnell, CEO of Litmus, talk about starting up, business practices, and Litmus.
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/443-episode-407-october-1st-2013" class="linktitle">Ruby5 407</a>
<span class="duration">(7m)</span>
</td><td class="date">
oct 01
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
ruby 2.1, tmux, closures, gem config, executable ruby app, git branching model, CI sphero.
</td></tr>

<tr><td>
<a href="http://rubyrogues.com/125-rr-loyalty-and-layoffs/" class="linktitle">RubyRogues 125</a>
<span class="duration">(1h26)</span>
</td><td class="date">
oct 01
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Loyalty and Layoffs. Trust, Career and Corporations.
</td></tr>

<tr><td>
<a href="http://javascriptjabber.com/078-jsj-working-from-home/" class="linktitle">Javascript Jabber 078</a>
<span class="duration">(58m)</span>
</td><td class="date">
oct 04
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Working From Home.
</td></tr>

<tr><td>
<a href="http://5by5.tv/changelog/106" class="linktitle">TheChangelog 106</a>
<span class="duration">(41m)</span>
</td><td class="date">
oct 05
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Semantic UI with Jack Lukic.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by mose (editor), xenor (informer).</i>

</div>



</div>
</div>
