<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#217 - apr 2nd 2017</h1>
</div>
<div id="templateBody">



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.johnsonbanks.co.uk/" class="linktitle">Johnson Banks</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Interesting elastic effects on scroll.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://tellmewhenitcloses.com/session/new" class="linktitle">Tell Me When it Closes</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Get 1 email when an issue or PR closes.
</td></tr>

<tr><td>
<a href="https://github.com/vasanthk/react-bits" class="linktitle">React-bits</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
React patterns, techniques, tips and tricks.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/atlassian/localstack" class="linktitle">Localstack</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A fully functional local AWS cloud stack.
</td></tr>

<tr><td>
<a href="https://marta.yanex.org/" class="linktitle">Marta</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
File Manager for macOS.
</td></tr>

<tr><td>
<a href="https://dawson.sh/" class="linktitle">Dawson</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A serverless framework for Node.js on AWS.
</td></tr>

<tr><td>
<a href="https://github.com/basecamp/geared_pagination" class="linktitle">Geared_pagination</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Paginate Active Record sets at variable speeds.
</td></tr>

<tr><td>
<a href="https://github.com/shioyama/mobility" class="linktitle">Mobility</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Pluggable Ruby translation framework.
</td></tr>

<tr><td>
<a href="https://github.com/khiav223577/deep_pluck" class="linktitle">Deep_pluck</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Pluck deeply into nested associations without loading a bunch of records.
</td></tr>

<tr><td>
<a href="https://github.com/reactide/reactide" class="linktitle">Reactide</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A dedicated IDE for React web application development.
</td></tr>

<tr><td>
<a href="https://glimmerjs.com/" class="linktitle">Glimmer</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Lightweight UI component library from Ember.js
</td></tr>

<tr><td>
<a href="https://github.com/photopea/UPNG.js" class="linktitle">UPNG.js</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Fast and advanced PNG decoder.
</td></tr>

<tr><td>
<a href="https://github.com/BlueHatbRit/mdpdf" class="linktitle">Mdpdf</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Markdown to PDF command line app with support for stylesheets.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://mruby.sh/201703270126.html" class="linktitle">The 500.000$ release</a>

</td><td class="date">
mar 26
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Story about an expensive bug bounty.
</td></tr>

<tr><td>
<a href="https://developers.google.com/web/updates/2017/03/custom-scrollbar" class="linktitle">CSS deep-dive: matrix3d() for a frame-perfect custom scrollbar</a>

</td><td class="date">
mar 27
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Custom scrollbars are extremely rare and that’s mostly due to the fact that scrollbars are one of the remaining bits on the web that are pretty much unstylable.
</td></tr>

<tr><td>
<a href="https://blog.heroku.com/solving-n-plus-one-queries" class="linktitle">N+1 Queries or Memory Problems: Why not Solve Both?</a>

</td><td class="date">
mar 28
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
This post is going to help save you money if you're running a Rails server.
</td></tr>

<tr><td>
<a href="https://www.ruby-lang.org/en/news/2017/03/28/ruby-2-2-7-released/" class="linktitle">Ruby 2.2.7 Released</a>

</td><td class="date">
mar 28
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
This release includes about 70 bug fixes after the previous release.
</td></tr>

<tr><td>
<a href="https://blog.jetbrains.com/ruby/2017/03/why-you-should-not-use-a-class-as-a-namespace-in-rails-applications/" class="linktitle">Why you Should not use a Class as a Namespace in Rails Applications</a>

</td><td class="date">
mar 30
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A hidden bug with a class name as a namespace.
</td></tr>

<tr><td>
<a href="https://css-tricks.com/css-grid-replace-flexbox/" class="linktitle">Does CSS Grid Replace Flexbox?</a>

</td><td class="date">
mar 31
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Grid is much newer than Flexbox and has a bit less browser support.
</td></tr>

<tr><td>
<a href="https://www.ruby-lang.org/en/news/2017/04/01/support-of-ruby-2-1-has-ended/" class="linktitle">Support of Ruby 2.1 has ended</a>

</td><td class="date">
apr 1
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
On March 31, 2017, all support of the Ruby 2.1 series has ended.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by xenor (publisher), tysliu (editors), 
Nauman Tariq (contributors)
.</i>

</div>



</div>
</div>
