<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#041 - nov 17th 2013</h1>
</div>
<div id="templateBody">

<div>
<div class="baseline">
<h2>Edito</h2>
We don't have many new videos this week, but there are a bunch of articles. You also can check out the project of <a href="http://aaronswartzthedocumentary.com/">documentary about aaron</a> or the <a href="https://flynn.io/blog/demo-roadmap">progress of flynn</a>.
<br>
</div>
</div>



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.masswerk.at/googleBBS/" class="linktitle">Google BBS</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
Google search in a BBS console, with the sound for the nostalgic.
</td></tr>

<tr><td>
<a href="http://mike-tucker.com/13/" class="linktitle">Mike Tucker</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
An interesting use of js physics engine for a portfolio.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://codecube.io/" class="linktitle">Code Cube</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A simple CodePen-like editor for C, Go, Python, and Ruby.
</td></tr>

<tr><td>
<a href="http://www.regexper.com/" class="linktitle">Regexper</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A visual explanation of your regexps.
</td></tr>

<tr><td>
<a href="https://github.com/explore/subscribe" class="linktitle">Github explore mail</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Interesting repositories delivered to your inbox.
</td></tr>

<tr><td>
<a href="http://nodestreams.com/" class="linktitle">Node Streams</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A Node.js Stream Playground.
</td></tr>

<tr><td>
<a href="http://remotedebug.org/" class="linktitle">Remote Debug</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Initiative to unify remote debugging across browsers.
</td></tr>

<tr><td>
<a href="http://www.appneta.com/blog/open-sourcing-ruby/" class="linktitle">TraceView and Ruby: Now Open Source!</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
The TraceView Ruby Instrumentation Gem.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/rails-assets/rails-assets/" class="linktitle">Rails Assets</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Frictionless proxy between Bundler and Bower.
</td></tr>

<tr><td>
<a href="http://leibniz.cc/" class="linktitle">Leibniz</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Automated Infrastructure Acceptance Testing. Or cucumber for chef.
</td></tr>

<tr><td>
<a href="http://www.resumablejs.com/" class="linktitle">Resumable</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A js library providing multiple simultaneous, stable and resumable uploads via the HTML5 File API.
</td></tr>

<tr><td>
<a href="https://github.com/continuum/active_importer" class="linktitle">Active Importer</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Define importers that load tabular data from spreadsheets or CSV files into any ActiveRecord-like ORM.
</td></tr>

<tr><td>
<a href="https://github.com/heroku/identity" class="linktitle">Identity</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Login and OAuth management service from Heroku.
</td></tr>

<tr><td>
<a href="http://gobot.io/" class="linktitle">Gobot</a>

</td><td class="date">

<img class="icon" src="ico/go.png" height="18" width="18" align="right" alt="go" />
</td></tr>
<tr><td colspan="2" class="comment">
The go sister of artoo and cylon for controlling robots in Golang.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://myronmars.to/n/dev-blog/2013/11/rspec-2-99-and-3-0-betas-have-been-released" class="linktitle">Migrate to rspec 3</a>

</td><td class="date">
nov 08
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A bunch os changes coming in the new Rspec.
</td></tr>

<tr><td>
<a href="http://randomwire.com/why-japanese-web-design-is-so-different" class="linktitle">Why Japanese Web Design Is So… Different</a>

</td><td class="date">
nov 10
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Why japanese are so different (and also other asiatic ones).
</td></tr>

<tr><td>
<a href="http://blog.golang.org/4years" class="linktitle">Four years of Go</a>

</td><td class="date">
nov 10
<img class="icon" src="ico/go.png" height="18" width="18" align="right" alt="go" />
</td></tr>
<tr><td colspan="2" class="comment">
Nov 10 marked the fourth anniversary of Go as an open source project.
</td></tr>

<tr><td>
<a href="http://www.sarahmei.com/blog/2013/11/11/why-you-should-never-use-mongodb/" class="linktitle">Why You Should Never Use MongoDB</a>

</td><td class="date">
nov 11
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Sarah Mei shares her experience with noSQL architectures.
</td></tr>

<tr><td>
<a href="http://tmp.devcharm.com/pages/go-essential" class="linktitle">GO essential</a>

</td><td class="date">
nov 11
<img class="icon" src="ico/go.png" height="18" width="18" align="right" alt="go" />
</td></tr>
<tr><td colspan="2" class="comment">
A collection of resources for programmers trying GO for the first time.
</td></tr>

<tr><td>
<a href="http://tmp.devcharm.com/pages/vim-is-your-new-ide" class="linktitle">VIM is your new IDE</a>

</td><td class="date">
nov 11
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Kill all the GUIs. Mouse is your enemy. Keyboard is your only friend.
</td></tr>

<tr><td>
<a href="http://spin.atomicobject.com/2013/11/12/production-logging-sinatra/" class="linktitle">Production Logging for Sinatra Applications</a>

</td><td class="date">
nov 12
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Logging for Sinatra applications can be a bit tricky.
</td></tr>

<tr><td>
<a href="http://coding.smashingmagazine.com/2013/11/12/an-introduction-to-dom-events/" class="linktitle">An Introduction To DOM Events</a>

</td><td class="date">
nov 12
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Very extensive overview of DOM events.
</td></tr>

<tr><td>
<a href="http://www.mariusschulz.com/2013/11/13/advanced-javascript-debugging-with-consoletable" class="linktitle">Advanced JavaScript Debugging with console.table()</a>

</td><td class="date">
nov 13
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
An alternative to console.log.
</td></tr>

<tr><td>
<a href="https://blog.heroku.com/archives/2013/11/14/oauth-sso" class="linktitle">OAuth as Single Sign On</a>

</td><td class="date">
nov 14
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
The Heroku identity server denystified.
</td></tr>

<tr><td>
<a href="http://ejohn.org/blog/node-js-stream-playground/" class="linktitle">Node.js Stream Playground</a>

</td><td class="date">
nov 15
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Presentation of the streams playground made by John Resig.
</td></tr>

<tr><td>
<a href="https://blog.engineyard.com/2013/on-the-state-of-hstore" class="linktitle">On the state of HStore</a>

</td><td class="date">
nov 15
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Some comparison between HStore and MongoDB Performance.
</td></tr>

<tr><td>
<a href="http://shvets.github.io/blog/2013/11/16/two_simple_ruby_dsl_examples.html" class="linktitle">Two simple ruby dsl examples</a>

</td><td class="date">
nov 16
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Writing your won DSL is fun, check those examples.
</td></tr>

<tr><td>
<a href="http://robots.thoughtbot.com/faking-remote-services-with-rack-test/" class="linktitle">Faking Remote Services with Rack::Test</a>

</td><td class="date">
nov 16
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Ww have more and more external services included in applications, here is how to handle their testing.
</td></tr>

</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://www.youtube.com/watch?v=Idg_XzxY2Ow" class="linktitle">Sass Bites #14</a>
<span class="duration">(17m)</span>
</td><td class="date">
nov 14
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Compass and the Config.rb file.
</td></tr>

</table>

<h3>Listen</h3>
<div class="baseline">What could be heard last week ..</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://podcasts.thoughtbot.com/giantrobots/74" class="linktitle">Giant robots 74</a>
<span class="duration">(32m)</span>
</td><td class="date">
nov 11
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
With thoughtbot developer Sean Griffin about scala and ruby..
</td></tr>

<tr><td>
<a href="http://rubyrogues.com/131-rr-how-to-learn/" class="linktitle">RubyRogues 131</a>
<span class="duration">(1h38)</span>
</td><td class="date">
nov 11
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
How to Learn, read books, etc.
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/453-episode-417-november-5th-2013" class="linktitle">Ruby5 419</a>
<span class="duration">(5m)</span>
</td><td class="date">
nov 15
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
marco-polo, bittersm smaller payloads, heroku open source auth, heroku postgres 2, motion in motion.
</td></tr>

<tr><td>
<a href="http://javascriptjabber.com/084-jsj-node-with-mikeal-rogers/" class="linktitle">Javascript Jabber 084</a>
<span class="duration">(51m)</span>
</td><td class="date">
nov 15
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Node with Mikeal Rogers.
</td></tr>

<tr><td>
<a href="http://5by5.tv/changelog/112" class="linktitle">The Changelog 112</a>
<span class="duration">(1h06)</span>
</td><td class="date">
nov 16
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Foundation 5 with Jonathan Smiley and Mark Hayes.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">
<i>Links curated by by mose (editor),

xenor (informer)
.</i>
</div>


<div id="rant">
<h3>Rant</h3>
<div class="baseline"><i>The random rant of the week by mose.</i></div>

</div>


</div>
</div>
