<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#171 - may 15th 2016</h1>
</div>
<div id="templateBody">



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.stinkdigital.com/" class="linktitle">Stinkdigital</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
A creative agency website including various interesting UI tricks.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.rubyconf.co/" class="linktitle">RubyConf Colombia 2016</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
This is the second rubyconf in Colombia, RFP are now open.
</td></tr>

<tr><td>
<a href="https://github.com/dbohdan/structured-text-tools" class="linktitle">Structured-text-tools</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A list of command line tools for manipulating structured text data
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/gregnavis/active_record_doctor" class="linktitle">active_record_doctor</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Detect missing/extraneous indexes in your rails project.
</td></tr>

<tr><td>
<a href="https://github.com/orgsync/active_interaction" class="linktitle">active_interaction</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Manage application specific business logic.
</td></tr>

<tr><td>
<a href="https://github.com/listia/rails_soft_deletable" class="linktitle">rails_soft_deletable</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Soft deletable support of ActiveRecord.
</td></tr>

<tr><td>
<a href="https://github.com/facebook/fbctf" class="linktitle">fbctf</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Platform to host Capture the Flag competitions
</td></tr>

<tr><td>
<a href="https://github.com/donnemartin/gitsome" class="linktitle">gitsome</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A Git/shell autocompleter with GitHub integration.
</td></tr>

<tr><td>
<a href="https://github.com/amznlabs/amazon-dsstne" class="linktitle">amazon-dsstne</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Deep Scalable Sparse Tensor Network Engine (DSSTNE) is an Amazon developed library for building Deep Learning (DL) machine learning (ML) models
</td></tr>

<tr><td>
<a href="https://github.com/donnemartin/gitsome" class="linktitle">gitsome</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A supercharged Git/shell autocompleter with GitHub integration.
</td></tr>

<tr><td>
<a href="http://distributedlog.io/html/" class="linktitle">DistributedLog</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
High-performance, replicated log service by Twitter.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://coderwall.com/p/e-azzg/store-your-private-data-inside-a-git-repository" class="linktitle">Store your private data inside a git repository</a>

</td><td class="date">
may 8
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
By git-secret.
</td></tr>

<tr><td>
<a href="http://blog.scoutapp.com/articles/2016/05/09/rails-performance-and-the-root-of-all-evil/" class="linktitle">Rails Performance and the root of all evil</a>

</td><td class="date">
may 9
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Make sure the difference is significant before performance refactoring.
</td></tr>

<tr><td>
<a href="https://blog.heroku.com/archives/2016/5/9/real_time_rails_implementing_websockets_in_rails_5_with_action_cable" class="linktitle">Implementing WebSockets in Rails 5 with Action Cable</a>

</td><td class="date">
May 9
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
The real-time web
</td></tr>

<tr><td>
<a href="http://sorentwo.com/2016/05/10/knuckles-the-next-level-of-api-caching.html" class="linktitle">Knuckles, The Next Level of API Caching</a>

</td><td class="date">
may 10
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Better caching, in the lineage of Perforated.
</td></tr>

<tr><td>
<a href="https://blog.codeship.com/build-math-evaluation-engine/" class="linktitle">How to Build a Math Evaluation Engine</a>

</td><td class="date">
may 11
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Use tokenization to parse string and build an evaluator.
</td></tr>

<tr><td>
<a href="http://aaronlasseigne.com/2016/05/11/dont-forget-about-infinite-enumerators/" class="linktitle">Don't Forget About Infinite Enumerators</a>

</td><td class="date">
may 11
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Ways to create a enumerator contains infinity loop.
</td></tr>

<tr><td>
<a href="http://www.codethinked.com/it-takes-all-kinds" class="linktitle">It Takes All Kinds</a>

</td><td class="date">
may 11
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Some thoughts about our development ecosystems.
</td></tr>

<tr><td>
<a href="https://github.com/blog/2167-electron-1-0-is-here" class="linktitle">Electron 1.0 is here</a>

</td><td class="date">
may 11
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Desktop applications—making using HTML, CSS, and JavaScript. Now with a stable API.
</td></tr>

<tr><td>
<a href="https://github.com/blog/2164-introducing-unlimited-private-repositories" class="linktitle">Introducing unlimited private repositories</a>

</td><td class="date">
may 11
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
The new pricing scheme for Github.
</td></tr>

<tr><td>
<a href="http://allenchou.net/2016/05/a-brain-dump-of-what-i-worked-on-for-uncharted-4/" class="linktitle">A Brain Dump of What I Worked on for Uncharted 4</a>

</td><td class="date">
may 11
<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Not the usual topics, but Allen is a friend and game mechanics are cool when exposed.
</td></tr>

<tr><td>
<a href="http://blog.webernetz.net/2016/05/10/advanced-ping-httping-dnsping-smtpping/" class="linktitle">Advanced Ping: httping, dnsping, smtpping</a>

</td><td class="date">
may 11
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
If it pings it's alive.
</td></tr>

<tr><td>
<a href="http://grafana.org/blog/2016/05/11/grafana-3-0-stable-released.html" class="linktitle">Grafana 3.0 Stable Released</a>

</td><td class="date">
may 11
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
A pretty good milestone for that emerging star in monitoring world.
</td></tr>

<tr><td>
<a href="https://thatmarta.wordpress.com/2016/05/12/devops-and-sharing/" class="linktitle">DevOps and sharing</a>

</td><td class="date">
may 13
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Great talk about devops culture.
</td></tr>

</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://vimeo.com/165527044" class="linktitle">Make Ruby Great Again on Vimeo</a>
<span class="duration">(39m)</span>
</td><td class="date">
may 9
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Talk about RSpec and Rails 5.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by mose (publisher), xenor (editors), 
hsatac, lincoln, james (contributors)
.</i>

</div>


<div id="rant">
<h3>Rant</h3>

<div class="baseline"><i>The random rant of the week by mose.</i></div>
<h4>Nothing to rant about this week</h4>

</div>


</div>
</div>
