<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#211 - feb 19th 2017</h1>
</div>
<div id="templateBody">



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://www.taskade.com/" class="linktitle">Taskade</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
A minimal and sharable task list in the browser.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://launchschool.com/books/core_ruby_tools" class="linktitle">Core Ruby Tools</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A guide for the ruby tools.
</td></tr>

<tr><td>
<a href="https://cloud.google.com/spanner/" class="linktitle">Cloud Spanner</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
A relational database service built for transactional consistency, high availability, and global scale by Google.
</td></tr>

<tr><td>
<a href="http://htmlreference.io" class="linktitle">HTML Reference</a>

</td><td class="date">

<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
A free guide to all HTML elements and attributes.
</td></tr>

<tr><td>
<a href="https://gowebexamples.github.io/" class="linktitle">Go Web Examples</a>

</td><td class="date">

<img class="icon" src="ico/go.png" height="18" width="18" align="right" alt="go" />
</td></tr>
<tr><td colspan="2" class="comment">
Code snippets on how to do web development in the Go programming language.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/Exelord/Monarchy" class="linktitle">Monarchy</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Hierarchical access management system with advanced roles inheritance.
</td></tr>

<tr><td>
<a href="https://github.com/kigster/simple-feed" class="linktitle">Simple-feed</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A flexible time-ordered activity feeds library
</td></tr>

<tr><td>
<a href="https://github.com/kigster/sym" class="linktitle">Sym</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Light weight symmetric encryption.
</td></tr>

<tr><td>
<a href="https://github.com/peterc/trtl" class="linktitle">Trtl</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Tk-powered Ruby turtle graphics.
</td></tr>

<tr><td>
<a href="https://github.com/Angelmmiguel/graaf" class="linktitle">Graaf</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
A collection of pure CSS grids.
</td></tr>

<tr><td>
<a href="https://ianyh.com/amethyst/" class="linktitle">Amethyst</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A tiling window manager for OS X.
</td></tr>

<tr><td>
<a href="https://github.com/wallix/awless" class="linktitle">Awless</a>

</td><td class="date">

<img class="icon" src="ico/go.png" height="18" width="18" align="right" alt="go" />
</td></tr>
<tr><td colspan="2" class="comment">
AWS CLI.
</td></tr>

<tr><td>
<a href="https://netflix.github.io/falcor/" class="linktitle">Falcor: One Model Everywhere</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A JavaScript library for efficient data fetching.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://m.vladalive.com/how-to-deal-with-technical-debt-33bc7787ed7c#.45773siv6" class="linktitle">How to deal with technical debt</a>

</td><td class="date">
feb 15
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Technical debt cannot be avoided, but it can be mitigated.
</td></tr>

<tr><td>
<a href="http://www.krisquigley.co.uk/2017/02/17/replacing-the-asset-pipeline-with-webpack-2-in-rails.html" class="linktitle">Replacing the asset pipeline with Webpack 2 in Rails</a>

</td><td class="date">
feb 17
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Gulp, Grunt or Webpack to replace sprockets.
</td></tr>

<tr><td>
<a href="http://blog.arkency.com/2017/02/ruby-code-i-no-longer-write/" class="linktitle">Ruby code I no longer write</a>

</td><td class="date">
feb 17
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Some code example passed through the filter of experience.
</td></tr>

<tr><td>
<a href="https://retrospective.co/brilliant-jerks-cost-more-than-they-are-worth/" class="linktitle">Brilliant Jerks Cost More Than They Are Worth</a>

</td><td class="date">
feb 17
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
A plead in favor of the 'no jerk' policy.
</td></tr>

<tr><td>
<a href="http://www.rubypigeon.com/posts/methods-can-be-longer-than-five-lines/" class="linktitle">Methods Can Be Longer Than Five Lines</a>

</td><td class="date">
feb 19
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
the pros and cons of short methods, and when it’s OK to break the rule.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by xenor (publisher), mose (editors), 
Nauman Tariq (contributors)
.</i>

</div>



</div>
</div>
