<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#060 - mar 30th 2014</h1>
</div>
<div id="templateBody">

<div>
<div class="baseline">
<h2>Edito</h2>
Fresh links of the week. Well yes sometimes it's not that easy to write an edito.
<br>
</div>
</div>



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.nizuka.fr/" class="linktitle">NZK portfolio</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
A designer protfolio, each link is a blast.
</td></tr>

<tr><td>
<a href="http://www.wei-wang.com/ExplainGitWithD3/" class="linktitle">Visualizing Git Concepts with D3</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
A sandbox that visually shows what git actually does.
</td></tr>

<tr><td>
<a href="http://cyberwar.kaspersky.com/" class="linktitle">Cyber Threat realtime map</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
Not that useful, but beautiful :)
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.webdesignrepo.com/" class="linktitle">WebDesign Repo</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
A selected list of web design related links.
</td></tr>

<tr><td>
<a href="http://www.elasticsearch.org/blog/elasticsearch-definitive-guide/" class="linktitle">Elasticsearch – the definitive guide</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
The Book for elasticsearch, now available online.
</td></tr>

<tr><td>
<a href="http://googlecloudplatform.blogspot.tw/2014/03/announcing-google-cloud-dns.html" class="linktitle">Google Cloud DNS</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
DNS management that has an API.
</td></tr>

<tr><td>
<a href="http://dribbbox.com/" class="linktitle">Dribbbox</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Your Dribbble portfolio in a simple js script you can put anywhere.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/troessner/reek" class="linktitle">Reek</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Code smell detector for Ruby.
</td></tr>

<tr><td>
<a href="http://www.mikeperham.com/2014/03/28/sidekiq-3-0/" class="linktitle">Sidekiq 3.0</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A new big milestone for this background job manager.
</td></tr>

<tr><td>
<a href="http://weblog.rubyonrails.org/2014/3/25/Rails-4-1-rc2/" class="linktitle">Rails 4.1.0 rc2</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Last stop before 4.1.0 final.
</td></tr>

<tr><td>
<a href="http://prime.droidlabs.pro/" class="linktitle">Motion Prime</a>

</td><td class="date">

<img class="icon" src="ico/mobile.png" height="18" width="18" align="right" alt="mobile" />
</td></tr>
<tr><td colspan="2" class="comment">
RubyMotion apps development framework.
</td></tr>

<tr><td>
<a href="https://github.com/rafalchmiel/friction" class="linktitle">Friction</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A tool to check if your project is contribution friendly.
</td></tr>

<tr><td>
<a href="http://epiceditor.com/" class="linktitle">Epic Editor</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Embeddable JavaScript Markdown editor.
</td></tr>

<tr><td>
<a href="http://www.idangero.us/framework7/" class="linktitle">Framework7</a>

</td><td class="date">

<img class="icon" src="ico/mobile.png" height="18" width="18" align="right" alt="mobile" />
</td></tr>
<tr><td colspan="2" class="comment">
Full Featured HTML Framework For Building iOS7 Apps.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://crypt.codemancers.com/posts/2013-12-18-form-objects-validations/" class="linktitle">Form object validations in Rails 4</a>

</td><td class="date">
mar 22
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Using and testing validation with form objects.
</td></tr>

<tr><td>
<a href="http://internistic.blogspot.tw/2014/03/using-docker-for-development.html" class="linktitle">Using Docker For Development</a>

</td><td class="date">
mar 24
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Advices on how to contain your dev environment in an isolated environment.
</td></tr>

<tr><td>
<a href="http://www.huibschoots.nl/wordpress/?p=1666" class="linktitle">Heuristics for recognizing professional testers</a>

</td><td class="date">
mar 25
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
List of skills that you need to look for when recruiting a tester.
</td></tr>

<tr><td>
<a href="http://codecondo.com/12-small-ruby-frameworks/" class="linktitle">12 Small Web Frameworks for Ruby Developers</a>

</td><td class="date">
mar 25
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
When you don't need the full rails load, consider one of these options.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/understanding-object-model/" class="linktitle">Understanding the Object Model</a>

</td><td class="date">
mar 26
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Deep into what is an 'object' in ruby.
</td></tr>

<tr><td>
<a href="https://www.infinum.co/the-capsized-eight/articles/web-components-building-blocks-of-the-future-web" class="linktitle">Web Components, building blocks of the future web</a>

</td><td class="date">
mar 27
<img class="icon" src="ico/html5.png" height="18" width="18" align="right" alt="html5" />
</td></tr>
<tr><td colspan="2" class="comment">
Historic and current state of web components.
</td></tr>

<tr><td>
<a href="http://addyosmani.com/blog/removing-unused-css/" class="linktitle">Spring-cleaning Unused CSS</a>

</td><td class="date">
mar 27
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
In many cases 90% of your css rules are not used. Here is how to clean it up.
</td></tr>

<tr><td>
<a href="http://lucaguidi.com/2014/03/27/thread-safety-with-ruby.html" class="linktitle">Thread Safety With Ruby</a>

</td><td class="date">
mar 27
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
As rule of thumb, avoid mutations after an object is being initialized.
</td></tr>

<tr><td>
<a href="http://dev.mensfeld.pl/2014/03/rack-argument-error-invalid-byte-sequence-in-utf-8/" class="linktitle">Rack: ArgumentError: invalid byte sequence in UTF-8</a>

</td><td class="date">
mar 29
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Clean your utf8 input before it's too late.
</td></tr>

<tr><td>
<a href="http://venturebeat.com/2014/03/29/agile-in-the-enterprise-to-succeed-avoid-the-fundamentalists/" class="linktitle">Agile: To succeed, avoid the fundamentalists</a>

</td><td class="date">
mar 29
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A great retrospective on Agile Development.
</td></tr>

</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://www.youtube.com/watch?v=LdNac8uSzaw" class="linktitle">VIM configuration for Ruby on Rails applications</a>
<span class="duration">(18m)</span>
</td><td class="date">
mar 25
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A curated list of great technical talks.
</td></tr>

</table>

<h3>Listen</h3>
<div class="baseline">What could be heard last week ..</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://podcasts.thoughtbot.com/giantrobots/91" class="linktitle">Giant robots #91</a>
<span class="duration">(34m)</span>
</td><td class="date">
mar 24
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Not Ruining Design (Rich Thornett from Dribbble).
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/487-episode-451-march-25th-2014" class="linktitle">Ruby5 451</a>
<span class="duration">(6m)</span>
</td><td class="date">
mar 25
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Postgres and jsonb, cucumber jvm, offshore, deploying to openshift.
</td></tr>

<tr><td>
<a href="http://rubyrogues.com/149-rr-ruby-in-government-with-sarah-allen/" class="linktitle">Ruby Rogues 149</a>
<span class="duration">(1h13)</span>
</td><td class="date">
mar 26
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Ruby in Government with Sarah Allen.
</td></tr>

<tr><td>
<a href="http://www.arresteddevops.com/configuration-management/" class="linktitle">Arrested DevOps 9</a>
<span class="duration">(1h10)</span>
</td><td class="date">
mar 27
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Fast and Furious: Configuration Drift.
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/489-episode-452-march-28th-2014" class="linktitle">Ruby5 452</a>
<span class="duration">(7m)</span>
</td><td class="date">
mar 28
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Mock5, Ahoy, Lexeme, Rails 4 rc2, ping pong, small web framework.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">
<i>Links curated by by mose (editor),

xenor (informer)
.</i>
</div>


<div id="rant">
<h3>Rant</h3>
<div class="baseline"><i>The random rant of the week by mose.</i></div>

</div>


</div>
</div>
