<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#048 - jan 5th 2014</h1>
</div>
<div id="templateBody">

<div>
<div class="baseline">
<h2>Edito</h2>
Okay there is a new year digit, let's get back to work now. And btw feel free to visit us on #greenruby on freenode.
<br>
</div>
</div>



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.intacto.com/2013flatvsrealism/" class="linktitle">Flat design vs Realism</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
The battle of 2013 (actually a happy new year website from Intacto).
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://gist.github.com/widged/6820559" class="linktitle">List Of D3.js libraries</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
about 25+ different JavaScript libraries related to D3.js.
</td></tr>

<tr><td>
<a href="http://www.passweird.com/" class="linktitle">Passweird</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Generate passwords too gross to steal.
</td></tr>

<tr><td>
<a href="http://uifaces.com/" class="linktitle">UI Faces</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
This tool was born from the daily toil of finding sample avatars for UI mockups.
</td></tr>

<tr><td>
<a href="http://www.bootstrapzero.com/" class="linktitle">Bootstrap Zero</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Free start templates and designs for Boostrap CSS.
</td></tr>

<tr><td>
<a href="http://www.blacktie.co/" class="linktitle">Blacktie</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Another place for finding free bootstrap themes.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://blog.phusion.nl/2014/01/02/phusion-passenger-4-0-33-released/" class="linktitle">Passenger 4.0.33</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Various fixes, and notably the new restart-app function.
</td></tr>

<tr><td>
<a href="https://github.com/freerange/recap" class="linktitle">Recap</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Simpler and faster capistrano deployment.
</td></tr>

<tr><td>
<a href="http://cosmos.layervault.com/divergence.html" class="linktitle">Divergence</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A HTTP proxy that lets you map subdomains to git branches for site testing.
</td></tr>

<tr><td>
<a href="http://jondot.github.io/sneakers/" class="linktitle">Sneakers</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Performance background processing for Ruby (picture a sidekiq on rabbitmq).
</td></tr>

<tr><td>
<a href="http://emilebosch.github.io/polybox/" class="linktitle">Polybox</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
A docker based polyglot hacker's sandbox.
</td></tr>

<tr><td>
<a href="http://codepen.io/terrymun/full/JKHwp" class="linktitle">Fluidbox</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A replica of lightbox like they do it on Medium.
</td></tr>

<tr><td>
<a href="https://github.com/noplay/docker-osx/" class="linktitle">Docker Osx</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Fast and easy installation of Docker on OS X.
</td></tr>

<tr><td>
<a href="http://orchardup.github.io/fig/" class="linktitle">Fig</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
A combination of vagrant and docker, with yaml config files.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://blog.groupbuddies.com/posts/20-clean-architecture" class="linktitle">Clean Architecture</a>

</td><td class="date">
dec 27
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Rails app structure following the clean principles of uncle bob, kinda.
</td></tr>

<tr><td>
<a href="http://monkeyandcrow.com/blog/reading_rails_more_migrations/" class="linktitle">Reading Rails - More Migrations</a>

</td><td class="date">
dec 31
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
How Rails look up for migrations.
</td></tr>

<tr><td>
<a href="http://michaelrbernste.in/2014/01/01/a-taste-of-logic-programming-in-ruby.html" class="linktitle">A Taste of Logic Programming In Ruby</a>

</td><td class="date">
jan 1
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Unific, Ambit, Rulog, various approach for ruby logic programming.
</td></tr>

<tr><td>
<a href="http://robots.thoughtbot.com/rendering-collections-in-rails" class="linktitle">Rendering Collections in Rails</a>

</td><td class="date">
jan 1
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
The use of partials to break down complex view into more manageable chunks.
</td></tr>

<tr><td>
<a href="http://www.2ality.com/2014/01/web-platform-2014.html" class="linktitle">5 technologies to look forward to in 2014</a>

</td><td class="date">
jan 1
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Short list: asm.js, paralleljs, ES6, web components, CSS grid layout.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/look-ruby-2-1/" class="linktitle">A Look at Ruby 2.1</a>

</td><td class="date">
jan 2
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Detailled review of new features in ruby 2.1.
</td></tr>

<tr><td>
<a href="http://viralpatel.net/blogs/javascript-module-pattern/" class="linktitle">Javascript Module Design Pattern</a>

</td><td class="date">
jan 2
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Modules in js, and advantages of the revealing module pattern.
</td></tr>

<tr><td>
<a href="http://www.shaundunne.com/gulp-is-the-new-black/" class="linktitle">Gulp is the new black</a>

</td><td class="date">
jan 3
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Gulp is an alternative to Grunt.
</td></tr>

<tr><td>
<a href="http://www.creativebloq.com/css3/top-10-free-ui-kits-web-designers-11410251" class="linktitle">The top 10 free UI kits for web designers</a>

</td><td class="date">
jan 3
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
A list of CSS frameworks for designers.
</td></tr>

</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.youtube.com/watch?v=IDYjSdqtNZU" class="linktitle">How to Prototype and Test Any Product in 5 Days</a>
<span class="duration">(58m)</span>
</td><td class="date">
jan 3
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Explanation of the 5-days design sprint technique.
</td></tr>

</table>

<h3>Listen</h3>
<div class="baseline">What could be heard last week ..</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://rubyrogues.com/138-rr-the-rubyrep-holiday-takeover/" class="linktitle">RubyRogues 138</a>
<span class="duration">(37m)</span>
</td><td class="date">
dec 31
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
The RubyRep Holiday Takeover (recording from the rogues retreat).
</td></tr>

<tr><td>
<a href="http://www.arresteddevops.com/2014/01/02/episode-003-the-dev-show/" class="linktitle">Arrested Devops 003</a>
<span class="duration">(56m)</span>
</td><td class="date">
jan 2
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
This episode is called the dev show, an introspection session.
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/465-episode-429-january-3rd-2014" class="linktitle">Ruby5 429</a>
<span class="duration">(5m)</span>
</td><td class="date">
jan 3
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
ruby compiler, omega, rubygems, debug http clients, detect similar images, lotus.
</td></tr>

<tr><td>
<a href="http://javascriptjabber.com/090-jsj-users-groups/" class="linktitle">Javascript Jabber 090</a>
<span class="duration">(39m)</span>
</td><td class="date">
jan 3
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Users Groups.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by mose (editor), xenor (informer).</i>

</div>



</div>
</div>
