<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#044 - dec 08th 2013</h1>
</div>
<div id="templateBody">

<div>
<div class="baseline">
<h2>Edito</h2>
This week on tuesday we had various security alerts on rails, all versions. It's a good time to upgrade or to think about how to get rid of your rails 2 remaining apps. I know there are still a lot out there.
<br>
</div>
</div>



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://guesshub.io/" class="linktitle">GuessHub</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
A game where you need to guess which commit belongs to which project. Quite fun.
</td></tr>

<tr><td>
<a href="http://rachelnabors.com/alice-in-videoland/book/" class="linktitle">Alice in videoland</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
Like a book, on web page, with the code explained on webtuts and available on github.
</td></tr>

<tr><td>
<a href="http://box.cloudymedia.com/" class="linktitle">(b)ox</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
An HTML5 beatbox, design your beat and save it.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://24pullrequests.com/" class="linktitle">24 pull requests</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Like every year, the 24 pull request initiative proposes to make code gifts for christmas.
</td></tr>

<tr><td>
<a href="http://contribhub.com/" class="linktitle">ContribHub</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Making it easier to find cool repos to hack on!
</td></tr>

<tr><td>
<a href="http://explainshell.com/" class="linktitle">Explainshell</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Write down a command-line to see the help text that matches each argument.
</td></tr>

<tr><td>
<a href="http://www.sugarbox.io/" class="linktitle">Sugarbox</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A browser extension to collaborate on a web page. Didn't try yet but I will.
</td></tr>

<tr><td>
<a href="http://www.haveibeenpwned.com/" class="linktitle">Have I been pwned</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Check if your email was recently leaked from adobe, yahoo, or others.
</td></tr>

<tr><td>
<a href="http://prune.io/" class="linktitle">Prune</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Automatically create QA environments for GitHub pull requests. (on invite)
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://weblog.rubyonrails.org/2013/12/3/Rails_3_2_16_and_4_0_2_have_been_released/" class="linktitle">Rails 3.2.16 / 4.0.2</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
This is a massive security release, upgrade is not optional, just do it.
</td></tr>

<tr><td>
<a href="https://github.com/YorickPeterse/ruby-lint" class="linktitle">Ruby Lint</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Static code analysis for Ruby. Rubodoc watches style, Rubylint watches logic.
</td></tr>

<tr><td>
<a href="http://blog.golang.org/go12" class="linktitle">Go 1.2</a>

</td><td class="date">

<img class="icon" src="ico/go.png" height="18" width="18" align="right" alt="go" />
</td></tr>
<tr><td colspan="2" class="comment">
Latest stable version, with various (backward-compatible) improvements.
</td></tr>

<tr><td>
<a href="http://guardianjs.com/" class="linktitle">Guardian</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Authentication gateway middle-man for simplifying OAuth requests.
</td></tr>

<tr><td>
<a href="http://oridomi.com/" class="linktitle">Oridomi</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
The web is flat, but now you can fold it up.
</td></tr>

<tr><td>
<a href="https://github.com/janlelis/rg" class="linktitle">Regular</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Coffeescript, bower, rails, angular, an opinionated rails setup.
</td></tr>

<tr><td>
<a href="http://responsivecomments.com/" class="linktitle">Responsive comments</a>

</td><td class="date">

<img class="icon" src="ico/mobile.png" height="18" width="18" align="right" alt="mobile" />
</td></tr>
<tr><td colspan="2" class="comment">
A purely client-side solution to conditional loading.
</td></tr>

<tr><td>
<a href="http://serverspec.org/" class="linktitle">Serverspec</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
RSpec tests for your servers configured by Puppet, Chef or anything else.
</td></tr>

<tr><td>
<a href="https://github.com/gottfrois/dashing-rails" class="linktitle">Dashing-rails</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A nice looking dashboard framework by Shopify now ported to rails.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.html5rocks.com/en/tutorials/developertools/mobile/" class="linktitle">Chrome DevTools for Mobile</a>

</td><td class="date">
dec 2
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Article plus video from Paul Irish about remote debugging mobile apps with chrome.
</td></tr>

<tr><td>
<a href="http://tympanus.net/codrops/2013/12/02/techniques-for-creating-textured-text/" class="linktitle">Techniques for creating textured text</a>

</td><td class="date">
dec 2
<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Exploration of all the possible ways to do textured text on a web page.
</td></tr>

<tr><td>
<a href="http://www.naildrivin5.com/blog/2013/12/02/introduction-to-gli.html" class="linktitle">Introduction to GLI</a>

</td><td class="date">
dec 2
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Presentation of GLI, an alternative to Thor for Command Line applications.
</td></tr>

<tr><td>
<a href="http://robots.thoughtbot.com/using-polymorphism-to-make-a-better-activity-feed-in-rails/" class="linktitle">Using Polymorphism to Make a Better Activity Feed</a>

</td><td class="date">
dec 2
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A simple example of polymorphism, nothing new, but clear and good for those who still don't polymorph.
</td></tr>

<tr><td>
<a href="http://perfectionkills.com/exploring-canvas-drawing-techniques/" class="linktitle">Exploring canvas drawing techniques</a>

</td><td class="date">
dec 3
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
An amazing list of brushes using canvas and js.
</td></tr>

<tr><td>
<a href="http://robots.thoughtbot.com/sass-default/" class="linktitle">A SASS !default use case</a>

</td><td class="date">
dec 3
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Short example about how to use this default thing in SASS.
</td></tr>

<tr><td>
<a href="http://blogs.atlassian.com/2013/12/whats-new-git-1-8-5/" class="linktitle">What’s new in Git 1.8.5</a>

</td><td class="date">
dec 3
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Various small improvements and new features for that new Git version.
</td></tr>

<tr><td>
<a href="http://www.gabekoss.com/blog/2013/12/why_i_love_ruby_enumerable_inject/" class="linktitle">Why I love Ruby Enumerable#inject</a>

</td><td class="date">
dec 4
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
An introduction of how to use Enumerable#inject.
</td></tr>

<tr><td>
<a href="http://blog.plataformatec.com.br/2013/12/sharing-large-repositories-with-your-team" class="linktitle">Sharing large repositories with your team</a>

</td><td class="date">
dec 5
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Or, How to use git bundle.
</td></tr>

<tr><td>
<a href="http://guzalexander.com/2013/12/06/golang-channels-tutorial.html" class="linktitle">Golang channels tutorial</a>

</td><td class="date">
dec 6
<img class="icon" src="ico/go.png" height="18" width="18" align="right" alt="go" />
</td></tr>
<tr><td colspan="2" class="comment">
Small tutorial about channels in Go.
</td></tr>

</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.confreaks.com/events/rubyconf2013" class="linktitle">Ruby conf 2013</a>
<span class="duration">(49 talks)</span>
</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Now the full list of confs available.
</td></tr>

<tr><td>
<a href="http://www.confreaks.com/videos/2855-rubyconf2013-mastering-elasticsearch-with-ruby" class="linktitle">Mastering Elasticsearch With Ruby</a>
<span class="duration">(40m)</span>
</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Part of the rubyconf, this one I had a special interest in.
</td></tr>

<tr><td>
<a href="http://java.dzone.com/articles/how-google-does-code-review" class="linktitle">How Google Does Code Review</a>
<span class="duration">(55m)</span>
</td><td class="date">
dec 7
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Trunk Based Development workflow, methods and tools.
</td></tr>

</table>

<h3>Listen</h3>
<div class="baseline">What could be heard last week ..</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.beyondink.co.uk/shows/01-laura-and-simon" class="linktitle">Beyond ink #01</a>
<span class="duration">(1h)</span>
</td><td class="date">
dec 1
<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
A new british podcast about design, this week with Simon Collison and Laura Kalbag.
</td></tr>

<tr><td>
<a href="http://podcasts.thoughtbot.com/giantrobots/77" class="linktitle">Giant robots 77</a>
<span class="duration">(1h)</span>
</td><td class="date">
dec 2
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Harold Gimenez, Heroku postgres leader, about postgres, data management, and beer brewing.
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/459-episode-423-december-3rd-2013" class="linktitle">Ruby5 423</a>
<span class="duration">(6m)</span>
</td><td class="date">
dec 3
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Rubyconf talks, ruby-lint, advanced memoization, timetrap, better sprockets errors, idiomatic ruby, hello ruby.
</td></tr>

<tr><td>
<a href="http://foodfightshow.org/2013/12/best-practices-with-chef.html" class="linktitle">Food fight dec 3</a>
<span class="duration">(1h17)</span>
</td><td class="date">
dec 3
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
An attempt to decide what are best practices in Chef, not always consensual.
</td></tr>

<tr><td>
<a href="http://rubyrogues.com/134-rr-sharktime-with-lucas-dohmen/" class="linktitle">RubyRogues 134</a>
<span class="duration">(1h18)</span>
</td><td class="date">
dec 4
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Sharktime with Lucas Dohmen, an open discussion involving computer degrees and functional programming.
</td></tr>

<tr><td>
<a href="http://arresteddevops.com/2013/12/05/episode-001-what-is-devops/" class="linktitle">Arrested Devops 001</a>
<span class="duration">(37m)</span>
</td><td class="date">
dec 6
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
A first episode for this podcast, with some introduction and a question: what does DevOps mean?
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/460-episode-424-december-6th-2013" class="linktitle">Ruby5 424</a>
<span class="duration">(6m)</span>
</td><td class="date">
dec 6
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Spring, rails security, pry rescue, pundit, rask, death of bundler, cap 3 guide.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">
<i>Links curated by by mose (editor),

xenor (informer)
.</i>
</div>



</div>
</div>
