<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#114 - apr 12th 2015</h1>
</div>
<div id="templateBody">



<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/dreikanter/ruby-bookmarks" class="linktitle">Ruby bookmarks</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Ruby and Ruby on Rails bookmarks collection.
</td></tr>

<tr><td>
<a href="https://videos.pexels.com/" class="linktitle">Pexels videos</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Completely free stock videos.
</td></tr>

<tr><td>
<a href="https://github.com/agis-/git-style-guide" class="linktitle">Git Style Guide</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Git Style Guide inspired by the Linux Kernel guidelines and various popular practices.
</td></tr>

<tr><td>
<a href="http://vadimsva.github.io/waitMe/" class="linktitle">waitMe</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Generator for content loading animations.
</td></tr>

<tr><td>
<a href="http://pathtoperf.com/" class="linktitle">The path to performance</a>

</td><td class="date">

<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
A podcast for everyone dedicated to making websites faster.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/chrisvfritz/isabella" class="linktitle">Isabella</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A voice-computing assistant built in Ruby.
</td></tr>

<tr><td>
<a href="https://github.com/TheBlasfem/garfio" class="linktitle">garfio</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A small yet neat lib for adding callbacks to methods.
</td></tr>

<tr><td>
<a href="https://github.com/eldr-rb/eldr" class="linktitle">Eldr</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Eldr is a ruby framework without all the magic.
</td></tr>

<tr><td>
<a href="http://www.slashie.org/space.js/" class="linktitle">Space.js</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
HTML-driven narrative 3D-scrolling.
</td></tr>

<tr><td>
<a href="https://github.com/zestia/hubrelease" class="linktitle">hubrelease</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Generate release notes from closed issues and merged pull requests.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.justinweiss.com/blog/2015/04/06/how-to-debug-ruby-performance-problems-in-production/" class="linktitle">How to Debug Ruby Performance Problems in Production</a>

</td><td class="date">
apr 6
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Use rbtrace like strace and debug your ruby/rails code.
</td></tr>

<tr><td>
<a href="http://rubylogs.com/template-method-pattern-in-ruby/" class="linktitle">Template Method Pattern in Ruby</a>

</td><td class="date">
apr 6
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Implement template method pattern in ruby.
</td></tr>

<tr><td>
<a href="http://www.blackbytes.info/2015/04/parsing-with-ruby/" class="linktitle">How to build a parser with Ruby</a>

</td><td class="date">
apr 7
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Build a parser by ruby StringScanner class.
</td></tr>

<tr><td>
<a href="http://tosbourn.com/ruby-partition-enumerable/" class="linktitle">Ruby’s Partition for Enumerables</a>

</td><td class="date">
apr 8
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Less known Enum method which splits collection to 2 by match/unmatch condition.
</td></tr>

<tr><td>
<a href="http://www.leighhalliday.com/ruby-metaprogramming-method-missing" class="linktitle">Ruby Metaprogramming - Method Missing</a>

</td><td class="date">
apr 8
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Use method_missing in meta-programming.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/how-to-code-html-email-newsletters/" class="linktitle">How to Code HTML Email Newsletters</a>

</td><td class="date">
apr 8
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
The task of creating an HTML email that will display consistently appears both simple and horribly complex.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/create-chrome-extension-10-minutes-flat/" class="linktitle">How to Create a Chrome Extension in 10 Minutes Flat</a>

</td><td class="date">
apr 8
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Creating a Chrome extension is easier than you may think.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/rubygems-slow/" class="linktitle">Why is Rubygems slow?</a>

</td><td class="date">
apr 9
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A deep walk through of how Rubygems works.
</td></tr>

<tr><td>
<a href="http://blog.codeship.com/websockets-in-rails-4/" class="linktitle">WebSockets in Rails 4</a>

</td><td class="date">
apr 9
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Implement websockets by concurrency and rack hijack.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/add-timeline-website-google-charts/" class="linktitle">Add a Timeline to Your Website with Google Charts</a>

</td><td class="date">
apr 9
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
how to use Google Charts to add professional looking timelines to your web pages.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/build-node-js-powered-chatroom-web-app-connecting-websockets/" class="linktitle">Build a Node.js-powered Chatroom Web App: Connecting with WebSockets</a>

</td><td class="date">
apr 9
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
This Node.js tutorial series will help you build a real-time chatroom web app fully deployed in the cloud.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/accelerate-javascript-development-coffeescript/" class="linktitle">Accelerate Your JavaScript Development with CoffeeScript</a>

</td><td class="date">
apr 10
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
For people out there that still don't know what it does.
</td></tr>

<tr><td>
<a href="http://codyhouse.co/gem/3d-bold-navigation/" class="linktitle">3D Bold Navigation</a>

</td><td class="date">
apr 10
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A bold navigation that slides in when active, replacing the current content in a 3D space.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/introduction-r-rstudio/" class="linktitle">Introduction to R and RStudio</a>

</td><td class="date">
apr 11
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
R is a language built solely for statistical computing.
</td></tr>

</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://sysadmincasts.com/episodes/48-static-sites-using-aws-s3-cloudfront-and-route-53-1-5" class="linktitle">Sysadmincast 48</a>
<span class="duration">(13m)</span>
</td><td class="date">
apr 9
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Static Sites using AWS S3, CloudFront, and Route 53
</td></tr>

<tr><td>
<a href="http://confreaks.tv/events/bathruby2015" class="linktitle">BathRuby 2015</a>
<span class="duration">(8 videos)</span>
</td><td class="date">
apr 10
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
All talks in BathRuby Conference 2015
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by mose (publisher), xenor, tysliu (editors).</i>

</div>


<div id="rant">
<h3>Rant</h3>
<div class="baseline"><i>The random rant of the week by mose.</i></div>
<h4>No comment</h4>

<p>Well there are weeks like this. I just don't feel like ranting and I don't wish to force it.</p>

</div>


</div>
</div>
