<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#199 - nov 27th 2016</h1>
</div>
<div id="templateBody">



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://violent.sh/" class="linktitle">Violent Shell</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Web site in shell style.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://fossbytes.com/dollar-89-pinebook-linux-laptop-64-bit/" class="linktitle">Pinebook</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A Low Cost Linux Laptop That Looks Like A MacBook.
</td></tr>

<tr><td>
<a href="http://rails-sqli.org/" class="linktitle">Rails SQL Injection Examples</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Things to prevent when taking pramams directly to your Rails query.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/danielpclark/CardsLib" class="linktitle">CardsLib</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
Card evaluation is written in a functional way that allows, and is optimized for, lazy evaluation.
</td></tr>

<tr><td>
<a href="https://github.com/grosser/stub_server" class="linktitle">Stub_server</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Boot up a real server to serve testing replies.
</td></tr>

<tr><td>
<a href="https://github.com/michelson/dante2" class="linktitle">Dante2</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A rewrite of dante editor built on top of DraftJs
</td></tr>

<tr><td>
<a href="https://github.com/refinery/refinerycms" class="linktitle">Refinerycms</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
An extendable Ruby on Rails CMS that supports Rails 4.2+
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://www.ruby-lang.org/en/news/2016/11/21/ruby-2-3-3-released/" class="linktitle">Ruby 2.3.3 Released</a>

</td><td class="date">
nov 21
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
This release contains a bug fix about Refinements and Module#prepend.
</td></tr>

<tr><td>
<a href="http://schneems.com/2016/11/21/writing-a-rails-feature-blow-by-blow/" class="linktitle">Writing a Rails Feature - Blow by Blow</a>

</td><td class="date">
nov 21
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A detailed walkthrough on how a Rails core commiter implements a feature.
</td></tr>

<tr><td>
<a href="https://css-tricks.com/style-list-markers-css/" class="linktitle">Style List Markers in CSS</a>

</td><td class="date">
nov 21
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
The trick is to remove the list-style, then apply the markers through pseudo-element counters.
</td></tr>

<tr><td>
<a href="http://blog.davydovanton.com/2016/11/23/ruby-tips-part-two/" class="linktitle">Ruby tips #2</a>

</td><td class="date">
nov 23
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Interesting solutions which you’ll not find anywhere else.
</td></tr>

<tr><td>
<a href="http://www.rubypigeon.com/posts/questions-and-answers-with-piotr-solnica/" class="linktitle">Q&A With Piotr Solnica</a>

</td><td class="date">
nov 23
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Piotr, and developers like him, play the important role of breathing fresh air into our community.
</td></tr>

<tr><td>
<a href="https://medium.com/@sophiedeziel/the-double-splat-operator-83347d924ecf" class="linktitle">The Double Splat Operator</a>

</td><td class="date">
nov 24
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
It allows you to capture an indefinite number of named arguments or a hash right after capturing an array of arguments.
</td></tr>

<tr><td>
<a href="https://css-tricks.com/random-interesting-facts-htmlsvg-usage/" class="linktitle">Random Interesting Facts on HTML/SVG usage</a>

</td><td class="date">
nov 25
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Interesting facts on markup usage.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by xenor (publisher), tysliu (editors)
, mose (contributors)
.</i>

</div>


<div id="rant">
<h3>Rant</h3>

<div class="baseline"><i>The random rant of the week by xenor.</i></div>
<h4>Pray for turkeys</h4>

<p>Not sure how many turkeys has been eliminated during the weekend, hopefully they all gone for a good reason.</p>

</div>


</div>
</div>
