<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#187 - sep 4th 2016</h1>
</div>
<div id="templateBody">



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://www.carruagensdefogo.com.br/en.html" class="linktitle">Chariots of fire</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Interresting interactive animation setup.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://alpha.trycarbide.com/" class="linktitle">Carbide Alpha</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
a new kind of programming environment
</td></tr>

<tr><td>
<a href="http://tmrts.com/go-patterns/" class="linktitle">Awesome Go Patterns</a>

</td><td class="date">

<img class="icon" src="ico/go.png" height="18" width="18" align="right" alt="go" />
</td></tr>
<tr><td colspan="2" class="comment">
A curated list of Go patterns and idioms
</td></tr>

<tr><td>
<a href="https://deploybot.com/" class="linktitle">DeployBot</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
A service that build and ship code in one consistent process.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://nx-framework.com/" class="linktitle">NX</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A next generation client-side JavaScript framework.
</td></tr>

<tr><td>
<a href="https://github.com/junegunn/redis-stat" class="linktitle">redis-stat</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A real-time Redis monitoring tool.
</td></tr>

<tr><td>
<a href="https://github.com/hone/mruby-cli" class="linktitle">mruby-cli</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A platform to build native command line applications for Linux, Windows, and OS X
</td></tr>

<tr><td>
<a href="https://github.com/EventtusHQ/uniqueness" class="linktitle">uniqueness</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Alternative to rails' has_secure_token
</td></tr>

<tr><td>
<a href="https://github.com/codervault/codervault" class="linktitle">Codervault</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
An Open Source, Self-Hosted, Snippet Manager
</td></tr>

<tr><td>
<a href="https://minio.io/" class="linktitle">Minio</a>

</td><td class="date">

<img class="icon" src="ico/go.png" height="18" width="18" align="right" alt="go" />
</td></tr>
<tr><td colspan="2" class="comment">
S3 open source alternative written in Go.
</td></tr>

<tr><td>
<a href="http://rclone.org/" class="linktitle">rclone</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
rsync for cloud storage
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://phraseapp.com/blog/posts/last-rails-i18n-guide-youll-ever-need/" class="linktitle">The Last Rails I18n Guide You'll Ever Need</a>

</td><td class="date">
aug 29
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Comprehensive guide for i18n usage in rails.
</td></tr>

<tr><td>
<a href="http://open.blogs.nytimes.com/2016/08/29/testing-varnish-using-varnishtest/" class="linktitle">Testing Varnish Using Varnishtest</a>

</td><td class="date">
aug 29
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Testing with varnishtest makes a huge impact when working with VCL.
</td></tr>

<tr><td>
<a href="http://dalibornasevic.com/posts/69-managing-activerecord-connections-with-octoshark" class="linktitle">Managing ActiveRecord connections with Octoshark</a>

</td><td class="date">
aug 30
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Octoshark is a simple ActiveRecord connection manager.
</td></tr>

<tr><td>
<a href="http://www.rubypigeon.com/posts/examining-internals-of-rails-request-response-cycle/" class="linktitle">Examining The Internals Of The Rails Request/Response Cycle</a>

</td><td class="date">
aug 31
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
I have been quized on this during an interview.
</td></tr>

<tr><td>
<a href="https://www.sitepoint.com/better-nested-attributes-in-rails-with-the-cocoon-gem/" class="linktitle">Better Nested Attributes in Rails with the Cocoon Gem</a>

</td><td class="date">
sep 1
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
How to do nested forms and attributes in Rails with the Cocoon gem.
</td></tr>

<tr><td>
<a href="https://blog.codeship.com/good-module-bad-module/" class="linktitle">Good Module, Bad Module</a>

</td><td class="date">
sep 1
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
You already know how to use modules in Ruby, but are you abusing them?
</td></tr>

<tr><td>
<a href="https://www.leighhalliday.com/named-captures-ruby-regular-expressions" class="linktitle">Named Captures in Ruby Regular Expressions</a>

</td><td class="date">
sep 1
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
What if we could assign a name/key to the value being captured/extracted from our string?
</td></tr>

<tr><td>
<a href="http://twin.github.io/resumable-file-uploads-in-ruby/" class="linktitle">Resumable File Uploads in Ruby</a>

</td><td class="date">
sep 4
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Discover tus, an open protocol for resumable file uploads built on HTTP.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by mose (publisher), xenor, tysliu (editors), 
nauman, hsatac (contributors)
.</i>

</div>


<div id="rant">
<h3>Rant</h3>

<div class="baseline"><i>The random rant of the week by mose.</i></div>
<h4>Get out</h4>

<p>If you only ever have lived in only one country, you really should consider fixing it. Going <a href="https://inassets1-internationsgmbh.netdna-ssl.com/static/bundles/internationsexpatinsider/pdf/expat_insider_2016_the_internations_survey.pdf">live in another country</a> for some years or more is just such a way towards a richer life. It's usually easy to recognize people that are multi-rooted, as they often have an increased depth in their personal philosophy.</p>

<p>We are lucky, in our craft, to have various opportunities to travel and work remotely, or for foreign companies. Many of you are already aware of those benefits. But to the others I can just say this: use this opportunity! Get out!</p>

</div>


</div>
</div>
