<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#001 - feb 12th 2013</h1>
</div>
<div id="templateBody">

<div>
<div class="baseline">
<h2>Edito</h2>
The Green Ruby News was at the beginning an internal letter I was publishing every week in Code Green IT company. But it became obvious that this could and should be shared outside our walls, so here is it. Green Ruby Newsletter goes public ! <br><br>The purpose of this letter is to spread the information we gathered during the week, about ruby, rails, javascript, web development, or internet in general. I hope you can find any interest in that.
<br>
</div>
</div>



<h3>Listen</h3>
<div class="baseline">What could be heard last week ..</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://rubyrogues.com/091-rr-the-ruby-design-process-with-brian-shirai/" class="linktitle">RubyRogues 091</a>

</td><td class="date">
feb 9</td></tr>
<tr><td colspan="2" class="comment">
Interesting discussion about ruby development governance, pretty long broadcast of almost 2 hours this time)..
</td></tr>

<tr><td>
<a href="http://rubyshow.com/episodes/221" class="linktitle">ruby show 221</a>

</td><td class="date">
feb 1</td></tr>
<tr><td colspan="2" class="comment">
20 minutes of various reviews of blog posts and other rails related short info.
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/347-episode-343-february-8th-2013" class="linktitle">Ruby5 343</a>

</td><td class="date">
feb 8</td></tr>
<tr><td colspan="2" class="comment">
short 5 minutes of news about rails.
</td></tr>

</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.confreaks.com/videos/1108-gogaruco2012-people-the-missing-ingredient" class="linktitle">People the missing ingredient</a>

</td><td class="date">
sep 17</td></tr>
<tr><td colspan="2" class="comment">
most projects don't fail for technical reasons. The human factor is the weak link.
</td></tr>

<tr><td>
<a href="http://railscasts.com/episodes/148-custom-app-generators-revised" class="linktitle">Railscast pro: custom app generator</a>

</td><td class="date">
feb 3</td></tr>
<tr><td colspan="2" class="comment">
about app templates, generators, wizards.
</td></tr>

<tr><td>
<a href="http://railscasts.com/episodes/405-angularjs" class="linktitle">Railscast pro: AngularJS</a>

</td><td class="date">
feb 5</td></tr>
<tr><td colspan="2" class="comment">
more about the invasion of this js client-side framework.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://blog.engineyard.com/2013/ruby-concurrency" class="linktitle">Lessons learned in concurrency with ruby</a>

</td><td class="date">
feb 5</td></tr>
<tr><td colspan="2" class="comment">
A great review about threading in ruby, with a lot of example code.
</td></tr>

<tr><td>
<a href="http://schneems.com/post/42508340989/open-source-in-your-inbox-code-triage" class="linktitle">Code triage</a>

</td><td class="date">
feb 7</td></tr>
<tr><td colspan="2" class="comment">
a blog post about this new service that helps open source contribution by organizaing the flow of needs.
</td></tr>

<tr><td>
<a href="http://hintjens.com/blog:30" class="linktitle">Code connected volume 1 : zeroMQ</a>

</td><td class="date">
feb 7</td></tr>
<tr><td colspan="2" class="comment">
presentation of a book about ZeroMQ and C/C++, seems quite interesting, with a pdf version downloadable for free.
</td></tr>

<tr><td>
<a href="http://rubysource.com/anatomy-of-an-exploit-an-in-depth-look-at-the-rails-yaml-vulnerability/" class="linktitle">In-depth look at the rails YAML vulnerability</a>

</td><td class="date">
feb 4</td></tr>
<tr><td colspan="2" class="comment">
some more details about what made noise in recent few weeks around rails vulnerabilities.
</td></tr>

<tr><td>
<a href="https://practicingruby.com/articles/shared/nkhaprcgwrpv" class="linktitle">actor-based concurrency with celluloid</a>

</td><td class="date">
feb 7</td></tr>
<tr><td colspan="2" class="comment">
A nice article that details the concurrency ideas behind celluloid and what they fix.
</td></tr>

<tr><td>
<a href="http://www.reddit.com/r/ruby/comments/17zn25/why_is_significant_whitespace_a_bad_idea" class="linktitle">about whitespaces in ruby</a>

</td><td class="date">
feb 6</td></tr>
<tr><td colspan="2" class="comment">
Quite a long thread of comments on the indentation as a part of the language (like in haml, sass, python).
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/synapsesgroup/synapses-cas" class="linktitle">synapses-cas</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
for a central authentication system based on CAS pattern
</td></tr>

<tr><td>
<a href="https://github.com/rbCAS/CASino" class="linktitle">casino</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
is another alternative following the CAS architecture.
</td></tr>

<tr><td>
<a href="https://github.com/beanieboi/morrisjs-rails" class="linktitle">morrisjs-rails</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
is a lib for producing graphs based on raphael.js
</td></tr>

<tr><td>
<a href="https://github.com/cinchrb/cinch" class="linktitle">cinch</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
an irc bot framework that we just happen to use and love
</td></tr>

<tr><td>
<a href="https://github.com/rf-/keynote" class="linktitle">keynote</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
is a present library for cleaning up views from code
</td></tr>

<tr><td>
<a href="https://github.com/salkar/inkwell" class="linktitle">inkwell</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
adds a lot of social features to a rails application
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">
<i>Links curated by by mose (editor),

xenor (informer)
.</i>
</div>


<div id="rant">
<h3>Rant</h3>
<div class="baseline"><i>The random rant of the week by mose.</i></div>


</div>


</div>
</div>
