<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#133 - aug 23th 2015</h1>
</div>
<div id="templateBody">



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://isl.co/" class="linktitle">ISL</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Digital agency website.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://cssreset.com/" class="linktitle">Cssreset</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
2015's most popular CSS Reset scripts, all in one place.
</td></tr>

<tr><td>
<a href="http://dm-academy.github.io/aitm/" class="linktitle">Agile IT Management</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
(book) a work in progress looking for reviewers.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://www.ruby-lang.org/en/news/2015/08/18/ruby-2-2-3-released/" class="linktitle">Ruby 2.2.3 Released</a>

</td><td class="date">
aug 18
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
This release includes the security fix for a RubyGems domain name verification vulnerability.
</td></tr>

<tr><td>
<a href="https://github.com/Ibsciss/ruby-middleware" class="linktitle">Middleware</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Middleware pattern/framework for Ruby.
</td></tr>

<tr><td>
<a href="https://www.lita.io/" class="linktitle">Lita 4.0</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Ruby chat bot framework.
</td></tr>

<tr><td>
<a href="https://github.com/yudai/gotty" class="linktitle">Gotty</a>

</td><td class="date">

<img class="icon" src="ico/go.png" height="18" width="18" align="right" alt="go" />
</td></tr>
<tr><td colspan="2" class="comment">
Share your terminal as a web application.
</td></tr>

<tr><td>
<a href="http://github.hubspot.com/drop/docs/welcome/" class="linktitle">Drop.js</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
The fast and capable dropdown library.
</td></tr>

<tr><td>
<a href="https://blot.im/typeset/" class="linktitle">Type­set.js</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A ty­po­graphic pre-proces­sor for your html which uses zero client-side JavaScript.
</td></tr>

<tr><td>
<a href="https://github.com/kudago/waterfall" class="linktitle">jQuery.waterfall</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Pinterest-like layout with fluid width of columns.
</td></tr>

<tr><td>
<a href="http://webglstudio.org/" class="linktitle">WebGLStudio</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Platform to create interactive 3D scenes directly from the browser.
</td></tr>

<tr><td>
<a href="http://www.presslabs.com/gitfs/" class="linktitle">Gitfs</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A FUSE file system that fully integrates with git.
</td></tr>

<tr><td>
<a href="https://github.com/CenturyLinkLabs/watchtower" class="linktitle">Watchtower</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Automatically update running Docker containers.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.sitepoint.com/understanding-scope-in-ruby/" class="linktitle">Understanding Scope in Ruby</a>

</td><td class="date">
aug 17
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
How and where are variables visible.
</td></tr>

<tr><td>
<a href="http://www.blackbytes.info/2015/08/ruby-recursion-and-memoization/" class="linktitle">Recursion and Memoization in Ruby</a>

</td><td class="date">
aug 17
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Recursion is great but sometimes it can be hard to grasp.
</td></tr>

<tr><td>
<a href="https://infinum.co/the-capsized-eight/articles/tips-for-participating-in-the-rails-rumble" class="linktitle">Tips for participating in the Rails Rumble</a>

</td><td class="date">
aug 18
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Get ready for the year Rails Rumble (registration opens on oct 26).
</td></tr>

<tr><td>
<a href="http://twin.github.io/introduction-to-roda/" class="linktitle">Introduction to Roda</a>

</td><td class="date">
aug 18
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Introducing alternative Ruby web framework, Roda.
</td></tr>

<tr><td>
<a href="http://blog.honeybadger.io/associative-arrays-in-ruby-what/" class="linktitle">Associative arrays in Ruby…what?</a>

</td><td class="date">
aug 18
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Have you ever had a bunch of data in an array, but needed to do a key/value lookup like you would with a hash?
</td></tr>

<tr><td>
<a href="https://css-tricks.com/making-charts-with-css/" class="linktitle">Making Charts with CSS</a>

</td><td class="date">
aug 18
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Plain CSS methods for styling data.
</td></tr>

<tr><td>
<a href="http://jqueryhouse.com/javascript-mobile-libraries" class="linktitle">JavaScript Mobile Libraries</a>

</td><td class="date">
aug 18
<img class="icon" src="ico/mobile.png" height="18" width="18" align="right" alt="mobile" />
</td></tr>
<tr><td colspan="2" class="comment">
Quick review of 15 js libraries.
</td></tr>

<tr><td>
<a href="http://blog.iempire.ru/2015/s3-direct-uploads/" class="linktitle">Direct uploads with AWS S3 and Rails</a>

</td><td class="date">
aug 19
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Reduced the file storage codebase and avoid using some unnecessary gems.
</td></tr>

<tr><td>
<a href="http://blog.honeybadger.io/data-and-end-in-ruby" class="linktitle">Mixing code and data in Ruby with DATA and __END__</a>

</td><td class="date">
aug 19
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Use DATA instead of separate code to a single file.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/icon-fonts-vs-svg-debate/" class="linktitle">The Great Icon Debate: Fonts Vs SVG</a>

</td><td class="date">
aug 19
<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Review of pros and cons of the 2 modern methods for using icons.
</td></tr>

<tr><td>
<a href="http://www.leighhalliday.com/exploring-some-string-methods" class="linktitle">Exploring some string methods</a>

</td><td class="date">
aug 20
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Users don't always enter data as you want them to.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/deploy-your-rails-app-to-aws/" class="linktitle">Deploy Your Rails App to AWS</a>

</td><td class="date">
aug 20
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Deploy Rails application on AWS with Capistrano.
</td></tr>

<tr><td>
<a href="http://blog.skylight.io/fixing-the-mysterious-slow-request/" class="linktitle">Fixing That Mysterious Slow Request in Your Rails App</a>

</td><td class="date">
aug 21
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Some good tips to track down request slowness.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/guide-vanilla-ajax-without-jquery/" class="linktitle">A Guide to Vanilla Ajax Without jQuery</a>

</td><td class="date">
aug 21
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Investigate improvements made to the Ajax API in vanilla JavaScript.
</td></tr>

</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://css-tricks.com/first-impression-of-github-desktop/" class="linktitle">First Impression of GitHub Desktop</a>
<span class="duration">(10m)</span>
</td><td class="date">
aug 19
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Instead of GitHub for Mac and GitHub for Windows, we are now left with just GitHub Desktop.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/watch-capturing-time-in-react/" class="linktitle">Watch: Capturing Time in React</a>
<span class="duration">(9m)</span>
</td><td class="date">
aug 19
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Building a Stopwatch component from scratch!
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by mose (publisher), xenor, tysliu (editors)
.</i>

</div>


<div id="rant">
<h3>Rant</h3>

<div class="baseline"><i>The random rant of the week by mose.</i></div>
<h4>Just met Hugo</h4>

<p>Some weeks ago I was talking about Octopress. I think pre-generation of websites is a very sensible approach. And I heard about <a href="https://gohugo.io/">Hugo</a> for some time now. It's like a cousin of Jekyll but writen in Go. The author of Middleman (another site generation engine) confessed in a <a href="https://changelog.com/169/">recent podcast</a> that he would try the Golang way if he had to start from scratch today.</p>

<p>I got interested into Hugo mostly because one of the side projects I'm working on. It involves a bunch of people that run on windows. Having a binary that runs everywhere is a big plus for a gGo solution. Installing ruby is possible on windows, but not really for noobs afaict.</p>

<p>Also, I want to check more Go projects. I have been playing in and out that language for a while now. Version 1.5 seems really great. So I upgraded my <a href="https://github.com/moovweb/gvm">gvm</a> and installed the thing. Well, I could havce just used the Hugo binary, but where is the fun in that?</p>

<p>My first impression is very comfortable. It took a lot of the principles form Jekyll. But it seems to have some extra options and concepts that may be a little more advanced and seem very promising. The theming system is especially cool. I will probably first port my own blog under Hugo before porting my other project.</p>

<p>As a matter of fact, that's a while I'm considering that I never feed my blog, but I should copy the rants I write here in there. It can be fun to add a rake task in the greenruby publication process to also add a page in a nearby hugo repo and publish it at the same time.</p>

</div>


</div>
</div>
