<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#194 - oct 23th 2016</h1>
</div>
<div id="templateBody">



<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/syaning/awesome-frontend" class="linktitle">Awesome-frontend</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Just a list of links.
</td></tr>

<tr><td>
<a href="https://dockbit.com/" class="linktitle">Dockbit</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Software deployments into repeatable, manageable workflows.
</td></tr>

<tr><td>
<a href="http://dirtycow.ninja/" class="linktitle">Dirty COW</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
CVE-2016-5195, a very nasty Linux kernel vuln. With a name, a website, and a logo, again
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/adamcooke/procodile" class="linktitle">Procodile</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Procodile is a bit like Foreman but things are designed to run in the background.
</td></tr>

<tr><td>
<a href="https://github.com/heckpsi-lab/em-midori" class="linktitle">EM Midori</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
EM Midori is an EventMachine-based Web Framework written in pure Ruby, providing high performance and proper abstraction.
</td></tr>

<tr><td>
<a href="https://github.com/steventen/sql_tracker" class="linktitle">sql_tracker</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Rails SQL Query Tracker
</td></tr>

<tr><td>
<a href="https://github.com/redealumni/i18n_yaml_sorter" class="linktitle">i18n_yaml_sorter</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
An I18n YAML deep sorter that keeps locales organized without messing text formating
</td></tr>

<tr><td>
<a href="https://github.com/erichaydel/errdo" class="linktitle">errdo</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A simple plugin to handle, log, and customize production errors in Rails applications
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://www.sitepoint.com/learn-ruby-metaprogramming-for-great-good/" class="linktitle">Learn Ruby Metaprogramming for Great Good</a>

</td><td class="date">
oct 17
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A clean example of good metaprogramming in Ruby.
</td></tr>

<tr><td>
<a href="https://blog.adamcooke.io/running-ruby-apps-in-production-b7e8e5b516eb" class="linktitle">Running Ruby apps in production</a>

</td><td class="date">
oct 17
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Procodile is an easy to use and understand solution for Ruby developers who just want to define a process list and type start to get it up and running without any fuss.
</td></tr>

<tr><td>
<a href="http://blog.honeybadger.io/managing-secrets-in-ec2/" class="linktitle">How to Manage Application Secrets in EC2</a>

</td><td class="date">
oct 17
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Amazon's Key Management Service (KMS) provides an API for interacting with encryption keys.
</td></tr>

<tr><td>
<a href="https://blog.codeship.com/when-to-be-concerned-about-concerns/" class="linktitle">When To Be Concerned About Concerns</a>

</td><td class="date">
oct 18
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Once our chunk of behavior starts pushing the scroll-to-understand-it boundary, we give in and move it to a separate file.
</td></tr>

<tr><td>
<a href="http://blog.npmjs.org/post/152035356435/how-we-deploy-at-npm" class="linktitle">How we deploy at npm</a>

</td><td class="date">
oct 19
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Here’s how we deploy node services at npm: git push origin +master:deploy-production
</td></tr>

</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://www.youtube.com/watch?v=8aHmArEq4y0" class="linktitle">EuRuKo 2016 - Day 1 Keynote by Yukihiro Matz Matsumoto</a>

</td><td class="date">
oct 19
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
What about on Ruby 3.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by mose (publisher), xenor, tysliu (editors), 
nauman, hsatac (contributors)
.</i>

</div>


<div id="rant">
<h3>Rant</h3>

<div class="baseline"><i>The random rant of the week by mose.</i></div>
<h4>lotta news, small energy</h4>

<p>Yeah look around, there are much more news this week, comon. But this week I just didn't feel like it. So this edition is limited to some  contributions.</p>

<p>Have an excellent week!</p>

</div>


</div>
</div>
