<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#207 - jan 22nd 2017</h1>
</div>
<div id="templateBody">



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.vermont.eu/" class="linktitle">Vermont</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Nice site from a Czech marketing firm.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.allrubybooks.com/" class="linktitle">All Ruby Books</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A great collection of ruby books.
</td></tr>

<tr><td>
<a href="http://codepen.io/2016/popular/pens/" class="linktitle">Top Pens of 2016 on CodePen</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
100 top pens.
</td></tr>

<tr><td>
<a href="https://github.com/minimaxir/big-list-of-naughty-strings" class="linktitle">Big List of Naughty Strings</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
List of strings which have a high probability of causing issues when used as user-input data.
</td></tr>

<tr><td>
<a href="http://webminal.org/" class="linktitle">Webminal</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Learn and Practise Linux online.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/armilam/google-assistant-ruby" class="linktitle">Google Assistant Ruby</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Write Google Assistant actions in Ruby.
</td></tr>

<tr><td>
<a href="https://gitscout.com/" class="linktitle">Gitscout</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Gitscout is a beautiful GitHub Issues experience for macOS
</td></tr>

<tr><td>
<a href="https://github.com/pivotal/LicenseFinder" class="linktitle">LicenseFinder</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Find licenses for your project's dependencies.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://blog.botreetechnologies.com/part-1-mock-microservices-to-speedup-development-252ee69b560a" class="linktitle">Part 1: Mock microservices to speedup development</a>

</td><td class="date">
jan 16
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
In order to tests integrations, we generally mock external services.
</td></tr>

<tr><td>
<a href="https://infinum.co/the-capsized-eight/analyzing-rubygems-stats-v2016" class="linktitle">Is Ruby dead? Hell no! - Analyzing RubyGems stats for 2016</a>

</td><td class="date">
jan 17
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Rails downloads are still increasing.
</td></tr>

<tr><td>
<a href="https://redditblog.com/2017/1/17/caching-at-reddit/" class="linktitle">Caching at Reddit</a>

</td><td class="date">
jan 17
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
How Reddit monitor, tune, and scale our memcached infrastructure.
</td></tr>

<tr><td>
<a href="http://www.rubyletter.com/blog/2017/01/18/ruby-triple-equals-operator.html" class="linktitle">Ruby's Mysterious Triple Equals Operator, a.k.a. Case Equality Operator</a>

</td><td class="date">
jan 18
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Instead of testing equality, it tests inclusion.
</td></tr>

<tr><td>
<a href="http://railsguides.net/rescue-exceptions-dsl-for-plain-ruby-objects-with-rails/" class="linktitle">Rescue exceptions DSL for plain Ruby objects with Rails</a>

</td><td class="date">
jan 19
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Rescue exceptions like Rails controllers.
</td></tr>

<tr><td>
<a href="https://spin.atomicobject.com/2017/01/18/rails-script-heroku/" class="linktitle">Run a Local Rails Script on Heroku</a>

</td><td class="date">
jan 18
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
In this post, I’ll show you how to execute a long Ruby/Rails script in a remote Heroku environment.
</td></tr>

<tr><td>
<a href="http://www.virtuouscode.com/2017/01/19/some-universal-code-optimization-rules/" class="linktitle">Some universal code optimization rules</a>

</td><td class="date">
jan 19
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
From time to time I have advocated for design approaches which value consistency and ease of change over raw operations per second.
</td></tr>

<tr><td>
<a href="http://ivanjov.com/short-guide-to-awesome-changelogs/" class="linktitle">Short guide to awesome changelogs</a>

</td><td class="date">
jan 19
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Usage of the git-changelog npm package.
</td></tr>

<tr><td>
<a href="http://lucaguidi.com/2017/01/20/how-to-test-ruby-cli-the-setup/" class="linktitle">How To Test Ruby CLI: The Setup</a>

</td><td class="date">
jan 20
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
One of the most difficult tasks I met during Hanami development is to write integration tests for the Command Line Interface (CLI).
</td></tr>

<tr><td>
<a href="http://dalibornasevic.com/posts/77-auto-reconnect-for-activerecord-connections" class="linktitle">Auto-reconnect for ActiveRecord connections</a>

</td><td class="date">
jan 20
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Often we want to have more control over the reconnect strategy in order to give it more than one chance for the connection to recover.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by mose (publisher), tysliu (editors), 
mose, hsatac, lincoln, nauman (contributors)
.</i>

</div>



</div>
</div>
