<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#005 - mar 09th 2013</h1>
</div>
<div id="templateBody">

<div>
<div class="baseline">
<h2>Edito</h2>
Here are your weekly news about ruby, the universe and everything (according tothe current scope). I'm preparing a dedicated website to organize the collective writing of this newsletter, more news about it very soon.
<br>
</div>
</div>



<h3>Listen</h3>
<div class="baseline">What could be heard last week ..</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://learn.thoughtbot.com/podcast/38" class="linktitle">Giant Robots 38</a>

</td><td class="date">
mar 4</td></tr>
<tr><td colspan="2" class="comment">
discussion with Jeremy McAnally from Github.
</td></tr>

<tr><td>
<a href="http://rubyrogues.com/095-rr-people-and-team-dynamics-with-joe-obrien/" class="linktitle">RubyRogues 095</a>

</td><td class="date">
mar 4</td></tr>
<tr><td colspan="2" class="comment">
discussion with Joe O'Brien about people, the reason why projects succeed and fail.
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/354-episode-350-march-5th-2013" class="linktitle">Ruby5 350</a>

</td><td class="date">
mar 5</td></tr>
<tr><td colspan="2" class="comment">
bundler, signed gems, coffeescript, postgres, close enough, apprentice programmer.
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/355-episode-351-march-8th-2013" class="linktitle">Ruby5 351</a>

</td><td class="date">
mar 8</td></tr>
<tr><td colspan="2" class="comment">
roundup, rails 4 gem, classified-ipsum, hiding activerecords.
</td></tr>

<tr><td>
<a href="http://javascriptjabber.com/050-jsj-qunit-with-jorn-zaefferer/" class="linktitle">Javascript Jabber 050</a>

</td><td class="date">
mar 8</td></tr>
<tr><td colspan="2" class="comment">
Qunit with Jorn Zaefferer, testing, Ci, and other concerns.
</td></tr>

</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://devblog.avdi.org/2013/03/04/rubytapas-freebie-scanning-a-string" class="linktitle">scanning a string</a>

</td><td class="date">
mar 4</td></tr>
<tr><td colspan="2" class="comment">
the weekly freebie from RubyTapas.
</td></tr>

<tr><td>
<a href="https://blog.heroku.com/archives/2013/3/6/matz_highlights_ruby_2_0_at_waza" class="linktitle">Matz on ruby 2.0</a>

</td><td class="date">
mar 6</td></tr>
<tr><td colspan="2" class="comment">
the talk and transcript given during the Waza conf on ruby 2.0.
</td></tr>

<tr><td>
<a href="https://marakana.com/s/post/1405/programming_is_not_math_scala_oscar_boykin_video" class="linktitle">Programming isn't math</a>

</td><td class="date">
mar 7</td></tr>
<tr><td colspan="2" class="comment">
about scala but interesting.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://blog.crowdint.com/2013/03/04/respect-the-tomato.html" class="linktitle">Pair programming with italian tomatoes</a>

</td><td class="date">
mar 4</td></tr>
<tr><td colspan="2" class="comment">
a small article presenting pomodoro, a pair programming technique.
</td></tr>

<tr><td>
<a href="http://blog.codeship.io/2013/03/07/Smoke-Testing-with-Casperjs.html" class="linktitle">Integration testing with Casper.js</a>

</td><td class="date">
mar 7</td></tr>
<tr><td colspan="2" class="comment">
casper uses phantom.js for testing js in your web apps.
</td></tr>

<tr><td>
<a href="http://spin.atomicobject.com/2013/03/05/why-haskell/" class="linktitle">Why Haskell is worth learning</a>

</td><td class="date">
mar 5</td></tr>
<tr><td colspan="2" class="comment">
it's always good to learn new things.
</td></tr>

<tr><td>
<a href="http://rubysource.com/method-signature-you-can-sink-your-teeth-into" class="linktitle">Method signature</a>

</td><td class="date">
mar 7</td></tr>
<tr><td colspan="2" class="comment">
a post listing all possible ways to pass arguments to methods.
</td></tr>

<tr><td>
<a href="https://blog.engineyard.com/2013/bundler-hacking" class="linktitle">Bundle secrets</a>

</td><td class="date">
mar 7</td></tr>
<tr><td colspan="2" class="comment">
review list of powers that bundle grants you.
</td></tr>

<tr><td>
<a href="http://blog.nelhage.com/2013/03/tracking-an-eventmachine-leak/" class="linktitle">Bug hunt in Eventmachine</a>

</td><td class="date">
mar 7</td></tr>
<tr><td colspan="2" class="comment">
a pretty detailed story about tracking a bug in C libraries
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/bloom-lang/bud" class="linktitle">Bloom</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
a disorderly distributed language based on ruby as a DSL named BUD
</td></tr>

<tr><td>
<a href="https://github.com/awilliams/RTanque" class="linktitle">RTanque</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
a game for ruby programmers using Gosu
</td></tr>

<tr><td>
<a href="https://github.com/freerange/mocha" class="linktitle">Mocha</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
for mocking and stubbing (a classic, recently updated)
</td></tr>

<tr><td>
<a href="https://github.com/eachscape/gitscape" class="linktitle">Gitscape</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
helps with git workflow, but the code is more interesting to read than to run asis
</td></tr>

<tr><td>
<a href="https://github.com/markburns/needy_debugger" class="linktitle">Needy_debugger</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
is a fork of ruby-debug that was abandoned some time ago
</td></tr>

<tr><td>
<a href="https://github.com/theablefew/capflow" class="linktitle">Capflow</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
is adapting capistrano to git flow
</td></tr>

<tr><td>
<a href="https://github.com/jrmyward/honor" class="linktitle">Honor</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
gamifies rails apps
</td></tr>

</table>

<h3>Fun</h3>
<div class="baseline"></div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://news.layervault.com/stories/1931-announcing-the-flat-design-conference" class="linktitle">Flat Design Conference</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
the Flat new movement
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by mose (editor).</i>

</div>



</div>
</div>
