<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#055 - feb 23th 2014</h1>
</div>
<div id="templateBody">

<div>
<div class="baseline">
<h2>Edito</h2>
This week is mostly obscured by the disappearance of <a href="http://en.wikipedia.org/wiki/Jim_Weirich">Jim Weirich</a>, and his <a href="https://github.com/jimweirich/wyriki/commit/d28fac7f18aeacb00d8ad3460a0a5a901617c2d4">last commit comments flow</a> is a small sign of his impact in the ruby community.
<br>
</div>
</div>



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.slant.co/topics/1252/viewpoints/2/~what-is-the-best-drone-for-hacking~parrot-ar-drone-2-0" class="linktitle">Parrot AR Drone</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
Hacky toy.
</td></tr>

<tr><td>
<a href="http://wallbase.cc/" class="linktitle">Wallbase</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
A repository of wallpapers with a neat UI.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/bbatsov/ruby-style-guide" class="linktitle">Ruby Style Guide</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A community effort to list commonly considered best practices in ruby coding.
</td></tr>

<tr><td>
<a href="https://github.com/Snugug/north" class="linktitle">North</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Design and development standards to align and guide your project.
</td></tr>

<tr><td>
<a href="http://betali.st/startups/nota" class="linktitle">Nota</a>

</td><td class="date">

<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Visual feedback and issue tracking for web apps.
</td></tr>

<tr><td>
<a href="http://repl.cc/" class="linktitle">REPL</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
json manipulator in javascript.
</td></tr>

<tr><td>
<a href="http://randomuser.me/" class="linktitle">Random User</a>

</td><td class="date">

<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Like Lorem Ipsum, but for people.
</td></tr>

<tr><td>
<a href="https://www.silk.co/" class="linktitle">Silk</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Platform for sharing collections and vizualisations about anything.
</td></tr>

<tr><td>
<a href="http://scm-knowledge-base.readthedocs.org/en/latest/" class="linktitle">SCM Knowledge base</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Software Configuration Management, Infrastructure Orchestration and DevOps.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://weblog.rubyonrails.org/2014/2/18/Rails-4-1-rc1/" class="linktitle">Rails 4.1.0 rc1</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Check the <a href="http://coherence.io/blog/2013/12/17/whats-new-in-rails-4-1.html">rails 4.1 new features</a>. The final release is going to come soon.
</td></tr>

<tr><td>
<a href="http://weblog.rubyonrails.org/2014/2/18/Rails_3_2_17_4_0_3_and_4_1_0_beta2_have_been_released/" class="linktitle">Upgrade all your Rails</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
3 different security upgrades require a quick upgrade all your rails.
</td></tr>

<tr><td>
<a href="http://filp.github.io/psdiff/" class="linktitle">Psdiff</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A psd previewer for git.
</td></tr>

<tr><td>
<a href="http://cequel.github.io/" class="linktitle">Cequel</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A Cassandra ORM for ruby.
</td></tr>

<tr><td>
<a href="http://phusion.github.io/baseimage-docker/" class="linktitle">Baseimage docker</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
The minimal image from phusion for docker.
</td></tr>

<tr><td>
<a href="http://trivelop.de/inch/" class="linktitle">Inch</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A documentation tool for the Ruby programming language.
</td></tr>

<tr><td>
<a href="https://github.com/laurent22/massren" class="linktitle">Massren</a>

</td><td class="date">

<img class="icon" src="ico/go.png" height="18" width="18" align="right" alt="go" />
</td></tr>
<tr><td colspan="2" class="comment">
Easily rename multiple files using your text editor.
</td></tr>

<tr><td>
<a href="http://nadarei.co/mina/" class="linktitle">Mina</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A deployment tool, alternative to capistrano.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.codinghorror.com/blog/2014/02/complaint-driven-development.html" class="linktitle">Complaint-Driven Development</a>

</td><td class="date">
feb 18
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Details on the process of development of discourse.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/infinite-scrolling-rails-basics/" class="linktitle">Infinite Scrolling in Rails: The Basics</a>

</td><td class="date">
feb 19
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Using pagination and ajax for making scrolling infinite (kinda).
</td></tr>

<tr><td>
<a href="http://dev.mikamai.com/post/77171462056/easy-full-text-search-with-postgresql-and-rails" class="linktitle">Easy full-text search with PostgreSQL and Rails</a>

</td><td class="date">
feb 19
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Use the gem pg_search to add a full-text search capability to a basic rails application.
</td></tr>

<tr><td>
<a href="http://adequate.io/controlling-indirect-inputs" class="linktitle">Controlling Indirect Inputs</a>

</td><td class="date">
feb 19
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Indirect inputs in Ruby and how they relate to you as a tester of Ruby software.
</td></tr>

<tr><td>
<a href="http://collectiveidea.com/blog/archives/2014/02/19/public-methods-public-api/" class="linktitle">Public Methods != Public API</a>

</td><td class="date">
feb 19
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Some reasons why public API need a special attention.
</td></tr>

<tr><td>
<a href="http://www.amberbit.com/blog/2014/2/19/building-and-documenting-api-in-rails/" class="linktitle">Building and documenting API in Rails</a>

</td><td class="date">
feb 19
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
An illustration on how to manage a rails API.
</td></tr>

<tr><td>
<a href="http://daverupert.com/2014/02/sharing-podcasts/" class="linktitle">Sharing Podcasts</a>

</td><td class="date">
feb 20
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
How we can use technology to save podcasting!
</td></tr>

<tr><td>
<a href="http://www.justinweiss.com/blog/2014/02/20/5-reasons-why-youre-not-writing-tests/" class="linktitle">5 Reasons Why You're Not Writing Tests</a>

</td><td class="date">
feb 20
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Some hints about how to lower the barrier for testing.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/15-rules-making-accessible-links/" class="linktitle">Making Accessible Links</a>

</td><td class="date">
feb 20
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
A list of tips to improve accessibility, focused on links.
</td></tr>

<tr><td>
<a href="http://www.fastcolabs.com/3026698/inside-duckduckgo-googles-tiniest-fiercest-competitor?partner" class="linktitle">Inside DuckDuckGo, Google's Tiniest, Fiercest Competitor</a>

</td><td class="date">
feb 20
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
How could DuckDuckGo, a tiny, Philadelphia-based startup, go up against Google?
</td></tr>

<tr><td>
<a href="http://thechangelog.com/ansible-docker/" class="linktitle">The Why and How of Ansible and Docker</a>

</td><td class="date">
feb 21
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
A pretty nice combination. When will we have an ansible in ruby ?
</td></tr>

</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.youtube.com/watch?v=Q-ejVLibHVs" class="linktitle">ES6 - The Awesome Parts</a>
<span class="duration">(35m)</span>
</td><td class="date">
feb 13
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Presentation of features in the next javascript.
</td></tr>

<tr><td>
<a href="http://vimeo.com/sassconf/videos" class="linktitle">SassConf videos</a>
<span class="duration">(15 videos)</span>
</td><td class="date">
feb 16
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Presentation of features in the next javascript.
</td></tr>

</table>

<h3>Listen</h3>
<div class="baseline">What could be heard last week ..</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://episodes.gitminutes.com/2014/02/gitminutes-27-stefan-saasen-from.html" class="linktitle">GitMinutes #27</a>
<span class="duration">(1h21)</span>
</td><td class="date">
feb 17
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Stefan Saasen from Atlassian.
</td></tr>

<tr><td>
<a href="http://podcasts.thoughtbot.com/giantrobots/86" class="linktitle">Giant robots #86</a>
<span class="duration">(22m)</span>
</td><td class="date">
feb 17
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Humility and Patience (Peter Reinhardt of segment.io)
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/477-episode-441-february-18th-2014" class="linktitle">Ruby5 441</a>
<span class="duration">(6m)</span>
</td><td class="date">
feb 18
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
mruby, Hound CI, Activeinteraction, gails flash partials, inch, inheritable aliases, RFZ updated.
</td></tr>

<tr><td>
<a href="http://rubyrogues.com/144-rr-passion/" class="linktitle">Ruby Rogues 144</a>
<span class="duration">(1h05)</span>
</td><td class="date">
feb 19
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Passion, what it is not, and what it abusively used for, as a word.
</td></tr>

<tr><td>
<a href="http://javascriptjabber.com/097-jsj-gulp-js-with-eric-schoffstall/" class="linktitle">Javascript Jabber 097</a>
<span class="duration">(42m)</span>
</td><td class="date">
feb 19
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Gulp.js with Eric Schoffstall.
</td></tr>

<tr><td>
<a href="http://devopscafe.org/show/2014/2/20/devops-cafe-episode-49-brandon-burton.html" class="linktitle">Devops cafe 49</a>
<span class="duration">(58m)</span>
</td><td class="date">
feb 20
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
With Brandon Burton (Mozilla) to talk about his DevOps journey.
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/478-episode-442-february-21st-2014" class="linktitle">Ruby5 442</a>
<span class="duration">(3m)</span>
</td><td class="date">
feb 21
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Jim Weirich (his ukulele performance).
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">
<i>Links curated by by mose (editor),

xenor (informer)
.</i>
</div>


<div id="rant">
<h3>Rant</h3>
<div class="baseline"><i>The random rant of the week by mose.</i></div>

</div>


</div>
</div>
