<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#213 - mar 5th 2017</h1>
</div>
<div id="templateBody">



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://anagram.paris" class="linktitle">Anagram.paris</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
French website with nice dragging effect.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://rubyland.news/" class="linktitle">Rubyland</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Ruby feeds.
</td></tr>

<tr><td>
<a href="https://thomas-yang.me/projects/oh-my-dear-js/" class="linktitle">Oh my dear JavaScript</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Some gotchas in JS.
</td></tr>

<tr><td>
<a href="http://httpstat.us/" class="linktitle">httpstat.us</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Generate HTTP response on demand.
</td></tr>

<tr><td>
<a href="https://github.com/teesloane/Auth-Boss" class="linktitle">Auth-Boss</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Different authentication methodologies on the web.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/koic/dry_require_spec_helper" class="linktitle">Dry_require_spec_helper</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
So that you don't have to put the line again everytime writing a spec.
</td></tr>

<tr><td>
<a href="http://www.ruby2d.com/" class="linktitle">Ruby 2D</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Make cross-platform 2D applications in Ruby.
</td></tr>

<tr><td>
<a href="https://cerebroapp.com/" class="linktitle">Cerebro App</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Open-source Spotlight-like smart search app.
</td></tr>

<tr><td>
<a href="http://rib.godfat.org/" class="linktitle">Rib</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A lightweight and extensible irb replacement.
</td></tr>

<tr><td>
<a href="https://github.com/jeremyevans/erubi" class="linktitle">Erubi</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Small ERB Implementation.
</td></tr>

<tr><td>
<a href="https://github.com/jedld/brains-jruby" class="linktitle">Brains-jruby</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A feedforward neural network implementation for JRuby.
</td></tr>

<tr><td>
<a href="https://fman.io/" class="linktitle">Fman</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A modern file manager.
</td></tr>

<tr><td>
<a href="https://css.sitetent.com/" class="linktitle">Tent CSS</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
A lightweight CSS framework with BEM methodology.
</td></tr>

<tr><td>
<a href="https://github.com/maierfelix/poxi" class="linktitle">Poxi</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A pixel art editor.
</td></tr>

<tr><td>
<a href="https://github.com/janhuenermann/neurojs" class="linktitle">Neurojs</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A javascript deep learning and reinforcement learning library.
</td></tr>

<tr><td>
<a href="https://github.com/gchaincl/httplab" class="linktitle">Httplab</a>

</td><td class="date">

<img class="icon" src="ico/go.png" height="18" width="18" align="right" alt="go" />
</td></tr>
<tr><td colspan="2" class="comment">
An interactive web server.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://robots.thoughtbot.com/slicing-up-rails-application-js-for-faster-load-times" class="linktitle">Slicing up Rails Application.js for Faster Load Times</a>

</td><td class="date">
feb 27
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Reduce page load time by putting js to pages where it belongs.
</td></tr>

<tr><td>
<a href="https://developers.redhat.com/blog/2017/02/27/towards-faster-ruby-hash-tables/" class="linktitle">Towards Faster Ruby Hash Tables</a>

</td><td class="date">
feb 27
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
What makes ruby 2.4's hash table faster.
</td></tr>

<tr><td>
<a href="https://blog.qmo.io/ultimate-guide-to-api-design/" class="linktitle">Ultimate Guide to API Design</a>

</td><td class="date">
feb 28
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
A guide that packed with examples of searches, authentication, error handling and versioning.
</td></tr>

<tr><td>
<a href="https://www.chenhuijing.com/blog/css-grid-flexbox-combo/" class="linktitle">Grid + Flexbox: the best 1-2 punch in web layout</a>

</td><td class="date">
mar 2
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Using flexbox to build grid easier.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by xenor (publisher), xenor (editors), 
Nauman Tariq, ilake (contributors)
.</i>

</div>


<div id="rant">
<h3>Rant</h3>

<div class="baseline"><i>The random rant of the week by xenor.</i></div>
<h4>Peace</h4>

<p>Soldiers find peace in war, lawyers find peace in court, and we programmers find peace in resolving conflicts.</p>

</div>


</div>
</div>
