<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#081 - aug 24th 2014</h1>
</div>
<div id="templateBody">

<div>
<div class="baseline">
<h2>Edito</h2>
Hmm I really don't like my icons. I added categories from time to time and got some random icon to match them. Now I look at the result and I don't like it. Maybe someone can suggest a collection that could match the Green Ruby categories collection? For example the ops and tool categories are too identical. and I need a generic engineering category too. It would be so lovely to have a uniform look for our icons. Maybe some monochrome Heroku style kind of 16 pixel icons. So, if you feel you can help, contact me at <a href="mailto:mose@greenruby.org">mose@greenruby.org</a>.
<br>
</div>
</div>



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://followbubble.com/" class="linktitle">Bubble</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
Digital agency original website.
</td></tr>

<tr><td>
<a href="http://beautifulopen.com/" class="linktitle">Beautiful Open</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
A gallery to prove that Open Source Project can have beautiful websites.
</td></tr>

<tr><td>
<a href="http://ustwo.com/ppp/" class="linktitle">Pixel Perfect Precision Handbook</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
(Book) A comprehensive handbook on digital design.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://www.omniref.com/" class="linktitle">Omniref</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
The Universal Ruby Reference.
</td></tr>

<tr><td>
<a href="http://www.tenleaves.com/paths/thinking-in-js" class="linktitle">Biting the Bullet and Actually Learning JavaScript</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Steps to take for going further the js basics.
</td></tr>

<tr><td>
<a href="http://visual.is/" class="linktitle">Visual.is</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Present information dynamically with dashboards, reports, and data presentations.
</td></tr>

<tr><td>
<a href="http://bitfountain.io/course/the-complete-ios-7-course-learn-by-building-14-apps/?couponCode=phunt&src=producthunt" class="linktitle">The Complete iOS 7 Course</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Learn by Building 14 Apps (for free, thanks to Product Hunt).
</td></tr>

<tr><td>
<a href="http://www.toptal.com/resources" class="linktitle">Recruitment Resources by Toptal</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
List of HR resources for technical hiring.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://weblog.rubyonrails.org/2014/8/18/Rails_4_0_9_and_4_1_5_have_been_released/" class="linktitle">Rails 4.0.9 and 4.1.5</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Security fix, upgrade as soon as possible.
</td></tr>

<tr><td>
<a href="http://weblog.rubyonrails.org/2014/8/20/Rails-4-2-beta1/" class="linktitle">Rails 4.2.0 beta1</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Active Job, Deliver Later, Adequate Record, Web Console.
</td></tr>

<tr><td>
<a href="https://www.omniref.com/blog/blog/2014/08/15/browser-plugins-for-chrome-and-firefox/" class="linktitle">Omniref plugins</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Omniref Plugins for Chrome and Firefox.
</td></tr>

<tr><td>
<a href="https://github.com/worlddb/world.lite.ruby" class="linktitle">World Lite</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Lightweight public domain country data.
</td></tr>

<tr><td>
<a href="http://awvessel.github.io/" class="linktitle">Vessel</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Automates the setup & use of dockerized development environments.
</td></tr>

<tr><td>
<a href="https://github.com/mozilla/recroom" class="linktitle">Recroom</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Utility belt from Mozilla, based on node.js and ember.js.
</td></tr>

<tr><td>
<a href="https://kanaka.github.io/noVNC/" class="linktitle">noVNC</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
VNC client using HTML5 (WebSockets, Canvas) with encryption (wss://) support..
</td></tr>

<tr><td>
<a href="https://www.epicbrowser.com/" class="linktitle">Epic privacy browser</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
What you browse & search should always be private.
</td></tr>

<tr><td>
<a href="https://github.com/brendangregg/perf-tools" class="linktitle">perf-tools</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Performance analysis tools based on Linux perf_events (aka perf) and ftrace.
</td></tr>

<tr><td>
<a href="http://duojs.org/" class="linktitle">Duo.js</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
New package manager that blends the best ideas from Component, Browserify and Go.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://vrybas.github.io/blog/2014/08/15/a-way-to-organize-poros-in-rails/" class="linktitle">A Way to Organize POROs in Rails</a>

</td><td class="date">
aug 15
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Where do we put Plain Old Ruby Objects in our Rails app files structure.
</td></tr>

<tr><td>
<a href="http://viget.com/extend/pluck-subset-rails-activerecord-model-attributes" class="linktitle">Use .pluck If You Only Need a Subset of Model Attributes</a>

</td><td class="date">
aug 20
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Pull back only the attributes you need as an array.
</td></tr>

<tr><td>
<a href="http://red-badger.com/blog/2014/08/20/i-spent-3-days-with-sandi-metz-heres-what-i-learned/" class="linktitle">I Spent 3 Days With Sandi Metz – Here’s What I Learned</a>

</td><td class="date">
aug 20
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Full report about 3 full days of pair programming, code reviews and spirited group discussions.
</td></tr>

<tr><td>
<a href="http://www.webresourcesdepot.com/20-free-jquery-plugins-for-enhancing-interfaces/" class="linktitle">20 Free jQuery Plugins for Enhancing Web-based User Interfaces</a>

</td><td class="date">
aug 20
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Open source examples of new jQuery plugins which can be used to enhance any website layout.
</td></tr>

<tr><td>
<a href="http://modernweb.com/2014/08/20/modern-web-best-practice-pubsub/" class="linktitle">Modern Web Best Practice: Pub/Sub</a>

</td><td class="date">
aug 20
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Advantages of Pub/Sub libraries to communicate between modules.
</td></tr>

<tr><td>
<a href="http://blog.8thlight.com/paul-pagel/2014/08/21/software-craftsmen-are-arrogant-slow-and-dogmatic.html" class="linktitle">Software Craftsmen Are Arrogant, Slow, and Dogmatic</a>

</td><td class="date">
aug 21
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Don't fall for the provocative title, this is a debunking exercise.
</td></tr>

<tr><td>
<a href="http://firstround.com/article/Power-Up-Your-Team-with-Nonviolent-Communication-Principles" class="linktitle">Power Up Your Team with Nonviolent Communication Principles</a>

</td><td class="date">
aug 21
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
No matter what, the fate of every company depends on the team’s ability to communicate clearly and constructively.
</td></tr>

<tr><td>
<a href="http://codegeekz.com/regular-expressions-tools-resources-developers/" class="linktitle">Regular Expressions Tools & Resources</a>

</td><td class="date">
aug 22
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
15 websites for improving your Regex power.
</td></tr>

<tr><td>
<a href="http://www.zdnet.com/what-docker-does-right-and-what-it-doesnt-do-right-yet-7000032889/" class="linktitle">What Docker does right and what it doesn't do right yet</a>

</td><td class="date">
aug 22
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Docker founder Solomon Hykes explained at LinuxCon what Docker is, what it does right, and what it still needs to work on.
</td></tr>

<tr><td>
<a href="http://blog.docker.com/2014/08/orchestrating-docker-containers-in-production-using-fig/" class="linktitle">Orchestrating docker containers in production using fig</a>

</td><td class="date">
aug 22
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
How to define and run a multi-container app.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/sass-3-4-is-out/" class="linktitle">Sass 3.4 is out</a>

</td><td class="date">
aug 22
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Code name 'Selective Steve'. Here are the details.
</td></tr>

</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://www.youtube.com/watch?v=cAbKfpoLwvE&feature=youtube_gdata_player" class="linktitle">Interview of Panamax Founder, Lucas Carlson</a>
<span class="duration">(33m)</span>
</td><td class="date">
aug 16
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Discussion about the Panamax launch with its author.
</td></tr>

<tr><td>
<a href="http://www.atozcss.com/css-pseudo-elements/" class="linktitle">AtoZ CSS: Pseudo Elements</a>
<span class="duration">(6m)</span>
</td><td class="date">
aug 19
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
The five different pseudo elements.
</td></tr>

<tr><td>
<a href="http://confreaks.com/events/cascadiaruby2014" class="linktitle">Cascadia Ruby Conf 2014</a>
<span class="duration">(17 videos)</span>
</td><td class="date">
aug 19
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Dive into routing more deeply than just basic resources and writing routes from scratch.
</td></tr>

<tr><td>
<a href="http://build-podcast.com/docker/" class="linktitle">Build podcast 62: Docker</a>
<span class="duration">(28m)</span>
</td><td class="date">
aug 22
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
create isolated environment for apps based on docker.
</td></tr>

</table>

<h3>Listen</h3>
<div class="baseline">What could be heard last week ..</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://theshipshow.com/2014/08/the-epistemology-of-devops/" class="linktitle">The Ship Show 46</a>
<span class="duration">(1h06)</span>
</td><td class="date">
aug 14
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
The Epistemology of DevOps.
</td></tr>

<tr><td>
<a href="http://podcasts.thoughtbot.com/giantrobots/112" class="linktitle">Giant robots #112</a>
<span class="duration">(27m)</span>
</td><td class="date">
aug 18
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Data By Design (Joanne Cheng).
</td></tr>

<tr><td>
<a href="http://devopscafe.org/show/2014/8/18/devops-cafe-episode-52-matt-ho-with-alex-honor.html" class="linktitle">DevOps Cafe 52</a>
<span class="duration">(1h)</span>
</td><td class="date">
aug 18
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Matt Ho with Alex Honor.
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/527-episode-490-august-19th-2014" class="linktitle">Ruby5 490</a>
<span class="duration">(5m)</span>
</td><td class="date">
aug 19
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Rails 4.0.9 and 4.1.5, flatten records, Http::Exceptions, configurations, Devise.
</td></tr>

<tr><td>
<a href="http://thewebplatform.libsyn.com/web-rtc-and-designing-realtime-experiences" class="linktitle">Web platform #7</a>
<span class="duration">(55m)</span>
</td><td class="date">
aug 19
<img class="icon" src="ico/html5.png" height="18" width="18" align="right" alt="html5" />
</td></tr>
<tr><td colspan="2" class="comment">
Web RTC and Designing Realtime Experiences.
</td></tr>

<tr><td>
<a href="http://rubyrogues.com/170-rr-padrino-with-dario-cravero-nathan-esquenazi-arthur-chiu/" class="linktitle">Ruby Rogues 170</a>
<span class="duration">(1h10)</span>
</td><td class="date">
aug 20
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Padrino with Dario Cravero, Nathan Esquenazi, & Arthur Chiu.
</td></tr>

<tr><td>
<a href="http://javascriptjabber.com/122-jsj-socket-io-with-guillermo-rauch/" class="linktitle">Javascript Jabber 122</a>
<span class="duration">(48m)</span>
</td><td class="date">
aug 20
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Socket.IO with Guillermo Rauch.
</td></tr>

<tr><td>
<a href="http://5by5.tv/rubyonrails/164" class="linktitle">Ruby on Rails Podcast 164</a>
<span class="duration">(1h)</span>
</td><td class="date">
aug 20
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Jim Remsik - Madison + Ruby.
</td></tr>

<tr><td>
<a href="http://www.arresteddevops.com/sysadmins/" class="linktitle">Arrested Devops 18</a>
<span class="duration">(1h13)</span>
</td><td class="date">
aug 20
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
What exactly does it mean to be a sysadmin.
</td></tr>

<tr><td>
<a href="http://foodfightshow.org/2014/08/test-kitchen-1-dot-x.html" class="linktitle">Food Fight Show</a>
<span class="duration">(1h18)</span>
</td><td class="date">
aug 22
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Test Kitchen 1.x.
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/528-episode-491-august-22nd-2014" class="linktitle">Ruby5 491</a>
<span class="duration">(6m)</span>
</td><td class="date">
aug 22
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Semaphore, PostRank-URI, STI with JSON fields, email validation, transit-rails, Pixel Perfect Precision Handbook.
</td></tr>

<tr><td>
<a href="http://www.thecloudcast.net/2014/08/the-cloudcast-159-panamax-docker.html" class="linktitle">The Cloudcast 159 - Panamax - Docker Simplified</a>
<span class="duration">(38m)</span>
</td><td class="date">
aug 22
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Panamax - Docker Simplified.
</td></tr>

</table>

<h3>Devtips</h3>
<div class="baseline">The tips of the week collected from Faria Dev Team ..</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://devtips.faria.co/2014-08-20-ngrok.html" class="linktitle">ngrok tunnel</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">

</td></tr>

<tr><td>
<a href="http://devtips.faria.co/2014-08-20-enum-rails.html" class="linktitle">enum in Rails 4.1</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">

</td></tr>

<tr><td>
<a href="http://devtips.faria.co/2014-08-20-partial-namespace.html" class="linktitle">Disable controller prefix for partials</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">

</td></tr>

<tr><td>
<a href="http://devtips.faria.co/2014-08-21-mac-hot-corner.html" class="linktitle">Hot Corner for Mac</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">

</td></tr>

<tr><td>
<a href="http://devtips.faria.co/2014-08-21-referencing-parent.html" class="linktitle">Referencing parent selector in SASS</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">

</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">
<i>Links curated by by mose (editor),

xenor (informer)
.</i>
</div>


<div id="rant">
<h3>Rant</h3>
<div class="baseline"><i>The random rant of the week by mose.</i></div>

</div>


</div>
</div>
