<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#049 - jan 12th 2014</h1>
</div>
<div id="templateBody">

<div>
<div class="baseline">
<h2>Edito</h2>
As we are approaching the first year of publication of this newsletter, it's time to think about the birthday party. It should happen in Taipei, Taiwan, after chinese new year. If you want to join, or know a good place where we could gather, feel free to <a href="mailto:news@greenruby.org">drop me a mail</a>.
<br>
</div>
</div>



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://codepen.io/2013/popular" class="linktitle">Top pens of 2013</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
The 100 most popular codepens of past year.
</td></tr>

<tr><td>
<a href="http://andrew-hoyer.com/experiments/tumbler/" class="linktitle">Tumble</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
A simple physics simulation and relaxation experiment.
</td></tr>

<tr><td>
<a href="http://moviecode.tumblr.com/" class="linktitle">Source code in Movies</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
Images of the computer code appearing in TV and films and what they really are.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://www.howsmyssl.com/" class="linktitle">How is my SSL</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Website that tells you how secure your TLS client is.
</td></tr>

<tr><td>
<a href="http://www.webydo.com/" class="linktitle">Webydo</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Website creation tool with no coding.
</td></tr>

<tr><td>
<a href="http://song-of-github.herokuapp.com/" class="linktitle">Songs of github</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Generate a music based on github contributions.
</td></tr>

<tr><td>
<a href="http://www.viemu.com/a_vi_vim_graphical_cheat_sheet_tutorial.html" class="linktitle">Vim cheat sheet</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Graphical vi-vim Cheat Sheet and Tutorial.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.lighttable.com/" class="linktitle">Light Table</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Recently opensourced, this IDE in clojurescript seems t deserve a try.
</td></tr>

<tr><td>
<a href="https://github.com/pksunkara/alpaca" class="linktitle">Alpaca</a>

</td><td class="date">

<img class="icon" src="ico/go.png" height="18" width="18" align="right" alt="go" />
</td></tr>
<tr><td colspan="2" class="comment">
Given a web API, Generate client libraries in node, php, python, ruby.
</td></tr>

<tr><td>
<a href="http://weblogs.asp.net/shijuvarghese/archive/2014/01/12/a-simple-crud-demo-with-koa-js.aspx" class="linktitle">Koa</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A new framework building Node.js apps.
</td></tr>

<tr><td>
<a href="http://mark-rolich.github.io/Magnifier.js/" class="linktitle">Magnifier.js</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Javascript library enabling magnifying glass effect on an images.
</td></tr>

<tr><td>
<a href="http://oaxoa.github.io/Conzole/" class="linktitle">Conzole</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Conzole is a debug panel for a better javascript console.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://monkeyandcrow.com/blog/reading_rails_concern/" class="linktitle">Reading Rails - Concern</a>

</td><td class="date">
jan 6
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Composing modules using concerns in rails.
</td></tr>

<tr><td>
<a href="http://robm.me.uk/ruby/2014/01/06/nokogiri-command-line.html" class="linktitle">Nokogiri as a command-line tool</a>

</td><td class="date">
jan 6
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Use Nokogiri as a standalone script from the command line.
</td></tr>

<tr><td>
<a href="http://nerds.airbnb.com/hammerspace-persistent-concurrent-off-heap-storage/" class="linktitle">Hammerspace: Persistent, Concurrent, Off-heap Storage</a>

</td><td class="date">
jan 7
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
This is how Airbnb improved prefs on translation loading.
</td></tr>

<tr><td>
<a href="http://davidwalsh.name/crud-javascript-class" class="linktitle">A CRUD JavaScript Class</a>

</td><td class="date">
jan 7
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A very simple CRUD javascript class implementation.
</td></tr>

<tr><td>
<a href="http://www.activestate.com/blog/2014/01/using-docker-run-ruby-rspec-ci-jenkins" class="linktitle">Using Docker To Run Ruby Rspec CI In Jenkins</a>

</td><td class="date">
jan 8
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Step-by-step introduction to continuous integration testing with Docker.
</td></tr>

<tr><td>
<a href="http://blog.appwared.com/awful-app-review-trend-among-turkish-users-this-is-why-your-app-gets-so-many-one-star-reviews/" class="linktitle">Awful app-review trend among Turkish users</a>

</td><td class="date">
jan 8
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Flaws of the star system.
</td></tr>

<tr><td>
<a href="http://blog.codeclimate.com/blog/2014/01/09/when-is-it-time-to-refactor/" class="linktitle">When Is It Time to Refactor?</a>

</td><td class="date">
jan 9
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Four Simple Guidelines to Help Get It Right.
</td></tr>

<tr><td>
<a href="http://blogs.atlassian.com/2014/01/simple-git-workflow-simple/" class="linktitle">Simple Git workflow is simple</a>

</td><td class="date">
jan 9
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A basic basic branching workflow for continuous delivery from Atlassians.
</td></tr>

<tr><td>
<a href="http://developer.github.com/changes/2014-01-09-preview-the-new-deployments-api/" class="linktitle">Github New Deployments API</a>

</td><td class="date">
jan 9
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Deployments are a new thing in GitHub. No UI yet, but API is previewable.
</td></tr>

<tr><td>
<a href="http://robots.thoughtbot.com/handling-associations-on-null-objects" class="linktitle">Handling Associations on Null Objects</a>

</td><td class="date">
jan 10
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Another story about the Null object pattern, using a feature of rails4.
</td></tr>

<tr><td>
<a href="http://snips.net/blog/posts/2014/01-10-fast-interactive_prototyping_with_d3_js.html" class="linktitle">Fast interactive prototyping </a>

</td><td class="date">
jan 10
<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Using Sketch and d3.js for design prototypes.
</td></tr>

</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://emberfest.eu/munich" class="linktitle">Ember Fest 2013 - Munich</a>
<span class="duration">(8 videos)</span>
</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
The videos of the conference.
</td></tr>

</table>

<h3>Listen</h3>
<div class="baseline">What could be heard last week ..</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/466-episode-430-january-7th-2014" class="linktitle">Ruby5 430</a>
<span class="duration">(5m)</span>
</td><td class="date">
jan 7
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
TDD JSON API, Jubilee, Exception cause, Hulse, cachig an API.
</td></tr>

<tr><td>
<a href="http://javascriptjabber.com/091-jsj-json-apis/" class="linktitle">Javascript Jabber 091</a>
<span class="duration">(57m)</span>
</td><td class="date">
jan 10
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
JSON APIs.
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/467-episode-431-january-10th-2013" class="linktitle">Ruby5 431</a>
<span class="duration">(6m)</span>
</td><td class="date">
jan 10
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Github Traffic, Accesslint, Hammerspace, Sneakers, Enumerators.
</td></tr>

<tr><td>
<a href="http://5by5.tv/changelog/116" class="linktitle">The Changelog 116</a>
<span class="duration">(1h04)</span>
</td><td class="date">
jan 11
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Node Black Friday at Walmart with Eran Hammer.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">
<i>Links curated by by mose (editor),

xenor (informer)
.</i>
</div>


<div id="rant">
<h3>Rant</h3>
<div class="baseline"><i>The random rant of the week by mose.</i></div>


</div>


</div>
</div>
