<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#161 - mar 6th 2016</h1>
</div>
<div id="templateBody">



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://unwanted.acrf.com.au/" class="linktitle">UnWanted</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
A creative campaign by the Australian Cancer Research Foundation.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://jonsuh.com/hamburgers/" class="linktitle">Hamburgers</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Tasty CSS-animated hamburgers
</td></tr>

<tr><td>
<a href="https://github.com/jessicard/remote-jobs" class="linktitle">remote-jobs</a>

</td><td class="date">

<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
A list of semi to fully remote-friendly companies in tech
</td></tr>

<tr><td>
<a href="http://supermarkupworld.com" class="linktitle">Super Markup World</a>

</td><td class="date">

<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
A platformer where you solve puzzles using HTML and CSS.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://weblog.rubyonrails.org/2016/2/29/Rails-4-2-5-2-4-1-14-2-3-2-22-2-have-been-released/" class="linktitle">Rails 4.2.5.2, 4.1.14.2 and 3.2.22.2</a>

</td><td class="date">
feb 19
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Another security release, don't miss this one.
</td></tr>

<tr><td>
<a href="https://github.com/acorncache/acorn-cache" class="linktitle">Acorn-cache</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A lightweight Ruby HTTP proxy caching library.
</td></tr>

<tr><td>
<a href="https://github.com/codegram/date_validator" class="linktitle">Date_validator</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A simple, ORM agnostic, Ruby 1.9+ compatible date validator for Rails, based on ActiveModel.
</td></tr>

<tr><td>
<a href="https://github.com/gettalong/kramdown" class="linktitle">Kramdown</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A Ruby Markdown converter, using a strict syntax definition and supporting several common extensions.
</td></tr>

<tr><td>
<a href="https://github.com/raphamorim/origami.js" class="linktitle">Origami.js</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
HTML5 Canvas for Humans.
</td></tr>

<tr><td>
<a href="https://github.com/bevacqua/trunc-html" class="linktitle">Trunc-html</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Truncate html by text length
</td></tr>

<tr><td>
<a href="https://github.com/usablica/intro.js" class="linktitle">Intro.js</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
For new feature introduction and step-by-step users guide for your website and project.
</td></tr>

<tr><td>
<a href="https://github.com/geeeeeeeeek/electronic-wechat" class="linktitle">Electronic-wechat</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
WeChat client on Mac OS X and Linux.
</td></tr>

<tr><td>
<a href="https://github.com/molybdenum-99/reality" class="linktitle">Reality</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Comprehensive data proxy to knowledge about real world
</td></tr>

<tr><td>
<a href="https://github.com/atom/electron" class="linktitle">Electron</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Build cross platform desktop apps with web technologies
</td></tr>

<tr><td>
<a href="https://github.com/fulldecent/system-bus-radio" class="linktitle">System-bus-radio</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
This program transmits radio on computers without radio transmitting hardware.
</td></tr>

<tr><td>
<a href="http://www.gitkraken.com/" class="linktitle">GitKraken</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
The downright luxurious Git client for Windows, Mac and Linux.
</td></tr>

<tr><td>
<a href="https://github.com/uber-common/cpustat" class="linktitle">Cpustat</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
high frequency performance measurements for Linux
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://jakeyesbeck.com/2016/02/28/ruby-spaceship-operator/" class="linktitle">Ruby Spaceship <=> Operator</a>

</td><td class="date">
feb 28
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Some details about the weird comparison operator.
</td></tr>

<tr><td>
<a href="http://jeromedalbert.com/how-dhh-organizes-his-rails-controllers/" class="linktitle">How DHH organizes his Rails controllers</a>

</td><td class="date">
feb 28
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Splitting controllers when app grows, makes things easier.
</td></tr>

<tr><td>
<a href="http://jgaskins.org/blog/2016/02/28/turbolinks-vs-the-virtual-dom" class="linktitle">Turbolinks vs the Virtual DOM</a>

</td><td class="date">
feb 28
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Some benchmarks to the help.
</td></tr>

<tr><td>
<a href="https://m.signalvnoise.com/the-majestic-monolith-29166d022228#.iemxd515l" class="linktitle">The Majestic Monolith</a>

</td><td class="date">
feb 29
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A rant of DHH against monoliths.
</td></tr>

<tr><td>
<a href="https://zachholman.com/posts/deploying-software" class="linktitle">How to Deploy Software</a>

</td><td class="date">
mar 1
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
High-level aspects of deployment: collaboration, safety, and pace, the long version.
</td></tr>

<tr><td>
<a href="http://thehackernews.com/2016/03/drown-attack-openssl-vulnerability.html" class="linktitle">DROWN Attack</a>

</td><td class="date">
mar 1
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
What is DROWN Attack? More than 11 million HTTPS websites vulnerable to OpenSSL vulnerability.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/http-vs-ipfs-is-peer-to-peer-sharing-the-future-of-the-web/" class="linktitle">HTTP vs IPFS: is Peer-to-Peer Sharing the Future of the Web?</a>

</td><td class="date">
mar 1
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
IPFS is an attempt to solve some of the problems with our current internet architecture.
</td></tr>

<tr><td>
<a href="https://rossta.net/blog/a-ruby-antihero-thread-pool.html" class="linktitle">Thread Pool - A Ruby Antihero</a>

</td><td class="date">
mar 2
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Understanding a fundamental Ruby abstraction for concurrency
</td></tr>

<tr><td>
<a href="http://blog.codeship.com/surrogate-websockets/" class="linktitle">Surrogate WebSockets Alongside Rails</a>

</td><td class="date">
mar 2
<img class="icon" src="ico/el.png" height="18" width="18" align="right" alt="el" />
</td></tr>
<tr><td colspan="2" class="comment">
Elixir's productive tooling to build out a WebSocket microservice.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/improve-the-smell-of-your-code-with-microrefactorings/" class="linktitle">Improve the Smell of Your Code with Microrefactorings</a>

</td><td class="date">
mar 3
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
If you want to get better at refactoring, applying the process at the micro level can make it easier to start dealing with it in larger, more chaotic systems.
</td></tr>

<tr><td>
<a href="http://thenewstack.io/off-shelf-hacker-first-look-raspberry-pi-3/" class="linktitle">Off-The-Shelf Hacker: A First Look at the Raspberry Pi 3</a>

</td><td class="date">
mar 5
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Inexpensive, 64-bit capable hardware has come to the physical computing stack.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by mose (publisher), xenor, tysliu (editors), 
Nauman Tariq, hsatac (contributors)
.</i>

</div>



</div>
</div>
