<div id="templateContainer">
<div id="templateHeader">
<h1>#094 - nov 23th 2014</div>
</div>
<div id="templateBody">
<div>
	<div class="baseline">
	<h2>Edito</h2>
	I'm still on the move, this weekend at Rennes.
<br>
<br>
<em>&nbsp; mose - the green ruby editor</em><br>
<em>&nbsp;

	xenor, tysliu - the informers

</em><br>
&nbsp; <a href="http://greenruby.org" target="_self">http://greenruby.org</a>
<br>
</div>


<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="http://www.nbthieves.com/" class="linktitle">Nothing but thieves</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Simple but graphical band website.
			</td>
		</tr>
	
</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="http://clean-ruby.com/" class="linktitle">Clean Ruby</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				(book) Write code that announces how it works with the techniques in this book
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://getstream.io/" class="linktitle">Stream</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Build scalable newsfeeds & activity.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://komments.net/" class="linktitle">Komments</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Simple comment embedding, an alternative to discuss ?
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://crypton.io/" class="linktitle">Crypton</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				So the server doesn't know the contents it's storing on behalf of users.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://ocean.ink/" class="linktitle">Ocean</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Community of designers sharing feedback..
			</td>
		</tr>
	
</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="http://weblog.rubyonrails.org/2014/11/17/Rails-3-2-21-4-0-12-and-4-1-8-have-been-released/" class="linktitle">Rails 3.2.21, 4.0.12, and 4.1.8</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Security fix version, note that 4.0.11.1 and 4.1.7.1 also are available for 'just the fix'.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://fullscreen.github.io/bh/" class="linktitle">Bh - Bootstrap Helpers</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Include Bootstrap components in your Ruby apps with short, documented, tested helpers.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://github.com/SimplyBuilt/SimonSays" class="linktitle">SimonSays</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				A simple, declarative, role-based access control system for Rails.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://github.com/mindreframer/api_view" class="linktitle">ApiView</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Fast and small Object Serializer gem.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://github.com/rkh/hansi" class="linktitle">Hansi</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Your Hipster ANSI color library.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://github.com/FeGs/read_activity" class="linktitle">ReadActivity</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Supports read/unread status (including read_at), and more.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://github.com/GetStream/Stream-Rails" class="linktitle">Stream Rails</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Build activity feeds, newsfeeds and activity streams.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://www.ruby-lang.org/en/news/2014/11/13/ruby-2-1-5-is-released/" class="linktitle">interact.js</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				JavaScript drag and drop, resizing and multi-touch gestures with inertia and snapping.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://metricsgraphicsjs.org/" class="linktitle">MetricsGraphics.js</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Library built on top of D3 that is optimized for visualizing and laying out time-series data.
			</td>
		</tr>
	
</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="http://www.justinweiss.com/blog/2014/11/17/what-are-the-differences-between-irb/" class="linktitle">Difference Between various ways to launch irb</a>
				
			</td>
			<td class="date">
				nov 18
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				There are a lot of ways to launch a Ruby or Rails console.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://brandonhilkert.com/blog/creating-rails-active-record-validation-contexts-with-inheritance/?utm_source=rubyflow&utm_medium=social&utm_campaign=ar-contexts" class="linktitle">Creating Rails Active Record Validation Contexts With Inheritance</a>
				
			</td>
			<td class="date">
				nov 18
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Description of a technique for validations code organization.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://www.omniref.com/blog/blog/2014/11/18/ko1-at-rubyconf-2014-massive-garbage-collection-speedup-in-ruby-2-dot-2" class="linktitle">Massive Garbage Collection Speedup in Ruby 2.2</a>
				
			</td>
			<td class="date">
				nov 18
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Some enhancements that are going to be in Ruby 2.2.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://thenewstack.io/aws-lambda-is-a-step-towards-creating-a-new-normal/" class="linktitle">AWS Lambda Will Help Create a New Normal</a>
				
			</td>
			<td class="date">
				nov 18
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Some enhancements that are going to be in Ruby 2.2.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://woss.name/articles/specifying-rails-controllers-with-rspec/" class="linktitle">Specifying Ruby on Rails Controllers with RSpec</a>
				
			</td>
			<td class="date">
				nov 19
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Sharing about rspec in the form of a worked example.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://pragtob.wordpress.com/2014/11/19/writing-dsls-in-ruby-without-monkeypatching-object/" class="linktitle">Writing DSLs in Ruby without monkeypatching Object</a>
				
			</td>
			<td class="date">
				nov 19
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				write beautiful DSLs without polluting every Ruby object with your methods.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://techblog.thescore.com/2014/11/19/are-your-cache-control-directives-doing-what-they-are-supposed-to-do/" class="linktitle">Are Your Cache-Control Directives Doing What They Are Supposed to Do?</a>
				
			</td>
			<td class="date">
				nov 19
				
					
						<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Recap on various params impacting cache strategies in HTTP.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://www.sitepoint.com/mini-chat-rails-server-sent-events/" class="linktitle">Mini-chat with Rails and Server-Sent Events</a>
				
			</td>
			<td class="date">
				nov 20
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Example using Server Side EVents to replace websockets on a tutorial chat rails app.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://thorstenball.com/blog/2014/11/20/unicorn-unix-magic-tricks/" class="linktitle">Unicorn Unix Magic Tricks</a>
				
			</td>
			<td class="date">
				nov 20
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Post based on the talk at the Arrrrcamp conf, best post about unicorn ever.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://www.sitepoint.com/basics-node-js-streams/" class="linktitle">The Basics of Node.js Streams</a>
				
			</td>
			<td class="date">
				nov 20
				
					
						<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Explore Streams in detail and understand how they can simplify I/O.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://www.sitepoint.com/sass-multiple-arguments-lists-or-arglist/" class="linktitle">Sass Multiple Arguments, Lists or Arglist</a>
				
			</td>
			<td class="date">
				nov 20
				
					
						<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Where to use list, where to use arglist, in functions and mixins arguments.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://www.rubyraptor.org/pointer-tagging-linked-string-hash-tables-turbocaching-and-other-raptor-optimizations/" class="linktitle">Raptor optimizations</a>
				
			</td>
			<td class="date">
				nov 21
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				How they made Raptor fast, the geeky details.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://codegeekz.com/best-jquery-file-upload-plugins/" class="linktitle">15 Best jQuery File Upload Plugins</a>
				
			</td>
			<td class="date">
				nov 22
				
					
						<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Easily add file upload feature to web applications.
			</td>
		</tr>
	
</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="http://confreaks.com/events/arrrrcamp2014" class="linktitle">ArrrrCamp 2014 Schedule</a>
				<span class="duration">(14 videos)</span>
			</td>
			<td class="date">
				nov 14
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Videos from early october arrcamp.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://sysadmincasts.com/episodes/39-cli-monday-how-to-keep-your-ssh-sessions-alive" class="linktitle">Sysadmincasts #39</a>
				<span class="duration">(11m)</span>
			</td>
			<td class="date">
				nov 17
				
					
						<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				CLI Monday: How to Keep Your SSH Sessions Alive.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://www.youtube.com/watch?v=_0Fk85to6hA&list=UUzoVCacndDCfGDf41P-z0iA" class="linktitle">CSS and the Critical Path </a>
				<span class="duration">(23m)</span>
			</td>
			<td class="date">
				nov 20
				
					
						<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Patrick Hamann at CSSconf EU 2014.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://gorails.com/episodes/omniauth-twitter-sign-in" class="linktitle">Gorails 33</a>
				<span class="duration">(24m)</span>
			</td>
			<td class="date">
				nov 21
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Sign In With Twitter using Omniauth and the Twitter gem.
			</td>
		</tr>
	
</table>

<h3>Listen</h3>
<div class="baseline">What could be heard last week ..</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="http://thewebplatform.libsyn.com/ortc-web-rtc-deep-dive-with-tsahil-levent-levi" class="linktitle">Web Platform Podcast 18</a>
				<span class="duration">(50m)</span>
			</td>
			<td class="date">
				nov 17
				
					
						<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				ORTC & WebRTC Deep Dive with Tsahi Levent-Levi.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://bikeshed.fm/2" class="linktitle">The bike shed #2</a>
				<span class="duration">(35m)</span>
			</td>
			<td class="date">
				nov 17
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Rails 4.2.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://foodfightshow.org/2014/11/apache-kafka.html" class="linktitle">Food Fight Show 84</a>
				<span class="duration">(59m)</span>
			</td>
			<td class="date">
				nov 17
				
					
						<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Apache Kafka.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://giantrobots.fm/1223" class="linktitle">Giant Robots 123</a>
				<span class="duration">(24m)</span>
			</td>
			<td class="date">
				nov 18
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Don't Call It a Codecation (Chris Hunt)
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://ruby5.envylabs.com/episodes/548-episode-511-november-18th-2014" class="linktitle">Ruby5 511</a>
				<span class="duration">(6m)</span>
			</td>
			<td class="date">
				nov 18
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Ruby 2.1.5,  Scribble, Curly, Rubysierung, Minitest-Reporters.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://5by5.tv/changelog/131" class="linktitle">TheChangelog 131</a>
				<span class="duration">(1h08)</span>
			</td>
			<td class="date">
				nov 18
				
					
						<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				The Road to Ember 2.0 with Tom Dale and Yehuda Katz.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://devchat.tv/ruby-rogues/182-rr-keeping-libraries-and-utilities-small-and-simple-with-michel-martens" class="linktitle">RubyRogues 182</a>
				<span class="duration">(1h05)</span>
			</td>
			<td class="date">
				nov 19
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Keeping Libraries and Utilities Small and Simple with Michel Martens.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://devchat.tv/js-jabber/134-jsj-quilljs-with-jason-chen" class="linktitle">Javascript Jabber 134</a>
				<span class="duration">(39m)</span>
			</td>
			<td class="date">
				nov 19
				
					
						<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Quilljs with Jason Chen.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://devchat.tv/adventures-in-angular/017-aia-atscript-with-mi-ko-hevery" class="linktitle">Adventure in angular #17</a>
				<span class="duration">(31m)</span>
			</td>
			<td class="date">
				nov 20
				
					
						<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				AtScript with Miško Hevery.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://ruby5.envylabs.com/episodes/549-episode-512-november-21st-2014" class="linktitle">Ruby5 512</a>
				<span class="duration">(5m)</span>
			</td>
			<td class="date">
				nov 21
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				RubyConf 2014, accelerating Rails, RubyGems.org gets redesigned, Heroku HTTP Git, Rails released.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://5by5.tv/rubyonrails/177" class="linktitle">Ruby on Rails Podcast 177</a>
				<span class="duration">(47m)</span>
			</td>
			<td class="date">
				nov 21
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				RefactorCop - Winner of the 2014 Rails Rumble.
			</td>
		</tr>
	
</table>

</div>
</div>
