<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#212 - feb 26th 2017</h1>
</div>
<div id="templateBody">



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://lp.anzi.kr" class="linktitle">Listeners Playlist</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Music playlist with fancy hover and text transformation effects.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/vasilakisfil/rails5_api_tutorial" class="linktitle">Build an API in your Rails app now! (Rails 5 version)</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Step-by-step guide for making APIs in Rails 5.
</td></tr>

<tr><td>
<a href="https://github.com/pirate/sites-using-cloudflare" class="linktitle">Sites-using-cloudflare</a>

</td><td class="date">

<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
List of domains using Cloudflare DNS (potentially affected by the CloudBleed HTTPS traffic leak).
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/thesp0nge/dawnscanner" class="linktitle">Dawnscanner</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A static analysis security scanner for ruby written web applications.
</td></tr>

<tr><td>
<a href="http://gmvault.org/" class="linktitle">Gmvault</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Gmail backup.
</td></tr>

<tr><td>
<a href="https://beakerbrowser.com/" class="linktitle">Beaker</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
An experimental browser with builtin hosting and peer-to-peer Web protocols.
</td></tr>

<tr><td>
<a href="https://github.com/jeremyevans/ruby-refrigerator" class="linktitle">Ruby-refrigerator</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Freeze all core ruby classes.
</td></tr>

<tr><td>
<a href="https://github.com/boazsegev/iodine" class="linktitle">Iodine</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
HTTP / Websocket Server and EventMachine alternative for Ruby MRI - a kqueue/epoll C extension.
</td></tr>

<tr><td>
<a href="http://dataselfie.it/" class="linktitle">Data Selfie</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A chrome extension that gives you clues on how Facebook learns to use your personal data.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://medium.com/statuscode/introducing-webpacker-7136d66cddfb" class="linktitle">Introducing Webpacker</a>

</td><td class="date">
feb 19
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Rails 5.1 will have first-class support for webpack.
</td></tr>

<tr><td>
<a href="https://www.wetestrails.com/blog/profiling-factorygirl" class="linktitle">Faster RSpec: Profiling FactoryGirl</a>

</td><td class="date">
feb 20
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Nice small snippet for profiling FactoryGirl interactions.
</td></tr>

<tr><td>
<a href="https://christoph.luppri.ch/articles/2017/02/20/5-habits-that-made-me-a-better-ruby-developer/" class="linktitle">5 habits that made me a better Ruby developer</a>

</td><td class="date">
feb 20
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Tips you may want to try or is already practicing.
</td></tr>

<tr><td>
<a href="http://schneems.com/2017/02/21/the-oldest-bug-in-ruby-why-racktimeout-might-hose-your-server/" class="linktitle">The Oldest Bug In Ruby - Why Rack::Timeout Might Hose your Server</a>

</td><td class="date">
feb 21
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
The problem comes when an error is raised from within an ensure block from another source.
</td></tr>

<tr><td>
<a href="http://blog.honeybadger.io/objects-as-ruby-hash-keys/" class="linktitle">Objects as Ruby Hash Keys</a>

</td><td class="date">
feb 21
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
As high-level programmers, we tend to think of memory as RAM. But at a lower-level, 'memory' has many other uses.
</td></tr>

<tr><td>
<a href="https://medium.com/table-xi/high-cost-tests-and-high-value-tests-a86e27a54df" class="linktitle">High Cost Tests and High Value Tests</a>

</td><td class="date">
feb 23
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
What the heck makes a test high-value?
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by xenor (publisher), tysliu (editors), 
otaq (contributors)
.</i>

</div>



</div>
</div>
