<div id="templateContainer">
<div id="templateHeader">
<h1>#053 - feb 9nd 2014</div>
</div>
<div id="templateBody">
<div>
	<div class="baseline">
	<h2>Edito</h2>
	.
<br>
<br>
<em>&nbsp; mose - the green ruby editor</em><br>
<em>&nbsp;

	xenor - the informer

</em><br>
&nbsp; <a href="http://greenruby.org" target="_self">http://greenruby.org</a>
<br>
</div>


<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="http://www.buildwithchrome.com/" class="linktitle">Built with chrome</a>
				
			</td>
			<td class="date">
				
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				A world remade with lego.
			</td>
		</tr>
	
</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="https://layervault.com/" class="linktitle">Layervault</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Like github, but for designers.
			</td>
		</tr>
	
</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="http://coffeescript.org/#changelog" class="linktitle">Coffeescript 1.7.1</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Released on jan 28, here is what changed.
			</td>
		</tr>
	
</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="http://adequate.io/culling-the-activerecord-lifecycle" class="linktitle">Culling ActiveRecord Callbacks</a>
				
			</td>
			<td class="date">
				jan 27
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Save future you some time and effort and use a Service Object instead.
			</td>
		</tr>
	
</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="http://www.youtube.com/watch?v=u8Q6Of_mScI" class="linktitle">A 6 Minute Guide to Keyword Arguments in Ruby 2.0</a>
				<span class="duration">(7m)</span>
			</td>
			<td class="date">
				jan 27
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Short video from cooperpress.
			</td>
		</tr>
	
</table>

<h3>Listen</h3>
<div class="baseline">What could be heard last week ..</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="http://nodeup.com/fiftynine" class="linktitle">NodeUp 59</a>
				<span class="duration">(1h24)</span>
			</td>
			<td class="date">
				jan 28
				
					
						<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				About Node new project lead.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://ruby5.envylabs.com/episodes/471-episode-435-january-28-2014" class="linktitle">Ruby5 435</a>
				<span class="duration">(5m)</span>
			</td>
			<td class="date">
				jan 28
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Lite config, Thor, Rubygems tips, Mina, Vim weekly.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://rubyrogues.com/141-rr-teaching-kids-with-ron-evans/" class="linktitle">Ruby Rogues 141</a>
				<span class="duration">(1h40)</span>
			</td>
			<td class="date">
				jan 29
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Teaching Kids with Ron Evans.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://www.arresteddevops.com/2014/01/29/continuous-integration/" class="linktitle">Arrested Devops 5</a>
				<span class="duration">(51m)</span>
			</td>
			<td class="date">
				jan 29
				
					
						<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Continuous Integration – CI Told You So!
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://ruby5.envylabs.com/episodes/472-episode-436-january-31st-2014" class="linktitle">Ruby5 436</a>
				<span class="duration">(5m)</span>
			</td>
			<td class="date">
				jan 31
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Elixir fountain, Argus, STI+Hstore, Rails validators, Sparkr, Handcooler.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://javascriptjabber.com/094-jsj-bonsaijs-with-tobi-reiss/" class="linktitle">Javascript Jabber 094</a>
				<span class="duration">(43m)</span>
			</td>
			<td class="date">
				jan 31
				
					
						<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				BonsaiJS with Tobi Reiss.
			</td>
		</tr>
	
</table>

</div>
</div>
