<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#071 - jun 15th 2014</h1>
</div>
<div id="templateBody">

<div>
<div class="baseline">
<h2>Edito</h2>
This week I began to publish the links to the resources I use in my weekly review. So checkout the <a href="http://greenruby.org/links.html">links</a> page on the website if you are interested.
<br>
</div>
</div>



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://wild.as/" class="linktitle">Wild as</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
Talented austrian team of webdevs.
</td></tr>

<tr><td>
<a href="http://niice.co/" class="linktitle">Niice</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
Design inspiration search engine.
</td></tr>

<tr><td>
<a href="http://we-io.net/" class="linktitle">Weio</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
The Web of Things for Creators.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://namegrep.com/" class="linktitle">NameGrep</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Domain name search with regular expressions and curated sets.
</td></tr>

<tr><td>
<a href="http://pragprog.com/book/nrtest2/rails-4-test-prescriptions" class="linktitle">Rails 4 Test Prescriptions: Build a Healthy Codebase</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
(book) Guide to how tests can help you design and write better Rails applications.
</td></tr>

<tr><td>
<a href="http://jsnice.org/" class="linktitle">JSnice</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Makes obfuscated JavaScript code readable.
</td></tr>

<tr><td>
<a href="http://kanbantool.com/" class="linktitle">Kanban tool</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Online Kanban board for business with seamless time tracking.
</td></tr>

<tr><td>
<a href="https://github.com/grant/swift-cheat-sheet" class="linktitle">Swift cheat sheet</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A good way to get the feeling of that new thing on a one-page sheet.
</td></tr>

<tr><td>
<a href="https://www.kickdrop.me/" class="linktitle">KickDrop</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Beautifully crafted code snippets.
</td></tr>

<tr><td>
<a href="http://ember.vicramon.com/" class="linktitle">Ember on rails Tutorial</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
(online book) How to build an Ember app with a Ruby on Rails backend.
</td></tr>

<tr><td>
<a href="http://cssarrowplease.com/" class="linktitle">CSS Arrow please</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Easy builder for css arrows.
</td></tr>

<tr><td>
<a href="http://thecodeplayer.com/walkthrough/animating-float-labels-jquery-css3" class="linktitle">Animating float labels using jQuery and CSS3</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
When the user focuses on an input field individual letters are animated into an HTML fieldset like feel using jQuery.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://blog.docker.com/2014/06/its-here-docker-1-0/" class="linktitle">Docker 1.0</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
First official stable docker version.
</td></tr>

<tr><td>
<a href="http://yujinakayama.me/transpec/" class="linktitle">Transpec</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A magical tool for converting your specs to the latest RSpec syntax.
</td></tr>

<tr><td>
<a href="http://sidekiq-orm.github.io/" class="linktitle">Sidekiq-orm</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Recurring pattern in sidekiq workers, .
</td></tr>

<tr><td>
<a href="https://github.com/harrystech/seed_migration" class="linktitle">Seed migration</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Manage changes to seed data in a rails app in a similar way to how schema migrations are handled.
</td></tr>

<tr><td>
<a href="https://airchatter.net/" class="linktitle">aIRChat</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Browser-based IRC client, with node, running locally.
</td></tr>

<tr><td>
<a href="https://github.com/newrelic/centurion" class="linktitle">Centurion</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
A mass deployment tool for Docker fleets.
</td></tr>

<tr><td>
<a href="https://blog.getfirebug.com/2014/06/10/firebug-2-0/" class="linktitle">Firebug 2.0</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
This new version has a bunch of new features.
</td></tr>

<tr><td>
<a href="http://www.telerik.com/nativescript" class="linktitle">NativeScript</a>

</td><td class="date">

<img class="icon" src="ico/mobile.png" height="18" width="18" align="right" alt="mobile" />
</td></tr>
<tr><td colspan="2" class="comment">
Build iOS, Android and Windows Phone 8 native apps using JavaScript.
</td></tr>

<tr><td>
<a href="https://github.com/google/cadvisor" class="linktitle">Cadvisor</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Analyzes resource usage and performance characteristics of running containers.
</td></tr>

<tr><td>
<a href="http://flippinawesome.org/2014/06/11/convention-based-modular-mvc-with-shared-rendering-in-node-js/" class="linktitle">Taunus</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Convention-based, Modular MVC with Shared Rendering in Node.js.
</td></tr>

<tr><td>
<a href="http://hexo.io/" class="linktitle">Hexo</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A fast, simple & powerful blog framework, powered by Node.js.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://brandonhilkert.com/blog/using-rails-4-dot-1-secrets-for-configuration/" class="linktitle">Using rails 4.1 secrets for configuration</a>

</td><td class="date">
jun 10
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
An alternative to dotenv setup.
</td></tr>

<tr><td>
<a href="https://hakiri.io/blog/ruby-security-tools-and-resources" class="linktitle">Ruby Security Tools and Resources</a>

</td><td class="date">
jun 10
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Open source security libraries, web services, and reads about ruby security.
</td></tr>

<tr><td>
<a href="http://www.activestate.com/blog/2014/06/libswarm-docker-orchestration-announced" class="linktitle">libswarm - Docker Orchestration Announced</a>

</td><td class="date">
jun 10
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
libswarm defines a standard interface to manage and orchestrate distributed systems.
</td></tr>

<tr><td>
<a href="http://viget.com/extend/sharing-data-between-sass-and-javascript-with-json" class="linktitle">Sharing Data Between Sass and JavaScript with JSON</a>

</td><td class="date">
jun 10
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Presentation of the sass-json-vars gem.
</td></tr>

<tr><td>
<a href="http://www.kaushik.net/avinash/web-design-user-experience-best-practices/" class="linktitle">Digital Design & User Experience Best Practices</a>

</td><td class="date">
jun 11
<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
A very long post with illustrated examples on the current state of good UI practices.
</td></tr>

<tr><td>
<a href="http://www.amberbit.com/blog/2014/6/12/calling-c-cpp-from-ruby/" class="linktitle">Calling C/C++ from Ruby</a>

</td><td class="date">
jun 12
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Description of few ways of calling C functions from Ruby code.
</td></tr>

<tr><td>
<a href="https://blog.abevoelker.com/rails-development-using-docker-and-vagrant/" class="linktitle">Rails Development Using Docker and Vagrant</a>

</td><td class="date">
jun 13
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Make use of the recent vagrant-lxc plugin.
</td></tr>

</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.atozcss.com/float-and-clear/" class="linktitle">CSS Float and clear</a>
<span class="duration">(6m)</span>
</td><td class="date">
jun 11
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Small screencast about float elements in CSS.
</td></tr>

<tr><td>
<a href="http://codemy.net/posts/add-some-jazz-to-your-rails-app" class="linktitle">Add Some Jazz to Your Rails App</a>
<span class="duration">(5m)</span>
</td><td class="date">
jun 11
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A cool meta-gem gathering useful pry gems for rails dev.
</td></tr>

</table>

<h3>Listen</h3>
<div class="baseline">What could be heard last week ..</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://podcasts.thoughtbot.com/giantrobots/102" class="linktitle">Giant robots #102</a>
<span class="duration">(28m)</span>
</td><td class="date">
jun 9
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Put It Out To The World (Peter Cooper).
</td></tr>

<tr><td>
<a href="http://blog.producthunt.com/post/88373525824/product-hunt-radio-episode-9" class="linktitle">Product Hunt Radio 9</a>
<span class="duration">(51m)</span>
</td><td class="date">
jun 10
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
About Marco, SF’s on-demand food services, the secrets of online dating and more.
</td></tr>

<tr><td>
<a href="http://nodeup.com/sixtyfour" class="linktitle">NodeUp 64</a>
<span class="duration">(1h19)</span>
</td><td class="date">
jun 10
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Socket.io v1.0.
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/508-episode-471-june-10th-2014" class="linktitle">Ruby5 471</a>
<span class="duration">(8m)</span>
</td><td class="date">
jun 10
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Rails/Merb Merge in Retrospect, orats, Swift or RubyMotion, RubyMotion 3.0, Docker 1.0, RubyConf Portugal.
</td></tr>

<tr><td>
<a href="http://rubyrogues.com/160-rr-conceptualizing-code-with-sam-livingston-gray-and-glenn-vanderburg/" class="linktitle">Ruby Rogues 160</a>
<span class="duration">(1h30)</span>
</td><td class="date">
jun 11
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Conceptualizing Code with Sam Livingston-Gray and Glenn Vanderburg.
</td></tr>

<tr><td>
<a href="http://javascriptjabber.com/112-jsj-refactoring-javascript-apps-into-a-framework-with-brandon-hays/" class="linktitle">Javascript Jabber 112</a>
<span class="duration">(59m)</span>
</td><td class="date">
jun 11
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Refactoring JavaScript Apps Into a Framework with Brandon Hays.
</td></tr>

<tr><td>
<a href="http://www.arresteddevops.com/implementing-devops/" class="linktitle">Arrested DevOps 12</a>
<span class="duration">(56m)</span>
</td><td class="date">
jun 11
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Making The DevOps Transition.
</td></tr>

<tr><td>
<a href="http://5by5.tv/rubyonrails/154" class="linktitle">Ruby on Rails Podcast #154</a>
<span class="duration">(1h16)</span>
</td><td class="date">
jun 12
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Greg Baugues - Twilio.
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/509-episode-472-june-13th-2014" class="linktitle">Ruby5 472</a>
<span class="duration">(5m)</span>
</td><td class="date">
jun 13
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Ruby to swift, jazz hands, business gem, invoker.
</td></tr>

</table>

<h3>Devtips</h3>
<div class="baseline">The tips of the week collected from Faria Dev Team ..</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://devtips.faria.co/2014-06-12-s3-backups.html" class="linktitle">S3 backups when you have massive amount of files</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">

</td></tr>

<tr><td>
<a href="http://devtips.faria.co/2014-06-12-capybara-target-window.html" class="linktitle">Capybara target window to test links with target</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">

</td></tr>

<tr><td>
<a href="http://devtips.faria.co/2014-06-12-sidekiq-dynamic-priority.html" class="linktitle">Sidekiq dynamic priority by chosing your queue at runtime</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">

</td></tr>

<tr><td>
<a href="http://devtips.faria.co/2014-06-12-tagbar-with-coffeetags.html" class="linktitle">Tagbar with Coffeetags for coffeescript in vim</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">

</td></tr>

<tr><td>
<a href="http://devtips.faria.co/2014-06-11-exception-the-good-way.html" class="linktitle">Exception the good way to catch what you really need to catch</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">

</td></tr>

<tr><td>
<a href="http://devtips.faria.co/2014-06-11-letter-opacity.html" class="linktitle">Letter opacity because webkit is weird sometimes</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">

</td></tr>

<tr><td>
<a href="http://devtips.faria.co/2014-06-11-bundle-open.html" class="linktitle">Bundle open and read the source of the gems directly</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">

</td></tr>

<tr><td>
<a href="http://devtips.faria.co/2014-06-11-raw-sql-in-rails.html" class="linktitle">Raw SQL in Rails for faster db manipulation</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">

</td></tr>

<tr><td>
<a href="http://devtips.faria.co/2014-06-11-paralax-with-adobe-edge.html" class="linktitle">Parallax with Adobe Edge in a flash kind of UI and export in html</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">

</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by mose (editor).</i>

</div>



</div>
</div>
