<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#112 - mar 29th 2015</h1>
</div>
<div id="templateBody">



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.plasticbionic.com/" class="linktitle">Plastibionic</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Website of a design studio. The pull-to-load at the bottom is quite clever.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/plashchynski/crono" class="linktitle">Crono</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A time-based background job scheduler daemon for Rails.
</td></tr>

<tr><td>
<a href="https://github.com/podigee/device_detector" class="linktitle">DeviceDetector</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Fast user agent parser with an extensive database.
</td></tr>

<tr><td>
<a href="https://github.com/nepalez/attestor" class="linktitle">Attestor</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Validations and policies for immutable Ruby objects.
</td></tr>

<tr><td>
<a href="https://github.com/shuber/variables" class="linktitle">Variables</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Variable objects for class and instance variables.
</td></tr>

<tr><td>
<a href="http://artoo.io/" class="linktitle">Artoo</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Robotics framework in Ruby with support for 15 different platforms.
</td></tr>

<tr><td>
<a href="http://sarasoueidan.com/tools/circulus/" class="linktitle">Circulus.svg</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Circular menu generator, that lets you generate an SVG menu.
</td></tr>

<tr><td>
<a href="https://developers.google.com/speed/pagespeed/insights/" class="linktitle">PageSpeed Insights</a>

</td><td class="date">

<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Sites with faster performance do better in search results.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://intercityup.com/blog/upcoming-changes-in-rails-5-0.html" class="linktitle">Upcoming changes in Rails 5.0</a>

</td><td class="date">
mar 23
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Changes that are confirmed to be in the new version.
</td></tr>

<tr><td>
<a href="https://scotch.io/tutorials/only-grab-the-files-you-need-while-using-bower" class="linktitle">Only Grab the Files You Need While Using Bower</a>

</td><td class="date">
mar 23
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Bower brings some sanity to the multitudes of frontend packages that can be used in your application.
</td></tr>

<tr><td>
<a href="https://scotch.io/tutorials/aesthetic-sass-1-architecture-and-style-organization" class="linktitle">Aesthetic Sass 1: Architecture and Style Organization</a>

</td><td class="date">
mar 24
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Improve the organization of both stylesheet files and styles within these stylesheets.
</td></tr>

<tr><td>
<a href="http://weblog.jamisbuck.org/2015/3/24/playing-with-constants-methods-and-superclasses.html" class="linktitle">Playing with Constants, Methods, and Superclasses</a>

</td><td class="date">
mar 24
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Did you know that you can have a constant and a method with the exact same name, and they won’t collide?
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/toolkit-front-end-framework-modern-web/" class="linktitle">Toolkit: A Front-End Framework for the Modern Web</a>

</td><td class="date">
mar 24
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Front-end framework that provides a collection of user interface components and utility classes.
</td></tr>

<tr><td>
<a href="https://developer.atlassian.com/blog/2015/03/i-keep-my-promises/" class="linktitle">I like to keep my Promises</a>

</td><td class="date">
mar 25
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Why and how to use promises in Javascript.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/building-custom-right-click-context-menu-javascript/" class="linktitle">Building a Custom Right-Click (Context) Menu with JavaScript</a>

</td><td class="date">
mar 25
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A menu that appears upon user interaction, such as a right-click mouse operation.
</td></tr>

<tr><td>
<a href="https://css-tricks.com/numeric-inputs-a-comparison-of-browser-defaults/" class="linktitle">Numeric Inputs – A Comparison of Browser Defaults</a>

</td><td class="date">
mar 25
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
How browsers handles input with type number.
</td></tr>

<tr><td>
<a href="https://css-tricks.com/choose-an-random-option-based-on-a-range/" class="linktitle">Choose a Random Option based on a Range</a>

</td><td class="date">
mar 26
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Random, but not equally random.
</td></tr>

<tr><td>
<a href="http://6ftdan.com/allyourdev/2015/03/26/different-collection-types-in-ruby/" class="linktitle">Different Collection Types in Ruby</a>

</td><td class="date">
mar 26
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Most known to least known collection types in Ruby.
</td></tr>

<tr><td>
<a href="http://bits.citrusbyte.com/how-to-write-a-template-library/" class="linktitle">A template engine in less than 30 lines of code</a>

</td><td class="date">
mar 26
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Template engines are really simple once you look inside.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/devise-authentication-in-depth/" class="linktitle">Devise Authentication in Depth</a>

</td><td class="date">
mar 26
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Second article in a Devise series, which dives into authentication customization.
</td></tr>

<tr><td>
<a href="http://blog.smartbear.com/apm/performance-issue-considerations-for-microservices-apis/" class="linktitle">Performance Issue Considerations for Microservices APIs</a>

</td><td class="date">
mar 26
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
When architecture slides to microservices, logging and monitoring require a new kind of attention.
</td></tr>

<tr><td>
<a href="https://www.larrysalibra.com/2015/03/27/why-baidu-was-hijacked-to-attack-github/" class="linktitle">Why Baidu was hijacked to attack GitHub</a>

</td><td class="date">
mar 27
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Explanation of the Github DDoS incident of the week.
</td></tr>

<tr><td>
<a href="http://blog.codinghorror.com/toward-a-better-markdown-tutorial/" class="linktitle">Toward a Better Markdown Tutorial</a>

</td><td class="date">
mar 28
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
It is surprising when technical people say they don't know Markdown.
</td></tr>

</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://confreaks.tv/events/mwjs2015" class="linktitle">MountainWest JavaScript 2015</a>
<span class="duration">(15 videos)</span>
</td><td class="date">
mar 27
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
It happened in early march, confreaks just uploaded the videos.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by mose (publisher), xenor, tysliu (editors)
.</i>

</div>


<div id="rant">
<h3>Rant</h3>

<div class="baseline"><i>The random rant of the week by mose.</i></div>
<h4>Green Ruby New Generation</h4>

<p>We had this week a very productive meeting with xenor and tysliu in our preferred coffee shop. I explained more in detail my workflow and my quality criterias. So now they can feed the links section and become the major editors of Green Ruby. I Still keep the role of the publisher. I get their links, I clean up stuff, verify freshness and reachability, remove superlatives, fix category if needed.</p>

<p>Special thanks a lot to Xenor and Tysliu (aka. Simon). Now they do the heavy lifting and they are the reason why Green Ruby is still in your mailbox every week.</p>

</div>


</div>
</div>
