<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#061 - apr 6th 2014</h1>
</div>
<div id="templateBody">

<div>
<div class="baseline">
<h2>Edito</h2>
This month on 25th there is a <a href="http://rubyconf.tw/2014/">rubyconf in Taipei</a>, so I prepared simple <a href="http://greenruby.org/img/grn-sticker.png">stickers</a> because geeks like to stick stuff on their laptops. If you want some, just come there, or <a href="mailto:mose@greenruby.org">send me a mail</a> see if I can send you a bunch of them.<br>Side Note: There is no stupid april's fool joke in this edition (pfew).
<br>
</div>
</div>



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://nightwalk.withgoogle.com" class="linktitle">Nightwalk</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
A visit in Marseille on Cours Julien (with the french accent).
</td></tr>

<tr><td>
<a href="http://www.kkstudio.gr/#the-uncomfortable" class="linktitle">The uncomfortable</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
Gallery of design that for some reason made me laungh a lot.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://rubyasia.com/" class="linktitle">Ruby Asia</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A recent newsletter focused on ruby publication in Asia.
</td></tr>

<tr><td>
<a href="http://nginx.com/admin-guide/" class="linktitle">Nginx Admin Guide</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
The new official Nginx Guide, espcially good if you discover it.
</td></tr>

<tr><td>
<a href="http://adamschwartz.co/magic-of-css/" class="linktitle">The Magic of Css</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
A textbook with examples to (re-)learn CSS.
</td></tr>

<tr><td>
<a href="https://wakatime.com/" class="linktitle">WakaTime</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Time tracking for programmers.
</td></tr>

<tr><td>
<a href="https://www.codacy.com/" class="linktitle">Codacy</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Automated code review platform (seems like codeclimate).
</td></tr>

<tr><td>
<a href="https://ghostinspector.com/" class="linktitle">Ghost Inspector</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Record yourself browsing. Make assertions. Replay in the cloud.
</td></tr>

<tr><td>
<a href="https://www.scalyr.com/" class="linktitle">Scalyr</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Monitoring tool based on log parsing, similar to logentries.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/buger/gor/" class="linktitle">Gor</a>

</td><td class="date">

<img class="icon" src="ico/go.png" height="18" width="18" align="right" alt="go" />
</td></tr>
<tr><td colspan="2" class="comment">
HTTP traffic replay in real-time.
</td></tr>

<tr><td>
<a href="https://github.com/Arkham/priscilla" class="linktitle">Priscilla</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
For displaying console output values in a flashy way.
</td></tr>

<tr><td>
<a href="http://www.multunus.com/open_source/rubymation-series-animation-libraries-rubymotion/" class="linktitle">Rubymation</a>

</td><td class="date">

<img class="icon" src="ico/mobile.png" height="18" width="18" align="right" alt="mobile" />
</td></tr>
<tr><td colspan="2" class="comment">
Smooth animation in Rubymotion.
</td></tr>

<tr><td>
<a href="http://www.sysdig.org/" class="linktitle">Sysdig</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Capture system state and activity from a running Linux instance.
</td></tr>

<tr><td>
<a href="https://github.com/pwnieexpress/snapi" class="linktitle">Snapi</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A modular API functionality definition tool based on sinatra.
</td></tr>

<tr><td>
<a href="http://kenwheeler.github.io/slick/" class="linktitle">Slick</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
The last carousel you'll ever need.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://engineering.zenpayroll.com/simple-ruby-c-extensions-with-swig/" class="linktitle">Wrapping C libraries with Ruby using SWIG</a>

</td><td class="date">
mar 25
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Write C code for ruby extensions is not that hard.
</td></tr>

<tr><td>
<a href="https://www.ruby-lang.org/en/news/2014/03/29/heap-overflow-in-yaml-uri-escape-parsing-cve-2014-2525/" class="linktitle">Heap Overflow in YAML</a>

</td><td class="date">
mar 29
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
This is a vulnerability issue, that you need to get fixed.
</td></tr>

<tr><td>
<a href="http://blog.gopheracademy.com/vimgo-development-environment" class="linktitle">Go development environment for Vim</a>

</td><td class="date">
mar 29
<img class="icon" src="ico/go.png" height="18" width="18" align="right" alt="go" />
</td></tr>
<tr><td colspan="2" class="comment">
vim-go is a pathogen compatible bundle.
</td></tr>

<tr><td>
<a href="http://www.centurylinklabs.com/heroku-on-docker/" class="linktitle">Heroku on Docker</a>

</td><td class="date">
mar 31
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Examples on how to containerize your apps for Heroku.
</td></tr>

<tr><td>
<a href="http://www.html5rocks.com/en/tutorials/developertools/async-call-stack/" class="linktitle">Debugging Asynchronous JavaScript with Chrome DevTools</a>

</td><td class="date">
mar 31
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Now in Chrome Canary DevTools, the full call stack of asynchronous JavaScript callbacks.
</td></tr>

<tr><td>
<a href="http://robots.thoughtbot.com/whats-new-in-edge-rails-active-record-enum" class="linktitle">What's new in edge Rails: Active Record enums</a>

</td><td class="date">
apr 1
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A tiny but useful new ActiveRecord feature.
</td></tr>

<tr><td>
<a href="https://techblog.livingsocial.com/blog/2014/04/02/working-from-home-heres-an-extra-shot-of-focus/" class="linktitle">Working From Home? Here's an Extra Shot of Focus</a>

</td><td class="date">
apr 2
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Experience from a remote worker.
</td></tr>

<tr><td>
<a href="http://readwrite.com/2014/04/03/git-three-most-heated-debates" class="linktitle">The Three Most Heated Debates In Git</a>

</td><td class="date">
apr 3
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Pull or fetch and merge ? Merge or rebase ? Pull request or code review ?
</td></tr>

<tr><td>
<a href="http://codecondo.com/6-js-libraries-building-visualized-charts-graphs" class="linktitle">6 JS Libraries for Building Visualized Charts & Graphs</a>

</td><td class="date">
apr 3
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A good selection if you need more data vizualization (and you do).
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/opal-ruby-browser-basics/" class="linktitle">Opal: Ruby in Your Browser, the Basics</a>

</td><td class="date">
apr 4
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Opal translates Ruby code into Javascript..
</td></tr>

</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://www.youtube.com/watch?v=1rz334A8U7o" class="linktitle">Setting up Bower and Polymer</a>
<span class="duration">(23m)</span>
</td><td class="date">
mar 28
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A screencast with some polymer demo.
</td></tr>

</table>

<h3>Listen</h3>
<div class="baseline">What could be heard last week ..</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://podcasts.thoughtbot.com/giantrobots/92" class="linktitle">Giant robots #92</a>
<span class="duration">(33m)</span>
</td><td class="date">
mar 31
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Program to the Machine You Have (Ryan Hoover from Producthunt).
</td></tr>

<tr><td>
<a href="http://rubyrogues.com/150-rr-the-debugging-mindset-with-danielle-sucher/" class="linktitle">Ruby Rogues 150</a>
<span class="duration">(1h28)</span>
</td><td class="date">
apr 2
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
The Debugging Mindset with Danielle Sucher.
</td></tr>

<tr><td>
<a href="http://javascriptjabber.com/102-jsj-angular-and-open-source-projects-with-brad-green/" class="linktitle">Javascript Jabber 102</a>
<span class="duration">(47m)</span>
</td><td class="date">
apr 2
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Angular and Open Source Projects with Brad Green.
</td></tr>

<tr><td>
<a href="http://nodeup.com/sixtyone" class="linktitle">NodeUp 61</a>
<span class="duration">(1h26)</span>
</td><td class="date">
apr 2
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
a cls show (Continuation-Local Storage).
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/490-episode-453-april-4th-2014" class="linktitle">Ruby5 453</a>
<span class="duration">(5m)</span>
</td><td class="date">
apr 4
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Rails PDFs, ruby 2.1 GC, mobile CDN, ActiveRecord::Enum, iOS on rails.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">
<i>Links curated by by mose (editor),

xenor (informer)
.</i>
</div>


<div id="rant">
<h3>Rant</h3>
<div class="baseline"><i>The random rant of the week by mose.</i></div>

</div>


</div>
</div>
