<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#084 - sep 14th 2014</h1>
</div>
<div id="templateBody">

<div>
<div class="baseline">
<h2>Edito</h2>
If you are not far from Denver in the US, you may need to know that this week there is the <a href="http://robots.thoughtbot.com/denver-startup-week">Denver Startup Week</a> by Thoughtbot. I hope they will put some videos online.
<br>
</div>
</div>



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.nomoresnooze.com/" class="linktitle">No more snooze</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Sleep, the scientific approach, plus the brutal approach.
</td></tr>

<tr><td>
<a href="http://forthebadge.com/" class="linktitle">For the badges</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Badges for badge sake.
</td></tr>

<tr><td>
<a href="http://niceportfol.io/" class="linktitle">Nice Portfolio</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
A curated showcase of the best design portfolios on the web.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.gitcolony.com/" class="linktitle">Git Colony</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Submit your code, get it reviewed by the colony. Code review gamified.
</td></tr>

<tr><td>
<a href="https://typing.io/" class="linktitle">Typing.io</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Typing Practice for Programmers.
</td></tr>

<tr><td>
<a href="http://devtoolsecrets.com/" class="linktitle">Secrets of the Browser Developer Tools</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Covers developer tools in Chrome, Firebug, Firefox, Internet Explorer, Opera and Safari.
</td></tr>

<tr><td>
<a href="http://codecondo.com/free-javascript-books/" class="linktitle">10 Free Books for Learning JavaScript</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Stay up to speed with Javascript.
</td></tr>

<tr><td>
<a href="http://githut.info/" class="linktitle">Githut</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Github languages statistics.
</td></tr>

<tr><td>
<a href="http://commonmark.org/" class="linktitle">CommonMark</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A strongly specified, highly compatible implementation of Markdown.
</td></tr>

<tr><td>
<a href="https://cdn.polyfill.io/v1/" class="linktitle">Polyfill as a Service</a>

</td><td class="date">

<img class="icon" src="ico/html5.png" height="18" width="18" align="right" alt="html5" />
</td></tr>
<tr><td colspan="2" class="comment">
A CDN for polyfills.
</td></tr>

<tr><td>
<a href="http://gulpfiction.divshot.io/" class="linktitle">Gulp fiction</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Online Gulpfile builder.
</td></tr>

<tr><td>
<a href="https://www.tinycert.org/" class="linktitle">TinyCert</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Free SSL certificates for developers.
</td></tr>

<tr><td>
<a href="http://justinhileman.info/article/git-pretty/" class="linktitle">Git pretty</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Printable chart of various possible git operations.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://weblog.rubyonrails.org/2014/9/12/Rails-4-1-6-and-4-0-10-has-been-released/" class="linktitle">Rails 4.1.6 and 4.0.10</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
No big change in this release, essentially bug fixes.
</td></tr>

<tr><td>
<a href="https://www.upmin.com/admin-rails" class="linktitle">Upmin-admin</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
An admin dashboard engine for rails, similar to active-admin.
</td></tr>

<tr><td>
<a href="https://github.com/lfender6445/theme_bandit" class="linktitle">ThemeBandit</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Convert any site theme template (Wordpress, Joomla, etc) into a rack application.
</td></tr>

<tr><td>
<a href="https://github.com/fnando/factory_girl-preload" class="linktitle">factory_girl-preload</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Preload factories just like fixtures.
</td></tr>

<tr><td>
<a href="http://adodson.com/hello.js" class="linktitle">Hello.js</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Client-side Javascript SDK for authenticating with OAuth2.
</td></tr>

<tr><td>
<a href="http://thestorefront.github.io/DataCollection.js/" class="linktitle">DataCollection.js</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Manipulate data from API responses with ease.
</td></tr>

<tr><td>
<a href="https://github.com/StackExchange/blackbox" class="linktitle">Blackbox</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Safely store secrets in Git/Mercurial.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.awwwards.com/the-quick-learn-way-to-creating-a-3d-object-with-babylon-js.html" class="linktitle">3D Objects With Babylon.js</a>

</td><td class="date">
sep 5
<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Javascript Framework for HTML5 and WebGL Games.
</td></tr>

<tr><td>
<a href="http://www.gotealeaf.com/blog/chef-basics-for-rails-developers" class="linktitle">Chef Basics for Rails Developers</a>

</td><td class="date">
sep 8
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Configure a new server and install a sample Rails Application.
</td></tr>

<tr><td>
<a href="http://www.justinweiss.com/blog/2014/09/08/rails-5-module-number-prepend-and-the-end-of-alias-method-chain/" class="linktitle">Rails 5, Module#prepend, and the End of alias_method_chain</a>

</td><td class="date">
sep 8
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Some interesting news about the upcoming Rails 5.
</td></tr>

<tr><td>
<a href="http://blog.cloudfour.com/styling-form-elements/" class="linktitle">Two pretty-good techniques for styling tricky form elements</a>

</td><td class="date">
sep 8
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Radio buttons, select and file uploads, and tricks to tweak them.
</td></tr>

<tr><td>
<a href="http://robots.thoughtbot.com/write-reliable-asynchronous-integration-tests-with-capybara" class="linktitle">Write Reliable, Asynchronous Integration Tests With Capybara</a>

</td><td class="date">
sep 10
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Integration tests involving Ruby and JavaScript.
</td></tr>

<tr><td>
<a href="http://progrium.com/blog/2014/09/10/automatic-docker-service-announcement-with-registrator/" class="linktitle">Automatic Docker Service Announcement with Registrator</a>

</td><td class="date">
sep 10
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Registrator is inspired by Skydock, but more generic and multihost.
</td></tr>

<tr><td>
<a href="https://intercityup.com/blog/running-upgrading-mysql-server-docker/" class="linktitle">Running and upgrading MySQL servers in Docker containers (or not)</a>

</td><td class="date">
sep 11
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Few options and issues with possible solutions for database containers.
</td></tr>

<tr><td>
<a href="http://yorickpeterse.com/articles/oga-a-new-xml-and-html-parser-for-ruby/" class="linktitle">Oga: a new XML/HTML parser for Ruby</a>

</td><td class="date">
sep 11
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Another XML/HTML parser that works on more ruby implementations than Nokogiri, and it's faster.
</td></tr>

<tr><td>
<a href="http://www.mythoughts.io/articles/introducing-helioth-feature-flipping-ruby-gem/" class="linktitle">Introducing Helioth: Feature Flipping Gem</a>

</td><td class="date">
sep 11
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Manage feature flags for progressive feature releases.
</td></tr>

<tr><td>
<a href="http://blog.teamtreehouse.com/getting-know-rails-app/" class="linktitle">Work On An Existing Rails App</a>

</td><td class="date">
sep 12
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
First steps to follow when you enter into a new codebase.
</td></tr>

<tr><td>
<a href="http://designposts.net/15-best-css-tools-to-speed-up-your-coding/" class="linktitle">15 Best CSS Tools to Speed Up Your Coding</a>

</td><td class="date">
sep 13
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Various tools for CSS designers.
</td></tr>

<tr><td>
<a href="http://christinemdraper.wordpress.com/2014/09/13/spend-less-time-waiting-more-time-cheffing/" class="linktitle">Spend less time waiting, more time Cheffing</a>

</td><td class="date">
sep 13
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Tricks to accelerate testing under Vagrant with Chef.
</td></tr>

<tr><td>
<a href="http://shvets.github.io/blog/2014/09/13/configuring_macbook_with_scripts.html" class="linktitle">Configuring macbook for rails development with automated scripts</a>

</td><td class="date">
sep 13
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Description of the osx_provision gem.
</td></tr>

<tr><td>
<a href="http://dev.mikamai.com/post/94717466094/3-simple-examples-from-ruby-to-elixir" class="linktitle">3 Simple examples from Ruby to Elixir</a>

</td><td class="date">
sep 14
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
How to transform a simple script from Ruby to Elixir.
</td></tr>

</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://gorails.com/episodes/consuming-an-api-using-httparty-and-creating-a-gem" class="linktitle">GoRails #23</a>
<span class="duration">(24m)</span>
</td><td class="date">
sep 7
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Consuming an API Using HTTParty and Creating a Gem.
</td></tr>

<tr><td>
<a href="http://www.atozcss.com/the-css-at-supports-rule/" class="linktitle">AtoZ CSS: @support</a>
<span class="duration">(7m)</span>
</td><td class="date">
sep 9
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
How to provide alternative styles for unsupported features.
</td></tr>

<tr><td>
<a href="http://www.hakkalabs.co/articles/feature-flagging-ruby-rails-engines" class="linktitle">Feature Flagging with Ruby on Rails Engines</a>
<span class="duration">(18m)</span>
</td><td class="date">
sep 11
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Rails engines, and deployment on different servers leveraging feature flags.
</td></tr>

</table>

<h3>Listen</h3>
<div class="baseline">What could be heard last week ..</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://podcasts.thoughtbot.com/giantrobots/115" class="linktitle">Giant robots #115</a>
<span class="duration">(37m)</span>
</td><td class="date">
sep 8
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
There's a Spectrum Involved Here (Brandon Bloom).
</td></tr>

<tr><td>
<a href="http://thewebplatform.libsyn.com/mathematics-dynamic-css-visualizations" class="linktitle">Web platform #10</a>
<span class="duration">(59m)</span>
</td><td class="date">
sep 9
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Mathematics & Dynamic CSS Visualizations.
</td></tr>

<tr><td>
<a href="http://www.arresteddevops.com/devops-security/" class="linktitle">Arrested DevOps 20</a>
<span class="duration">(1h06)</span>
</td><td class="date">
sep 9
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Something About Security with Ben Hughes, Security Manager at Etsy.
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/531-episode-494-september-9th-2014" class="linktitle">Ruby5 494</a>
<span class="duration">(6m)</span>
</td><td class="date">
sep 9
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
RSpec 3.1, Rack::Tracker, new features in Rails 4.2, Fearless Rails Deployment book, The_Metal, RubyConf Portugal.
</td></tr>

<tr><td>
<a href="http://rubyrogues.com/173-rr-activerecord-crud/" class="linktitle">Ruby Rogues 173</a>
<span class="duration">(1h10)</span>
</td><td class="date">
sep 10
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
ActiveRecord CRUD with Eileen Uchitelle.
</td></tr>

<tr><td>
<a href="http://javascriptjabber.com/125-jsj-webgl-with-sean-griffin/" class="linktitle">Javascript Jabber 125</a>
<span class="duration">(43m)</span>
</td><td class="date">
sep 10
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
WebGL with Sean Griffin.
</td></tr>

<tr><td>
<a href="http://blog.codepen.io/2014/09/11/advertising/" class="linktitle">CodePen 22</a>
<span class="duration">(45m)</span>
</td><td class="date">
sep 11
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Using advertising as part of a business model as well as using advertising to grow.
</td></tr>

<tr><td>
<a href="http://5by5.tv/rubyonrails/167" class="linktitle">Ruby on Rails Podcast 167</a>
<span class="duration">(58m)</span>
</td><td class="date">
sep 11
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Kelli Shaver - 2013 Rails Rumble Solo Winner.
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/532-episode-495-september-12th-2014" class="linktitle">Ruby5 495</a>
<span class="duration">(6m)</span>
</td><td class="date">
sep 12
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
@rubystrings, Coderetreat 2014, Capybara, nice rake tasks, module prepend.
</td></tr>

<tr><td>
<a href="http://www.thecloudcast.net/2014/09/the-cloudcast-161-transitioning-from.html" class="linktitle">The Cloudcast #161</a>
<span class="duration">(28m)</span>
</td><td class="date">
sep 12
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Transitioning from CTO to VC.
</td></tr>

<tr><td>
<a href="http://theshipshow.com/2014/09/continuous-all-the-things-flowcon-2014/" class="linktitle">The ship show #48</a>
<span class="duration">(1h04)</span>
</td><td class="date">
sep 12
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Continuous All The Things: FlowCon 2014.
</td></tr>

<tr><td>
<a href="http://2ddu.com/e/episode-35-going-to-go/" class="linktitle">2ddu #35</a>
<span class="duration">(1h15)</span>
</td><td class="date">
sep 12
<img class="icon" src="ico/go.png" height="18" width="18" align="right" alt="go" />
</td></tr>
<tr><td colspan="2" class="comment">
What Go is and its place in the universe of programming languages.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by mose (editor), xenor (informer).</i>

</div>



</div>
</div>
