<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#139 - oct 4th 2015</h1>
</div>
<div id="templateBody">



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.lezilus.fr/" class="linktitle">Lezilus</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Very pop-art website of a group of illustrators.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://gw.codana.me/" class="linktitle">Gem Warrior</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A text adventure game as a ruby gem.
</td></tr>

<tr><td>
<a href="https://www.deppbot.com/" class="linktitle">deppbot</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Automated Bundle Update.
</td></tr>

<tr><td>
<a href="https://www.loggly.com/ultimate-guide/" class="linktitle">Ultimate Guide to Logging</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
An open-source resource for understanding, analyzing, and troubleshooting system logs.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/Genki-S/ttnt" class="linktitle">ttnt</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Stop running tests which are clearly not affected by the committed change.
</td></tr>

<tr><td>
<a href="https://github.com/st0012/SafeFinder" class="linktitle">SafeFinder</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Use null object to replace non-existent ActiveRecord object.
</td></tr>

<tr><td>
<a href="https://github.com/liveh2o/spectacles" class="linktitle">Spectacles</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
ActiveRecord Views for PostgreSQL.
</td></tr>

<tr><td>
<a href="http://popmotion.io/" class="linktitle">Popmotion</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A 12kb JavaScript motion engine.
</td></tr>

<tr><td>
<a href="https://github.com/zenorocha/clipboard.js" class="linktitle">clipboard.js</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Modern copy to clipboard without Flash (but does not work in safari).
</td></tr>

<tr><td>
<a href="http://www.mattermost.org/" class="linktitle">Mattermost</a>

</td><td class="date">

<img class="icon" src="ico/go.png" height="18" width="18" align="right" alt="go" />
</td></tr>
<tr><td colspan="2" class="comment">
Open source, on-prem Slack-alternative.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://viget.com/extend/get-lazy-with-custom-enumerators" class="linktitle">Get Lazy with Custom Enumerators</a>

</td><td class="date">
sep 28
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Use a custom enumerator to clean up some hairy business logic
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/how-to-solve-coding-anti-patterns-for-ruby-rookies/" class="linktitle">How to Solve Coding Anti-Patterns for Ruby Rookies</a>

</td><td class="date">
sep 28
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Several anti-patterns that are commonly perpetrated by Ruby Rookies, and how to solve them.
</td></tr>

<tr><td>
<a href="https://scotch.io/tutorials/creating-desktop-applications-with-angularjs-and-github-electron" class="linktitle">Creating Desktop Applications With AngularJS and GitHub Electron</a>

</td><td class="date">
sep 28
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
GitHub’s Electron framework (formerly known as Atom Shell) in action.
</td></tr>

<tr><td>
<a href="https://www.hashicorp.com/blog/otto.html" class="linktitle">Otto</a>

</td><td class="date">
sep 28
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
The successor to vagrant.
</td></tr>

<tr><td>
<a href="http://blog.innovativetravel.eu/2015/09/concurrency-with-resque-hacking-our-way-through/" class="linktitle">Concurrency with Resque</a>

</td><td class="date">
sep 29
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Add concurrent feature for resque in a non-trivial way.
</td></tr>

<tr><td>
<a href="http://blog.codeship.com/folding-postgres-window-functions-into-rails/" class="linktitle">Folding Postgres Window Functions into Rails</a>

</td><td class="date">
sep 29
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Postgres window functions, how to use them in a rails app.
</td></tr>

<tr><td>
<a href="http://randycoulman.com//blog/2015/09/29/representing-trees-in-rails/" class="linktitle">Representing Trees in Rails</a>

</td><td class="date">
sep 29
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
How do we represent tree structures in our relational databases.
</td></tr>

<tr><td>
<a href="https://medium.com/code-cartoons/a-cartoon-guide-to-flux-6157355ab207" class="linktitle">A cartoon guide to Flux</a>

</td><td class="date">
sep 29
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Illustrated explanation of what the heck Flux is all about.
</td></tr>

<tr><td>
<a href="https://css-tricks.com/why-do-we-have-repeating-linear-gradient-anyway/" class="linktitle">Why Do We Have repeating-linear-gradient Anyway?</a>

</td><td class="date">
sep 29
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Can't the same thing be achieved with a linear-gradient and background-size?
</td></tr>

<tr><td>
<a href="http://www.open-electronics.org/iottly-the-first-iot-open-source-distribution-for-makers-and-the-importance-of-going-open/" class="linktitle">IoTTLY</a>

</td><td class="date">
sep 29
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
the first IoT Open Source Distribution for Makers and the importance of going open.
</td></tr>

<tr><td>
<a href="http://sorentwo.com/2015/09/30/instrumenting-your-cache-with-notifications.html" class="linktitle">Instrumenting Your Cache With Notifications</a>

</td><td class="date">
sep 30
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Use Rails notification instrument framework to get stats of your cache performance.
</td></tr>

<tr><td>
<a href="http://www.schneems.com/blogs/2015-09-30-reverse-rubygems" class="linktitle">Who Does your Gem Work For?</a>

</td><td class="date">
sep 30
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Rubygems.org has a reverse dependencies API endpoint.
</td></tr>

<tr><td>
<a href="http://www.blackbytes.info/2015/09/working-with-apis/" class="linktitle">Working with APIs</a>

</td><td class="date">
sep 30
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
How to get started using any API.
</td></tr>

<tr><td>
<a href="http://tympanus.net/codrops/2015/09/30/shaded-progress-bars-css-sass-excercise/" class="linktitle">Shaded Progress Bars: A CSS/Sass Exercise</a>

</td><td class="date">
sep 30
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
How to create some interesting 3D progress bars with CSS/Sass.
</td></tr>

<tr><td>
<a href="http://javier.io/blog/en/2015/09/30/using-imagemagick-and-kmeans-to-find-dominant-colors-in-images.html" class="linktitle">Using imagemagick, awk and kmeans to find dominant colors in images</a>

</td><td class="date">
sep 30
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Demo of a clever shell script named dcolors.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/super-easy-activity-feeds-with-stream/" class="linktitle">Super Easy Activity Feeds with Stream</a>

</td><td class="date">
oct 1
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Stream is a platform providing an API to build complex scalable feeds.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/dom-manipulation-with-nodelist-js/" class="linktitle">Lose the jQuery Bloat ­— DOM Manipulation with NodeList.js</a>

</td><td class="date">
oct 2
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
The idea that You May Not Need jQuery has started to gain in popularity.
</td></tr>

<tr><td>
<a href="https://github.com/blog/2071-github-supports-universal-2nd-factor-authentication" class="linktitle">GitHub supports Universal 2nd Factor authentication</a>

</td><td class="date">
oct 2
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Github expands its authentication system to support FIDO Universal 2nd Factor (U2F).
</td></tr>

<tr><td>
<a href="https://github.com/blog/2069-git-large-file-storage-v1-0" class="linktitle">Git Large File Storage v1.0</a>

</td><td class="date">
oct 2
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Git LFS is now available to all repositories on GitHub.com.
</td></tr>

<tr><td>
<a href="http://www.arubystory.com/2015/10/full-stack-overflow-developer.html" class="linktitle">Full Stack Overflow Developer</a>

</td><td class="date">
oct 3
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
It's better to start reading the related documentation instead of trying to find a prepared solution.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by mose (publisher), xenor, tysliu (editors)
, hsatac, ilake, mickey, michealweigle (contributors)
.</i>

</div>


<div id="rant">
<h3>Rant</h3>

<div class="baseline"><i>The random rant of the week by xenor.</i></div>
<h4>Rails Bricks</h4>

<p>The author of <a href="http://railsbricks.net/">Rails Bricks</a>, Nico Schuele, suddenly removed all his works and disappeared from the ruby/rails community.</p>

<p>I got really sad when reading the [quora postuora_link]. Especially when Nico said he replied many emails about using the site, but only got a few that actually reply or just a simple 'thanks'.</p>

<p>When an open source project gets bigger, and there is only one man on it, it feels lonely and stressful. I don't really think money is the reason that made Nico give up, it's the lack of emotional support that started off his fire.</p>

<p>So, if you are using an open source project, please give your best thanks to the authors. Sometimes just a star or :+1: is really enough and can probably save another Rails Bricks.</p>

</div>


</div>
</div>
