<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#214 - mar 12th 2017</h1>
</div>
<div id="templateBody">



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://ss2017.descente.jp/" class="linktitle">DESCENTE 2017</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Transitions with some striking effects on a Japan sports clothing site.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://scrimba.com/" class="linktitle">Scrimba</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Easy to use code learning screencast.
</td></tr>

<tr><td>
<a href="http://animista.net/" class="linktitle">Animista</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
A collection of ready to use CSS animations.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/instructure/switchman" class="linktitle">Switchman</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
An ActiveRecord extension for sharding database.
</td></tr>

<tr><td>
<a href="https://github.com/giakki/uncss" class="linktitle">Uncss</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Remove unused styles from CSS.
</td></tr>

<tr><td>
<a href="https://bcicen.github.io/ctop/" class="linktitle">Ctop</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Top-like interface for container metrics.
</td></tr>

<tr><td>
<a href="https://github.com/westonganger/rearmed-js" class="linktitle">Rearmed-js</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A collection of helpful methods and monkey patches for Arrays, Objects, Numbers, and Strings in Javascript
</td></tr>

<tr><td>
<a href="https://github.com/mburakerman/numscrubberjs" class="linktitle">Numscrubberjs</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Change values of input numbers by dragging the mouse.
</td></tr>

<tr><td>
<a href="https://github.com/preston/space_elevator" class="linktitle">Space_elevator</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Client for integrating a ruby application with a remote ActionCable-based backend provided by Rails 5 or compatible framework.
</td></tr>

<tr><td>
<a href="https://github.com/babel/babel" class="linktitle">Babel</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A compiler for writing next generation JavaScript.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://blog.honeybadger.io/ruby_unicode_normalization/" class="linktitle">Unicode Normalization in Ruby</a>

</td><td class="date">
mar 6
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
The reason we need normalization is that in Unicode there is more than one way to write a character.
</td></tr>

<tr><td>
<a href="https://blog.codeminer42.com/towards-minimal-idiomatic-and-performant-ruby-code-f3fc6aed3c94" class="linktitle">Towards Minimal, Idiomatic, and Performant Ruby Code</a>

</td><td class="date">
mar 6
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Sometimes it is necessary to trade performance for readability, or readability for performance, or even break the deal if the trade is not worth it.
</td></tr>

<tr><td>
<a href="https://blog.packagecloud.io/eng/2017/03/06/micro-optimizations-matter/" class="linktitle">Micro-optimizations matter: preventing 20 million system calls</a>

</td><td class="date">
mar 6
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
This post explain a micro-optimization can have drastic effect on software performance.
</td></tr>

<tr><td>
<a href="https://css-tricks.com/introduction-web-audio-api/" class="linktitle">Introduction to Web Audio API</a>

</td><td class="date">
mar 6
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Make sounds in web application through Web Audio API.
</td></tr>

<tr><td>
<a href="https://bitsofco.de/linting-html-using-css/" class="linktitle">Linting HTML using CSS</a>

</td><td class="date">
mar 7
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Some nice CSS tricks to find and lint HTNL code.
</td></tr>

<tr><td>
<a href="http://blog.appsignal.com/2017/03/07/ruby-magic-concurrency-processes.html" class="linktitle">Concurrency Deep Dive: Multi-process</a>

</td><td class="date">
mar 7
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Writing a program that uses multiprocessing is quite complex and uses a lot of resources. The upside is that it’s very robust.
</td></tr>

<tr><td>
<a href="http://eng.localytics.com/odbc-and-writing-your-own-activerecord-adapter/" class="linktitle">ODBC and writing your own ActiveRecord adapter</a>

</td><td class="date">
mar 7
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
ODBC is the specification of an API that acts as a common gateway through which a client program can access disparate databases without having to account for individual interfaces.
</td></tr>

<tr><td>
<a href="http://blog.bigbinary.com/2017/03/07/io-readlines-now-accepts-chomp-flag-as-an-argument.html" class="linktitle">IO#readlines now accepts chomp flag as an argument</a>

</td><td class="date">
mar 7
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Additionally, IO#gets, IO#readline, IO#each_line, IO#foreach methods also have been modified to accept an optional chomp flag.
</td></tr>

<tr><td>
<a href="https://revs.runtime-revolution.com/want-to-use-es6-with-rails-right-now-webpack-to-the-rescue-ebefb2004e9e" class="linktitle">Want to use ES6 with Rails right now ? Webpack to the rescue</a>

</td><td class="date">
mar 9
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Explore one way (of many) to configure a Rails application so we can write ES6 code.
</td></tr>

<tr><td>
<a href="http://www.theverge.com/2017/3/9/14864552/google-hangouts-chat-update-announced-slack-group-messaging-video" class="linktitle">Google Hangouts is getting a major overhaul to take on Slack</a>

</td><td class="date">
mar 9
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
The core features of Hangouts Chat play on Google’s strengths. It’s deeply integrated into Google Docs and Sheets.
</td></tr>

<tr><td>
<a href="https://css-tricks.com/almanac/properties/s/speak/" class="linktitle">Speak</a>

</td><td class="date">
mar 10
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
The speak property in CSS is for specifying how a browser should speak the content it reads, such as through a screen reader.
</td></tr>

<tr><td>
<a href="https://blog.codinghorror.com/password-rules-are-bullshit/" class="linktitle">Password Rules Are Bullshit</a>

</td><td class="date">
mar 10
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
The more likely you are to use a truly random password generation tool, the more likely you have suffered.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by xenor (publisher), tysliu (editors), 
Nauman Tariq (contributors)
.</i>

</div>



</div>
</div>
