<div id="templateContainer">
<div id="templateHeader">
<h1>#082 - aug 31th 2014</div>
</div>
<div id="templateBody">
<div>
	<div class="baseline">
	<h2>Edito</h2>
	There was some much publications this week, it is harder and harder to make a selection. Also, I begin to have too long a list of podcasts and sometimes I can't listen to them all. Should I focus more? It would be annoying as I like eclecticism, in a certain range. Anyways, I'm happy to announce we almost have 500 subscribers by now, and more and more traffic on the website. You may laugh, but as I don't like google and their analytics/tracking, I use the good old webalizer for the <a href="http://greenruby.org/stats/">Greenruby site stats</a>. So vintage! Maybe one day I will setup a piwik though.
<br>
<br>
<em>&nbsp; mose - the green ruby editor</em><br>
<em>&nbsp;

	xenor - the informer

</em><br>
&nbsp; <a href="http://greenruby.org" target="_self">http://greenruby.org</a>
<br>
</div>


<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="http://www.wired.co.uk/" class="linktitle">Wired UK</a>
				
			</td>
			<td class="date">
				
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Great design with horizontal scrolling.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://www.awwwards.com/design-inspiration/freelancer-websites-changing-the-way-you-work.html" class="linktitle">Freelancers websites</a>
				
			</td>
			<td class="date">
				
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Awwwards published a review of 6 websites for freelance designers this week.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://scotch.io/bar-talk/top-10-codepens-of-the-week-3" class="linktitle">Top 10 CodePens of the Week</a>
				
			</td>
			<td class="date">
				
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Great selection if visual effects for your web UIs.
			</td>
		</tr>
	
</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="http://www.opsschool.org/en/latest/" class="linktitle">Ops School Curriculum</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Comprehensive program to become an operations engineer, community written.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://gitenberg.github.io/" class="linktitle">Project GITenberg</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				43,000 book in this git-powered version of project Gutenberg.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://railsdeploymentbook.com/" class="linktitle">Fearless Rails Deployment</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				(book) deploy your Rails applications using Chef, RVM, Nginx, Unicorn, and Vagrant.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://www.skilledup.com/learn-ruby-on-rails-guide/" class="linktitle">Learn ruby on rails</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Short list of 29 online eductional resources for learning rails.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://jobmote.com/" class="linktitle">Jobmote</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Directory of human-curated IT career opportunities that allow you to work from home.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://logio.org/" class="linktitle">Logio</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Real-time log monitoring in your browser (with node.js + socket.io).
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://curl.io/" class="linktitle">curl.io</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Share your files from your Terminal.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://www.rocketboard.it/" class="linktitle">Rocketboard</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Capture whiteboards.
			</td>
		</tr>
	
</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="http://www.infoq.com/news/2014/08/git21-release-whats-new" class="linktitle">Git 2.1 Released</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				The list of new features and improvements is large.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://github.com/rails/web-console" class="linktitle">Web console</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Rails Console on the Browser.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://github.com/thirtysixthspan/descriptive_statistics" class="linktitle">Descriptive Statistics</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				This gem adds methods to the Enumerable module to allow easy calculation of basic descriptive statistics.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://putsreq.herokuapp.com/" class="linktitle">PutsReq</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Record the HTTP requests sent or received.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://designbeep.com/2014/08/28/timesheet-js-javascript-library-for-simple-html5-css3-time-sheets/" class="linktitle">Timesheet.js</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				JavaScript library for simple HTML5 & CSS3 time sheets.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://gionkunz.github.io/chartist-js/" class="linktitle">Chartist</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Simple responsive charts library.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://github.com/slap-editor/slap" class="linktitle">Slap</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Sublime-like terminal-based text editor.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://github.com/gavinlaking/vedeu" class="linktitle">Vedeu</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Terminal based application framework in ruby without the need for Ncurses.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://www.gregosuri.com/2014/08/31/introducing-vagrant-env-plugin/" class="linktitle">vagrant-env</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Lets you place environment variables in a .env which are available to the Vagrantfile via ENV.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://github.com/fastmonkeys/stellar" class="linktitle">Stellar</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Fast database snapshot and restore tool for development.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://gogs.io/" class="linktitle">Gogs</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/go.png" height="18" width="18" align="right" alt="go" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				A self-hosted Git service written in Go.
			</td>
		</tr>
	
</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="http://climber2002.github.io/blog/2014/08/24/digging-rails-how-rails-initializes-itself/" class="linktitle">Digging Rails - How Rails Initializes Itself</a>
				
			</td>
			<td class="date">
				aug 24
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Detailed look at the Rails (4.2) initialization process.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://www.justinweiss.com/blog/2014/08/25/the-lesser-known-features-in-rails-4-dot-2/" class="linktitle">The Lesser-known Features in Rails 4.2</a>
				
			</td>
			<td class="date">
				aug 25
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Some less advertised features that will totally improve your daily work with Rails.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://pivotallabs.com/checklist-deploying-rails-app-heroku/" class="linktitle">Checklist for Deploying a Rails App to Heroku</a>
				
			</td>
			<td class="date">
				aug 26
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Optimal production deploy to Heroku.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://devo.ps/blog/docker-dos-and-donts/" class="linktitle">Docker Do's And Don'ts</a>
				
			</td>
			<td class="date">
				aug 26
				
					
						<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Lessons learnt from building a SaaS with Docker from devo.ps.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://monkeyandcrow.com/blog/reading_rails_time_with_zone/" class="linktitle">Reading Rails - TimeWithZone</a>
				
			</td>
			<td class="date">
				aug 27
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Where TimeWithZone comes from, and how it works (in rails).
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://semaphoreapp.com/blog/2014/08/27/ruby-version-usage-in-commercial-projects-2014-edition.html" class="linktitle">Ruby version usage in commercial projects, 2014 edition</a>
				
			</td>
			<td class="date">
				aug 27
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Like last year, Semaphore published the stats of the projects they run tests for.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://blog.penso.info/2014/08/27/faster-capistrano-deploys/" class="linktitle">Faster capistrano deploys</a>
				
			</td>
			<td class="date">
				aug 27
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Deploy times from 5 minutes to less than 15 seconds.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://nicksda.apotomo.de/2014/08/paperdragon-explicit-image-processing/" class="linktitle">Paperdragon: Explicit Image Processing</a>
				
			</td>
			<td class="date">
				aug 28
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Image processing gem for control freaks.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://www.hashicorp.com/blog/terraform-0-2.html" class="linktitle">Terraform 0.2</a>
				
			</td>
			<td class="date">
				aug 28
				
					
						<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Terraform is a tool for safely and efficiently building, combining, and launching infrastructure
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://yahooeng.tumblr.com/post/96098168666/important-announcement-regarding-yui" class="linktitle">Yahoo stops YUI development</a>
				
			</td>
			<td class="date">
				aug 29
				
					
						<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				After 8 years of service, YUI slips into darkness.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://qz.com/258066/this-is-why-you-dont-hire-good-developers/" class="linktitle">This is why you never end up hiring good developers</a>
				
			</td>
			<td class="date">
				aug 30
				
					
						<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Great insight about technical recruitment.
			</td>
		</tr>
	
</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="http://www.atozcss.com/the-css-quotes-property/" class="linktitle">AtoZ CSS: Quotes</a>
				<span class="duration">(5m)</span>
			</td>
			<td class="date">
				aug 26
				
					
						<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				The difference between dumb quotes and smart quotes.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://devblog.avdi.org/2014/08/26/how-to-use-rubys-english-andor-operators-without-going-nuts/" class="linktitle">How to use Ruby’s English and/or operators without going nuts</a>
				<span class="duration">(5m)</span>
			</td>
			<td class="date">
				aug 26
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				A ruby tapas episode newly liberated by Avdi.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://gorails.com/episodes/rails-4-2-introduction" class="linktitle">Rails 4.2 Introduction</a>
				<span class="duration">(6m)</span>
			</td>
			<td class="date">
				aug 27
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				A quick look at the new features of Rails 4.2 in the first beta that was recently released.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://www.centurylinklabs.com/interview-with-sandstorms-founder-about-the-personal-cloud-platform/?hvid=3EY4Ly" class="linktitle">Interview with Sandstorms founder about the personal cloud platform</a>
				<span class="duration">(27m)</span>
			</td>
			<td class="date">
				aug 27
				
					
						<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Why NOT use Docker in Sandstorm?
			</td>
		</tr>
	
</table>

<h3>Listen</h3>
<div class="baseline">What could be heard last week ..</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="http://podcasts.thoughtbot.com/giantrobots/113" class="linktitle">Giant robots #113</a>
				<span class="duration">(33m)</span>
			</td>
			<td class="date">
				aug 25
				
					
						<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Minimum Path to Awesome (Rob Walling).
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://blog.codepen.io/2014/08/25/020-apis/" class="linktitle">CodePen 20</a>
				<span class="duration">(35m)</span>
			</td>
			<td class="date">
				aug 25
				
					
						<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Talking about APIs.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://thewebplatform.libsyn.com/web-rtc-and-designing-realtime-experiences" class="linktitle">Web platform #8</a>
				<span class="duration">(32m)</span>
			</td>
			<td class="date">
				aug 26
				
					
						<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Exploring Dart & Polymer.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://5by5.tv/changelog/128" class="linktitle">The Changelog 128</a>
				<span class="duration">(1h)</span>
			</td>
			<td class="date">
				aug 27
				
					
						<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Lineman.js and JavaScript apps with Justin Searls.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://devopscafe.org/show/2014/8/27/devops-cafe-episode-53-mandi-walls.html" class="linktitle">DevOps Cafe 53</a>
				<span class="duration">(1h04)</span>
			</td>
			<td class="date">
				aug 27
				
					
						<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Mandi Walls through her journeys in the DevOps movement.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://rubyrogues.com/171-rr-evaluating-yourself/" class="linktitle">Ruby Rogues 171</a>
				<span class="duration">(1h06)</span>
			</td>
			<td class="date">
				aug 27
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Evaluating Yourself.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://javascriptjabber.com/123-jsj-traceur-with-erik-arvidsson/" class="linktitle">Javascript Jabber 123</a>
				<span class="duration">(43m)</span>
			</td>
			<td class="date">
				aug 27
				
					
						<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Traceur with Erik Arvidsson.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://foodfightshow.org/2014/08/chefdk.html" class="linktitle">Food Fight Show 78</a>
				<span class="duration">(1h15)</span>
			</td>
			<td class="date">
				aug 27
				
					
						<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				ChefDK
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://ruby5.envylabs.com/episodes/529-episode-492-august-27-2014" class="linktitle">Ruby5 492</a>
				<span class="duration">(7m)</span>
			</td>
			<td class="date">
				aug 27
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Rails 4.2beta, Royce, JSON API Resources, Country Select 2.0, Harpoon, Poodr course, feature focus.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://www.arresteddevops.com/dev-to-ops/" class="linktitle">Arrested Devops 19</a>
				<span class="duration">(1h05)</span>
			</td>
			<td class="date">
				aug 28
				
					
						<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Started as a Dev, now doing Ops.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://www.opsallthethings.com/podcast/010-development-and-the-sysadmin/" class="linktitle">Ops All The Things 010</a>
				<span class="duration">(50m)</span>
			</td>
			<td class="date">
				aug 29
				
					
						<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Development and the SysAdmin.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://5by5.tv/rubyonrails/165" class="linktitle">Ruby on Rails Podcast 165</a>
				<span class="duration">(1h05)</span>
			</td>
			<td class="date">
				aug 29
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				James Chevalier - citystrides.com.
			</td>
		</tr>
	
</table>

</div>
</div>
