<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#122 - june 7th 2015</h1>
</div>
<div id="templateBody">



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://rdcm.com/en/" class="linktitle">RDCM</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Website for a construction company in russia, with very cool effects.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://better-error-pages.statuspage.io/" class="linktitle">Better Error Pages</a>

</td><td class="date">

<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Build free 404, 500-level, and maintenance pages in 60 seconds.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/davidesantangelo/webinspector" class="linktitle">webinspector</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Yet another web scraper.
</td></tr>

<tr><td>
<a href="https://github.com/alehander42/matchete" class="linktitle">matchete</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A DSL for method overloading based on pattern matching.
</td></tr>

<tr><td>
<a href="https://github.com/wanelo/lapine" class="linktitle">lapine</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A RabbitMQ communicator.
</td></tr>

<tr><td>
<a href="https://github.com/smcabrera/get_freaky" class="linktitle">get_freaky</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Browse and download confreaks videos from the command line.
</td></tr>

<tr><td>
<a href="http://paperclipjs.com/" class="linktitle">paperclip.js</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A reactive template engine for modern web applications.
</td></tr>

<tr><td>
<a href="http://twitter.github.io/hogan.js/" class="linktitle">hogan.js</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
JavaScript templating from Twitter.
</td></tr>

<tr><td>
<a href="http://basicmodal.electerious.com/" class="linktitle">basicModal</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Easy-to-use dialog system for modern web-apps.
</td></tr>

<tr><td>
<a href="http://bevacqua.github.io/insignia/" class="linktitle">Insignia</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Customizable tag input. Progressive. No non-sense.
</td></tr>

<tr><td>
<a href="http://aerolab.github.io/readremaining.js/" class="linktitle">readremaining.js</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Tell your readers how long they'll need to get through all of your gibberish, with this clever jQuery plugin.
</td></tr>

<tr><td>
<a href="http://ignitersworld.com/lab/scrollmenu/" class="linktitle">ScrollMenu.js</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A new interface to replace your old boring scrollbar
</td></tr>

<tr><td>
<a href="http://www.jondmiles.com/bootstrap-datepaginator/" class="linktitle">Date Paginator for Twitter Bootstrap</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A jQuery plugin which takes Twitter Bootstrap's pagination component and injects a bit of date based magic.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.sitepoint.com/algorithmic-fun-ruby-hashes/" class="linktitle">Algorithmic Fun with Ruby Hashes</a>

</td><td class="date">
jun 1
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Truth tables, memoization, and recursion in ruby hash.
</td></tr>

<tr><td>
<a href="http://blog.honeybadger.io/capturing-stdout-stderr-from-shell-commands-via-ruby/" class="linktitle">Capturing stdout & stderr from shell commands via Ruby</a>

</td><td class="date">
jun 1
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Several ways to get stdout and stderr by ruby.
</td></tr>

<tr><td>
<a href="https://medium.com/@KamilLelonek/functional-programming-with-ruby-2-2-c711a2db415c" class="linktitle">Functional Programming with Ruby #2/2</a>

</td><td class="date">
jun 1
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
More Functional programming elements in ruby
</td></tr>

<tr><td>
<a href="http://bitsofco.de/2015/the-accessibility-cheatsheet/" class="linktitle">The accessibility cheatsheet</a>

</td><td class="date">
jun 2
<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Condensed set of rules to keep our web accessible.
</td></tr>

<tr><td>
<a href="http://devblog.avdi.org/2015/06/03/benchmarking-ruby-dispatch-strategies/" class="linktitle">Benchmarking Ruby Dispatch Strategies</a>

</td><td class="date">
jun 3
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Comparison of different strategies of event dispatcher.
</td></tr>

<tr><td>
<a href="https://scotch.io/tutorials/easy-angularjs-forms-with-angular-formly" class="linktitle">Easy AngularJS Forms with angular-formly</a>

</td><td class="date">
jun 3
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A common problem developers face when creating AngularJS applications is that their HTML can tend to become bloated.
</td></tr>

<tr><td>
<a href="https://css-tricks.com/copy-paste-the-web/" class="linktitle">Copy & Paste & The Web</a>

</td><td class="date">
jun 5
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Have you ever tried to copy and paste some text only to find it frustrating, awkward, or even impossible?
</td></tr>

<tr><td>
<a href="http://blog.scoutapp.com/articles/2015/06/05/monitoring-docker-events" class="linktitle">Implementing Docker event monitoring from scratch</a>

</td><td class="date">
jun 5
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
docker-api gem makes everything easy.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by mose (publisher), xenor, tysliu (editors).</i>

</div>


<div id="rant">
<h3>Rant</h3>
<div class="baseline"><i>The random rant of the week by mose.</i></div>
<h4>Thought about python fron a rubyist</h4>

<p>This weekend there was a python conference here in Taipei (<a href="https://tw.pycon.org/2015apac/en/">pycon apac</a>). As Gandi was sponsoring it, I <a href="https://www.flickr.com/photos/43946968@N07/sets/72157653640049980">went there</a> and tried to figure out how python and ruby communities differ in my local area. As a matter of fact, I also push my python coding skills a bit. I kind of like to nurture a general polyglot approach.</p>

<p>It first seems that the python community is more largely supported by sponsors than ruby one. It's more mainstream in the general engineering world, I guess. There was google, facebook, microsoft, having a table and talking about their cloud things. But the general setup was pretty similar to the ruby or rails conf I've been in.</p>

<p>The topics in this conference were maybe a little more scientific and less web-oriented than we can find in ruby world. Python has tighter bindings with lower level languages. I think it's not a specificity of the language because you also can build C extensions for ruby. But it's more a result of the community interests.</p>

<p>I have the feeling that the ruby community dedicated more efforts towards the web front and other rails related principle like testing suites, DSL and meta-programming. But my general feeling is that there is no technical reason for that. It's just how things happened over time, mostly given the weight of rails in the ruby communities.</p>

<p>Actually, I also had the feeling that pythonists don't consider ruby as a 'competitor'. They feel closer to java, node or golang, and at various occasion I had the impression that they consider ruby to be only the language behind rails.</p>

<p>I also thought that the ruby community was special about its adoption of macbook laptops. Even if actually the python coder has more diversity, I evaluate around half macbooks, the rest split between ubuntu and windows. It's less that in ruby confs where macbooks are kinda 90% and windows users are very few.</p>

<p>Also, I noticed a similar movement about diversity with <a href="http://djangogirls.org/taipei/">django girls</a> and <a href="http://www.meetup.com/PyLadiesTW/">pyladies</a>, comparable to the rails girls, which tries to close the gender gap in the engineering world.</p>

<p>Anyways that was good and interesting. Geeks are the same kind, whatever language they use (by trade or by taste). I strongly advise, if you have the occasion, to wander out of your usual communities and join other circles. It gives a good perspective on you usual world.</p>

</div>


</div>
</div>
