<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#106 - feb 15th 2015</h1>
</div>
<div id="templateBody">



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://golfman.ashworthgolf.com/" class="linktitle">Golf Man</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Extremely photographic and creative transitions.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://rubynewbies.org/" class="linktitle">Ruby Newbies</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A community for newbies to ruby .
</td></tr>

<tr><td>
<a href="http://www.neo4j-ruby.org/" class="linktitle">Neo4j+Ruby</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A collection of resources about Neo4J and a Ruby.
</td></tr>

<tr><td>
<a href="http://www.staticgen.com/" class="linktitle">StaticGen</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Top Open-Source Static Site Generators.
</td></tr>

<tr><td>
<a href="http://www.watchpeoplecode.com/" class="linktitle">Watch People Code</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Live stream from /r/WatchPeopleCode subreddit.
</td></tr>

<tr><td>
<a href="http://tympanus.net/Development/ClickEffects/" class="linktitle">Subtle Click Feedback Effects</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Great collection of click effects.
</td></tr>

<tr><td>
<a href="http://www.uxpin.com/interaction-design-best-practices-tangibles.html" class="linktitle">Interaction Design Best Practices</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
(book) A free e-book by UXPin on interaction design..
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/ko1/pretty_backtrace" class="linktitle">PrettyBacktrace</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Pretty your exception backtrace.
</td></tr>

<tr><td>
<a href="https://github.com/peter-murach/verse" class="linktitle">Verse</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Lib for Text transformations.
</td></tr>

<tr><td>
<a href="https://github.com/simonc/memfs" class="linktitle">MemFs</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Provides a fake file system that can be used for tests. Strongly inspired by FakeFS.
</td></tr>

<tr><td>
<a href="https://github.com/h5bp/html5-boilerplate/blob/v5.0.0/CHANGELOG.md" class="linktitle">html5-boilerplate 5.0</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
The new version of this css layout after one year of fixes.
</td></tr>

<tr><td>
<a href="https://github.com/IonicaBizau/git-stats" class="linktitle">Git-stats</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A GitHub-like contributions calendar, but locally, with all your git commits.
</td></tr>

<tr><td>
<a href="https://bitheap.org/cram/" class="linktitle">Cram</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Functional testing framework for command line applications.
</td></tr>

<tr><td>
<a href="http://hubpress.io" class="linktitle">Hubpress</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A web application to build your Blog on GitHub.
</td></tr>

<tr><td>
<a href="http://labs.rampinteractive.co.uk/touchSwipe/demos/" class="linktitle">TouchSwipe</a>

</td><td class="date">

<img class="icon" src="ico/mobile.png" height="18" width="18" align="right" alt="mobile" />
</td></tr>
<tr><td colspan="2" class="comment">
a jQuery plugin for touch devices.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.binarywebpark.com/testing-elasticsearch-in-your-rails-4-application/" class="linktitle">Testing Elasticsearch In Your Rails 4 Application</a>

</td><td class="date">
feb 9
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
.. the same way you test against db.
</td></tr>

<tr><td>
<a href="http://codegeekz.com/15-best-sublime-text-packages-developers/" class="linktitle">Sublime Text Packages for Developers</a>

</td><td class="date">
feb 10
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
15 plugins that you need to check out.
</td></tr>

<tr><td>
<a href="http://ilikekillnerds.com/2015/02/stop-writing-slow-javascript/" class="linktitle">Stop Writing Slow Javascript</a>

</td><td class="date">
feb 10
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Various ways to consider convenience against efficiency trade-off.
</td></tr>

<tr><td>
<a href="http://codegeekz.com/12-must-html5-text-editors/" class="linktitle">Must Have HTML5 Text Editors</a>

</td><td class="date">
feb 11
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
12 HTML5 rich Text Editors to include in your applications.
</td></tr>

<tr><td>
<a href="https://medium.com/@felipernb/algorithms-data-structures-and-web-development-7772e088f1d3" class="linktitle">Algorithms, Data Structures and Web Development</a>

</td><td class="date">
feb 11
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Web development isn't less complex than other software engineering domains anymore.
</td></tr>

<tr><td>
<a href="https://scotch.io/bar-talk/11-great-icon-fonts-for-your-projects" class="linktitle">Great Icon Fonts for Your Projects</a>

</td><td class="date">
feb 11
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Links to 11 icon fonts available for replacing image icons.
</td></tr>

<tr><td>
<a href="http://css-tricks.com/ibooks-like-layout-light-cssjs/" class="linktitle">iBooks-like Layout with Light CSS/JS</a>

</td><td class="date">
feb 11
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Two columns. Scrollbar along the bottom.
</td></tr>

<tr><td>
<a href="https://medium.com/ruby-on-rails/maintainable-i18n-with-rails-and-angularjs-f3b2542a1980" class="linktitle">Maintainable I18n with Rails and AngularJS</a>

</td><td class="date">
feb 12
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Serve all the translations via AJAX.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/image-processing-rails/" class="linktitle">Image Processing with Rails</a>

</td><td class="date">
feb 12
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Tutorial demonstrating some functions available witrh Carrierwave and Imagemagick.
</td></tr>

<tr><td>
<a href="http://stuff-things.net/2015/02/12/symmetric-encryption-with-ruby-and-rails/" class="linktitle">Symmetric Encryption With Ruby and Rails</a>

</td><td class="date">
feb 12
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Usage of Symmetric-key encryption as provided by OpenSSL::Cipher.
</td></tr>

<tr><td>
<a href="http://stuff-things.net/2015/02/12/symmetric-encryption-with-ruby-and-rails/" class="linktitle">How to use Ruby instead of sed and awk</a>

</td><td class="date">
feb 12
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Run simple Ruby one-liners from the command line.
</td></tr>

<tr><td>
<a href="http://nithinbekal.com/posts/ruby-sed-awk/" class="linktitle">February's top new web design tools</a>

</td><td class="date">
feb 12
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Various ways to consider convenience against efficiency trade-off.
</td></tr>

<tr><td>
<a href="http://thenewstack.io/soundclouds-prometheus-monitoring-system-time-series-database-suited-containers/" class="linktitle">Prometheus: A Monitoring System Suited for Containers</a>

</td><td class="date">
feb 13
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Next-generation monitoring system from SoundCloud.
</td></tr>

<tr><td>
<a href="http://tenderlovemaking.com/2015/02/13/predicting-test-failues.html" class="linktitle">Predicting Test Failures</a>

</td><td class="date">
feb 13
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
what if we could predict which tests are likely to fail after we’ve changed the code?
</td></tr>

<tr><td>
<a href="http://nandovieira.com/using-postgresql-and-hstore-with-rails" class="linktitle">Using postgresql and hstore with rails</a>

</td><td class="date">
feb 13
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
New column type in rails 4 named hstore, a column based on a key-value data structure.
</td></tr>

<tr><td>
<a href="http://thenewstack.io/docker-1-5-new-features-seen-markedly-improving-security-performance-amongst-docker-community/" class="linktitle">Docker Latest Release with IPv6 Support, Read-Only Containers</a>

</td><td class="date">
feb 14
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Docker version 1.5 was released this week.
</td></tr>

<tr><td>
<a href="http://www.leighhalliday.com/what-is-rack" class="linktitle">What is Rack?</a>

</td><td class="date">
feb 14
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Review of what Rack is and what good it can do for you.
</td></tr>

<tr><td>
<a href="https://www.destroyallsoftware.com/blog/2014/test-isolation-is-about-avoiding-mocks" class="linktitle">Test Isolation Is About Avoiding Mocks</a>

</td><td class="date">
feb 14
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Isolated testing has an easily identified villain: the deeply-nested mock object.
</td></tr>

</table>

<h3>Listen</h3>
<div class="baseline">What could be heard last week ..</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://thewebplatform.libsyn.com/30-community-and-contributing" class="linktitle">Web platform #30</a>
<span class="duration">(1h17)</span>
</td><td class="date">
feb 9
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Community Contributions. About running meetups, building software in the open, and sharing with the community.
</td></tr>

<tr><td>
<a href="http://giantrobots.fm/133" class="linktitle">Giant Robots 133</a>
<span class="duration">(34m)</span>
</td><td class="date">
feb 9
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
The DNA of Music (Matt Aimonetti).
</td></tr>

<tr><td>
<a href="http://drt.fm/christian-reber/" class="linktitle">DRT: Christian Reber</a>
<span class="duration">(40m)</span>
</td><td class="date">
feb 10
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
How to Build Great Software.
</td></tr>

<tr><td>
<a href="https://ruby5.codeschool.com/episodes/565-episode-527-february-10th-2015" class="linktitle">Ruby5 #527</a>
<span class="duration">(7m)</span>
</td><td class="date">
feb 10
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
chat_correct, Practical Parallelism, Validate False, Passenger 5 Beta 3, Amazon SDKv2, Emoji Templates, T-R-U-E, Ruby Heroes.
</td></tr>

<tr><td>
<a href="http://blog.codepen.io/2015/02/10/035-vpc/" class="linktitle">CodePen 35</a>
<span class="duration">(23m)</span>
</td><td class="date">
feb 10
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
AWS VPC.
</td></tr>

<tr><td>
<a href="http://fullstackradio.com/episodes/9/" class="linktitle">Fullstack Radio 9</a>
<span class="duration">(52m)</span>
</td><td class="date">
feb 11
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
David Heinemeier Hansson - Architecture, Patterns and Design.
</td></tr>

<tr><td>
<a href="http://devchat.tv/ruby-rogues/194-rr-real-life-jruby-with-sudhindra-r-rao" class="linktitle">RubyRogues 194</a>
<span class="duration">(50m)</span>
</td><td class="date">
feb 11
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Real Life JRuby with Sudhindra R. Rao.
</td></tr>

<tr><td>
<a href="http://www.developertea.com/episodes/6894" class="linktitle">Developer tea 17</a>
<span class="duration">(11m)</span>
</td><td class="date">
feb 11
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Volt and Isomorphism with Ryan Stout, part one.
</td></tr>

<tr><td>
<a href="http://devchat.tv/js-jabber/146-jsj-react-with-christopher-chedeau-and-jordan-walke" class="linktitle">Javascript Jabber 146</a>
<span class="duration">(87m)</span>
</td><td class="date">
feb 11
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
React with Christopher Chedeau and Jordan Walke.
</td></tr>

<tr><td>
<a href="http://foodfightshow.org/2015/02/configuration-management-camp.html" class="linktitle">Food fight show 88</a>
<span class="duration">(52m)</span>
</td><td class="date">
feb 11
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Configuration Management Camp.
</td></tr>

<tr><td>
<a href="http://devchat.tv/adventures-in-angular/029-aia-angular-at-work-with-ben-nadel" class="linktitle">Adventure in angular #29</a>
<span class="duration">(35m)</span>
</td><td class="date">
feb 12
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Angular At Work with Ben Nadel.
</td></tr>

<tr><td>
<a href="https://ruby5.codeschool.com/episodes/563-episode-525-february-3rd-2015" class="linktitle">Ruby5 #528</a>
<span class="duration">(5m)</span>
</td><td class="date">
feb 13
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Heroku Recommends Puma, pretty_backtrace, Weird Stuff with Hashes, Ruby Survey 2015, Que.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">
<i>Links curated by by mose (editor),

xenor, simon (informers)
.</i>
</div>


<div id="rant">
<h3>Rant</h3>
<div class="baseline"><i>The random rant of the week by mose.</i></div>
<h4>No rant?</h4>

<p>Hmm I have nothing to rant about this week. It's kinda late. I should change my strategy and begin with the rant, collect the links after, it was more efficient when I was doing it that way.</p>

</div>


</div>
</div>
