<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#170 - may 8th 2016</h1>
</div>
<div id="templateBody">



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://tomerlerner.com/" class="linktitle">Pixels by Tomer Lerner</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
A Designer website, showcasing various projects.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://gist.github.com/gbuesing/865b814d312f46775cda" class="linktitle">Resources for machine learning in Ruby</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A collection of gems and other sources about machine learning in Ruby.
</td></tr>

<tr><td>
<a href="http://idiosyncratic-ruby.com/32-no-more-errors.html" class="linktitle">No more errors</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A handy list of Ruby's error.
</td></tr>

<tr><td>
<a href="https://www.losant.com" class="linktitle">Losant</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Internet of Things developer platform.
</td></tr>

<tr><td>
<a href="https://github.com/Leo-G/DevopsWiki" class="linktitle">DevopsWiki</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
A wiki of Devops Tools, Tutorials and Scripts
</td></tr>

<tr><td>
<a href="https://sealion.com/" class="linktitle">SeaLion</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
View raw output for critical events across servers
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/rossta/serviceworker-rails" class="linktitle">serviceworker-rails</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Use Service Workers with the Rails asset pipeline.
</td></tr>

<tr><td>
<a href="https://github.com/square/rails-auth" class="linktitle">rails-auth</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Modular resource-based authentication and authorization for Rails/Rack.
</td></tr>

<tr><td>
<a href="https://github.com/rroblak/seed_dump" class="linktitle">seed_dump</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Rails 4/5 task to dump real database data to db/seeds.rb
</td></tr>

<tr><td>
<a href="https://github.com/ostinelli/net-http2" class="linktitle">net-http2</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A HTTP/2 client for Ruby.
</td></tr>

<tr><td>
<a href="http://antirez.com/news/104" class="linktitle">Redis 3.2.0 is out</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
This is a big upgrade with various new features for Redis.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://medium.com/@belisarius222/how-to-start-a-software-project-ad51373c1510#.9shd92icw" class="linktitle">Lug-Nut Driven Development (LuDDite)</a>

</td><td class="date">
May 2
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Some basic principles used for growing a codebase.
</td></tr>

<tr><td>
<a href="https://blog.heroku.com/archives/2016/5/2/container_ready_rails_5" class="linktitle">Container-Ready Rails 5</a>

</td><td class="date">
May 2
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Rails 5 will be the easiest release ever to get running on Heroku.
</td></tr>

<tr><td>
<a href="http://www.blackbytes.info/2016/05/weighted-random-numbers/" class="linktitle">How to Generate Weighted Random Numbers</a>

</td><td class="date">
May 3
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Two ways to generate weighted random numbers.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/introducing-the-css-grid-layout/" class="linktitle">Introducing the CSS Grid Layout</a>

</td><td class="date">
May 3
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
The importance of grids in modern web design is clear from the number of frameworks that implement the grid system to speed up development.
</td></tr>

<tr><td>
<a href="https://medium.com/planet-arkency/the-biggest-rails-code-smell-you-should-avoid-to-keep-your-app-healthy-a61fd75ab2d3" class="linktitle">The biggest Rails code smell you should avoid to keep your app healthy</a>

</td><td class="date">
May 4
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Quick prototyping benefit comes with a cost.
</td></tr>

<tr><td>
<a href="https://blog.codeship.com/exploring-structure-ruby-gems/" class="linktitle">Exploring the Structure of Ruby Gems</a>

</td><td class="date">
May 4
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Explain how gems loaded to your project.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/saving-bandwidth-with-chromes-data-saver/" class="linktitle">Saving Bandwidth with Chrome’s Data Saver</a>

</td><td class="date">
May 4
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Data Saver is a new feature for Chrome that works to reduce mobile data usage significantly.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/smooth-scrolling-vanilla-javascript/" class="linktitle">How to Implement Smooth Scrolling in Vanilla JavaScript</a>

</td><td class="date">
May 5
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Discover advantages of using CSS solution in this article.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/implement-javas-equals-method-correctly/" class="linktitle">How to Implement Java’s equals Method Correctly</a>

</td><td class="date">
May 5
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Any implementation of equals must adhere to a specific contract or the class’s equality is ill-defined and all kinds of unexpected things happen.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/use-react-today-in-ruby-by-heading-to-cuba/" class="linktitle">Use React Today in Ruby by Heading to Cuba</a>

</td><td class="date">
May 5
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
You’ve all heard of React. It’s no longer the new kid on the block.
</td></tr>

<tr><td>
<a href="https://imagetragick.com/" class="linktitle">ImageMagick Is On Fire — CVE-2016–3714</a>

</td><td class="date">
May 5
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
This vulnerability is tragically easy to exploit.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by mose (publisher), xenor, tysliu (editors), 
Nauman Tariq, hsatac, Mickey (contributors)
.</i>

</div>


<div id="rant">
<h3>Rant</h3>

<div class="baseline"><i>The random rant of the week by mose.</i></div>
<h4>It's the fault of the bike</h4>

<p>Well, in the last two weeks I get short in links gathered on our slack pinned list. Usually I'm reading various RSS feeds while commuting, and I post them on slack, for later one pinning them. Then I have a script in go that will grab all the pinned url, and remove the pins at the moment I use and check them for inclusion in the publication.</p>

<p>But 2 weeks ago, I decided to change my habits and go to the office by bike. It's a 30 minutes ride, and it's very good. But then hare we are: no no way to check RSS on the phone. I'm going to need to find another trick. Because I won't quit the biking.</p>

</div>


</div>
</div>
