<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#105 - feb 8th 2015</h1>
</div>
<div id="templateBody">



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://hellomonday.com/" class="linktitle">Hello Monday</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Awwwards Agency of the year for the second time.
</td></tr>

<tr><td>
<a href="http://wordmap.co/" class="linktitle">Word Map</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Combination between Google-translate and Wikipedia for visual links between words in world languages.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://tympanus.net/codrops/css_reference/" class="linktitle">CSS Reference</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
An extensive CSS reference with all the important properties and info to learn CSS from the basics.
</td></tr>

<tr><td>
<a href="https://leanpub.com/sublime-productivity" class="linktitle">Transformicons</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Animated icons, symbols and buttons using SVG and CSS.
</td></tr>

<tr><td>
<a href="https://jakearchibald.github.io/svgomg/" class="linktitle">SVGOMG</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
SVGO's Missing GUI (tool for SVG optimization).
</td></tr>

<tr><td>
<a href="https://leanpub.com/sublime-productivity" class="linktitle">Sublime Productivity</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
(book) all about being more productive with sublime text 3 (writing in progress).
</td></tr>

<tr><td>
<a href="https://github.com/mmcgrana/services-engineering" class="linktitle">Services Engineering Reading List</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
A reading list for services engineering, with a focus on cloud infrastructure services.
</td></tr>

<tr><td>
<a href="http://debops.org/" class="linktitle">DebOps</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
A collection of Ansible playbooks for Debian, scalable from one container to an entire data center.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/ioquatix/rubydns" class="linktitle">RubyDNS</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Intercept and modify DNS requests, provides most typical DNS server functionality.
</td></tr>

<tr><td>
<a href="https://github.com/akron-io/trello-ems" class="linktitle">Trello-ems</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Use Trello to generate your email newsletters, inspired by TheChangelog workflow.
</td></tr>

<tr><td>
<a href="http://jameschambers.co/writing/frontend-md/" class="linktitle">Frontend.md</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A command line tool which generates documentation for your existing frontend code.
</td></tr>

<tr><td>
<a href="http://sanestack.com/" class="linktitle">SANE stack</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Sails and ember with docker and cli tools.
</td></tr>

<tr><td>
<a href="http://arasatasaygin.github.io/is.js/" class="linktitle">is.js</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Check types, regexps, presence, time and more.
</td></tr>

<tr><td>
<a href="http://www.taucharts.com/" class="linktitle">Taucharts</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Free open source D3.js-based library for charts. Yeah there is always space for more of those.
</td></tr>

<tr><td>
<a href="https://vivaldi.com" class="linktitle">Vivaldi</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
From the makers of Opera this is a new web browser.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://ma.ttias.be/whats-new-systemd-2015-edition/" class="linktitle">What’s New in systemd, 2015 Edition</a>

</td><td class="date">
feb 1
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Note from the talk of Lennart Poettering at Fosdem.
</td></tr>

<tr><td>
<a href="https://codeascraft.com/2015/02/02/transitioning-to-scss-at-scale/" class="linktitle">Transitioning to SCSS at Scale</a>

</td><td class="date">
feb 2
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
How Etsy migrated from simple CSS to SCSS.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/new-methods-ruby-2-2/" class="linktitle">New Methods in Ruby 2.2</a>

</td><td class="date">
feb 2
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
GC upgrades are not the only niceness in the new ruby 2.2.
</td></tr>

<tr><td>
<a href="http://engineering.heroku.com/blogs/2015-02-04-incremental-gc" class="linktitle">Incremental Garbage Collection in Ruby 2.2</a>

</td><td class="date">
feb 4
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
RincGC achieves short GC pause times compared to Ruby 2.1.
</td></tr>

<tr><td>
<a href="http://www.toptal.com/ruby/ruby-concurrency-and-parallelism-a-practical-primer" class="linktitle">Ruby Concurrency and Parallelism: A Practical Primer</a>

</td><td class="date">
feb 4
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
various techniques and approaches that are available for concurrency and parallelism in Ruby.
</td></tr>

<tr><td>
<a href="http://blog.getprismatic.com/interest-graph-api/" class="linktitle">Announcing the Interest Graph API</a>

</td><td class="date">
feb 4
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Prismatic opens a public API to query their interest graph.
</td></tr>

<tr><td>
<a href="http://www.100percentjs.com/authentication-single-page-applications-apis-sane-stack/" class="linktitle">Authentication and API’s in the SANE Stack</a>

</td><td class="date">
feb 4
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
For single page application, oauth2 can be confusing.
</td></tr>

<tr><td>
<a href="https://scotch.io/tutorials/display-time-relatively-in-angular" class="linktitle">Display Time Relatively in Angular</a>

</td><td class="date">
feb 4
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Use momentjs lib for nicer date displays.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/youtube-api-version-3-rails/" class="linktitle">YouTube API, Version 3 on Rails</a>

</td><td class="date">
feb 6
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Ruby client that works with v3 of the youtube api.
</td></tr>

<tr><td>
<a href="https://scotch.io/tutorials/getting-started-with-less" class="linktitle">Getting Started with Less</a>

</td><td class="date">
feb 6
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
CSS pre-processors are not that hard, just dive in.
</td></tr>

<tr><td>
<a href="http://css-tricks.com/spriting-img/" class="linktitle">Spriting with <img></a>

</td><td class="date">
feb 6
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Sprites aren't limited to background-image, with the object-fit and object-position properties.
</td></tr>

<tr><td>
<a href="http://www.leighhalliday.com/tree-structures-in-your-rails-models" class="linktitle">Tree Structures in your Rails models</a>

</td><td class="date">
feb 7
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Tree structures are needed any time you want to insert a hierarchy into your data.
</td></tr>

<tr><td>
<a href="http://6ftdan.com/allyourdev/2015/02/07/do-it-all-with-ruby/" class="linktitle">Do It All With Ruby</a>

</td><td class="date">
feb 7
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A glimpse into the broad spectrum of what Ruby is capable of.
</td></tr>

</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://www.youtube.com/watch?v=z5e7kWSHWTg" class="linktitle">React.js Conf 2015 - Hype!</a>
<span class="duration">(31m)</span>
</td><td class="date">
feb 2
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Interesting use-cases of usage of react.js.
</td></tr>

<tr><td>
<a href="https://gorails.com/episodes/soft-delete-with-paranoia" class="linktitle">GoRails 41</a>
<span class="duration">(16m)</span>
</td><td class="date">
feb 5
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Soft Delete with Paranoia.
</td></tr>

</table>

<h3>Listen</h3>
<div class="baseline">What could be heard last week ..</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://thewebplatform.libsyn.com/28-securing-your-web-applications" class="linktitle">Web Platform Podcast #28</a>
<span class="duration">(58m)</span>
</td><td class="date">
jan 28
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Securing our Web Applications.
</td></tr>

<tr><td>
<a href="http://thewebplatform.libsyn.com/29-understanding-reactive-extensions" class="linktitle">Web Platform Podcast #29</a>
<span class="duration">(1h06)</span>
</td><td class="date">
jan 28
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Reactive Extensions.
</td></tr>

<tr><td>
<a href="http://giantrobots.fm/132" class="linktitle">Giant Robots 132</a>
<span class="duration">(38m)</span>
</td><td class="date">
feb 1
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Story Tellers (Adarsh Pandit, Kyle Fiedler).
</td></tr>

<tr><td>
<a href="http://fullstackradio.com/episodes/8/" class="linktitle">Fullstack Radio 8</a>
<span class="duration">(58m)</span>
</td><td class="date">
feb 2
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Ember and API First with Sean Devine.
</td></tr>

<tr><td>
<a href="http://www.developertea.com/episodes/6832" class="linktitle">Developer tea 13</a>
<span class="duration">(10m)</span>
</td><td class="date">
feb 2
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
 Flexibility.
</td></tr>

<tr><td>
<a href="https://ruby5.codeschool.com/episodes/563-episode-525-february-3rd-2015" class="linktitle">Ruby5 #525</a>
<span class="duration">(6m)</span>
</td><td class="date">
feb 3
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Loaf, New RSpec Signing Certificate, Replace coffeescript with ES6, RSpec new site, Require only what you require, Rikki - the robot, Pry-remote and Vagrant.
</td></tr>

<tr><td>
<a href="https://ruby5.codeschool.com/episodes/563-episode-525-february-3rd-2015" class="linktitle">Ruby5 #526</a>
<span class="duration">(6m)</span>
</td><td class="date">
feb 3
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Ruby Concurrency, Sitemap with Rails, Ember.js with Rails, New Methods in Ruby 2.2, Robot, You Have One Job.
</td></tr>

<tr><td>
<a href="http://www.developertea.com/episodes/6833" class="linktitle">Developer tea 14</a>
<span class="duration">(16m)</span>
</td><td class="date">
feb 4
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Daniel Kao - Self Control: Cutting Sugar for a Year, and Starting a Career in Something You Have No Experience in, On Purpose.
</td></tr>

<tr><td>
<a href="http://devchat.tv/ruby-rogues/193-rr-the-volt-framework-with-ryan-stout" class="linktitle">RubyRogues 193</a>
<span class="duration">(1h13)</span>
</td><td class="date">
feb 4
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
The Volt Framework with Ryan Stout.
</td></tr>

<tr><td>
<a href="http://devchat.tv/js-jabber/145-jsj-meteor-js-with-matt-debergalis" class="linktitle">Javascript Jabber 145</a>
<span class="duration">(1h06)</span>
</td><td class="date">
feb 4
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Meteor.js with Matt DeBergalis.
</td></tr>

<tr><td>
<a href="http://5by5.tv/rubyonrails/183" class="linktitle">Ruby on Rails podcast 183</a>
<span class="duration">(1h02)</span>
</td><td class="date">
feb 4
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Sean Devine Interview on Full Stack Radio about API-First Development.
</td></tr>

<tr><td>
<a href="http://blog.codepen.io/2015/02/04/034-q/" class="linktitle">CodePen 34</a>
<span class="duration">(49m)</span>
</td><td class="date">
feb 4
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Questions and answers.
</td></tr>

<tr><td>
<a href="http://theshipshow.com/2015/02/developing-careerops/" class="linktitle">The ship show 53</a>
<span class="duration">(55m)</span>
</td><td class="date">
feb 5
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Developing CareerOps.
</td></tr>

<tr><td>
<a href="http://www.thecloudcast.net/2015/02/introducing-bytesized-devops-podcasts.html" class="linktitle">The Cloudcast - ByteSized - 1</a>
<span class="duration">(4 bytesized)</span>
</td><td class="date">
feb 5
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Git & GitHub, Config Management, CI/CD, Containers.
</td></tr>

<tr><td>
<a href="http://devchat.tv/adventures-in-angular/028-aia-isomorphic-javascript-with-angularjs-with-jeff-whelpley" class="linktitle">Adventure in angular #28</a>
<span class="duration">(37m)</span>
</td><td class="date">
feb 5
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Isomorphic JavaScript with AngularJS with Jeff Whelpley.
</td></tr>

<tr><td>
<a href="http://www.developertea.com/episodes/6877" class="linktitle">Developer tea 15</a>
<span class="duration">(8m)</span>
</td><td class="date">
feb 6
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Code Kata - A Practice Arena for Becoming a Better Programmer.
</td></tr>

<tr><td>
<a href="http://5by5.tv/changelog/140" class="linktitle">The Changelog 140</a>
<span class="duration">(1h11)</span>
</td><td class="date">
feb 6
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Aurelia, Durandal, and leaving AngularJS with Rob Eisenberg.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">
<i>Links curated by by mose (editor),

xenor, simon (informers)
.</i>
</div>


<div id="rant">
<h3>Rant</h3>
<div class="baseline"><i>The random rant of the week by mose.</i></div>
<h4>Damn omnivore</h4>

<p>Last week Green Ruby was sent with a delay. For some obscure reason my publication was blocked by <a href="http://mailchimp.com/omnivore/">Omnivore</a> the automated fraud detection system from Mailchimp. My account was instantly blocked and it was pending a human review. Of course the human review made it clear that the publication was clean but it took 2 days and I still don't know why this omnivore beast went mad at me.</p>

<p>They declare it's getting smarter everyday, but really, we are still safe. The reign of the intelligent computer over the human species is not close yet.</p>

<h4>Make it static</h4>

<p>Dynamic websites are great. But that's a long time I wonder about the trade-off. If you update your blog every day, and have 500 visits, your dynamic setup is useful when you edit, and it's a cost for each visitor. There are so many web applications that could be more clever about it. Especially that now the computation is going more and more client side.</p>

<p>Static pages have a really unbeatable response time, their security is really reliable, they are low dependencies and easy to deploy with a rsync.</p>

<p>When I get to think about making a new website, I always ask myself if it's an application or a website. For sure some kind of applications are computation intensive. Making it all dynamic could make sense. But frankly, if it's a website, it can have some fancy dynamic features without a huge dynamic setup.</p>

<p>I have seen so many websites made with php, mysql, 5 tables and 20 entries in each. Such site should have pre-generated content, data available as static json files, as a bit of js to make the magic happen. If there is a lot of data, fine, an API server makes sense.</p>

<p>So next time you gotta prepare a website, ask yourself how easy it could be to generate it and use tools like <a href="http://jekyllrb.com/">Jekyll</a> or <a href="https://middlemanapp.com/">Middleman</a>. Or you can even handle things with custom rake tasks (<a href="https://github.com/greenruby/grn-static/blob/master/lib/builder.rb#L87">like I do for Green Ruby website</a>), that's not that hard. It's a matter of cyberspace ecology.</p>

</div>


</div>
</div>
