<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#220 - apr 23th 2017</h1>
</div>
<div id="templateBody">



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://www.carbonbeauty.com/" class="linktitle">Carbon Beauty</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Nice scroll and reveal effect.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://yak.farm" class="linktitle">Yak</a>

</td><td class="date">

<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Use Yak to generate a blog from your Dropbox account.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/CCOSTAN/Home-AssistantConfig" class="linktitle">Home-AssistantConfig</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
An interesting example of full home automation.
</td></tr>

<tr><td>
<a href="https://docs.slatejs.org/" class="linktitle">Slate</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Customizable framework for building rich text editors (a la hackpad).
</td></tr>

<tr><td>
<a href="https://github.com/davissp14/etcdv3-ruby" class="linktitle">Etcdv3-ruby</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Etcd v3 Ruby Client.
</td></tr>

<tr><td>
<a href="https://github.com/MaiaVictor/forall" class="linktitle">Forall</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Expressive static types and invariant checks for JavaScript.
</td></tr>

<tr><td>
<a href="https://github.com/ramon82/zuck.js" class="linktitle">Zuck.js</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A javascript library that lets you add stories EVERYWHERE.
</td></tr>

<tr><td>
<a href="https://github.com/ponzu-cms/ponzu" class="linktitle">Ponzu</a>

</td><td class="date">

<img class="icon" src="ico/go.png" height="18" width="18" align="right" alt="go" />
</td></tr>
<tr><td colspan="2" class="comment">
Headless CMS with automatic JSON API.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://thehackernews.com/2017/04/unicode-Punycode-phishing-attack.html" class="linktitle">This Phishing Attack is Almost Impossible to Detect On Chrome, Firefox and Opera</a>

</td><td class="date">
apr 17
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Chinese security researcher Xudong Zheng demonstrates a Punycode Phishing Page using Homograph attack, which is almost Impossible to Detect On Chrome, Firefox and Opera.
</td></tr>

<tr><td>
<a href="https://blog.bugsnag.com/tmux-and-vim/" class="linktitle">Tmux and Vim - even better together</a>

</td><td class="date">
apr 18
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Customizing tmux and vim to help get more done with less typing and context switching.
</td></tr>

<tr><td>
<a href="https://blog.docker.com/2017/04/introducing-the-moby-project/" class="linktitle">Introducing the moby project</a>

</td><td class="date">
apr 18
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
A new open-source project to help the ecosystem take containers mainstream. The new face of Docker.
</td></tr>

<tr><td>
<a href="http://tutorialzine.com/2017/04/handle-mouse-and-touch-input-with-the-pointer-events-api/" class="linktitle">Handle Mouse And Touch Input With The Pointer Events API</a>

</td><td class="date">
apr 18
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
There are some new shiny pointer events available for modern browsers.
</td></tr>

<tr><td>
<a href="https://www.smashingmagazine.com/2017/04/start-using-css-custom-properties/" class="linktitle">It's Time To Start Using CSS Custom Properties</a>

</td><td class="date">
apr 19
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
CSS custom properties are like CSS variables, but with the ability to change in javascript.
</td></tr>

<tr><td>
<a href="https://www.toptal.com/designers/usability/turning-usability-testing-data-into-action" class="linktitle">Turning Usability Testing Data into Action without Going Insane</a>

</td><td class="date">
apr 20
<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
How to Turn Usability Testing Data into Workable Solutions.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by xenor (publisher), mose (editors), 
tysliu (contributors)
.</i>

</div>



</div>
</div>
