<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#113 - apr 5th 2015</h1>
</div>
<div id="templateBody">



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.bindfilm.nl/" class="linktitle">Bindfilm</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
It's all in dutch but the visual work speaks for itself.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://nicoschuele.github.io/railsplay/" class="linktitle">Rails Play</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A playground to experiment with Rails quickly and easily.
</td></tr>

<tr><td>
<a href="http://www.alexdymo.com/blog/2015/04/ruby-performance-optimization-book-beta.html" class="linktitle">Ruby Performance Optimization</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
(book) beta release.
</td></tr>

<tr><td>
<a href="http://primercss.io/" class="linktitle">Primer</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
The CSS toolkit and guidelines that power GitHub.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://crystal-lang.org/" class="linktitle">Crystal</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A compiled language with a Ruby-flavored syntax.
</td></tr>

<tr><td>
<a href="https://github.com/eldr-rb/eldr" class="linktitle">Eldr</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A minimal Ruby framework only on top of rack.
</td></tr>

<tr><td>
<a href="https://github.com/mrThe/to_nil" class="linktitle">ToNil</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Cast everything to nil.
</td></tr>

<tr><td>
<a href="http://irb.tools/" class="linktitle">Irb tgools</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Improvements for ruby irb.
</td></tr>

<tr><td>
<a href="http://citadeltoolkit.org/" class="linktitle">Citadel</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Toolkit for scheduling containers on a Docker cluster.
</td></tr>

<tr><td>
<a href="http://fnordmetric.io/" class="linktitle">FnordMetric</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Write SQL queries that return SVG charts rather than tables.
</td></tr>

<tr><td>
<a href="https://github.com/rylnd/shpec" class="linktitle">shpec</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Test your shell scripts.
</td></tr>

<tr><td>
<a href="http://facebook.github.io/react-native/" class="linktitle">React Native</a>

</td><td class="date">

<img class="icon" src="ico/mobile.png" height="18" width="18" align="right" alt="mobile" />
</td></tr>
<tr><td colspan="2" class="comment">
A framewwork for building native apps using react.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://hawkins.io/2015/03/on-ruby/" class="linktitle">On Ruby</a>

</td><td class="date">
mar 30
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Gain code confidence by select good libraries
</td></tr>

<tr><td>
<a href="http://6ftdan.com/allyourdev/2015/03/31/rails-4s-awesome-enums/" class="linktitle">Rails 4 Awesome enums</a>

</td><td class="date">
mar 31
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Introducing Rails 4 enum method
</td></tr>

<tr><td>
<a href="http://aaronlasseigne.com/2015/04/01/know-ruby-enumerable-grep/" class="linktitle">Know Ruby: Enumerable grep</a>

</td><td class="date">
apr 1
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Another convenient method for fetching elements in collection.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/7-ways-optimize-jenkins/" class="linktitle">Ways to Optimize Jenkins</a>

</td><td class="date">
apr 1
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Seven ways to make sure you use Jenkins efficiently.
</td></tr>

<tr><td>
<a href="http://aaronlasseigne.com/2015/04/01/know-ruby-enumerable-grep/" class="linktitle">Ruby Metaprogramming - Creating Methods</a>

</td><td class="date">
apr 2
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Use metaprogramming to avoid writing repetitive code.
</td></tr>

<tr><td>
<a href="http://devops.com/blogs/one-secure-os-for-the-cloud-the-rise-of-unikernels/" class="linktitle">The Rise of Unikernels</a>

</td><td class="date">
apr 2
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
How Unikernels Deliver Better Security.
</td></tr>

<tr><td>
<a href="https://css-tricks.com/starting-a-refactor-with-css-dig/" class="linktitle">Starting a Refactor with CSS Dig</a>

</td><td class="date">
apr 3
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
CSS dig is an open source Chrome Extension for analyzing CSS.
</td></tr>

<tr><td>
<a href="http://racingtadpole.com/blog/test-react-with-jest/" class="linktitle">Testing react component with jest</a>

</td><td class="date">
apr 3
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Jest makes a bold claim to be 'Painless Javascript Unit Testing'.
</td></tr>

</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://gorails.com/episodes/newsletter-sign-up" class="linktitle">Gorails 49</a>
<span class="duration">(19m)</span>
</td><td class="date">
apr 4
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Newsletter Sign Up Form with country_select
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by mose (publisher), xenor (editors).</i>

</div>


<div id="rant">
<h3>Rant</h3>
<div class="baseline"><i>The random rant of the week by mose.</i></div>
<h4>Multiple inheritance simulation</h4>

<p>This is a bit twisted. In ruby, as you know, you cannot use multiple inheritance. But the flexibility of the language, especially the metaprogramming aspect, opens the door for some cheating. Check out <a href="https://gist.github.com/capitalist/473543b7ea24d461d030">this code</a>, it tricks it by declaring the first class as the super class and the remaining classes as modules included in that super class. Pretty acrobatic and elegant, imho.</p>

<h4>About vaping</h4>

<p>Well this has been my burden for 30 years, and I'm not proud of it. But last week it finally ended. I quit smoking. But this was kindof a trick, as it was made possible by switching to <a href="http://gizmodo.com/5-facts-that-everyone-gets-wrong-about-vaping-1659938937">vaping</a>. It certainly doesn't solve the nicotine addiction issue, but I'm very happy with this move and hopeful for a gradual freedom.</p>

<p>I also found out that this vaping practice is very geeky. The hardware part is quite elaborate, vaping devices are really neat piece of work, there are a bunch of vendors. The liquidware is also quite a subject of hacking. Technically it's not that hard to do it yourself. Not surprising that I discovered this vaping practice in geeks circles.</p>

</div>


</div>
</div>
