<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#216 - mar 26th 2017</h1>
</div>
<div id="templateBody">



<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/kamranahmedse/developer-roadmap" class="linktitle">Developer-roadmap</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Roadmap to becoming a web developer in 2017.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://gokrazy.github.io/" class="linktitle">Gokrazy</a>

</td><td class="date">

<img class="icon" src="ico/go.png" height="18" width="18" align="right" alt="go" />
</td></tr>
<tr><td colspan="2" class="comment">
A pure-Go userland for Raspberry Pi 3 appliances.
</td></tr>

<tr><td>
<a href="https://github.com/wingify/across-tabs" class="linktitle">Across-tabs</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Easily communicate among browser tabs(supports cross-origin).
</td></tr>

<tr><td>
<a href="https://github.com/code-mancers/invoker" class="linktitle">Invoker</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
An utility to manage processes in development environment.
</td></tr>

<tr><td>
<a href="https://github.com/netlify/netlify-cms" class="linktitle">Netlify-cms</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A CMS for Static Site Generators.
</td></tr>

<tr><td>
<a href="https://pijul.org/" class="linktitle">Pijul</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A new version control system written in Rust.
</td></tr>

<tr><td>
<a href="https://github.com/hsnaydd/moveTo" class="linktitle">MoveTo</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A lightweight scroll animation javascript library without any dependency.
</td></tr>

<tr><td>
<a href="https://www.pixofield.com/" class="linktitle">Keyshape</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Create animations for the web.
</td></tr>

<tr><td>
<a href="https://github.com/cdonohue/polychrome" class="linktitle">Polychrome</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Compact color manipulation utility.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://www.sourceclear.com/blog/Rails-GEMS-Vulnerable-to-CSRF-Show-Vulnerability-Disclosure-in-Open-Source-Projects-Needs-a-Re-Think/" class="linktitle">Rails GEMS Vulnerable to CSRF Show Vulnerability Disclosure in Open-Source Projects Needs a Re-Think</a>

</td><td class="date">
mar 20
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Make sure gems are up-to-date is not enough to get rid of vulnerability.
</td></tr>

<tr><td>
<a href="http://blog.honeybadger.io/building-documentation-sites-with-gulp-docco-and-livereload/" class="linktitle">Building Documentation with Gulp, Docco and LiveReload</a>

</td><td class="date">
mar 21
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A documentation generator to convert the source files into a website.
</td></tr>

<tr><td>
<a href="http://schneems.com/2017/03/21/config-behavior-versus-credentials/" class="linktitle">Config: Behavior versus Credentials</a>

</td><td class="date">
mar 21
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
An application doesn’t have one type of configuration, it has two.
</td></tr>

<tr><td>
<a href="https://blog.dnsimple.com/2017/03/why-we-ended-up-not-using-rails-for-our-new-json-api/" class="linktitle">Why we ended up not using Rails for our new JSON API</a>

</td><td class="date">
mar 21
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Experiences on refactoring an old Rails application.
</td></tr>

<tr><td>
<a href="https://medium.com/rubyinside/ruby-2-4-1-released-whats-changed-fa83346c93f3" class="linktitle">Ruby 2.4.1 Released: What’s Changed</a>

</td><td class="date">
mar 23
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Most of the changes are fixes for regressions.
</td></tr>

<tr><td>
<a href="https://medium.com/rubyinside/the-new-absent-operator-in-ruby-s-regular-expressions-7c3ef6cd0b99" class="linktitle">The New ‘Absent Operator’ in Ruby’s Regular Expressions</a>

</td><td class="date">
mar 23
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Ruby 2.4.1 was released this week and included an upgrade to its underlying regular expression engine, Onigmo.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by xenor (publisher), tysliu (editors), 
lincoln, lulalala, mose, Nauman Tariq (contributors)
.</i>

</div>



</div>
</div>
