<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#196 - nov 06th 2016</h1>
</div>
<div id="templateBody">



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.jennyjohannesson.com" class="linktitle">Jenny Johannesson</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Portfolio of Jenny Johannesson, Designer.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://www.upsite.io/" class="linktitle">Websites made simple</a>

</td><td class="date">

<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
A simpler way to make a website for anything.
</td></tr>

<tr><td>
<a href="https://wrenchmode.com" class="linktitle">Wrenchmode</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Dead Simple Maintenance pages for your web app.
</td></tr>

<tr><td>
<a href="https://zapier.com/learn/the-ultimate-guide-to-remote-working/" class="linktitle">The Ultimate Guide to Remote Work</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Downloadable guide for remote working.
</td></tr>

<tr><td>
<a href="https://www.stockjo.com/" class="linktitle">StockJo</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Collection of free stock stuff.
</td></tr>

<tr><td>
<a href="http://www.alldaydevops.com/" class="linktitle">All Day DevOps</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
15 time zones. 15 hours. 54 sessions. nov 15th.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/bitboxer/manpages" class="linktitle">Manpages</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
This plugin will add man pages support to ruby gems.
</td></tr>

<tr><td>
<a href="https://github.com/ankane/blazer" class="linktitle">Blazer</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Business intelligence made simple: Explore your data with SQL.
</td></tr>

<tr><td>
<a href="https://github.com/ankane/groupdate" class="linktitle">Groupdate</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
The simplest way to group temporal data
</td></tr>

<tr><td>
<a href="https://github.com/GoogleChrome/lighthouse" class="linktitle">Lighthouse</a>

</td><td class="date">

<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Auditing and performance metrics for Progressive Web Apps
</td></tr>

<tr><td>
<a href="https://funcssion.com/" class="linktitle">Funcssion</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
set of really simple CSS classes, with a single purpose, inspired by the philosophy behind pure functions.
</td></tr>

<tr><td>
<a href="https://portier.github.io/" class="linktitle">Portier</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
An email-based, passwordless authentication service
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://vaneyckt.io/posts/using_dtrace_to_measure_mutex_contention_in_ruby/" class="linktitle">Using DTrace to measure mutex contention in Ruby</a>

</td><td class="date">
oct 31
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
This type of information can be worth its weight in gold when trying to diagnose why your threaded program is running slower than expected.
</td></tr>

<tr><td>
<a href="https://stripe.com/blog/service-discovery-at-stripe" class="linktitle">Service discovery at Stripe</a>

</td><td class="date">
oct 31
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
At Stripe, Consul helps discover services.
</td></tr>

<tr><td>
<a href="http://www.rubypigeon.com/posts/fizzbuzz-in-too-much-detail/" class="linktitle">FizzBuzz In Too Much Detail</a>

</td><td class="date">
nov 1
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Complexity is like a mortgage – you’re going to be paying interest on it.
</td></tr>

<tr><td>
<a href="http://blog.sass-lang.com/posts/1022316-announcing-dart-sass" class="linktitle">Announcing Dart Sass</a>

</td><td class="date">
noc 1
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
A new engine for Sass, in dart ... (doh)
</td></tr>

<tr><td>
<a href="https://www.devco.net/archives/2016/11/01/puppet-query-language.php" class="linktitle">Puppet Query Language</a>

</td><td class="date">
nov 1
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Introduction to PQL, still experimental but enabled by default in recent puppet versions.
</td></tr>

<tr><td>
<a href="http://blog.bigbinary.com/2016/11/02/ruby-2-4-introduces-enumerable-sum.html" class="linktitle">Ruby 2.4 implements Enumerable#sum</a>

</td><td class="date">
nov 2
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Ruby 2.4.0 implements Enumerable#sum as part of the language itself.
</td></tr>

<tr><td>
<a href="https://blog.gyrosco.pe/smooth-css-animations-7d8ffc2c1d29#.oqnbskp19" class="linktitle">10 principles for smooth web animations</a>

</td><td class="date">
nov 2
<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
The complete guide to 60fps smooth animations on your website.
</td></tr>

<tr><td>
<a href="https://www.linux.com/learn/5-systemd-tools-you-should-start-using-now" class="linktitle">5 systemd Tools You Should Start Using Now</a>

</td><td class="date">
nov 2
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Systemd sucks, but it takes over the world. Better get used to it.
</td></tr>

<tr><td>
<a href="https://www.stationcode.net/blog/top-10-quick-rails-performance-wins" class="linktitle">Top 10 Quick Rails Performance Wins</a>

</td><td class="date">
nov 4
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
In the beginning, Rails performance was really looked down on and wasn't really defended.
</td></tr>

<tr><td>
<a href="https://codeascraft.com/2016/11/04/building-a-better-mobile-crash-analytics-platform/" class="linktitle">Building a Better Mobile Crash Analytics Platform</a>

</td><td class="date">
nov 4
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Collecting mobile crashes and exceptions is (of necessity) quite different from most error reporting on the web.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by mose (publisher), tysliu (editors), 
nauman, hsatac, mose, lincoln (contributors)
.</i>

</div>


<div id="rant">
<h3>Rant</h3>

<div class="baseline"><i>The random rant of the week by mose.</i></div>
<h4>no rant again this week</h4>

<p>Well, I'm not going to write something just for the sake of writing something, right? Inspiration is just not there. Have a peaceful and productive week!</p>

</div>


</div>
</div>
