<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#166 - apr 10th 2016</h1>
</div>
<div id="templateBody">



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://panoply.cc" class="linktitle">Panoply</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
A Creative Company using nice full screen images and videos.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://weworkwithruby.com/" class="linktitle">We Work With Ruby</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A job marketplace for rubyists.
</td></tr>

<tr><td>
<a href="http://www.colorion.co" class="linktitle">Colorion</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Curated Color Palettes with Search and Tags Support.
</td></tr>

<tr><td>
<a href="https://coders-log.com/" class="linktitle">Coders Log</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A collection of community link-log about different code topics.
</td></tr>

<tr><td>
<a href="https://help.riseup.net/en/security/message-security/openpgp/best-practices" class="linktitle">OpenPGP Best Practices</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
In these troubled times, it's good to refresh our personal cryptography habits.
</td></tr>

<tr><td>
<a href="http://pages.gitlab.io/" class="linktitle">GitLab Pages</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Websites for your GitLab projects, user account or group, like on Github. But not sure it's in the community edition.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/mame/optcarrot" class="linktitle">optcarrot</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A NES emulator written in Ruby
</td></tr>

<tr><td>
<a href="https://github.com/envato/zxcvbn-ruby" class="linktitle">zxcvbn-ruby</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Ruby port of Dropbox's zxcvbn javascript lib
</td></tr>

<tr><td>
<a href="https://github.com/ndea/notifyor" class="linktitle">notifyor</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Get realtime notifications on desktop (except windows).
</td></tr>

<tr><td>
<a href="http://gruntjs.com/blog/2016-04-04-grunt-1.0.0-released" class="linktitle">Grunt 1.0.0 released</a>

</td><td class="date">
apr 4
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A big milestone for that well-known javascript processor.
</td></tr>

<tr><td>
<a href="http://nodered.org/" class="linktitle">Node-RED</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A visual tool for wiring the Internet of Things.
</td></tr>

<tr><td>
<a href="https://github.com/cloudflare/cfssl" class="linktitle">CFSSL</a>

</td><td class="date">

<img class="icon" src="ico/go.png" height="18" width="18" align="right" alt="go" />
</td></tr>
<tr><td colspan="2" class="comment">
CloudFlare's PKI and TLS toolkit
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://jakeyesbeck.com/2016/04/03/how-to-deal-with-timezones-the-active-support-way/" class="linktitle">How to Deal with Timezones the Active Support Way</a>

</td><td class="date">
apr 3
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
ActiveSupport in Ruby on Rails 4.0+ has a built in list of all supported timezones on the TimeZone class.
</td></tr>

<tr><td>
<a href="https://blog.codeship.com/producing-documentation-for-your-rails-api/" class="linktitle">Producing Documentation for Your Rails API</a>

</td><td class="date">
apr 5
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
The quicker a developer can understand and finish up the integration with your API, the fewer headaches your team will have when providing support.
</td></tr>

<tr><td>
<a href="https://justmarkup.com/log/2016/04/css-containment/" class="linktitle">CSS containment</a>

</td><td class="date">
apr 5
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Some words about the contains property.
</td></tr>

<tr><td>
<a href="http://githubengineering.com/introducing-dgit/" class="linktitle">Introducing DGit</a>

</td><td class="date">
apr 5
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
A new distributed storage system that dramatically improves the availability, reliability, and performance of serving and storing Git content.
</td></tr>

<tr><td>
<a href="http://blog.rubygems.org/2016/04/06/gem-replacement-vulnerability-and-mitigation.html" class="linktitle">RubyGems.org gem replacement vulnerability and mitigation</a>

</td><td class="date">
apr 6
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Gem replacement vulnerability on RubyGems.org, gems with hypen in their name are affected.
</td></tr>

<tr><td>
<a href="https://practicingdeveloper.com/2016/04/06/some-facts-about-the-ruby-hero-awards/" class="linktitle">Some facts about the Ruby Hero awards</a>

</td><td class="date">
apr 6
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
An interesting rant about the Ruby Heroes initiative and how it's organized.
</td></tr>

<tr><td>
<a href="https://scotch.io/tutorials/getting-started-with-browserify" class="linktitle">Getting Started with Browserify</a>

</td><td class="date">
apr 6
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Browserify lets you use require in the browser, the same way you'd use it in Node.
</td></tr>

<tr><td>
<a href="https://css-tricks.com/debouncing-throttling-explained-examples/" class="linktitle">Debouncing and Throttling Explained Through Examples</a>

</td><td class="date">
apr 6
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Use debounce, throttle and requestAnimationFrame to optimize your event handlers.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/managing-data-storage-with-blockchain-and-bigchaindb/" class="linktitle">Managing Data Storage with Blockchain and BigchainDB</a>

</td><td class="date">
apr 6
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
BigChainDB offers to supply a lot of functionality missing from current NoSQL and distributed databases.
</td></tr>

<tr><td>
<a href="https://github.com/blog/2144-gpg-signature-verification" class="linktitle">GPG signature verification</a>

</td><td class="date">
apr 6
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A new feature for Github."
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/generate-excel-spreadsheets-rails-axlsx-gem/" class="linktitle">Generate Excel Spreadsheets with Rails and the Axlsx Gem</a>

</td><td class="date">
apr 7
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Axlsx excels at helping you generate beautiful Office Open XML Spreadsheet documents without having to understand the entire ECMA specification.
</td></tr>

<tr><td>
<a href="http://blog.plataformatec.com.br/2016/04/debugging-techniques-in-elixir-lang/" class="linktitle">Debugging techniques in Elixir</a>

</td><td class="date">
apr 7
<img class="icon" src="ico/el.png" height="18" width="18" align="right" alt="el" />
</td></tr>
<tr><td colspan="2" class="comment">
Other approaches to debugging Elixir code, beyond IO.inspect.
</td></tr>

<tr><td>
<a href="https://packetzoom.com/blog/logzoom-a-fast-and-lightweight-substitute-for-logstash.html" class="linktitle">LogZoom, a fast and lightweight substitute for Logstas</a>

</td><td class="date">
apr 8
<img class="icon" src="ico/go.png" height="18" width="18" align="right" alt="go" />
</td></tr>
<tr><td colspan="2" class="comment">
Log data indexer written in Go, competitor of Logstash or Fluentd.
</td></tr>

<tr><td>
<a href="http://www.blrice.net/blog/2016/04/09/one-rails-app-with-many-databases/" class="linktitle">One Rails App With Many Databases</a>

</td><td class="date">
apr 9
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
It may be useful to connect to different databases for a variety of reasons
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by mose (publisher), xenor, tysliu (editors)
, Nauman Tariq, hsatac (contributors)
.</i>

</div>


<div id="rant">
<h3>Rant</h3>

<div class="baseline"><i>The random rant of the week by mose.</i></div>
<h4>Go again</h4>

<p>That's years that I'm trying to do something real with go. I mean, it is a very attractive language with quite a special workflow and toolbox. From time to time I write some small script for keeping contact with that language. Last week I made <a href="https://github.com/greenruby/slackpin/blob/master/pins.go">this one</a> to list links pinned in our Greenruby slackroom to prepare the letter, So I can open them all at once to check them in my browser. With time passing, seems that Go now has a really complete collection of libraries for a lot of usages. I think I will have push a little the slack api soon, and maybe do some real go coding.</p>

</div>


</div>
</div>
