<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#180 - jul 17th 2016</h1>
</div>
<div id="templateBody">



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://attackthefront.io/" class="linktitle">Attack The Front</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Curated thoughts on UX and UI
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://www.gitbook.com/book/rubyfu/rubyfu/details" class="linktitle">RubyFu</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
(gitbook) RubyFu, where Ruby goes evil!
</td></tr>

<tr><td>
<a href="http://awesome-ruby.com/" class="linktitle">Awesome Ruby</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Now with a domain name and a better presentation.
</td></tr>

<tr><td>
<a href="http://www.typescriptlang.org/" class="linktitle">TypeScript</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A type superset of javascript that compiles to plain js.
</td></tr>

<tr><td>
<a href="http://palettable.io" class="linktitle">Palettable</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Generate color palettes using the knowledge of millions of designers.
</td></tr>

<tr><td>
<a href="https://www.bountysource.com/" class="linktitle">Bountysource</a>

</td><td class="date">

<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
A place to make and collect bids on open source projects and issues.
</td></tr>

<tr><td>
<a href="http://bleech.io/" class="linktitle">bleech.io</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Tech inspiration for creatives
</td></tr>

<tr><td>
<a href="https://dependencyci.com" class="linktitle">Dependency CI</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Automatic compliance testing for all the dependencies of your application (supports more langs than Gemnasium).
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://weblog.rubyonrails.org/2016/7/13/Rails-4-2-7-and-4-1-16-have-been-released/" class="linktitle">Rails 4.2.7 and 4.1.16</a>

</td><td class="date">
jul 13
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Probably the last release for the 4.1.x family.
</td></tr>

<tr><td>
<a href="http://faalis.io" class="linktitle">Faalis</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A Rails Platform to rapidly build web applications
</td></tr>

<tr><td>
<a href="https://github.com/dannyyu92/barebones" class="linktitle">Barebones</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Personal Rails Template Generator
</td></tr>

<tr><td>
<a href="http://arunmichaeldsouza.github.io/CSS-Mint/" class="linktitle">Css-mint</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Lightweight and simple to use UI Kit.
</td></tr>

<tr><td>
<a href="https://hyperterm.org/" class="linktitle">HyperTerm</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Another electron/react/redux app, for simulating a term this time.
</td></tr>

<tr><td>
<a href="https://yhatt.github.io/marp" class="linktitle">Marp</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Markdown Presentation Writer.
</td></tr>

<tr><td>
<a href="https://github.com/guarinogabriel/Mac-CLI" class="linktitle">Mac-CLI</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
OS X command line tools for developers.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://www.sitepoint.com/quickly-process-api-requests-with-shoryuken-and-sqs/" class="linktitle">Quickly Process API Requests with Shoryuken and SQS</a>

</td><td class="date">
jul 11
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
An alternative for processing queued jobs with Shoryuken, which works in conjunction with Amazon’s Simple Queue Service.
</td></tr>

<tr><td>
<a href="https://tonyarcieri.com/a-gentle-introduction-to-nio4r" class="linktitle">A gentle introduction to nio4r: low-level portable asynchronous I/O for Ruby</a>

</td><td class="date">
jul 12
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
nio4r aims to provide portable implementations of just the I/O primitives that need support from native extensions.
</td></tr>

<tr><td>
<a href="https://bitsofco.de/javascript-promises-101/" class="linktitle">JavaScript Promises 101</a>

</td><td class="date">
jul 12
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A JavaScript Promise represents the result of an operation that hasn't been completed yet.
</td></tr>

<tr><td>
<a href="http://www.blackbytes.info/2016/07/writing-a-shell-in-ruby/" class="linktitle">Writing a Shell in 25 Lines of Ruby Code</a>

</td><td class="date">
jul 13
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Every time you open a terminal you are using a shell application. Learn how a shell works & how you can write one in 25 lines of Ruby code!
</td></tr>

<tr><td>
<a href="https://medium.com/codeminer-42/improving-rails-scalability-with-better-architecture-c102a2a0cdec" class="linktitle">Improving Rails Performance with Better Background Jobs</a>

</td><td class="date">
jul 12
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Tuning sidekiq workers to be more scalable.
</td></tr>

<tr><td>
<a href="https://blog.codeship.com/why-you-shouldnt-roll-your-own-authentication/" class="linktitle">Why You Shouldn't Roll Your Own Authentication</a>

</td><td class="date">
jul 13
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Given how easy it is to build an authentication system, why would you jump straight to a gem that's hard to understand and customize? Let's talk about that.
</td></tr>

<tr><td>
<a href="https://www.sitepoint.com/d3-js-data-visualizations/" class="linktitle">Learn to Create D3.js Data Visualizations by Example</a>

</td><td class="date">
jul 13
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
D3 gives you a rich tool-set for data manipulation and graphics programming.
</td></tr>

<tr><td>
<a href="https://codyhouse.co/gem/auto-hiding-navigation/" class="linktitle">Auto-Hiding Navigation in CSS and jQuery</a>

</td><td class="date">
jul 13
<img class="icon" src="ico/html5.png" height="18" width="18" align="right" alt="html5" />
</td></tr>
<tr><td colspan="2" class="comment">
A simple navigation that auto-hides when the user scrolls down, and becomes visible when the user scrolls up.
</td></tr>

<tr><td>
<a href="http://blog.ragnarson.com/2016/07/14/multi-model-searching-elasticsearch-2.html" class="linktitle">Multi-model searching using Elasticsearch</a>

</td><td class="date">
jul 14
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Multi model searching in ruby.
</td></tr>

<tr><td>
<a href="https://www.sitepoint.com/css-filter-effects-blur-grayscale-brightness-and-more-in-css/" class="linktitle">CSS Filter Effects: Blur, Grayscale, Brightness and more</a>

</td><td class="date">
jul 14
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
CSS filters are pretty powerful and incredibly easy to use.
</td></tr>

<tr><td>
<a href="https://blogs.dropbox.com/tech/2016/07/lepton-image-compression-saving-22-losslessly-from-images-at-15mbs/" class="linktitle">Lepton image compression</a>

</td><td class="date">
jul 14
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
saving 22% losslessly from images at 15MB/s
</td></tr>

<tr><td>
<a href="https://css-tricks.com/table-border-collapse-issue/" class="linktitle">Change Color of All Four Borders Even With `border-collapse: collapse;`</a>

</td><td class="date">
jul 15
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Issues when using the border-collapse property.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by mose (publisher), tysliu (editors)
, mose, hsatac, nauman, xenor (contributors)
.</i>

</div>


<div id="rant">
<h3>Rant</h3>

<div class="baseline"><i>The random rant of the week by mose.</i></div>
<h4>nothing to report</h4>

<p>Yeah there are weeks like that, I don't have inspiration. Or I'm lazy. Or I'm too busy writing <a href="https://github.com/Gandi/hubot-phabs/commits">javascript tests</a> with mocha, chai and or sinon. Already having 3 times more lines of code in tests that in code and even if coverage says 80% I know for a fact that there are many more cases I need to test. Anyways, there is too much fun for me to just go beyond the traditional gathering of the links for this week. Can't write a rant. No way.</p>

</div>


</div>
</div>
