<div id="templateContainer">
<div id="templateHeader">
<h1>#039 - nov 3rd 2013</div>
</div>
<div id="templateBody">
<div>
	<div class="baseline">
	<h3>Edito</h3>
	This week we get the rails upgrade to 4.0.1 with a lot of bugfixes. And there is like each week a collection of other links.
<br>
<br>
<em>&nbsp; mose - the green ruby editor</em><br>
<em>&nbsp; xenor - the informer</em><br>
&nbsp; <a href="http://greenruby.org" target="_self">http://greenruby.org</a>
<br>
</div>


<h2>Look</h2>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="http://railsrumble.com/entries/winners">Rails Rumble winners</a>
				
			</td>
			<td class="date">
				
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Always creative ideas can be found there.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://www.nytimes.com/newsgraphics/2013/10/27/south-china-sea/">A Game of Shark and Minnow</a>
				
			</td>
			<td class="date">
				
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				A superb onepage site combining scrolling effect and full screen videos.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://jamesfriend.com.au/pce-js/">Mac Plus emulator</a>
				
			</td>
			<td class="date">
				
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Running Mac OS 7 on your browser, all in javascript
			</td>
		</tr>
	
</table>

<h2>Use</h2>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="https://paydirtapp.com/">Paydirt</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				A time tracking and invoicing tool for freelancers.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://timecapsule.io/">Timecapsule</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				A chrome extension to send bookmarks to your future self.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://fleep.io/">Fleep</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				This chat service looks like hipchat, and is free while in beta.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://codecombat.com/">Code Combat</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Learn to Code JavaScript by Playing a Game.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://snazzymaps.com/">Snazzy maps</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Snazzy Maps is a repository of different styles for Google Maps.
			</td>
		</tr>
	
</table>

<h2>Install</h2>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="http://weblog.rubyonrails.org/2013/11/1/Rails-4-0-1-has-been-released/">Rails 4.0.1</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				This is a bug fix release and includes more than 460 commits.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://github.com/elabs/pundit">Pundit</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				An alternative to Cancan for permissions management, check out <a href="http://blog.carbonfive.com/2013/10/21/migrating-to-pundit-from-cancan/">this blog post</a> to know more.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://github.com/andrewculver/koudoku">Koudoku</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Robust subscription support for Rails with Stripe.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://github.com/apneadiving/Google-Maps-for-Rails">Google maps for rails</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Enables easy Google map + overlays creation in Ruby apps.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://gmelius.com/">Gmelius</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				A browser extension to overlay gmail, kill ads and add features.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://wellcaffeinated.net/PhysicsJS/">PhysicsJs</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				A 2d physic engine in javascript.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://moot.it/blog/technology/riotjs-the-1kb-mvp-framework.html">Riot.js</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				The 1kb client-side MVP framework.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://codegeekz.com/20-jquery-plugins-for-scrolling-effects/">20 jQuery Plugins for Scrolling Effects</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Scrolling is the new hype. Here are tools for making it smooth.
			</td>
		</tr>
	
</table>

<h2>Read</h2>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="http://mobile.smashingmagazine.com/2013/10/24/automate-your-responsive-images-with-mobify-js/">Automate Your Responsive Images With Mobify.js</a>
				
			</td>
			<td class="date">
				oct 24
				
					
						<img class="icon" src="ico/mobile.png" height="18" width="18" align="right" alt="mobile" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Verbose demonstration of the use of mobify.js for handling responsive images cleverly.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://blog.lingohub.com/developers/2013/10/dev-bit-auto-generate-uuid-postgres-rails-4/">Auto generate UUID with Postgres and Rails 4</a>
				
			</td>
			<td class="date">
				oct 25
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				How to take advantage of the unique identifiers in postgres with rails.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://blog.carbonfive.com/2013/10/27/the-javascript-event-loop-explained/">The JavaScript Event Loop: Explained</a>
				
			</td>
			<td class="date">
				oct 27
				
					
						<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				A pretty good explanation of how javascript event-loop works.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://gocardless.com/blog/statesman/">Statesman: A modern, robust Ruby state machine</a>
				
			</td>
			<td class="date">
				oct 30
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				An alternative Ruby state machine library.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://www.salsify.com/blog/detect-failed-delayed-job-workers/1571">Detecting Failed Delayed Job Workers</a>
				
			</td>
			<td class="date">
				oct 30
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				How to detect locks in delayed jobs and relaunch them.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://differential.io/blog/meteor-killin-rails">Why Meteor will kill Ruby on Rails</a>
				
			</td>
			<td class="date">
				oct 31
				
					
						<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				An opinion about meteor and some comparison with rails, from a rails devceloper.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://blog.phusion.nl/2013/11/01/will-meteor-kill-rails-i-dont-know-but-phusion-passenger-open-sources-meteor-support/">Phusion Passenger open sources Meteor support</a>
				
			</td>
			<td class="date">
				nov 01
				
					
						<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				This the answer of phusion passenger to the previous article.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://leopard.in.ua/2013/11/01/update-from-rails3-to-rails4/">How I update project from Rails 3 to Rails 4</a>
				
			</td>
			<td class="date">
				nov 01
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				A bunch of advises about an upgrade thaht is still due for many rails devs.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://www.mindtouch.com/blog/2013/11/02/agile_github_workflow/">Agile Software Development with GitHub</a>
				
			</td>
			<td class="date">
				nov 02
				
					
						<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Here is a presentation on how mindtouch uses github as a main workflow tool (as many others do).
			</td>
		</tr>
	
</table>

<h2>Watch</h2>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="http://www.confreaks.com/events/wickedgoodruby">Wicked Good Ruby 2013</a>
				<span class="duration">(26 videos)</span>
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				John Albin Wilkins and No-query Fallbacks in Breakpoint.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://www.youtube.com/watch?v=nM8bRUJpuAo">Sass Bites #13</a>
				<span class="duration">(20m)</span>
			</td>
			<td class="date">
				oct 31
				
					
						<img class="icon" src="ico/css.png" height="18" width="18" align="right" alt="css" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				John Albin Wilkins and No-query Fallbacks in Breakpoint.
			</td>
		</tr>
	
</table>

<h2>Listen</h2>
<div class="baseline">What could be heard last week ..</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="http://podcasts.thoughtbot.com/giantrobots/72">Giant robots 72</a>
				<span class="duration">(33m)</span>
			</td>
			<td class="date">
				oct 28
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				With Nathan Barry about book writing, teaching and self employment.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://ruby5.envylabs.com/episodes/451-episode-415-october-29th-2013">Ruby5 415</a>
				<span class="duration">(7m)</span>
			</td>
			<td class="date">
				oct 29
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				FFI is over, TryTo, Devops, asset pipeline, constant resolution, emacs for ruby.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://rubyrogues.com/129-rr-sharpening-tools-with-ben-orenstein/">RubyRogues 129</a>
				<span class="duration">(1h02)</span>
			</td>
			<td class="date">
				oct 30
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Sharpening Tools with Ben Orenstein.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://5by5.tv/changelog/110">The Changelog 110</a>
				<span class="duration">(1h)</span>
			</td>
			<td class="date">
				oct 30
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Capistrano and Burnout with Lee Hambley.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://puppetlabs.com/podcasts/podcast-new-pro-puppet">The New Pro Puppet</a>
				<span class="duration">(18m)</span>
			</td>
			<td class="date">
				oct 31
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				With authors of the upcoming new edition of the book Pro Puppet.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://ruby5.envylabs.com/episodes/452-episode-416-november-1st-2013">Ruby5 416</a>
				<span class="duration">(5m)</span>
			</td>
			<td class="date">
				nov 01
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				gem teardown, angular/backbone, statesman, table_print, pronto runner.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://javascriptjabber.com/082-jsj-jshint-with-anton-kovalyov/">Javascript Jabber 082</a>
				<span class="duration">(42m)</span>
			</td>
			<td class="date">
				nov 01
				
					
						<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				JSHint with Anton Kovalyov.
			</td>
		</tr>
	
</table>

</div>
