<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#036 - oct 14th 2013</h1>
</div>
<div id="templateBody">

<div>
<div class="baseline">
<h2>Edito</h2>
The registration for this year Rails Runble <a href="http://blog.railsrumble.com/2013/10/07/registration-has-opened/">has opened</a> on oct 07 and ended yesterday. But you can follow the fun that begins next weekend (oct 19). For the rest, I'm looking for a icon for devops topic. Feels free to send suggestions.
<br>
</div>
</div>



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.cloudpaint.com/client/" class="linktitle">Mac Paint Online</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
For the nostalgic.
</td></tr>

<tr><td>
<a href="http://www.fullscreenmario.com/" class="linktitle">Full Screen Mario</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
An HTML5 remake of the original super mario, again for nostalgy sake.
</td></tr>

<tr><td>
<a href="http://christopheviau.com/d3list/gallery.html" class="linktitle">The big list of D3</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
1900 examples of good (or not) D3 visualization.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://friendco.de" class="linktitle">Friend Code</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Yet another online collaboration coding tool.
</td></tr>

<tr><td>
<a href="http://benweet.github.io/stackedit/" class="linktitle">StackEdit</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
An online markdown editor.
</td></tr>

<tr><td>
<a href="http://www.reportr.io/" class="linktitle">Reportr</a>

</td><td class="date">

<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
A personal tracker, can also be downloaded and installed at home.
</td></tr>

<tr><td>
<a href="http://www.puppetbestpractices.com/" class="linktitle">Puppet Best Practices</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Result of a discussion at Puppetconf, the community gets organized.
</td></tr>

<tr><td>
<a href="http://vizalizer.co/" class="linktitle">Vizalizer</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A community service for creating publisjing and sharing infographics.
</td></tr>

<tr><td>
<a href="http://raml.org/" class="linktitle">Raml</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
RESTful API Modeling Language.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/adeven/shrimp" class="linktitle">Shrimp</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Using phantomJs to generate pdf from url.
</td></tr>

<tr><td>
<a href="https://github.com/twopoint718/reactive_record" class="linktitle">Reactive Record</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Create model from your existing PostgreSQL database.
</td></tr>

<tr><td>
<a href="https://github.com/JacksonGariety/bitch" class="linktitle">Bitch</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A Ruby logger that uses OS X notifications.
</td></tr>

<tr><td>
<a href="https://github.com/capistrano/capistrano" class="linktitle">Capistrano 3</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A major release for capistrano, check <a href="https://medium.com/p/ba896a142ac">what changed</a>.
</td></tr>

<tr><td>
<a href="http://vnjs.net/www/project/freewall/" class="linktitle">Free Wall</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A jQuery plugin for grid layouts without gaps.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://programming.oreilly.com/2013/10/making-systems-operable.html" class="linktitle">Making Systems Operable</a>

</td><td class="date">
oct 07
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
About the danger of operation automation, and the need for operable systems.
</td></tr>

<tr><td>
<a href="http://blog.codeclimate.com/blog/2013/10/09/rails-testing-pyramid/" class="linktitle">The Rails Testing Pyramid</a>

</td><td class="date">
oct 09
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Another code climate post about balanced test suites for long-term maintainability.
</td></tr>

<tr><td>
<a href="http://blog.newrelic.com/2013/10/10/infographic-state-stack-ruby-edition/" class="linktitle">State of the Stack: Ruby Edition</a>

</td><td class="date">
oct 10
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
An infographic by new relic about the ruby stack.
</td></tr>

<tr><td>
<a href="http://www.intelligenthq.com/data-visualization-2/10-free-data-visualization-tools-and-why-data-visualization-is-important/" class="linktitle">10 Free Data Visualization Tools</a>

</td><td class="date">
oct 10
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
... and Why Data Visualization is Important.
</td></tr>

<tr><td>
<a href="http://blog.crisp.se/2013/10/11/henrikkniberg/good-and-bad-technical-debt" class="linktitle">Good and Bad Technical Debt</a>

</td><td class="date">
oct 11
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A long article about technical debt and how testing helps handling it.
</td></tr>

<tr><td>
<a href="http://byterot.blogspot.tw/2013/10/api-layer-and-its-responsibilities-rest-viewpoint-webapi-csds-aspnetwebapi.html" class="linktitle">API Layer and its responsibilities</a>

</td><td class="date">
oct 12
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
If you are putting business logic of your domain in your API Layer, you are doing it wrong.
</td></tr>

</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://vimeo.com/album/2559722" class="linktitle">Devopsdays 2013 - Tokyo</a>
<span class="duration">(6 videos)</span>
</td><td class="date">
oct 08
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A talk from Parse developer day, on what makes an API great by using emotion.
</td></tr>

<tr><td>
<a href="https://www.youtube.com/playlist?list=PL37ZVnwpeshFs1inQbgYpun1pLsTXXQ-_" class="linktitle">Jsconf EU 2013</a>
<span class="duration">(13 videos)</span>
</td><td class="date">
oct
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A lot of good talks from jsconf eu recently published.
</td></tr>

</table>

<h3>Listen</h3>
<div class="baseline">What could be heard last week ..</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://learn.thoughtbot.com/giantrobots/69" class="linktitle">Giant robots 69</a>
<span class="duration">(15m)</span>
</td><td class="date">
oct 07
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Ben Orenstein interviews Josh Clayton and Laila Winner on their book, Geocoding on Rails.
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/445-episode-409-october-8th-2013" class="linktitle">Ruby5 409</a>
<span class="duration">(7m)</span>
</td><td class="date">
oct 08
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
rubinius, mri, jruby, virtus, capistrano woes, ruby on sails.
</td></tr>

<tr><td>
<a href="http://rubyrogues.com/126-rr-remote-pair-programming-with-sam-livingston-gray/" class="linktitle">RubyRogues 126</a>
<span class="duration">(1h09)</span>
</td><td class="date">
oct 09
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Remote Pair Programming with Sam Livingston-Gray.
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/446-episode-410-october-11th-2013" class="linktitle">Ruby5 410</a>
<span class="duration">(6m)</span>
</td><td class="date">
oct 11
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Pain free testing, random ruby, reacive record, capistrano v3, wicked, heroku websockets.
</td></tr>

<tr><td>
<a href="http://javascriptjabber.com/079-jsj-lo-dash-with-john-david-dalton/" class="linktitle">Javascript Jabber 079</a>
<span class="duration">(1h04)</span>
</td><td class="date">
oct 11
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Lo-Dash with John-David Dalton.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by mose (editor), xenor (informer).</i>

</div>



</div>
</div>
