<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#130 - august 2nd 2015</h1>
</div>
<div id="templateBody">



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://owltastic.com/" class="linktitle">Owltastic</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
A designer website.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://screenings.io/" class="linktitle">Screenings</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
From typography to logo design, Screenings aggregates the best design-related videos from around the web.
</td></tr>

<tr><td>
<a href="https://rubytogether.org/" class="linktitle">Ruby Together</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Initiative to fund elementary ruby ecosystem tools like rubygems, bundler and others.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/chaps-io/access-granted" class="linktitle">access-granted</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Light weight multi-role and whitelist based authorization.
</td></tr>

<tr><td>
<a href="https://github.com/undercase/proof" class="linktitle">proof</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Secure Authentication for Single Page Applications
</td></tr>

<tr><td>
<a href="http://6ftdan.com/allyourdev/2015/07/23/ruby-on-the-raspberry-pi-free-distro-image/" class="linktitle">Ruby on raspberry PI</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Customized Raspberry Pi distro (Raspbian) with Ruby 2.2.2.
</td></tr>

<tr><td>
<a href="https://github.com/aspring/racker" class="linktitle">Racker</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Opinionated Ruby DSL for generating Packer templates.
</td></tr>

<tr><td>
<a href="https://github.com/rtc-io/rtc/" class="linktitle">RTC</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Build WebRTC conferencing applications with easy using rtc.io.
</td></tr>

<tr><td>
<a href="http://leaverou.github.io/stretchy/" class="linktitle">stretchy</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Form element autosizing, the way it should be.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://blog.honeybadger.io/use-any-c-library-from-ruby-via-fiddle-the-ruby-standard-librarys-best-kept-secret/" class="linktitle">Use any C library from Ruby via Fiddle</a>

</td><td class="date">
jul 27
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Fiddle is a little-known module that was added to Ruby’s standard library in 1.9.x.
</td></tr>

<tr><td>
<a href="http://tech.crowdfireapp.com/post/125257835004/power-up-your-sublime-text-as-rubyrails-ide" class="linktitle">Power up your Sublime Text as Ruby/Rails IDE</a>

</td><td class="date">
jul 28
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Various tips to enhance the rubyness in sublimetext.
</td></tr>

<tr><td>
<a href="http://twin.github.io/ode-to-sequel" class="linktitle">Ode to Sequel</a>

</td><td class="date">
jul 28
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Using Sequel to replace ActiveRecord.
</td></tr>

<tr><td>
<a href="http://theartandscienceofruby.com/2015/07/28/why-shouldnt-i-pass-instance-variables-to-views/" class="linktitle">Why shouldn’t I pass instance variables to views</a>

</td><td class="date">
jul 28
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Reasons for passing variables as locals from controllers to views.
</td></tr>

<tr><td>
<a href="http://blog.honeybadger.io/how-to-clear-all-sidekiq-queues-using-the-power-of-emoji/" class="linktitle">How to clear all Sidekiq queues, using the power of emoji</a>

</td><td class="date">
jul 28
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Use emojis as method names.
</td></tr>

<tr><td>
<a href="http://www.tothenew.com/blog/git-branch-per-feature-avoid-repeated-sync-of-feature-branch-using-git-rerere/" class="linktitle">Avoid repeated sync of feature branch using git rerere</a>

</td><td class="date">
jul 28
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Details of the Reuse Recorded Resolution feature in git.
</td></tr>

<tr><td>
<a href="http://eregon.github.io/rubyspec/2015/07/29/rubyspec-is-reborn.html" class="linktitle">RubySpec is Reborn</a>

</td><td class="date">
jul 29
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
RubySpec is back.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/implementing-show-moreless-functionality-with-pure-css/" class="linktitle">Implementing 'Show More/Less' Functionality with Pure CSS</a>

</td><td class="date">
jul 29
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Implement the 'Show More/Less' functionality with plain CSS.
</td></tr>

<tr><td>
<a href="https://codeascraft.com/2015/07/29/targeting-broad-queries-in-search/" class="linktitle">Targeting Broad Queries in Search</a>

</td><td class="date">
jul 29
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Looking at the probability that a result belongs to a particular category.
</td></tr>

<tr><td>
<a href="http://lucasnogueira.me/en/Cassandra-&-Ruby/" class="linktitle">Cassandra and Ruby</a>

</td><td class="date">
jul 30
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
How Cassandra works, some configurations and the connection with its own Ruby driver.
</td></tr>

<tr><td>
<a href="https://www.madetech.com/news/focus-with-well-structured-rspec-tests" class="linktitle">Focus with well structured RSpec tests</a>

</td><td class="date">
jul 30
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Tests often turn out to be great documentation for others.
</td></tr>

<tr><td>
<a href="http://www.markphelps.me/2015/07/30/wrap-your-dependencies.html" class="linktitle">Wrap Your Dependencies</a>

</td><td class="date">
jul 30
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Wrap code that you don't control yourself.
</td></tr>

<tr><td>
<a href="http://blog.codinghorror.com/doing-terrible-things-to-your-code/" class="linktitle">Doing Terrible Things To Your Code</a>

</td><td class="date">
jul 30
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
A good programmer knows they have to do terrible things to their code.
</td></tr>

<tr><td>
<a href="http://blog.endpoint.com/2015/07/ruby-on-rails-hashslice-with-default.html?m=1" class="linktitle">Ruby On Rails: Hash#slice With Default Values</a>

</td><td class="date">
jul 31
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A trick for using a hash subclass for setting up defaults.
</td></tr>

<tr><td>
<a href="http://railscarma.com/blog/technical-articles/delayed-job-gem-for-csv" class="linktitle">Delayed Job Gem for CSV</a>

</td><td class="date">
jul 31
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
User should not wait for long task to finish, make it asynchronous.
</td></tr>

<tr><td>
<a href="http://txt.fliglio.com/2015/07/containers-and-cfg-mgmt/" class="linktitle">Containers and Configuration Management</a>

</td><td class="date">
jul 31
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
A critical approach of the docker solution.
</td></tr>

</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.sitepoint.com/video-introducing-one-way-data-flow/" class="linktitle">Introducing One-Way Data Flow</a>
<span class="duration">(5m)</span>
</td><td class="date">
jul 29
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
React concept of one-way data flow.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by mose (publisher), xenor, tysliu (editors).</i>

</div>


<div id="rant">
<h3>Rant</h3>
<div class="baseline"><i>The random rant of the week by mose.</i></div>
<h4>RubyConf Taiwan 2015</h4>

<p>In September 11 and 12 there is a <a href="http://2015.rubyconf.tw/">Rubyconf here in Taiwan</a>. I have been at some past editions and it's always a good time to meet people. Because we are close to Japan there is usually pretty good ruby core contributors from there. We get to see Matz, father of ruby, at each edition. But this time it seems that the organizers pulled some kind of special trick and the famous <a href="http://tenderlovemaking.com/">Aaron Patterson</a> will be present. And I remember having heard <a href="http://devchat.tv/ruby-rogues/149-rr-ruby-in-government-with-sarah-allen">Sarah Allen on rubyrogues</a> last year, it is the first time she joins us in Taiwan too. I think both of them will bring some unique taste to this years rubyconf.</p>

<p>If you looked for an occasion to visit Taiwan, that may be the right time. You won't regret it. The ruby community in Taiwan is quite active and Taiwanese people are amazingly welcoming to westerners.</p>

<p>And, if you want to meet the 3 of us, we will all be there. Look around for Xenor and Tysliu, the famous editors of the Green Ruby newsletter. They tirelessly collect links and news, fresh from the week, about ruby and other things. And if you see someone with a Gandi T-Shirt, that will probably be me. We probably will distribute some green ruby stickers that I still have in stock. So then we can make new ones.</p>

</div>


</div>
</div>
