<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#129 - july 26th 2015</h1>
</div>
<div id="templateBody">



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://res.im/" class="linktitle">Resim</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
UX web agency with a pretty cool website.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://up-for-grabs.net/" class="linktitle">Up for grabs</a>

</td><td class="date">

<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
List of projects which have curated tasks specifically for new contributors.
</td></tr>

<tr><td>
<a href="https://puppetlabs.com/2015-devops-report" class="linktitle">Devops report</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
The yearly devops report from Puppetlabs.
</td></tr>

<tr><td>
<a href="http://open.mesosphere.com/intro-course/ex1.html" class="linktitle">Mesosphere Course</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Open course material for learning all about Mesos.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://blog.jruby.org/2015/07/jruby_9000/" class="linktitle">JRuby 9000</a>

</td><td class="date">
jul 22
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
New version of JRuby is Ruby 2.2 only with new runtime
</td></tr>

<tr><td>
<a href="https://github.com/pote/disc" class="linktitle">disc</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Disque-powered Ruby Jobs
</td></tr>

<tr><td>
<a href="https://github.com/zetachang/opal-native" class="linktitle">opal-native</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
React Native in Ruby.
</td></tr>

<tr><td>
<a href="https://github.com/phezco/phez" class="linktitle">Phez</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A reddit clone in rails.
</td></tr>

<tr><td>
<a href="http://www.kontena.io/" class="linktitle">Kontena</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Tools for deploying, managing, scaling and monitoring containerized applications.
</td></tr>

<tr><td>
<a href="https://github.com/jtopjian/waffles" class="linktitle">Waffles</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
A simple configuration management system written in Bash.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.webcodegeeks.com/web-development/running-rails-development-environment-docker/" class="linktitle">Running a Rails Development Environment in Docker</a>

</td><td class="date">
jul 20
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Move a simple Rails applications into Docker during development.
</td></tr>

<tr><td>
<a href="https://www.infinum.co/the-capsized-eight/articles/best-ruby-on-rails-refactoring-talks" class="linktitle">Best Ruby on Rails refactoring talks</a>

</td><td class="date">
jul 21
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Collection of good rails/ruby code refactoring talks.
</td></tr>

<tr><td>
<a href="https://dev.firmafon.dk/blog/making-the-best-of-private-methods/" class="linktitle">Making the best of private methods</a>

</td><td class="date">
jul 21
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Good opinions about when to move method to private.
</td></tr>

<tr><td>
<a href="https://blog.phusion.nl/2015/07/21/introducing-the-passenger-library-project/" class="linktitle">Introducing the Passenger Library project</a>

</td><td class="date">
jul 21
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Passenger starts to rewrite its documentation to be more developer friendly.
</td></tr>

<tr><td>
<a href="http://culttt.com/2015/07/22/using-ruby-exceptions/" class="linktitle">Using Ruby Exceptions</a>

</td><td class="date">
jul 22
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Tutorial looking at using Exceptions in Ruby applications.
</td></tr>

<tr><td>
<a href="https://adamcooke.io/memoization-in-ruby/" class="linktitle">Memoization in Ruby</a>

</td><td class="date">
jul 22
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Memoization in ruby  with memist.
</td></tr>

<tr><td>
<a href="http://twin.github.io/finder-objects/" class="linktitle">Finder Objects</a>

</td><td class="date">
jul 22
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Abstract search related logic to a specialized class.
</td></tr>

<tr><td>
<a href="http://davidmles.com/blog/usable-cookie-bar-rails/" class="linktitle">Implement an usable cookie bar</a>

</td><td class="date">
jul 23
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Comply with the EU cookie law.
</td></tr>

<tr><td>
<a href="http://insights.workshop14.io/2015/07/23/application-border-control-with-ruby-form-objects.html" class="linktitle">Application border control with form objects</a>

</td><td class="date">
jul 23
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Error management in form objects.
</td></tr>

<tr><td>
<a href="http://reactkungfu.com/2015/07/the-hitchhikers-guide-to-modern-javascript-tooling/" class="linktitle">The Hitchhiker's Guide to Modern JavaScript Tooling</a>

</td><td class="date">
jul 26
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Quick overview about what popular js tools do, and whether you need them or not.
</td></tr>

<tr><td>
<a href="http://blog.ralch.com/tutorial/golang-ssh-tunneling/" class="linktitle">SSH tunneling in Golang</a>

</td><td class="date">
jul 26
<img class="icon" src="ico/go.png" height="18" width="18" align="right" alt="go" />
</td></tr>
<tr><td colspan="2" class="comment">
Example code for tunneling in go.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by mose (publisher), xenor (editors).</i>

</div>


<div id="rant">
<h3>Rant</h3>
<div class="baseline"><i>The random rant of the week by mose.</i></div>
<h4>Back on tweeting</h4>

<p>I really don't like my phone. As an old timer I'm reluctant to trust my android, but it would be the same on an iphone. The way applications require access to the device, on android, is especially annoying and dishonest. They make the slope slippery for the sake of saving seconds in adopting new apps, but it's leading to a total remission of users control over their devices.</p>

<p>But well, I still have a commute several times a week and I use my phone to listen to various podcasts. But I recently configured some accounts and some news readers, so I also can just do some links curation along the way. So I suspect there will be more tweeting on the <a href="https://twitter.com/greenrubist">greenrubist</a> account from now on. It helps quite a lot when I want to gather links on every sundays.</p>

<p>Well, nowadays, most of the links are actually gathered by xenor and tysliu, but I always add a few on my own (especially the devops ones). Those 2 guys are really doing an amazing demonstration of consistency. After 129 editions, we still didn't miss a single one week in our publication. It would not have been possible without my buddies. Thanks so much for their contribution.</p>

</div>


</div>
</div>
