<div id="templateContainer">
<div id="templateHeader">
<h1>#006 - mar 17th 2013</div>
</div>
<div id="templateBody">
<div>
	<div class="baseline">
	<h2>Edito</h2>
	We got a new space online for our newsletter, have a look at http://greenruby.org. A more collaborative website is in preparation and this simple page will evolve very soon
<br>
<br>
<em>&nbsp; mose - the green ruby editor</em><br>
<em>&nbsp;

	xenor - the informer

</em><br>
&nbsp; <a href="http://greenruby.org" target="_self">http://greenruby.org</a>
<br>
</div>


<h3>Listen</h3>
<div class="baseline">What could be heard last week ..</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="http://ruby5.envylabs.com/episodes/356-episode-352-march-12th-2013" class="linktitle">Ruby5 352</a>
				
			</td>
			<td class="date">
				mar 12
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				rails 4, sourcemap, yard tomdoc, signed gems, css-splitter, webp-ffi.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://ruby5.envylabs.com/episodes/357-episode-353-march-15th-2013" class="linktitle">Ruby5 353</a>
				
			</td>
			<td class="date">
				mar 15
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				strong password, siteprism, rubygems, memory leaks, tracking leaks, glimpse.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://learn.thoughtbot.com/podcast/39" class="linktitle">Giant Robots 39</a>
				
			</td>
			<td class="date">
				mar 11
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				discussion with Avdi Grimm, about ruby tapas, parley, and ruby patterns.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://rubyrogues.com/096-rr-topaz-with-alex-gaynor/" class="linktitle">RubyRogues 096</a>
				
			</td>
			<td class="date">
				mar 13
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				with Alex Gaylor about topaz, ruby on a python VM.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://javascriptjabber.com/051-jsj-finding-a-job/" class="linktitle">Javascript Jabber 051</a>
				
			</td>
			<td class="date">
				mar 15
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				on finding a job, some general discussion about employment situation in the US. Skip this one if you look for any technical content.
			</td>
		</tr>
	
</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="http://railscasts.com/episodes/409-active-model-serializers" class="linktitle">Active model serializer</a>
				
			</td>
			<td class="date">
				mar 9
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				(free) about storing serialized objects in db.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://www.igvita.com/2013/03/07/faster-smaller-and-more-beautiful-web-with-webp" class="linktitle">faster images on chrome with webp</a>
				
			</td>
			<td class="date">
				mar 7
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				some explanation about that special google project.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://vimeo.com/groups/waza2013/videos/61059531" class="linktitle">Unfactoring</a>
				
			</td>
			<td class="date">
				mar 9
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				tenderlove speaks at Waza, lot of fun, plus good metaprogramming bits.
			</td>
		</tr>
	
</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="http://www.pogoapp.com/blog/posts/websockets-on-rails-4-and-ruby-2" class="linktitle">Websockets on rails 4 and ruby 2</a>
				
			</td>
			<td class="date">
				mar 11
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				an example of use of the websocket-rails gem.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://globaldev.co.uk/2013/03/ruby-2-0-0-in-detail/" class="linktitle">Ruby 2.0.0 in detail</a>
				
			</td>
			<td class="date">
				mar 12
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				when it says in details, it's really all very small details.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://rubysource.com/getting-your-javascript-under-control" class="linktitle">Javascript under control</a>
				
			</td>
			<td class="date">
				mar 14
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				some pointers on how to handle testing with jasmine on backbone with rails.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://swizec.com/blog/bring-ruby-vcr-to-javascript-testing-with-capybara-and-puffing-billy" class="linktitle">Ruby VCR to javascript</a>
				
			</td>
			<td class="date">
				mar 14
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				adaptation of the VCR testing setup to javascript using capybara and puffing-billy.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://rkh.im/sinatra-1.4" class="linktitle">What's new in Sinatra 1.4 </a>
				
			</td>
			<td class="date">
				mar 9
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				a review of the new features of this lightweight web framework in ruby.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://blog.tinfoilsecurity.com/ruby-demystified-and-vs" class="linktitle">Differences between 'and' and '&&' </a>
				
			</td>
			<td class="date">
				mar 8
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				some decent explanation about those apparently identical operators in ruby
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://www.tiobe.com/index.php/content/paperinfo/tpci/index.html" class="linktitle">Community index march 2013</a>
				
			</td>
			<td class="date">
				mar 12
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Ruby surpasses Perl in the TIOBE index.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://bens.me.uk/2013/localstorage-inter-window-messaging" class="linktitle">interwindow messaging with localStorage</a>
				
			</td>
			<td class="date">
				mar 9
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				small trick with the browser.
			</td>
		</tr>
	
</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="https://github.com/Shopify/identity_cache" class="linktitle">Identity Cache</a>
				
			</td>
			<td class="date">
				
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				adds memcached to activerecord models
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://github.com/ncri/ajaxify_rails" class="linktitle">Ajaxify Rails</a>
				
			</td>
			<td class="date">
				
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				background loading of content via ajax
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://npmjs.org/package/complexity-report" class="linktitle">Complexity report</a>
				
			</td>
			<td class="date">
				
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				for evaluating javascript code complexity
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://github.com/arangamani/jenkins_api_client" class="linktitle">Jenkins api client</a>
				
			</td>
			<td class="date">
				
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				for interacting with your CI from any ruby app
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://github.com/tkadauke/i18n_tools" class="linktitle">i18n tools</a>
				
			</td>
			<td class="date">
				
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				for extracting missing and unused translations in rails
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://rapidashgem.com/" class="linktitle">Rapid hash</a>
				
			</td>
			<td class="date">
				
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				for building quickly API clients
			</td>
		</tr>
	
</table>

</div>
</div>
