<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#184 - aug 14th 2016</h1>
</div>
<div id="templateBody">



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.nerval.ch/apollo_11" class="linktitle">Apollo 11</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Nicely done and it gets some tricky interaction on last page.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://stdlib.com/" class="linktitle">stdlib</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Readily available, scalable web functions.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/rosenfeld/rspec_nested_transactions" class="linktitle">rspec_nested_transactions</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Nested transactions around before/after(:all) blocks for RSpec
</td></tr>

<tr><td>
<a href="https://github.com/tsurupin/portfolio" class="linktitle">Portfolio</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A blog and Portfolio CMS built with Rails, React, Redux, Material-UI, CSS Modules.
</td></tr>

<tr><td>
<a href="https://github.com/Sandthorn/sandthorn" class="linktitle">Sandthorn</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A ruby library for saving an object's state as a series of events.
</td></tr>

<tr><td>
<a href="https://github.com/ErwinM/acts_as_tenant" class="linktitle">Acts_as_tenant</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Easy multi-tenancy for Rails in a shared database setup
</td></tr>

<tr><td>
<a href="https://github.com/rmosolgo/graphql-ruby" class="linktitle">Graphql-ruby</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Ruby implementation of Facebook's GraphQL
</td></tr>

<tr><td>
<a href="https://github.com/aelsabbahy/goss" class="linktitle">Goss</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Quick and Easy server testing/validation
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://blog.pawandubey.com/implementing-a-naive-bayes-text-classifier/" class="linktitle">Implementing a Naive Bayes Text Classifier</a>

</td><td class="date">
aug 8
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Using Ruby to implement a Naive Bayes Classifier.
</td></tr>

<tr><td>
<a href="http://www.rubypigeon.com/posts/rspec-expectations-cheat-sheet/" class="linktitle">RSpec::Expectations Cheat Sheet</a>

</td><td class="date">
aug 9
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Cheat sheet for RSpec Expectations.
</td></tr>

<tr><td>
<a href="https://blog.codeship.com/level-up-your-security-in-rails/" class="linktitle">Level Up Your Security in Rails</a>

</td><td class="date">
aug 9
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Rails comes with a lot of secure features and defaults right out of the box.
</td></tr>

<tr><td>
<a href="http://blog.presidentbeef.com/blog/2016/08/09/bundling-gem-dependencies-inside-ruby-gems/" class="linktitle">Bundling Dependencies Inside Ruby Gems</a>

</td><td class="date">
aug 9
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Distribute a gem with isolated dependencies from application space.
</td></tr>

<tr><td>
<a href="http://blog.honeybadger.io/why-is-uri-join-so-counterintuitive/" class="linktitle">Why is URI.join so counterintuitive?</a>

</td><td class="date">
aug 9
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
While URI.join can be used to build URLs from various path fragments, that's not really what it's designed to do.
</td></tr>

<tr><td>
<a href="https://css-tricks.com/image-upload-manipulation-react/" class="linktitle">Image Upload and Manipulation with React</a>

</td><td class="date">
aug 9
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
How you can upload, store and manipulate images using React without a server-side language.
</td></tr>

<tr><td>
<a href="http://www.juliandunn.net/2016/08/09/designing-great-command-line-user-experiences/" class="linktitle">Designing Great Command-Line User Experiences</a>

</td><td class="date">
aug 9
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Tips for making command-line UX awesome.
</td></tr>

<tr><td>
<a href="https://scotch.io/tutorials/understanding-ruby-closures" class="linktitle">Understanding Ruby Closures</a>

</td><td class="date">
aug 10
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
An in-depth analysis of Ruby closures.
</td></tr>

<tr><td>
<a href="https://chrisarcand.com/the-search-for-class0x0000001ab51700/" class="linktitle">The Search For Class:0x00000027b59290</a>

</td><td class="date">
aug 10
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Another fun story about bug hunting.
</td></tr>

<tr><td>
<a href="https://robots.thoughtbot.com/the-complete-guide-to-optimising-web-images" class="linktitle">The Complete Guide to Optimising Web Images</a>

</td><td class="date">
aug 10
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Techniques for tweaking the perfect images.
</td></tr>

<tr><td>
<a href="https://blogs.dropbox.com/tech/2016/08/fast-and-accurate-document-detection-for-scanning/" class="linktitle">Fast and Accurate Document Detection for Scanning</a>

</td><td class="date">
aug 10
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
How Dropbox developed their document recognition tools.
</td></tr>

<tr><td>
<a href="http://travisofthenorth.com/blog/2016/8/11/intro-to-avro" class="linktitle">Intro to Avro</a>

</td><td class="date">
aug 11
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Fast/compact data serialization format that allows every service to communicate effectively.
</td></tr>

<tr><td>
<a href="https://github.com/codeforkjeff/ruby-data-streams" class="linktitle">Using Ruby to work with streams and pipelines</a>

</td><td class="date">
aug 12
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
brief exploration of using Ruby to work with streams and pipelines for processing data.
</td></tr>

<tr><td>
<a href="http://olivierlacan.com/posts/the-upgrade-trails/" class="linktitle">The Upgrade Trails</a>

</td><td class="date">
aug 13
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Tales from multi-year Rails upgrades at Code School, sprinkled with bits of hindsight.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by mose (publisher), xenor, tysliu (editors), 
hsatac, mose, nauman (contributors)
.</i>

</div>


<div id="rant">
<h3>Rant</h3>

<div class="baseline"><i>The random rant of the week by mose.</i></div>
<h4>no rant</h4>

<p>It happens from time to time, I don't feel like ranting about anything :)</p>

</div>


</div>
</div>
