<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#218 - apr 9th 2017</h1>
</div>
<div id="templateBody">



<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://develmail.com/" class="linktitle">DevelMail.com</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A mail-catcher like online SMTP server dedicated for development environment.
</td></tr>

<tr><td>
<a href="http://colormind.io/" class="linktitle">Colormind</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Color palette generator.
</td></tr>

<tr><td>
<a href="http://cssgridgarden.com" class="linktitle">Grid Garden</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
A game for learning CSS grid layout.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/benschw/springboard" class="linktitle">Springboard</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
cli utility to help get your secrets into vault.
</td></tr>

<tr><td>
<a href="https://github.com/tootsuite/mastodon" class="linktitle">Mastodon</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Self-hosted decentralized alternative to twitter, in rails.
</td></tr>

<tr><td>
<a href="https://github.com/JeffCohen/ez" class="linktitle">Ez</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Easy domain modeling in Rails without migrations.
</td></tr>

<tr><td>
<a href="https://github.com/E-Xor/rhail" class="linktitle">Rhail</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A Rack-based nano framework.
</td></tr>

<tr><td>
<a href="https://github.com/KingPixil/moon" class="linktitle">Moon</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A minimal UI library inspired by Vue.
</td></tr>

<tr><td>
<a href="https://github.com/Microsoft/reactxp" class="linktitle">Reactxp</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Library for cross-platform app development by Microsoft.
</td></tr>

<tr><td>
<a href="https://github.com/atomiks/tippyjs" class="linktitle">Tippyjs</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A lightweight, pure JS tooltip library.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://medium.com/@vladimirvivien/gosh-a-pluggable-command-shell-in-go-cf25102c8439" class="linktitle">Gosh: a pluggable command shell in Go</a>

</td><td class="date">
apr 3
<img class="icon" src="ico/go.png" height="18" width="18" align="right" alt="go" />
</td></tr>
<tr><td colspan="2" class="comment">
Gosh (Go shell) uses a driver shell program to load the command plugins at runtime.
</td></tr>

<tr><td>
<a href="https://www.schneems.com/2017/04/04/double-ruby-rainbow-bug/" class="linktitle">Double Ruby Rainbow Bug</a>

</td><td class="date">
apr 4
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
There are many cases where the fix for a bug isn’t that interesting, it’s how the bug came to be.
</td></tr>

<tr><td>
<a href="https://zwischenzugs.wordpress.com/2017/04/04/things-i-learned-managing-site-reliability-for-some-of-the-worlds-busiest-gambling-sites/" class="linktitle">Things I Learned Managing Site Reliability</a>

</td><td class="date">
apr 4
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
About importance of documentation in SRE.
</td></tr>

<tr><td>
<a href="http://blog.honeybadger.io/rubyist_guide_to_memoization/" class="linktitle">The Rubyist's Guide to Memoization</a>

</td><td class="date">
apr 5
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
It's a technique that really should only be applied to expensive operations that will never change throughout the lifetime of the memo variable.
</td></tr>

<tr><td>
<a href="http://engineering.appfolio.com/appfolio-engineering/2017/3/22/rails-benchmarking-puma-and-multiprocess" class="linktitle">Rails Benchmarking: Puma and MultiProcess</a>

</td><td class="date">
apr 5
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
How the number of processes affects the total throughput.
</td></tr>

<tr><td>
<a href="https://semaphoreci.com/community/tutorials/5-tips-for-more-effective-capybara-tests" class="linktitle">5 Tips for More Effective Capybara Tests</a>

</td><td class="date">
apr 5
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Some nice tips for writing better tests using Capybara.
</td></tr>

<tr><td>
<a href="https://medium.com/@hoffa/the-top-github-projects-per-country-92c275e19409" class="linktitle">The top GitHub projects per country</a>

</td><td class="date">
apr 5
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Based on stars, kind of interesting results.
</td></tr>

<tr><td>
<a href="https://css-tricks.com/pong-svg-js/" class="linktitle">Pong with SVG.js</a>

</td><td class="date">
apr 7
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
SVG.js is a lightweight library for manipulating and animating SVG.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by xenor (publisher), tysliu, mose (editors), 
Nauman Tariq (contributors)
.</i>

</div>



</div>
</div>
