<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#200 - dec 5th 2016</h1>
</div>
<div id="templateBody">



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://www.sequence.co.uk/" class="linktitle">Sequence</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Creative digital agency in Cardiff and London UK. Cool effect on the home.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://www.crypto101.io/" class="linktitle">Crypto 101</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Introductory course on cryptography, freely available for programmers of all skill levels.
</td></tr>

<tr><td>
<a href="https://gchq.github.io/CyberChef/" class="linktitle">CyberChef</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Intuitive web app for analysing and decoding data without having to deal with complex tools or programming languages
</td></tr>

<tr><td>
<a href="https://stamplay.com" class="linktitle">Stamplay</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Integrate APIs and automate tasks across on-premise, cloud apps and databases.
</td></tr>

<tr><td>
<a href="http://cssreference.io" class="linktitle">CSS Reference</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
A free visual guide to CSS
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/aleks/ansible-rails" class="linktitle">Ansible: Ruby on Rails Server (Ubuntu 16.x)</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Use this ansible playbook to setup a fresh server.
</td></tr>

<tr><td>
<a href="http://www.cyclotron.io/" class="linktitle">Cyclotron</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A web application for constructing dashboards.
</td></tr>

<tr><td>
<a href="https://github.com/inukshuk/wapiti-ruby" class="linktitle">wapiti-ruby</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Fast Conditional Random Fields API for for sequence segmentation and labelling in Ruby.
</td></tr>

<tr><td>
<a href="https://zealdocs.org/" class="linktitle">Zeal</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
An offline documentation browser.
</td></tr>

<tr><td>
<a href="https://www.pmease.com/gitplex" class="linktitle">GitPlex</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A featureful Git GUI.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://devonestes.herokuapp.com/the-european-ruby-revolution/" class="linktitle">The European Ruby Revolution</a>

</td><td class="date">
nov 27
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
While RailsConf is a huge thing in the US, there hasn’t been a European RailsConf since 2008.
</td></tr>

<tr><td>
<a href="http://schneems.com/2016/11/28/who-called-git-an-unusual-debugging-story/" class="linktitle">Who Called Git? An Unusual Debugging Story</a>

</td><td class="date">
nov 28
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A lighter bug hunt story.
</td></tr>

<tr><td>
<a href="https://blog.ycombinator.com/the-second-job-of-a-startup-ceo/" class="linktitle">What’s the Second Job of a Startup CEO?</a>

</td><td class="date">
nov 29
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
When startup CEOs start to scale their companies, they need to redefine themselves and their roles or risk stunting the potential of their startups.
</td></tr>

<tr><td>
<a href="http://www.rubypigeon.com/posts/how-to-make-a-dsl-hygienically/" class="linktitle">How To Make A DSL, Hygienically</a>

</td><td class="date">
nov 30
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Domain Specific Languages (DSLs) are custom-made computer languages, designed to be convenient for specific tasks.
</td></tr>

<tr><td>
<a href="https://css-tricks.com/loops-css-preprocessors/" class="linktitle">Loops in CSS Preprocessors</a>

</td><td class="date">
dec 2
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
If you're not sure when to use loops in your code, keep an eye out for repetition.
</td></tr>

<tr><td>
<a href="https://www.toptal.com/software/the-zen-of-devrant" class="linktitle">DevRant: Appreciating Quality Geek Humor</a>

</td><td class="date">
dec 2
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
LSometimes you just need to rant. Fortunately, there’s an app for that. It’s called devRant.
</td></tr>

<tr><td>
<a href="http://lulalala.logdown.com/posts/1163179" class="linktitle">I wrote an address tokenizer using machine learning</a>

</td><td class="date">
dec 2
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A first step of machine learning by using CRF model for address parsing in Ruby.
</td></tr>

<tr><td>
<a href="http://blog.nrowegt.com/gem-release-google-analytics-chrome-developer-cookie/" class="linktitle">Gem Release: Google Analytics Chrome Developer Cookie</a>

</td><td class="date">
dec 3
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Want to add easily configurable google analytics tracking code to your Rails application, but not register you and your development team’s clicks and views?
</td></tr>

<tr><td>
<a href="https://medium.com/statuscode/how-to-detect-image-contents-from-ruby-with-amazon-rekognition-46a962cb040f" class="linktitle">How to detect image contents from Ruby with Amazon Rekognition</a>

</td><td class="date">
dec 4
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Rekognition is a new Amazon Web Service that “makes it easy to add image analysis to your applications.”
</td></tr>

<tr><td>
<a href="https://articles.fortawesome.com/how-font-awesome-5-became-kickstarters-most-funded-software-project-4a63c035e84" class="linktitle">How Font Awesome 5 Became Kickstarter’s Most Funded Software Project</a>

</td><td class="date">
dec 4
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Given the chance to go back in time, there are a few things we might do differently.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by xenor (publisher), tysliu, mose (editors)
, lulalala (contributors)
.</i>

</div>


<div id="rant">
<h3>Rant</h3>

<div class="baseline"><i>The random rant of the week by xenor.</i></div>
<h4>No wise words today</h4>

<p>I just woke up around 3AM after putting my sons to bed, feels like drunk without drinking. Hope next time it can involve some alcohol to make the drunk more real.</p>

</div>


</div>
</div>
