<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#128 - jul 19th 2015</h1>
</div>
<div id="templateBody">



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.newstech.jp/" class="linktitle">Newstech</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Totally futuristic design.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.codedorm.net/" class="linktitle">CodeDorm</a>

</td><td class="date">

<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Finding sample projects for different programming language.
</td></tr>

<tr><td>
<a href="http://www.colorizer.org/" class="linktitle">Colorizer</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Color picker with high precision and contrast test.
</td></tr>

<tr><td>
<a href="https://github.com/airbnb/javascript" class="linktitle">Airbnb JavaScript Style Guide</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Comprehensive javascript style guide (including ES6) from Airbnb.
</td></tr>

<tr><td>
<a href="http://drboolean.gitbooks.io/mostly-adequate-guide/" class="linktitle">Guide to functional programming</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
(book) This is a book on the functional paradigm in general.
</td></tr>

<tr><td>
<a href="https://www.livecoding.tv/videos/ruby/" class="linktitle">Live coding</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Watch people coding live.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://blog.phusion.nl/2015/07/15/passenger-5-0-14/" class="linktitle">Passenger 5.0.14</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Hotfix due to the CVE-2015-1793 vulnerability discovered in OpenSSL.
</td></tr>

<tr><td>
<a href="https://github.com/gottfrois/image_info" class="linktitle">image_info</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Finds the size and type of a single or multiple images from the web.
</td></tr>

<tr><td>
<a href="https://github.com/TamerShlash/symbolized" class="linktitle">Symbolized</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Hash with indifferent access, with keys stored internally as symbols.
</td></tr>

<tr><td>
<a href="https://github.com/gsmendoza/test_changes" class="linktitle">test_changes</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Tests only the files that have changed since a given commit.
</td></tr>

<tr><td>
<a href="https://github.com/customink/activerecord-colored_log_subscriber" class="linktitle">Colorized SQL Logging</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Colorized SQL Logging Backport for ActiveRecord.
</td></tr>

<tr><td>
<a href="http://staytus.co/" class="linktitle">Staytus</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Staytus is a free, open source status site that you can install on your own servers.
</td></tr>

<tr><td>
<a href="https://github.com/purifycss/purifycss" class="linktitle">PurifyCSS</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Detects which CSS selectors your app is using and creates a file without the unused CSS.
</td></tr>

<tr><td>
<a href="https://github.com/AndrewBelt/hack.chat" class="linktitle">Hack.chat</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A minimal, distraction-free chat application.
</td></tr>

<tr><td>
<a href="https://github.com/citusdata/pg_shard" class="linktitle">pg_shard</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
PostgreSQL extension to scale out real-time reads and writes.
</td></tr>

<tr><td>
<a href="https://wiki.freebsd.org/Docker" class="linktitle">Docker on FreeBSD</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Docker on FreeBSD relies heavily on ZFS, jail and the 64bit Linux compatibility layer.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://vaidehijoshi.github.io/blog/2015/07/14/writing-smart-migrations-references-reversible-and-indexes/" class="linktitle">Writing Smart Migrations: References, Reversible, and Indexes</a>

</td><td class="date">
jul 14
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Some less used but handy methods in rails migrations.
</td></tr>

<tr><td>
<a href="http://blog.honeybadger.io/how-unicorn-talks-to-nginx-an-introduction-to-unix-sockets-in-ruby/" class="linktitle">An introduction to unix sockets in Ruby</a>

</td><td class="date">
jul 14
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
How does nginx talk with unicorn? One of the most efficient options is to use unix sockets.
</td></tr>

<tr><td>
<a href="http://blog.codeship.com/running-rails-development-environment-docker" class="linktitle">Running a Rails Development Environment in Docker</a>

</td><td class="date">
jul 14
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Switching development environment to Docker does take some amount of work, but the benefits are well worth it.
</td></tr>

<tr><td>
<a href="https://css-tricks.com/print-stylesheet-approaches-blacklist-vs-whitelist/" class="linktitle">Print Stylesheet Approaches: Blacklist vs Whitelist</a>

</td><td class="date">
jul 14
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
The 'blacklist' is a common approach to print stylesheets.
</td></tr>

<tr><td>
<a href="http://blog.honeybadger.io/rubys-case-statement-advanced-techniques/" class="linktitle">Ruby's case statement</a>

</td><td class="date">
jul 15
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Use case for class, regex, lambda/proc matching, and custom matcher matching.
</td></tr>

<tr><td>
<a href="http://insights.workshop14.io/2015/07/15/value-objects-in-ruby.html" class="linktitle">Value Objects in Ruby</a>

</td><td class="date">
jul 15
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
What is value object and how to use it.
</td></tr>

<tr><td>
<a href="http://blog.honeybadger.io/remote-debugging-with-byebug-rails-and-pow/" class="linktitle">Remote Debugging with Byebug, Rails and Pow</a>

</td><td class="date">
jul 15
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A great debugger for Ruby 2.x.
</td></tr>

<tr><td>
<a href="http://www.nateberkopec.com/2015/07/15/the-complete-guide-to-rails-caching.html" class="linktitle">Speed Up Your Rails App by 66% with Caching</a>

</td><td class="date">
jul 15
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Intelligent use of caching is usually the only path to achieving fast server response times in Rails.
</td></tr>

<tr><td>
<a href="https://subvisual.co/blog/posts/63-deploying-a-crystal-application-to-heroku" class="linktitle">Deploying a Crystal application to Heroku</a>

</td><td class="date">
jul 15
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Crystal is a typed, LLVM compiled language that reads (mostly) as Ruby.
</td></tr>

<tr><td>
<a href="https://jaxenter.com/solving-the-makefile-problem-118911.html" class="linktitle">Solving the Makefile problem</a>

</td><td class="date">
jul 16
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
ZeroMQ founder Pieter Hintjens describes his journey in finding a solution to the problem of Makefiles.
</td></tr>

<tr><td>
<a href="http://www.alexedwards.net/blog/organising-database-access" class="linktitle">Practical Persistence in Go: Organising Database Access</a>

</td><td class="date">
jul 16
<img class="icon" src="ico/go.png" height="18" width="18" align="right" alt="go" />
</td></tr>
<tr><td colspan="2" class="comment">
Four different methods for structuring access to a database connection pool.
</td></tr>

<tr><td>
<a href="http://engineering.kapost.com/2015/07/decoupling-ruby-applications-with-amazon-sns-sqs/" class="linktitle">Decoupling Ruby Applications with Amazon SNS & SQS</a>

</td><td class="date">
jul 17
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
pub/sub by using Amazon SNS & SQS.
</td></tr>

</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://pragtob.wordpress.com/2015/07/18/talk-video-building-crystal-in-crystal/" class="linktitle">Building Crystal in Crystal</a>
<span class="duration">(23m)</span>
</td><td class="date">
jul 18
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Talk at Berlin Ruby Usergroup
</td></tr>

<tr><td>
<a href="https://www.youtube.com/watch?v=pt_qtcfTk3M&feature=youtu.be" class="linktitle">Do too many cooks really spoil the soup</a>
<span class="duration">(39m)</span>
</td><td class="date">
jul 18
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Devopsdays Minneapolis 2015 - Jon Cowie - Cheffing Etsy
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by mose (publisher), xenor, tysliu (editors)

.</i>

</div>


<div id="rant">
<h3>Rant</h3>
<div class="baseline"><i>The random rant of the week by mose.</i></div>
<h4>RubyConf Taiwan 2015 CFP</h4>

<p>Hey it's time to give it a try, talking at a rubyconf is a great upgrade for any coder. That rubyconf will happen on september 11-12th in Taipei. <a href="https://www.ruby-lang.org/en/news/2015/07/14/rubyconftw-2015-call-for-proposals/">Check it out</a>.</p>

<h4>NSA on Github</h4>

<p>Looks like someone is trying to fight back a reputation of obscurity. While they are still pushing on more invasion of privacy, they also release some <a href="http://fossbytes.com/nsa-open-sources-its-linux-based-cyber-security-tool/">open source code</a>. Check the <a href="https://github.com/NationalSecurityAgency">NSA github repository</a>, they released something already. <a href="https://github.com/simp">Simp</a> especially has a bunch of puppet modules, but it's designed only for redhat kind of systems. Quite an interesting move.</p>

</div>


</div>
</div>
