<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#225 - may 29th 2017</h1>
</div>
<div id="templateBody">



<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://istio.io/" class="linktitle">Istio</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
An open platform to connect, manage, and secure microservices.
</td></tr>

<tr><td>
<a href="https://hardbin.com" class="linktitle">Hardbin</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
An encrypted pastebin with the decryption key passed in the URL fragment, and the code and data served securely with IPFS.
</td></tr>

<tr><td>
<a href="https://www.mixfont.com/" class="linktitle">Mixfont</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
A font generator to discover new fonts.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/jalkoby/squasher" class="linktitle">Squasher</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Squasher compresses old migrations in a Rails application.
</td></tr>

<tr><td>
<a href="https://github.com/apiqcms/kms" class="linktitle">KMS</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
KMS is a modern and flexible Ruby on Rails content management system with modular approach.
</td></tr>

<tr><td>
<a href="https://github.com/ellotheth/pipethis" class="linktitle">Ppethis</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Replace your `curl | sh` installers.
</td></tr>

<tr><td>
<a href="https://github.com/Shopify/semian" class="linktitle">Semian</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Resiliency toolkit for Ruby for failing fast.
</td></tr>

<tr><td>
<a href="https://github.com/chef/inspec" class="linktitle">Inspec</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Auditing and testing framework.
</td></tr>

<tr><td>
<a href="https://www.graph.cool/" class="linktitle">Graphcool</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
The GraphQL backend for mobile & web developers.
</td></tr>

<tr><td>
<a href="https://blockstack.org/" class="linktitle">Blockstack browser</a>

</td><td class="date">

<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
A Gateway to a decentralized internet.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://www.sitepoint.com/building-apis-ruby-rails-graphql/" class="linktitle">Building APIs with Ruby on Rails and GraphQL</a>

</td><td class="date">
may 22
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
GraphQL an alternative to REST APIs.
</td></tr>

<tr><td>
<a href="http://schneems.com/2017/05/24/coders-code/" class="linktitle">Coders Code</a>

</td><td class="date">
may 24
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Coding is the act, and the journey, and the goal. However, you can’t just sit down and pound out code.
</td></tr>

<tr><td>
<a href="https://dev.mikamai.com/2017/05/25/storing-encrypted-configuration-in-your-git-repo-with-dotenvsekrets/" class="linktitle">Storing encrypted configuration in your git repo with DotenvSekrets</a>

</td><td class="date">
may 25
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Developers who are familiar with the “twelve-factor” app know that configuration should be stored in the environment (loaded via env vars), not in the code.
</td></tr>

<tr><td>
<a href="https://6ftdan.com/allyourdev/2017/05/25/leveling-up-with-git/" class="linktitle">Leveling up with Git</a>

</td><td class="date">
may 25
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
git is a very powerful code management system and has many features that are to be discovered and taken advantage of as you go along.
</td></tr>

<tr><td>
<a href="https://ducktypelabs.com/4-ways-to-secure-authentication/" class="linktitle">4 Ways to Secure Your Authentication System</a>

</td><td class="date">
may 26
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Whether you want to use Devise (or a similar third party gem like Clearance) or roll your own auth, here are 4 specific ways you can make authentication in your app more secure.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by xenor (publisher), tysliu (editors)
.</i>

</div>



</div>
</div>
