<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#003 - feb 23th 2013</h1>
</div>
<div id="templateBody">

<div>
<div class="baseline">
<h2>Edito</h2>
On February 24th, Ruby languages celebrates its 20 years birthday. Woohoo! Have a drink in honor to Matz. Here are some links of ruby/webdev content that appeared last week.
<br>
</div>
</div>



<h3>Listen</h3>
<div class="baseline">What could be heard last week ..</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://learn.thoughtbot.com/podcast/36" class="linktitle">Giant Robots 36</a>

</td><td class="date">
feb 18</td></tr>
<tr><td colspan="2" class="comment">
discussion with Nick Quaranto (@qrush), about 37signals, rubymotion, rubygems.org, etc.
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/350-episode-346-february-19-2013" class="linktitle">Ruby5 346</a>

</td><td class="date">
feb 19</td></tr>
<tr><td colspan="2" class="comment">
SSL in dev env, Discourse, Routing Concerns, MoSQL, Capistrano tricks, FFI.
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/351-episode-347-february-22-2013" class="linktitle">Ruby5 347</a>

</td><td class="date">
feb 22</td></tr>
<tr><td colspan="2" class="comment">
SQL injection, session cookies, typeahead, responsiveness, Incoming, git rebase.
</td></tr>

<tr><td>
<a href="http://rubyrogues.com/093-rr-security-exploits-with-patrick-mckenzie/" class="linktitle">RubyRogues 093</a>

</td><td class="date">
feb 20</td></tr>
<tr><td colspan="2" class="comment">
security exploits, rubygems incident, tips about security.
</td></tr>

</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://devblog.avdi.org/2013/02/18/rubytapas-freebie-blocks-procs-lambdas/" class="linktitle">Blocks, Procs, and Lambdas</a>

</td><td class="date">
feb 18</td></tr>
<tr><td colspan="2" class="comment">
a freebie from Ruby Tapas
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://www.owasp.org/index.php/Ruby_on_Rails_Cheatsheet" class="linktitle">Rails security cheatsheet</a>

</td><td class="date">
feb 14</td></tr>
<tr><td colspan="2" class="comment">
details about security in rails, can help to understand the recent issues.
</td></tr>

<tr><td>
<a href="http://blog.sudobits.com/2013/02/15/heroku-alternatives-for-deploying-rails-applications/" class="linktitle">Rails Hosting choices</a>

</td><td class="date">
feb 15</td></tr>
<tr><td colspan="2" class="comment">
a quick review of 5 alternatives for Heroku.
</td></tr>

<tr><td>
<a href="http://benediktdeicke.com/2013/02/what-you-did-not-know-about-capistrano-yet/" class="linktitle">Capistrano tricks</a>

</td><td class="date">
feb 14</td></tr>
<tr><td colspan="2" class="comment">
a collection of tips and tricks about capistrano.
</td></tr>

<tr><td>
<a href="http://spin.atomicobject.com/2013/02/20/test-rails-email-templates/" class="linktitle">Testing email templates in Rails</a>

</td><td class="date">
feb 20</td></tr>
<tr><td colspan="2" class="comment">
an approach about testing emails.
</td></tr>

<tr><td>
<a href="http://mashable.com/2013/02/19/chrome-extensions-developers/" class="linktitle">Crome extensions for dev</a>

</td><td class="date">
feb 19</td></tr>
<tr><td colspan="2" class="comment">
10 useful extensions, you probably use most of them already.
</td></tr>

<tr><td>
<a href="http://rubysource.com/ruby-arduino-lego-rubot/" class="linktitle">Ruby Lego Arduino Robot</a>

</td><td class="date">
feb 21</td></tr>
<tr><td colspan="2" class="comment">
just for fun, RuBot is a change from web applications.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/yourabi/twitter-typeahead-rails" class="linktitle">Twitter typeahead</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
is just released, a new thing for your asset pipeline
</td></tr>

<tr><td>
<a href="https://github.com/hexorx/countries" class="linktitle">Countries</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
just handles countries list with formats, currencies, etc
</td></tr>

<tr><td>
<a href="https://github.com/tomgi/git_stats" class="linktitle">Git Stats</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
produces nice static html stats for git repos
</td></tr>

<tr><td>
<a href="https://github.com/desktoppr/cached_counts" class="linktitle">Cache counts</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
for caching counts from activerecords
</td></tr>

</table>

<h3>Fun</h3>
<div class="baseline"></div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.metabright.com/challenges/rubyonrails" class="linktitle">Prove your rubyrails skills</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
on Metabright, also on ruby, rubygems, heroku, and other topics
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">
<i>Links curated by by mose (editor),

xenor (informer)
.</i>
</div>


<div id="rant">
<h3>Rant</h3>
<div class="baseline"><i>The random rant of the week by mose.</i></div>

</div>


</div>
</div>
