<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#079 - aug 10th 2014</h1>
</div>
<div id="templateBody">

<div>
<div class="baseline">
<h2>Edito</h2>
As maybe you know that's a long time I wish to make the green ruby website dynamic, especially to feature a search engine on all the links. But I never found time yet. So if you feel like contributing, please to <a href="mailto:news@greenruby.org">contact me</a>. Ideally I would think about some pre-generated json db and a js only frontend, so then there is no need for a backend. The source code of the current static site and generation scripts is <a href="https://github.com/greenruby/grn-static">on github</a>
<br>
</div>
</div>



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://dt.htdt.ru/" class="linktitle">Digital Trip</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
Google Chrome Experiment game with three.js and headtrackr.
</td></tr>

<tr><td>
<a href="http://coffeebeansdelivered.com.au/" class="linktitle">Coffee Beans</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
Not so exceptional, neat design though. But, well, I have a weakness for coffee.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://keepachangelog.com/" class="linktitle">Keep a CHANGELOG</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Grant the Changelog file a first class citizen status.
</td></tr>

<tr><td>
<a href="https://leanpub.com/deploying_rails_applications" class="linktitle">Reliably Deploying Rails Applications</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
[book] Framework for provisioning servers with Chef and deploying with Capistrano 3.
</td></tr>

<tr><td>
<a href="http://bestgems.org/" class="linktitle">BestGems</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Ruby gems download ranking.
</td></tr>

<tr><td>
<a href="http://nischaalc.github.io/committed/" class="linktitle">Committed</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Search github usernames to get summary of git activity.
</td></tr>

<tr><td>
<a href="https://overv.io/" class="linktitle">Overv.io</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
The missing link between GitHub and project shipping.
</td></tr>

<tr><td>
<a href="http://input.fontbureau.com/" class="linktitle">Input: Fonts for Code</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
This site has an interesting previewing tool.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/heroku/starboard" class="linktitle">Starboard</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Onboarding, offboarding, or crossboarding made easy, from Heroku, using Trello linked to Github.
</td></tr>

<tr><td>
<a href="https://github.com/danmayer/coverband" class="linktitle">Coverband</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Rack middleware to help measure production code coverage, find what code is never used and delete it.
</td></tr>

<tr><td>
<a href="https://github.com/tabolario/kibana-rack" class="linktitle">kibana-rack</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Embed Kibana as a Rack application.
</td></tr>

<tr><td>
<a href="https://github.com/WeAreFarmGeek/diplomat" class="linktitle">Diplomat</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A HTTP Ruby API for Consul (distributed key value store).
</td></tr>

<tr><td>
<a href="https://github.com/RobinBrouwer/gritter" class="linktitle">Gritter</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Rails gem to add Growl-like notifications to your application.
</td></tr>

<tr><td>
<a href="http://p5js.org/" class="linktitle">P5.js</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
JavaScript library that ports the original goal of Processing to the web.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://blog.arkency.com/2014/08/using-ruby-range-with-custom-classes/" class="linktitle">Using ruby Range with custom classes</a>

</td><td class="date">
aug 3
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Example with code about making ranges your own.
</td></tr>

<tr><td>
<a href="http://markdotto.com/2014/08/04/shipping-the-new-github-issues/" class="linktitle">Shipping the new GitHub Issues</a>

</td><td class="date">
aug 4
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
The story of 9 month of preparing the new Github issues feature.
</td></tr>

<tr><td>
<a href="http://www.justinweiss.com/blog/2014/08/04/shaking-off-your-tdd-fatigue-with-a-few-quick-tips/" class="linktitle">Shaking Off Your TDD Fatigue With a Few Quick Tips</a>

</td><td class="date">
aug 4
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
How do you get the benefits of TDD when you don’t feel like TDDing.
</td></tr>

<tr><td>
<a href="http://blog.teamtreehouse.com/short-introduction-minitest" class="linktitle">How to Use MiniTest</a>

</td><td class="date">
aug 4
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Minitest is nothing but new, but maybe you need a primer.
</td></tr>

<tr><td>
<a href="http://viget.com/extend/search-as-a-first-class-object" class="linktitle">Search as a First-Class Object</a>

</td><td class="date">
aug 5
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Create an ActiveRecord model to represent a single search.
</td></tr>

<tr><td>
<a href="http://buildingrails.com/a/ruby_hashes_cheat_guide_for_beginners" class="linktitle">Ruby Hashes Cheat Guide for Beginners</a>

</td><td class="date">
aug 5
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Methods regularly used when dealing with Hashes in Ruby and Rails.
</td></tr>

<tr><td>
<a href="http://tympanus.net/codrops/2014/08/05/page-preloading-effect/" class="linktitle">Page preloading effect</a>

</td><td class="date">
aug 5
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Using CSS animations, 3D transforms and SVGs.
</td></tr>

<tr><td>
<a href="http://chriskottom.com/blog/2014/08/customize-minitest-assertions-and-expectations/" class="linktitle">Customize Minitest Assertions and Expectations</a>

</td><td class="date">
aug 6
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
This article is more advanced, and shows how to write custom assertions.
</td></tr>

<tr><td>
<a href="http://www.binpress.com/tutorial/speeding-up-angular-js-with-simple-optimizations/135" class="linktitle">Speeding up AngularJS apps with simple optimizations</a>

</td><td class="date">
aug 6
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Performance pointers to keep building fast applications.
</td></tr>

<tr><td>
<a href="http://strongloop.com/strongblog/node-js-ruby-on-rails-getting-started/" class="linktitle">Getting Started with Node.js for the Rails Developer</a>

</td><td class="date">
aug 7
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Quick introduction to Node.js and LoopBack for Ruby on Rails minded developers.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/ruby-social-gems-github/" class="linktitle">Ruby Social Gems: Github</a>

</td><td class="date">
aug 8
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Example of implementation of oauth with github and other uses of their API.
</td></tr>

<tr><td>
<a href="http://thenewstack.io/moving-ruby-apps-from-heroku-to-docker/" class="linktitle">Moving Ruby Apps From Heroku to Docker</a>

</td><td class="date">
aug 8
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Report on a migration, with all the details.
</td></tr>

<tr><td>
<a href="http://robots.thoughtbot.com/dns-cdn-origin" class="linktitle">DNS to CDN to Origin</a>

</td><td class="date">
aug 8
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Some solutions for rails apps and delivery strategy.
</td></tr>

</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://www.youtube.com/watch?v=juHMdcTz5vM&list=TLoBBt7jO33dcssVaNdNplAN13SAcGsCLT" class="linktitle">Underscore: go with a ruby taste</a>
<span class="duration">(10m)</span>
</td><td class="date">
aug 4
<img class="icon" src="ico/go.png" height="18" width="18" align="right" alt="go" />
</td></tr>
<tr><td colspan="2" class="comment">
Wanna make go feel more like ruby using reflect.
</td></tr>

<tr><td>
<a href="http://www.atozcss.com/nth-child-and-nth-of-type-pseudo-classes/" class="linktitle">AtoZ CSS: nth-child</a>
<span class="duration">(7m)</span>
</td><td class="date">
aug 5
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
the various ways of using :nth-child, :nth-of-type and others.
</td></tr>

<tr><td>
<a href="http://confreaks.com/events/elixirconf2014" class="linktitle">Elixir Conf 2014</a>
<span class="duration">(15 videos)</span>
</td><td class="date">
aug 6
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
All the elixir from the annual conf.
</td></tr>

</table>

<h3>Listen</h3>
<div class="baseline">What could be heard last week ..</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://podcasts.thoughtbot.com/giantrobots/110" class="linktitle">Giant robots #110</a>
<span class="duration">(32m)</span>
</td><td class="date">
aug 4
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Protecting Invisible Things (Eric Mill).
</td></tr>

<tr><td>
<a href="http://www.arresteddevops.com/get-help/" class="linktitle">Arreted DevOps 17</a>
<span class="duration">(59m)</span>
</td><td class="date">
aug 4
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Help! I Need Somebody!.
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/523-episode-486-august-5th-2014" class="linktitle">Ruby5 486</a>
<span class="duration">(7m)</span>
</td><td class="date">
aug 5
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
ReactJS and rails, RubyGems Legal Stuff, Coverband, Unicorns and GitHub, Oat, Matz on the GIL.
</td></tr>

<tr><td>
<a href="http://rubyrogues.com/168-rr-xiki-with-craig-muth/" class="linktitle">Ruby Rogues 168</a>
<span class="duration">(1h23)</span>
</td><td class="date">
aug 6
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Xiki with Craig Muth.
</td></tr>

<tr><td>
<a href="http://javascriptjabber.com/120-jsj-google-polymer-with-rob-dodson-and-eric-bidelman/" class="linktitle">Javascript Jabber 120</a>
<span class="duration">(1h)</span>
</td><td class="date">
aug 6
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Google Polymer with Rob Dodson and Eric Bidelman.
</td></tr>

<tr><td>
<a href="http://5by5.tv/changelog/127" class="linktitle">The Changelog #127</a>
<span class="duration">(1h05)</span>
</td><td class="date">
aug 6
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Keep a CHANGELOG with Olivier Lacan.
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/524-episode-487-august-8th-2014" class="linktitle">Ruby5 487</a>
<span class="duration">(5m)</span>
</td><td class="date">
aug 8
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
tripit/slate, deprecating paths in Rails mailers, RubySteps, Starboard, new Heroku Button.
</td></tr>

<tr><td>
<a href="http://nodeup.com/seventy" class="linktitle">NodeUp 70</a>
<span class="duration">(2h06)</span>
</td><td class="date">
aug 8
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A npm client show.
</td></tr>

<tr><td>
<a href="http://thewebplatform.libsyn.com/the-web-components-community-helpful-resources" class="linktitle">Web platform #4</a>
<span class="duration">(58m)</span>
</td><td class="date">
aug 8
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
The Web Components Community.
</td></tr>

</table>

<h3>Devtips</h3>
<div class="baseline">The tips of the week collected from Faria Dev Team ..</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://devtips.faria.co/2014-08-06-preventdefault-after-load.html" class="linktitle">preventDefault after load requires delegation</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">

</td></tr>

<tr><td>
<a href="http://devtips.faria.co/2014-08-06-moving-lines.html" class="linktitle">moving lines on hackpad and sublimetext</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">

</td></tr>

<tr><td>
<a href="http://devtips.faria.co/2014-08-06-human-readable-names.html" class="linktitle">human readable names for columns</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">

</td></tr>

<tr><td>
<a href="http://devtips.faria.co/2014-08-06-dash-from-vim.html" class="linktitle">Dash from vim on mac</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">

</td></tr>

<tr><td>
<a href="http://devtips.faria.co/2014-08-07-digitalocean-cli.html" class="linktitle">Digitalocean CLI with tugboat</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">

</td></tr>

<tr><td>
<a href="http://devtips.faria.co/2014-08-08-zsh-and-git.html" class="linktitle">Zsh and git with oh-my-zsh and git-up</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">

</td></tr>

<tr><td>
<a href="http://devtips.faria.co/2014-08-08-select-status.html" class="linktitle">Select status in html forms</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">

</td></tr>

<tr><td>
<a href="http://devtips.faria.co/2014-08-08-manage-multiple-formulae-versions-with-homebrew.html" class="linktitle">Manage multiple versions of a formula with homebrew</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">

</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by mose (editor).</i>

</div>



</div>
</div>
