<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#203 - dec 25th 2016</h1>
</div>
<div id="templateBody">



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://www.hiveboxx.com/" class="linktitle">HiveBoxx</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Simple but elegant product presentation.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.anychart.com/" class="linktitle">AnyChart</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
JavaScript/HTML5 Chart library for any project.
</td></tr>

<tr><td>
<a href="http://json-schema-faker.js.org/" class="linktitle">JSON schema faker</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
JSON fake data generator.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/DatabaseCleaner/database_cleaner" class="linktitle">database_cleaner</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Strategies for cleaning databases in Ruby.
</td></tr>

<tr><td>
<a href="https://github.com/typicode/json-server" class="linktitle">json-server</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Fake JSON REST API in 30 seconds.
</td></tr>

<tr><td>
<a href="https://github.com/AlexTatiyants/pev" class="linktitle">PEV</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Postgres Explain Visualizer.
</td></tr>

<tr><td>
<a href="https://github.com/RubyMoney/money" class="linktitle">Money</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A Ruby Library for dealing with money and currency conversion.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://schneems.com/2016/12/20/how-the-f-does-sprockets-load-an-asset/" class="linktitle">How the F does Sprockets Load an Asset?</a>

</td><td class="date">
dec 20
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A technical deep dive into sprockets.
</td></tr>

<tr><td>
<a href="http://queue.acm.org/detail.cfm?id=3028689" class="linktitle">Are You Load Balancing Wrong?</a>

</td><td class="date">
dec 20
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Anyone can use a load balancer. Using them properly is much more difficult.
</td></tr>

<tr><td>
<a href="http://railsware.com/blog/2016/12/21/using-configurable-shared-examples-in-rspec/" class="linktitle">Using Configurable Shared Examples in RSpec</a>

</td><td class="date">
dec 21
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Things get more complicated when you have the same behavior, but it has some slight variations for different contexts.
</td></tr>

<tr><td>
<a href="https://www.smashingmagazine.com/2016/12/front-end-performance-checklist-2017-pdf-pages/" class="linktitle">Front-End Performance Checklist 2017 (PDF, Apple Pages)</a>

</td><td class="date">
dec 21
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Some of the optimizations might be beyond the scope of your work or budget or might just be overkill given the legacy code you have to deal with.
</td></tr>

<tr><td>
<a href="https://medium.com/starting-up-security/learning-from-a-year-of-security-breaches-ed036ea05d9b" class="linktitle">Learning From A Year of Security Breaches</a>

</td><td class="date">
dec 21
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Responding to security incidents in 2016.
</td></tr>

<tr><td>
<a href="https://blog.fazibear.me/story-about-inesita-ruby-frontend-framework-5280432e482a" class="linktitle">Story About Inesita, Ruby Frontend Framework</a>

</td><td class="date">
dec 22
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">

</td></tr>

<tr><td>
<a href="http://alistapart.com/article/learning-from-lego-a-step-forward-in-modular-web-design" class="linktitle">Learning from Lego: A Step Forward in Modular Web Design</a>

</td><td class="date">
dec 22
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
When web components are modular like Lego bricks down to the elements level, they become more versatile and easier to maintain.
</td></tr>

<tr><td>
<a href="http://blog.arkency.com/2016/12/safer-database-migrations-with-soundclouds-large-hadron-migrator/" class="linktitle">Safer Rails database migrations with Soundcloud's Large Hadron Migrator</a>

</td><td class="date">
dec 23
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
If you need to migrate big tables without downtime in MySQL you can use LHM or upgrade MySQL to 5.6.
</td></tr>

<tr><td>
<a href="https://www.ruby-lang.org/en/news/2016/12/25/ruby-2-4-0-released/" class="linktitle">Ruby 2.4.0 Released</a>

</td><td class="date">
dec 25
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
It is customary to release a new version of Ruby on Christmas.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by xenor (publisher), tysliu, mose (editors), 
Nauman Tariq (contributors)
.</i>

</div>


<div id="rant">
<h3>Rant</h3>

<div class="baseline"><i>The random rant of the week by xenor and tysliu.</i></div>
<h4>Someone's birthday</h4>

<p>I've heard that today is someone's birthday, and it seems a cake and "Happpy birthday" is not enough, people are throwing parties with reds and greens all over the place.</p>

<p>I've also heard that the night before his birthday, an old stranger with red shirt will break into houses with kids inside while they are sleeping, but the weird thing is that no one really call the police...</p>

<p>Let's hope trees got decorated can survive till next year, and every child gets more parents' love than what they got from a red stranger.</p>

<p>--Xenor</p>

<hr />

<p>Recently I read <a href="https://www.smashingmagazine.com/2016/12/front-end-performance-checklist-2017-pdf-pages/">this</a> article, it is a checklist about how to keep your front-end sane in 2017. The amount of new techniques to keep track of is just astonishing.</p>

<p>I think many people will feel the same, how is there consistantly so many new libraries and tools for doing front-end.</p>

<p>Perhaps if there was some kind of standard or versioning like css3 html5. Such that browser maker and app makers can conform to. To produce best performance apps for each iteration.</p>

<p>This will probably resolve broswer fragmentation and the myriad of libraries/techniques we have to deal with.</p>

<p>That'd be a real Merry Christmas!</p>

<p>--tysliu</p>

</div>


</div>
</div>
