<div id="templateContainer">
<div id="templateHeader">
<h1>#009 - apr 06th 2013</div>
</div>
<div id="templateBody">
<div>
	<div class="baseline">
	<h3>Edito</h3>
	<a href="http://www.awwwards.com/css-gallery">awwwards</a> link last week was pretty popular and for the less technical of our subscribers, here is a nice reading: <a href="http://elouwebdesign.com/designing-for-humans">Design for humans</a> and I also can point out that last week began a free course on coursera about <a href="https://www.coursera.org/course/gamification">gamification</a> (it just began it's still time to catch up). I think that from now on I will include some non-technical links in the edito.
<br>
<br>
<em>&nbsp; mose - the green ruby editor</em><br>
<em>&nbsp;

	xenor - the informer

</em><br>
&nbsp; <a href="http://greenruby.org" target="_self">http://greenruby.org</a>
<br>
</div>


<h2>update</h2>
<div class="baseline"></div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="http://www.postgresql.org/support/security/faq/2013-04-04/">Postgres 9 security release</a>
				<span class="duration">(1h10)</span>
			</td>
			<td class="date">
				apr 4
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				a massive security flaw in postgres is covered by this released (heroku is already updated).
			</td>
		</tr>
	
</table>

<h2>Listen</h2>
<div class="baseline">What could be heard last week ..</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="http://rubyrogues.com/099-rr-ruby-2/">RubyRogues 099</a>
				<span class="duration">(1h25)</span>
			</td>
			<td class="date">
				apr 3
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				interesting review of new features in ruby 2.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://ruby5.envylabs.com/episodes/362-episode-358-april-2nd-2013">Ruby5 358</a>
				<span class="duration">(6m)</span>
			</td>
			<td class="date">
				apr 2
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				signed_form, rvm and 2.0, libreconv, kristin, pi_piper, hstore, sentimental, sinatra pipeline.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://ruby5.envylabs.com/episodes/363-episode-359-april-5th-2013">Ruby5 359</a>
				<span class="duration">(7m)</span>
			</td>
			<td class="date">
				apr 5
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				postgres vulnerability, rails security, methods, helios.io, vim dispatch, flame graphs.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://javascriptjabber.com/054-jsj-javascript-parsing-asts-and-language-grammar-w-david-herman-and-ariya-hidayat">Javascript Jabber 054</a>
				<span class="duration">(1h)</span>
			</td>
			<td class="date">
				apr 5
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				talk about javascript parsing, AST, and things about writing a language.
			</td>
		</tr>
	
</table>

<h2>Watch</h2>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="http://confreaks.com/events/bigruby2013">Big Ruby 2013</a>
				<span class="duration">(15 talks)</span>
			</td>
			<td class="date">
				apr 3
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				thanks to Confreaks, the videos from the Big Ruby Conf on mar 1st in Dallas.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://railscasts.com/episodes/412-fast-rails-commands">Fast Rails commands</a>
				<span class="duration">(8m)</span>
			</td>
			<td class="date">
				apr 4
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				the last free railscast, about zeus, spring, and rails commandline.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://devblog.avdi.org/2013/04/01/rubytapas-freebie-gem-love-part-2">Gem love</a>
				<span class="duration">(5m)</span>
			</td>
			<td class="date">
				apr 1
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				part 2, about tests covering of a gem you write, fast and sharp as usual.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://www.youtube.com/watch?v=eZngcRt_11k">Ruby hangout</a>
				<span class="duration">(48m)</span>
			</td>
			<td class="date">
				apr 3
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				A remote hangout that begins to get more and more popular, this time about software license (part 1).
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://www.youtube.com/watch?v=Ga99hMi7wfY">Building an app with ember.js</a>
				<span class="duration">(30m)</span>
			</td>
			<td class="date">
				mar 27
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				a walkthrough on the basics about that js buzz.
			</td>
		</tr>
	
</table>

<h2>Read</h2>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="http://net.tutsplus.com/articles/where-in-the-world-is-john-resig">Interview with John Resig</a>
				
			</td>
			<td class="date">
				apr 5
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				the guy that made jQuery talks about his current  fun with Khan academy.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://net.tutsplus.com/tutorials/javascript-ajax/building-large-maintainable-and-testable-knockout-js-applications">Knockout.js</a>
				
			</td>
			<td class="date">
				apr 3
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				a long presentation of that javascript framework, with samples and test tricks.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://rubylearning.com/blog/2013/04/04/ruby-matrix-the-forgotten-library">Ruby Matrix</a>
				
			</td>
			<td class="date">
				apr 4
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				 story about using matrices in ruby.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://rubysource.com/give-vagrant-a-place-in-your-workflow">Vagrant in your workflow</a>
				
			</td>
			<td class="date">
				apr 2
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				a detailled article explaining how to add a VM in your deployment workflow.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://rubysource.com/twitter-authentication-in-sinatra/">Twitter authentication in Sinatra</a>
				
			</td>
			<td class="date">
				apr 4
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				example implementation with explained code for linking a sinatra app to the small blue bird.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://robots.thoughtbot.com/post/47202759358/using-gdb-to-inspect-a-running-ruby">Using GDB to inspect a running ruby</a>
				
			</td>
			<td class="date">
				apr 5
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				a quick hint about using GDB for having more debugging output from a running ruby process.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://github.com/Mashape/mashape-oauth/blob/master/FLOWS.md">OAuth Bible</a>
				
			</td>
			<td class="date">
				apr 2
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				a great reference about all type of possible OAuth systems you can adopt.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://www.hongkiat.com/blog/ideas-to-nicer-websites/">Tools for website design</a>
				
			</td>
			<td class="date">
				apr 3
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				a review of 30 well known modern tools for making better websites.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://raganwald.com/2013/04/02/explicit-versus-clever.html">Explicit vs Clever</a>
				
			</td>
			<td class="date">
				apr 2
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				a nice statement about benefit of clarity in code.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://tech.pro/tutorial/1192/avoiding-the-this-problem-in-javascript">Avoiding the "this" probem in JS</a>
				
			</td>
			<td class="date">
				apr 4
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				some tricks to avoid the confusion of the this scoping.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://blog.peepcode.com/blog/2013/charismatic-duo">Geek memes</a>
				
			</td>
			<td class="date">
				apr 5
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				well, this is just about geeks body language.
			</td>
		</tr>
	
</table>

<h2>Install</h2>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="http://helios.io">Helios.io</a>
				
			</td>
			<td class="date">
				
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				is a set of mobile components built on rack, for iOs, from Heroku.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://github.com/nnnick/Chart.js">Chart.js</a>
				
			</td>
			<td class="date">
				
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				produces nice html5 charts using canvas
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://gitlab.org/">Gitlab</a>
				
			</td>
			<td class="date">
				
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				recently released a version 5.0, now free from gitolite as they rely on their own scripts
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://docpad.org">Docpad</a>
				
			</td>
			<td class="date">
				
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				is yet another node web framework, but I list it here because the website looks good
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://github.com/7compass/sentimental">Sentimental</a>
				
			</td>
			<td class="date">
				
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				is a ruby gem for analyzing human sentiments in social media
			</td>
		</tr>
	
</table>

<h2>Use</h2>
<div class="baseline">It's hard to pass it, there are so many Saas out there. This week again, some more API-focused services.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="http://dribbble.com">Dribbble</a>
				
			</td>
			<td class="date">
				
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				This is a showroom for designers, that can display their last creation. And many of them are very good.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://hub.tutsplus.com">Tuts+ Hub</a>
				
			</td>
			<td class="date">
				
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				A new tutorial portal from Net-Tuts, more than 7000 tutorials (dev and graphics)
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://www.coursera.org/">Coursera</a>
				
			</td>
			<td class="date">
				
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				A massive online platform to follow university cursus for free and from home. Including courses in french and chinese.
			</td>
		</tr>
	
</table>

</div>
