<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#046 - dec 22th 2013</h1>
</div>
<div id="templateBody">

<div>
<div class="baseline">
<h2>Edito</h2>
Now there are 100 subscribers to this newsletter, from 28 different countries. Nothing compared to the other publishers out there, but I have no time and interest in promotion. After all this weekly mail was just intended to be sent to a dozen of friends. And it went on like a personal habit, forcing me to keep in touch with the flow. Anyways, if I don't know you and if you like it, I'm happy enough. (and xenor is too). Happy hollidays if you get any!
<br>
</div>
</div>



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.clicktorelease.com/code/bumpy-metaballs/" class="linktitle">Metaballs</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
Another amazing 3d demo with three.js.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://rails-assets.org/" class="linktitle">Rails-assets</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A proxy service between bundler and bower.
</td></tr>

<tr><td>
<a href="https://scraperwiki.com/" class="linktitle">ScraperWiki</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
It's out there in beta for a while and they prepare a release for next month.
</td></tr>

<tr><td>
<a href="https://marvelapp.com/" class="linktitle">Marvelapp</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Looks like the future of mockups.
</td></tr>

<tr><td>
<a href="http://apps.stupid-studio.com/" class="linktitle">The Sprite Generator</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Make sprites animation easily, by uploading image-per-image files there (or just get the code and roll your own).
</td></tr>

<tr><td>
<a href="http://regex.alf.nu/" class="linktitle">Regex Golf</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A coding game for regexper.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://weblog.rubyonrails.org/2013/12/18/Rails-4-1-beta1/" class="linktitle">Rails 4.1 beta</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
This is the christmas gift from rails, beta, but promising.
</td></tr>

<tr><td>
<a href="http://www.myth.io/" class="linktitle">Myth</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Collection of polyfills converters for modern CSS authoring.
</td></tr>

<tr><td>
<a href="http://elmcitycraftworks.org/post/70158932822/prawn-0-13-0-has-been-released-and-1-0-is-finally-on" class="linktitle">Prawn</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
After 2 years of lag, finaly the PDF generation library for ruby wakes up.
</td></tr>

<tr><td>
<a href="https://github.com/bradfrost/project-hub" class="linktitle">Project Hub</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
An HTML template for project timelines, <a href="http://24ways.org/2013/project-hubs/">explained</a>.
</td></tr>

<tr><td>
<a href="http://tobiasahlin.com/spinkit/" class="linktitle">Spinkit</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
CSS spiners.
</td></tr>

<tr><td>
<a href="http://benchmarkjs.com/" class="linktitle">Benchmarkjs</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A robust benchmarking library that works on nearly all JavaScript platforms.
</td></tr>

<tr><td>
<a href="https://github.com/noidontdig/gitdown" class="linktitle">Gitdown</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Don't commit when you're drunk (powered by arduino).
</td></tr>

<tr><td>
<a href="http://people.csail.mit.edu/sperezde/gitless/" class="linktitle">Gitless</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A version control tool build on top of git.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://www.ruby-lang.org/en/news/2013/12/17/maintenance-of-1-8-7-and-1-9-2/" class="linktitle">Security Maintenance Extension of Ruby 1.8.7 and 1.9.2</a>

</td><td class="date">
dec 17
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Ruby 1.8 gets back from the dead! Thx Heroku.
</td></tr>

<tr><td>
<a href="http://solnic.eu/2013/12/17/the-world-needs-another-post-about-dependency-injection-in-ruby.html" class="linktitle">Another Post About Dependency Injection in Ruby</a>

</td><td class="date">
dec 17
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Ruby dependency injection, demystified.
</td></tr>

<tr><td>
<a href="http://devblog.reverb.com/post/70344683203/5-architecture-anti-patterns-and-solutions-for-large" class="linktitle">5 architecture anti-patterns and solutions for large Rails apps</a>

</td><td class="date">
dec 18
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Lessons learned from growing a large rails app.
</td></tr>

<tr><td>
<a href="http://www.webdirections.org/blog/happy-17th-birthday-css/" class="linktitle">Happy 17th Birthday CSS</a>

</td><td class="date">
dec 18
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
An occasion to learn or remember about the origins of CSS.
</td></tr>

<tr><td>
<a href="http://net.tutsplus.com/tutorials/tools-and-tips/coding-in-the-cloud/" class="linktitle">Coding in the Cloud</a>

</td><td class="date">
dec 19
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Dev stack for in-browser coding, featuring Cloud9 and Nitrous.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/usability-testing-vital-success/" class="linktitle">Why Usability Testing is Vital to Success</a>

</td><td class="date">
dec 19
<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Introduction to usability and some tools that can be used to test it.
</td></tr>

<tr><td>
<a href="http://net.tutsplus.com/tutorials/html-css-techniques/intro-to-shadow-dom/" class="linktitle">Intro to Shadow DOM</a>

</td><td class="date">
dec 20
<img class="icon" src="ico/html5.png" height="18" width="18" align="right" alt="html5" />
</td></tr>
<tr><td colspan="2" class="comment">
Some light shed on this part of the web components spec.
</td></tr>

</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.youtube.com/watch?v=CH_a3yNbYDM" class="linktitle">The Padrino Framework</a>
<span class="duration">(31m)</span>
</td><td class="date">
dec 19
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Padrino is a framework built on top of Sinatra.
</td></tr>

</table>

<h3>Listen</h3>
<div class="baseline">What could be heard last week ..</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.arresteddevops.com/2013/12/16/episode-002-does-testing-keeps-you-from-making-a-huge-mistake/" class="linktitle">Arrested DevOps 002</a>
<span class="duration">(1h06)</span>
</td><td class="date">
dec 16
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Does Testing Keep You From Making a Huge Mistake?
</td></tr>

<tr><td>
<a href="http://podcasts.thoughtbot.com/giantrobots/79" class="linktitle">Giant robots 79</a>
<span class="duration">(38m)</span>
</td><td class="date">
dec 16
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Uncle Bob Martin about functional programming, ethics, and writing.
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/463-episode-427-december-17th-2013" class="linktitle">Ruby5 427</a>
<span class="duration">(5m)</span>
</td><td class="date">
dec 17
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
rails-assets, rails database info, callbacks extraction, shutterbug, enumerable, prawn.
</td></tr>

<tr><td>
<a href="http://rubyrogues.com/136-rr-consulting-vs-product-work-part-2-with-steven-proctor/" class="linktitle">RubyRogues 136</a>
<span class="duration">(51m)</span>
</td><td class="date">
dec 18
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Consulting vs Product Work Part 2 with Steven Proctor.
</td></tr>

<tr><td>
<a href="http://5by5.tv/changelog/115" class="linktitle">The Changelog 115</a>
<span class="duration">(43m)</span>
</td><td class="date">
dec 20
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Flynn updates with Jonathan Rudenberg and Jeff Lindsay.
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/464-episode-428-december-20th-2013" class="linktitle">Ruby5 428</a>
<span class="duration">(6m)</span>
</td><td class="date">
dec 20
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
rails 4.1beta, secrets.yml, ruby DI, yield or enumerate, dashing-rails.
</td></tr>

<tr><td>
<a href="http://javascriptjabber.com/088-jsj-lazy-js-with-daniel-tao/" class="linktitle">Javascript Jabber 088</a>
<span class="duration">(46m)</span>
</td><td class="date">
dec 20
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Lazy.js with Daniel Tao.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by mose (editor).</i>

</div>



</div>
</div>
