<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#076 - jul 20th 2014</h1>
</div>
<div id="templateBody">

<div>
<div class="baseline">
<h2>Edito</h2>
This week, on jul 25th, Ruby on Rails will have 10 years. And it will also be the annual <a href="http://sysadminday.com/">Sysadmin appreciation day</a>. It will be a busy friday.
<br>
</div>
</div>



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://aprilzero.com/journal/making-of-aprilzero/" class="linktitle">Making of AprilZero</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
This website was popular last week, here is the story behind it.
</td></tr>

<tr><td>
<a href="http://www.jam3.com/" class="linktitle">Jam3</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
Extremely graphic website of a design agency from Toronto. Check their portfolio.
</td></tr>

<tr><td>
<a href="http://loopalo.com/" class="linktitle">loopalo</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
A SVG loopy(?) drawing tool. Useless and beautiful.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://www.codementor.io/howitworks" class="linktitle">CodeMentor</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Codementor connects you with expert developers for live 1:1 help..
</td></tr>

<tr><td>
<a href="http://www.dockerbook.com/" class="linktitle">The Docker Book</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
(book) new book by James Turnbull, I bought it and I liked it.
</td></tr>

<tr><td>
<a href="https://prelang.com/" class="linktitle">Prelang</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Web-based GUI for prototyping rails code.
</td></tr>

<tr><td>
<a href="https://github.com/ekremkaraca/awesome-rails" class="linktitle">Awesome rails</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Another list, this one is about applications made with rails.
</td></tr>

<tr><td>
<a href="https://github.com/dreikanter/ruby-bookmarks" class="linktitle">Ruby Bookmarks</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Curated collection of essential Ruby and Ruby on Rails resources.
</td></tr>

<tr><td>
<a href="https://github.com/cjbarber/ToolsOfTheTrade" class="linktitle">Tools of the Trade</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Huge list of SaaS services and tools for developers.
</td></tr>

<tr><td>
<a href="http://elasticbox.com/" class="linktitle">Elastibox</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Dev And Ops Working Together. Platform for deploying preset stacks.
</td></tr>

<tr><td>
<a href="https://gorails.com/" class="linktitle">GoRails</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Ruby on Rails screencasts for developers. Nothing to do with Golang.
</td></tr>

<tr><td>
<a href="http://drunkusertesting.com/" class="linktitle">Drunk User testing</a>

</td><td class="date">

<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
The real way to test usability.
</td></tr>

<tr><td>
<a href="http://shoelace.io/" class="linktitle">Shoelace</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Visual Bootstrap 3 Grid Builder .
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://blog.rubygems.org/2014/07/16/2.4.0-released.html" class="linktitle">Rubygems 2.4.0</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Minor changes, mostly good for gem builders.
</td></tr>

<tr><td>
<a href="http://downloads.getchef.com/chef-container/" class="linktitle">Chef Container</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Chef gets on the Docker wave.
</td></tr>

<tr><td>
<a href="https://github.com/trogdoro/xiki" class="linktitle">Xiki</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A shell console with GUI features.
</td></tr>

<tr><td>
<a href="https://openproject.org/" class="linktitle">OpenProject</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Open source project management platform in rails.
</td></tr>

<tr><td>
<a href="http://blog.typekit.com/2014/07/15/introducing-source-han-sans/" class="linktitle">Source Han Sans</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
An open source Pan-CJK typeface, from Adobe and Google.
</td></tr>

<tr><td>
<a href="http://www.pixijs.com/" class="linktitle">Pixi.js</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
2D webGL renderer with canvas fallback.
</td></tr>

<tr><td>
<a href="https://github.com/etix/mirrorbits" class="linktitle">Mirrorbits</a>

</td><td class="date">

<img class="icon" src="ico/go.png" height="18" width="18" align="right" alt="go" />
</td></tr>
<tr><td colspan="2" class="comment">
Geographical download redirector for distributing files across a set of mirrors.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://railsware.com/blog/2014/07/09/share-rails-configuration-to-javascript" class="linktitle">Share Rails configuration to Javascript</a>

</td><td class="date">
jul 9
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Example use of the global gem.
</td></tr>

<tr><td>
<a href="http://medialoot.com/blog/angularjs-for-absolute-beginners/" class="linktitle">AngularJS for Absolute Beginners</a>

</td><td class="date">
jul 15
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
An easy tutorial for approaching the basics of AngluarJS.
</td></tr>

<tr><td>
<a href="http://blog.plataformatec.com.br/2014/07/rails-4-and-postgresql-arrays/" class="linktitle">Rails 4 and PostgreSQL Arrays</a>

</td><td class="date">
jul 15
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Rails 4 supports arrays fields for PostgreSQL in a nice way. Here is how.
</td></tr>

<tr><td>
<a href="http://collectiveidea.com/blog/archives/2014/07/15/recommended-security-setup-for-aws/" class="linktitle">Recommended Security Setup for AWS</a>

</td><td class="date">
jul 16
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
How to organize IAM accounts.
</td></tr>

<tr><td>
<a href="http://quickleft.com/blog/18-surprises-from-reading-jquery-s-source-code" class="linktitle">18 Surprises From Reading jQuery's Source Code</a>

</td><td class="date">
jul 16
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Some interesting tricks in there.
</td></tr>

<tr><td>
<a href="http://www.bignerdranch.com/blog/testing-rails-service-oriented-architecture/" class="linktitle">Testing Rails Service Oriented Architecture</a>

</td><td class="date">
jul 17
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Use of remote_factory_girl and remote_database_cleaner for testing remote service.
</td></tr>

<tr><td>
<a href="https://www.loggly.com/blog/nine-tips-configuring-elasticsearch-for-high-performance/" class="linktitle">Configuring Elasticsearch for High Performance</a>

</td><td class="date">
jul 18
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Elasticsearch Configuration Properties are Key to Its Elasticity.
</td></tr>

<tr><td>
<a href="http://blog.arkency.com/2014/07/6-front-end-techniques-for-rails-developers-part-i-from-big-ball-of-mud-to-separated-concerns/" class="linktitle">From big ball of mud to separated concerns</a>

</td><td class="date">
jul 18
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Part 1 of 6 front-end techniques for Rails developers.
</td></tr>

<tr><td>
<a href="http://techblog.thescore.com/2014/07/19/3-ways-to-create-classes-in-ruby/" class="linktitle">3 Ways to Create Classes in Ruby</a>

</td><td class="date">
jul 19
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Simple review of class creation, including internal classes with struct.
</td></tr>

</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://confreaks.com/events/goruco" class="linktitle">Goruco 2014</a>
<span class="duration">(12 videos)</span>
</td><td class="date">
jul 14
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
The New York event that happened on june 21th.
</td></tr>

<tr><td>
<a href="http://www.youtube.com/watch?v=60rjetFNA_Q&amp;list=UUWnPjmqvljcafA0z2U1fwKQ" class="linktitle">Edge Caching Dynamic Rails Apps</a>
<span class="duration">(28m)</span>
</td><td class="date">
jul 14
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Various insights about CDN and rails.
</td></tr>

<tr><td>
<a href="http://confreaks.com/events/goruco" class="linktitle">Sysadmincasts #28</a>
<span class="duration">(7m)</span>
</td><td class="date">
jul 14
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
CLI Monday: cat, grep, awk, sort, uniq, spark.
</td></tr>

<tr><td>
<a href="http://www.atozcss.com/css-keyframe-animations/" class="linktitle">A to Z CSS: @keyframes</a>
<span class="duration">(6m)</span>
</td><td class="date">
jul 15
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Animations that are suited to CSS.
</td></tr>

<tr><td>
<a href="http://www.centurylinklabs.com/what-is-flynn-an-open-source-docker-paas/" class="linktitle">What is Flynn: an open-source PaaS</a>
<span class="duration">(33m)</span>
</td><td class="date">
jul 16
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Interview with Jonathan Rudenberg, one of Flynn creators.
</td></tr>

</table>

<h3>Listen</h3>
<div class="baseline">What could be heard last week ..</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://podcasts.thoughtbot.com/giantrobots/107" class="linktitle">Giant robots #107</a>
<span class="duration">(33m)</span>
</td><td class="date">
jul 14
<img class="icon" src="ico/mobile.png" height="18" width="18" align="right" alt="mobile" />
</td></tr>
<tr><td colspan="2" class="comment">
The Best Secrets Kept (Sara Haider).
</td></tr>

<tr><td>
<a href="http://blog.producthunt.com/post/91845787959/product-hunt-radio-episode-14" class="linktitle">Product Hunt 14</a>
<span class="duration">(48m)</span>
</td><td class="date">
jul 15
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
About reddit’s upcoming mobile app, crack for beards, and the future of Product Hunt .
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/517-episode-480-july-15th-2014" class="linktitle">Ruby5 480</a>
<span class="duration">(6m)</span>
</td><td class="date">
jul 15
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
PunchClock, Prelang, Queue Pop with Timeout, Termit, Rails request handling.
</td></tr>

<tr><td>
<a href="http://www.arresteddevops.com/continuous-delivery/" class="linktitle">Arrested DevOps 15</a>
<span class="duration">(57m)</span>
</td><td class="date">
jul 15
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Continuous Delivery.
</td></tr>

<tr><td>
<a href="http://5by5.tv/changelog/124" class="linktitle">TheChangelog 124</a>
<span class="duration">(1h04)</span>
</td><td class="date">
jul 15
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Tedit, JS-Git, and Jack with Tim Caswell.
</td></tr>

<tr><td>
<a href="http://5by5.tv/changelog/125" class="linktitle">TheChangelog 125</a>
<span class="duration">(1h14)</span>
</td><td class="date">
jul 15
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Jekyll with Parker Moore.
</td></tr>

<tr><td>
<a href="http://5by5.tv/changelog/126" class="linktitle">TheChangelog 126</a>
<span class="duration">(1h13)</span>
</td><td class="date">
jul 15
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Xiki and reimagining the shell with Craig Muth.
</td></tr>

<tr><td>
<a href="http://thewebplatform.libsyn.com/rubynation-rubys-cultural-impact" class="linktitle">Web platform #1</a>
<span class="duration">(1h21)</span>
</td><td class="date">
jul 16
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
RubyNation & Ruby's Cultural Impact.
</td></tr>

<tr><td>
<a href="http://5by5.tv/rubyonrails/159" class="linktitle">Ruby on Rails Podcast #159</a>
<span class="duration">(1h14)</span>
</td><td class="date">
jul 16
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Flo Motlik - Codeship.
</td></tr>

<tr><td>
<a href="http://rubyrogues.com/165-rr-systems-programming-tricks-with-julia-evans/" class="linktitle">Ruby Rogues 165</a>
<span class="duration">(1h05)</span>
</td><td class="date">
jul 16
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Systems Programming Tricks with Julia Evans.
</td></tr>

<tr><td>
<a href="http://javascriptjabber.com/117-jsj-the-koa-framework-with-gerred-dillon-and-will-conant/" class="linktitle">Javascript Jabber 117</a>
<span class="duration">(50m)</span>
</td><td class="date">
jul 16
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
The Koa Framework with Gerred Dillon and Will Conant.
</td></tr>

<tr><td>
<a href="http://www.opsallthethings.com/podcast/009-debug-all-the-things/" class="linktitle">Ops all the things 9</a>
<span class="duration">(51m)</span>
</td><td class="date">
jul 17
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Debug All The Things.
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/518-episode-481-july-18th-2014" class="linktitle">Ruby5 481</a>
<span class="duration">(5m)</span>
</td><td class="date">
jul 18
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Peek, accessibility, polyglot, GoRails, EOL 1.8.7 and 1.9.2.
</td></tr>

<tr><td>
<a href="http://nodeup.com/sixtyseven" class="linktitle">NodeUp 67</a>
<span class="duration">(55m)</span>
</td><td class="date">
jul 18
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
a breach show (the browser written in js).
</td></tr>

</table>

<h3>Devtips</h3>
<div class="baseline">The tips of the week collected from Faria Dev Team ..</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://devtips.faria.co/2014-07-15-git-remerge.html" class="linktitle">Git remerge again a feature branch</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">

</td></tr>

<tr><td>
<a href="http://devtips.faria.co/2014-07-15-pagespeed-insight.html" class="linktitle">Pagespeed insight from the commandline</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">

</td></tr>

<tr><td>
<a href="http://devtips.faria.co/2014-07-16-slice-before.html" class="linktitle">slice_before for custom splits</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">

</td></tr>

<tr><td>
<a href="http://devtips.faria.co/2014-07-17-styled-checkbox.html" class="linktitle">Styled checkbox with some css</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">

</td></tr>

<tr><td>
<a href="http://devtips.faria.co/2014-07-17-browser-testing-with-sikuli.html" class="linktitle">Browser testing with Sikuli by simulating user actions</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">

</td></tr>

<tr><td>
<a href="http://devtips.faria.co/2014-07-17-gutter-color.html" class="linktitle">Gutter Color for sublimetext3</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">

</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by mose (editor), xenor (informer).</i>

</div>



</div>
</div>
