<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#023 - jul 14th 2013</h1>
</div>
<div id="templateBody">

<div>
<div class="baseline">
<h2>Edito</h2>
This week edito is going to be a geek quote: "I would love to change the world, but they won't give me the source code". Let's take 42 seconds to meditate about it.
<br>
</div>
</div>



<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://shitformakingwebsites.com/" class="linktitle">shit for making websites</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A list of resources for making websites.
</td></tr>

<tr><td>
<a href="https://codio.com/" class="linktitle">Codio</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A new web coding IDE for teaching, learning, pairing. Free for public project.
</td></tr>

<tr><td>
<a href="http://sideprojects.web3canvas.com/" class="linktitle">Side Projects</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A collection of side projects of designers and developers around the world.
</td></tr>

<tr><td>
<a href="http://jeremyckahn.github.io/stylie/" class="linktitle">Stylie</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
A CSS animation tool, for testing and exploring.
</td></tr>

<tr><td>
<a href="http://supersteil.com/work/538/538_site/" class="linktitle">Case study: 538.nl</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
An amazingly detailed case study on the UI of a website, there are a lot of good ideas to get inspired with.
</td></tr>

<tr><td>
<a href="http://www.javascriptoo.com/" class="linktitle">Javascript OO</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A directory of javascript projects, with examples.
</td></tr>

<tr><td>
<a href="http://sandbox.juan-i.com/longshadows/" class="linktitle">Long shadow generator</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
An online tool to design long shadows with css.
</td></tr>

<tr><td>
<a href="http://www.entypo.com/" class="linktitle">Entypo</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Another collection of creative commons icons.
</td></tr>

<tr><td>
<a href="http://atmedia.info/" class="linktitle">atMedia</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Quickly and effectively identify required media queries for specific devices.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://finalterm.org/" class="linktitle">Final Term</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A new advanced terminal emulator for linux with a bunch of great features.
</td></tr>

<tr><td>
<a href="http://smartinez87.github.io/exception_notification/" class="linktitle">Exception Notification</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Version 4 of this very useful tool has been released, now with more notifiers (and webhook for my irc bot!)
</td></tr>

<tr><td>
<a href="http://igor-alexandrov.github.io/blog/2013/07/11/the-way-to-wiselinks-1-dot-0/" class="linktitle">Wiselinks</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
This alternative to Turbolinks ships version 1.0, time to give it a try.
</td></tr>

<tr><td>
<a href="https://github.com/cloudsdaleapp/arcane" class="linktitle">Arcane</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Strong parameters made object oriented.
</td></tr>

<tr><td>
<a href="http://leafletjs.com/" class="linktitle">Leaflet</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A javaScript library for Mobile-Friendly Interactive Maps.
</td></tr>

<tr><td>
<a href="http://vvo.github.io/lazyload/" class="linktitle">Lazyload</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Lazyload images, iframes, widgets with a ~1kb standalone script.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://hop.ie/blog/balls/" class="linktitle">CSS Balls</a>

</td><td class="date">
jul 5
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Very cool walkthrough about making balls with CSS.
</td></tr>

<tr><td>
<a href="http://net.tutsplus.com/tutorials/javascript-ajax/developing-google-chrome-extensions/" class="linktitle">Developing Google Chrome Extensions</a>

</td><td class="date">
jul 5
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
How to write chrome extensions with just a bit of javascript and json.
</td></tr>

<tr><td>
<a href="http://hugogiraudel.com/2013/07/08/digging-into-my-slides-sass/" class="linktitle">Digging into Sass</a>

</td><td class="date">
jul 8
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
The expanded explanation from a talk about Sass, pretty detailed.
</td></tr>

<tr><td>
<a href="http://pothibo.com/2013/07/authentication-with-warden-devise-less/" class="linktitle">Authentication with Warden, devise-less</a>

</td><td class="date">
jul 8
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Devise is a great tool for authentication, but warden can be used alone for greater control.
</td></tr>

<tr><td>
<a href="http://rubysource.com/the-self-pipe-trick-explained/" class="linktitle">The Self-Pipe Trick Explained</a>

</td><td class="date">
jul 9
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
An overview of the use of Signal and IO.Pipe in foreman.
</td></tr>

<tr><td>
<a href="http://www.inserthtml.com/2013/07/css-custom-filters/" class="linktitle">CSS Custom Filters</a>

</td><td class="date">
jul 9
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Using OpenGL for doing kickass css effects with premade shaders.
</td></tr>

<tr><td>
<a href="http://toreto.re/rails-logging/" class="linktitle">Comprehensive logging with Rails</a>

</td><td class="date">
jul 10
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Setup Rails using ZeroMQ for routing log information to somewhere (elasticsearch for example).
</td></tr>

<tr><td>
<a href="http://blog.quickpeople.co.uk/2013/07/10/useful-github-patterns/" class="linktitle">Useful GitHub patterns</a>

</td><td class="date">
jul 10
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
List of use cases involving github collaboration environment.
</td></tr>

<tr><td>
<a href="https://github.com/blog/1557-github-flow-in-the-browser" class="linktitle">GitHub Flow in the Browser</a>

</td><td class="date">
jul 11
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Web-only workflow for working on github projects.
</td></tr>

<tr><td>
<a href="http://rubysource.com/build-a-sinatra-mvc-framework/" class="linktitle">Build a Sinatra MVC Framework</a>

</td><td class="date">
jul 11
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
An interesting setup for Sinatra to behave like Rails, without the weight (nor the candies).
</td></tr>

</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://www.youtube.com/watch?v=KTDsCB7ujXU" class="linktitle">The Future of Selectors</a>
<span class="duration">(34m)</span>
</td><td class="date">
jun 30
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Interesting talk at jQuery conf about selectors.
</td></tr>

<tr><td>
<a href="https://www.youtube.com/watch?v=fuiCtVchIW8" class="linktitle">Ruby Hangout with AAron Patterson</a>
<span class="duration">(1h23)</span>
</td><td class="date">
jul 10
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Talk from a front end dev at coursera.
</td></tr>

<tr><td>
<a href="https://www.youtube.com/watch?v=TgWl5HD9I88" class="linktitle">HTML5 Feature Detection & Fallback</a>
<span class="duration">(1h)</span>
</td><td class="date">
jul 12
<img class="icon" src="ico/html5.png" height="18" width="18" align="right" alt="html5" />
</td></tr>
<tr><td colspan="2" class="comment">
The monthly online meetup this time with Tenderlove, as funny as usual.
</td></tr>

</table>

<h3>Listen</h3>
<div class="baseline">What could be heard last week ..</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://learn.thoughtbot.com/podcast/56" class="linktitle">Giant robots 56</a>
<span class="duration">(37m)</span>
</td><td class="date">
jul 8
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Code in a Bubble Bath with Alex MacCaw.
</td></tr>

<tr><td>
<a href="http://episodes.gitminutes.com/2013/07/gitminutes-15-ryan-hodson-on-learning.html" class="linktitle">GitMinutes 15</a>
<span class="duration">(48m)</span>
</td><td class="date">
jul 8
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Ryan Hodson on Learning Git.
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/420-episode-384-july-9-2013" class="linktitle">Ruby5 384</a>
<span class="duration">(7m)</span>
</td><td class="date">
jul 9
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
declutter, puma, exception notifier, ettu, octopus, self-pipe.
</td></tr>

<tr><td>
<a href="http://rubyrogues.com/113-rr-devops-with-nathen-harvey/" class="linktitle">RubyRogues 113</a>
<span class="duration">(1h10)</span>
</td><td class="date">
jul 10
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
DevOps with Nathen Harvey.
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/421-episode-385-july-12th-2013" class="linktitle">Ruby5 385</a>
<span class="duration">(6m)</span>
</td><td class="date">
jul 12
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Rspec, rails security, heroku pipelines, bogus, drink menu, vinscript.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">
<i>Links curated by by mose (editor),

xenor (informer)
.</i>
</div>


<div id="rant">
<h3>Rant</h3>
<div class="baseline"><i>The random rant of the week by mose.</i></div>


</div>


</div>
</div>
