<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#054 - feb 16th 2014</h1>
</div>
<div id="templateBody">

<div>
<div class="baseline">
<h2>Edito</h2>
Argh the subscription form was broken last week after the layout upgrade on <a href="http://greenruby.org">http://greenruby.org</a>. It's fixed now. The v2 of the website is still cooking.
<br>
</div>
</div>



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://rubyheroes.com/" class="linktitle">Ruby Heroes</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
Vote for your ruby Hero.
</td></tr>

<tr><td>
<a href="http://matadornetwork.com/life/57-worlds-interesting-maps/" class="linktitle">57 maps to see the world</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
A serie of odd, funny or revealing maps of the world.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://keybase.io/" class="linktitle">Keybase</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A public directory of publicly auditable public keys. In beta.
</td></tr>

<tr><td>
<a href="http://www.hemingwayapp.com/" class="linktitle">Hemingway</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Helps you write simpler english.
</td></tr>

<tr><td>
<a href="http://sublimall.org/" class="linktitle">Sublimall</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Sync sublimetext config across platforms.
</td></tr>

<tr><td>
<a href="http://stillmaintained.com/" class="linktitle">Still maintained</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A place to mark your open source project as abandoned or looking for a new maintainer.
</td></tr>

<tr><td>
<a href="https://github.com/nickjj/orats" class="linktitle">Orats</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Opinionated rails application templates and chef cookbooks.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.elasticsearch.org/blog/1-0-0-released/" class="linktitle">Elasticsearch 1.0.0</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
That's a big number for that search engine tool.
</td></tr>

<tr><td>
<a href="http://trivelop.de/inch/" class="linktitle">Inch</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A documentation tool for the Ruby programming language.
</td></tr>

<tr><td>
<a href="http://robots.thoughtbot.com/announcing-gitsh" class="linktitle">Git sh</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A dedicated shell just for your Git commands.
</td></tr>

<tr><td>
<a href="https://github.com/cbumgard/GitCommitMsg" class="linktitle">Git commit msg</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Sublimetext plugin to show the git commit history for one or more lines of code.
</td></tr>

<tr><td>
<a href="https://github.com/jorgemanrubia/forceps" class="linktitle">Forceps</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Copy active record models from remote databases.
</td></tr>

<tr><td>
<a href="http://jejacks0n.github.io/mercury/" class="linktitle">Mercury</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A full featured HTML5 editor as a rails engine.
</td></tr>

<tr><td>
<a href="http://instantclick.io/" class="linktitle">InstantClick</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A js trick to begin preloading pages on hover.
</td></tr>

<tr><td>
<a href="http://www.aptly.info/" class="linktitle">Aptly</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Swiss army knife for Debian repository management, for mirroring and snapshooting.
</td></tr>

<tr><td>
<a href="https://github.com/dcm-oss/blockade" class="linktitle">Blockade</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
A docker utility for testing network failures. Like putting a chaos monkey in a cage.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.agilesysadmin.net/stubs-and-doubles-in-chefspec" class="linktitle">Using Test Doubles in ChefSpec</a>

</td><td class="date">
feb 8
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
How to use stubs and test doubles when testing Chef cookbooks.
</td></tr>

<tr><td>
<a href="http://mattgreer.org/articles/promises-in-wicked-detail/" class="linktitle">JavaScript Promises in Wicked Detail</a>

</td><td class="date">
feb 9
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
All you need to know about promises.
</td></tr>

<tr><td>
<a href="http://patshaughnessy.net/2014/2/10/use-an-ask-dont-tell-policy-with-ruby" class="linktitle">Use An Ask, Don’t Tell Policy With Ruby</a>

</td><td class="date">
feb 10
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
An example from Pat about the ask-dont-tell pattern.
</td></tr>

<tr><td>
<a href="http://tech.taskrabbit.com/blog/2014/02/11/rails-4-engines/" class="linktitle">Rails 4 Engines</a>

</td><td class="date">
feb 11
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Split your app in many apps with engines.
</td></tr>

<tr><td>
<a href="http://programming.oreilly.com/2014/02/why-ruby-blocks-exist.html" class="linktitle">Why Ruby blocks exist</a>

</td><td class="date">
feb 12
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Demonstration of usage of ruby blocks.
</td></tr>

<tr><td>
<a href="http://words.steveklabnik.com/is-npm-worth-26mm" class="linktitle">Is npm worth $2.6MM?</a>

</td><td class="date">
feb 12
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Interesting opinion of Steve Klabnik about the recent npm fundraising.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/upgrading-mind-rails-4/" class="linktitle">Upgrading Your Mind to Rails 4</a>

</td><td class="date">
feb 13
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Sharing of an experience jumping to rails 4.
</td></tr>

<tr><td>
<a href="http://www.amberbit.com/blog/2014/2/14/putting-ruby-on-rails-on-a-diet/" class="linktitle">Putting Ruby on Rails on a diet</a>

</td><td class="date">
feb 14
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
The bloat is not a fatality, here is how to cut the fat.
</td></tr>

</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.youtube.com/watch?v=s0RxjHs0cwk" class="linktitle">Phoenix web framework for Elixir</a>
<span class="duration">(40m)</span>
</td><td class="date">
feb 4
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Presentation about the Elixir Web Framework.
</td></tr>

</table>

<h3>Listen</h3>
<div class="baseline">What could be heard last week ..</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://podcasts.thoughtbot.com/giantrobots/85" class="linktitle">Giant robots #85</a>
<span class="duration">(40m)</span>
</td><td class="date">
feb 10
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
I Want These Ideas To Be Free (Max Temkin).
</td></tr>

<tr><td>
<a href="http://www.arresteddevops.com/2014/02/10/devops-mythbusters/" class="linktitle">Arreted devops 6</a>
<span class="duration">(1h09)</span>
</td><td class="date">
feb 10
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
DevOps Mythbusters.
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/475-episode-439-february-11th-2014" class="linktitle">Ruby5 439</a>
<span class="duration">(7m)</span>
</td><td class="date">
feb 11
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Structuring sinatra, activerestclient, env!, foreman, nooseX, rubyheroes.
</td></tr>

<tr><td>
<a href="http://rubyrogues.com/143-rr-passenger-enterprise-with-tinco-andringa-and-hongli-lai/" class="linktitle">Ruby Rogues 143</a>
<span class="duration">(44m)</span>
</td><td class="date">
feb 12
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Passenger Enterprise with Tinco Andringa and Hongli Lai.
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/476-episode-440-february-14th-2014" class="linktitle">Ruby5 440</a>
<span class="duration">(5m)</span>
</td><td class="date">
feb 14
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Postgresql, gitsh, ask ruby, activity feed, facets.
</td></tr>

<tr><td>
<a href="http://javascriptjabber.com/096-jsj-the-challenges-of-large-single-page-javascript-applications-with-bart-wood/" class="linktitle">Javascript Jabber 096</a>
<span class="duration">(45m)</span>
</td><td class="date">
feb 14
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
The Challenges of Large Single Page JavaScript Applications with Bart Wood.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">
<i>Links curated by by mose (editor),

xenor (informer)
.</i>
</div>


<div id="rant">
<h3>Rant</h3>
<div class="baseline"><i>The random rant of the week by mose.</i></div>


</div>


</div>
</div>
