<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#136 - sep 13th 2015</h1>
</div>
<div id="templateBody">



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.manycities.org/" class="linktitle">Manycities</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Spatio-temporal patterns of mobile phone activity in cities aroun dthe world.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://www.kickstarter.com/projects/909377477/rails-composer-with-rails-tutorials" class="linktitle">Rails Composer with Rails Tutorials</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Our friend Daniel Kehoe launched a kickstarter for his next move..
</td></tr>

<tr><td>
<a href="http://httpbin.org/" class="linktitle">httpbin</a>

</td><td class="date">

<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
HTTP Client Testing Service.
</td></tr>

<tr><td>
<a href="http://pages.cs.wisc.edu/~remzi/OSTEP/" class="linktitle">Operating Systems: Three Easy Pieces</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
(book) free online operating systems book.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://camaleon.tuzitio.com/" class="linktitle">Camaleon CMS</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Advanced content management system based on Ruby on Rails 4 as an alternative to Wordpress.
</td></tr>

<tr><td>
<a href="https://github.com/michelson/chaskiq" class="linktitle">chaskiq</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Newsletter Rails engine.
</td></tr>

<tr><td>
<a href="http://livingstyleguide.org/" class="linktitle">Living style guide</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Create front-end style guides with Sass and markdown.
</td></tr>

<tr><td>
<a href="https://github.com/hothero/wpdb_activerecord" class="linktitle">wpdb_activerecord</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Wrapper for the WordPress database, using ActiveRecord.
</td></tr>

<tr><td>
<a href="https://github.com/rauchg/slackin" class="linktitle">slackin</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Public Slack organizations made easy.
</td></tr>

<tr><td>
<a href="http://telepat.io/" class="linktitle">Telepat</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Open-source backend stack, designed to deliver information and information updates in real-time to clients.
</td></tr>

<tr><td>
<a href="http://risq.github.io/jquery-advanced-news-ticker/" class="linktitle">JQuery Advanced News Ticker</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Animated vertical news ticker plugin for JQuery.
</td></tr>

<tr><td>
<a href="https://github.com/miekg/dinit" class="linktitle">dinit</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
An init for use inside Docker containers.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.sitepoint.com/build-apis-with-napa/" class="linktitle">Build APIs with Napa</a>

</td><td class="date">
sep 7
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Scaffolding your API by napa.
</td></tr>

<tr><td>
<a href="http://www.justinweiss.com/blog/2015/09/08/keeping-your-logs-from-becoming-an-unreadable-mess" class="linktitle">Keeping your logs from becoming an unreadable mess</a>

</td><td class="date">
sep 8
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
By tagging you log using Rails TaggedLogging.
</td></tr>

<tr><td>
<a href="https://medium.com/@anonyo/kill-the-if-statement-or-conditional-in-ruby-with-polymorphism-a3a6f1b64e8d" class="linktitle">Kill the conditional in Ruby with polymorphism</a>

</td><td class="date">
sep 8
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A simple way to get more object logics in ruby code.
</td></tr>

<tr><td>
<a href="https://www.madetech.com/blog/pros-and-cons-of-ruby-on-rails" class="linktitle">Pros and Cons of Ruby on Rails</a>

</td><td class="date">
sep 8
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Find out why Ruby on Rails just might be the way forward for you and your modern web application.
</td></tr>

<tr><td>
<a href="http://www.leighhalliday.com/understanding-method-missing" class="linktitle">Understanding method missing</a>

</td><td class="date">
sep 8
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
How method_missing and respond_to_missing? work by looking at the StringInquirer class of Ruby on Rails.
</td></tr>

<tr><td>
<a href="http://radar.oreilly.com/2015/09/better-code-is-cheaper.html" class="linktitle">Better code is cheaper</a>

</td><td class="date">
sep 9
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Summary of a podcast by O'Reily praising the benefits of quality code.
</td></tr>

<tr><td>
<a href="http://blog.honeybadger.io/ditching-your-single-page-app-for-turbolinks/" class="linktitle">Ditching your single page app for…turbolinks?</a>

</td><td class="date">
sep 9
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A lot of hate for turbolinks, but still, they can bring some power.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/promises-in-javascript-unit-tests-the-definitive-guide/" class="linktitle">Promises in JavaScript Unit Tests: the Definitive Guide</a>

</td><td class="date">
sep 9
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Despite making asynchronous code simpler, dealing with promises in unit tests is a hassle.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/guard-and-docker/" class="linktitle">Happy Ending: An Epic Saga of Guard and Docker</a>

</td><td class="date">
sep 10
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
I’ve never liked how projects pollute my system.
</td></tr>

<tr><td>
<a href="http://techblog.realestate.com.au/hunting-down-memory-issues-in-rails/" class="linktitle">Hunting Down Memory Issues in Rails</a>

</td><td class="date">
sep 11
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
rbtrace and ruby_jmeter for the win.
</td></tr>

<tr><td>
<a href="http://theartandscienceofruby.com/2015/09/11/switching-from-rspec-to-minitest/" class="linktitle">Switching from RSpec to Minitest</a>

</td><td class="date">
sep 11
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Some tips to assist you in the migration.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by mose (publisher), xenor, tysliu (editors)

.</i>

</div>


<div id="rant">
<h3>Rant</h3>
<div class="baseline"><i>The random rant of the week by mose.</i></div>
<h4>Rubyconf TW</h4>

<p>So these last 2 days we went to <a href="http://2015.rubyconf.tw/">RubyConfTW</a> here in Taipei, like every year. At that occasion I kinda forced my buddies to take part in this rant section. So, that occasion of meeting the ruby community was as usual very enjoyable. Year after year we see the same people, the community is solid and persistent.</p>

<p>Like last years Matz was here and he talked about ruby 3 and, that was a surprise to me, he talked about getting rid of the GIL very soon. That GIL topic has been a taboo for so many years. Getting rid off it can change the position of ruby in the family of the major scripting languages. He also defined laziness as one of the 3 required characteristics of a good coder. I'm not sure there is anything mainstream about those 3 qualities but for a long time I had my set of 3 requirements to evaluate a good coder and laziness was in it. maybe I will develop more about it in another rant.</p>

<p>During this conference I also had the occasion to hear a lot of direct feedback from friends of Green Ruby. For example we have an irc channel but many people are not that comfortable with that chat system from another century and would prefer a slack room. As a matter of fact we have such a room, but we forgot about it for the past year. It's alive again, feel free to send a request for invite to news at greenruby.org to join <a href="http://greenruby.slack.com">http://greenruby.slack.com</a>. It's open to everybody.</p>

<h4>Rubyconftw by xenor</h4>

<p>Hey I'm xenor and this is my first rant in Green Ruby News about (and not about) <a href="http://2015.rubyconf.tw/">rubyconftw</a>.</p>

<p>I work in a ruby shop and manage a couple of people, and I am recently feeling burned-out. It affects motivation and productivity. I am in a position which involves watching over colleagues output. But I also have my own coding projects ongoing.</p>

<p>At first it's great and challenging. But after half a year, it starts to bite me back. I get tired and anxious about not meeting my goal at the end of the day while checking others progress. I also need more breaks than usual. The typical burn-out syndrome.</p>

<p>Rubyconf gave me a break so that I can rethink what I was doing and how I can evaluate things around me. During the conference, I found some time to do <a href="https://github.com/tubaxenor/squeezer">side project</a>. This really helps and re-motivates me on programming (I believe this could be called 'Conference Driven Development')</p>

<p>You might wonder why I didn't say anything about the talks. Actually, talks are just as great as all other conferences, and can be watched on the recordings that they will post soon. But the most important part is really the atmosphere of encouragement to try and learn something new.</p>

<h4>Rubyconftw by tysliu</h4>

<p>Greetings. This is tysliu and this is also my first rant and my experience from going to 2015 Rubyconf TW.</p>

<p>The main benefit from attending rubyconf this year is that I said hello to more people. I met past colleagues and also new people. It feels nice to see familiar faces and catch up.</p>

<p>The most interesting talk for me this years was tenderlove's talk. It was about how he attacked the issue of making Rails HTTP2 friendly. Basically, Rails at the moment is not http2 compatible. This is due the the current architecture of Rails and implementation of rack middlewares. During the talk he was able to demo a prototype Rails that is H2 friendly.</p>

<p>The best news for Rails developers is that there are plans to for making HTTP 2 compatibility available in Rails 5.</p>

</div>


</div>
</div>
