<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#219 - apr 16th 2017</h1>
</div>
<div id="templateBody">



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://www.webvrexperiments.com/" class="linktitle">WebVR Experiments</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Some WebVR experiments by Google.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/brunofacca/zen-rails-security-checklist" class="linktitle">Zen Rails Security Checklist</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
This document provides a list of security measures to be implemented when developing a Ruby on Rails application.
</td></tr>

<tr><td>
<a href="https://github.com/lulalala/rails_error_api_redesign" class="linktitle">Rails_error_api_redesign</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Gathering some proposals for rails to improve their error API.
</td></tr>

<tr><td>
<a href="https://codesandbox.io/" class="linktitle">CodeSandbox</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
An online editor for React projects.
</td></tr>

<tr><td>
<a href="http://griddy.io" class="linktitle">Griddy</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Learn the CSS Grid Spec.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/github/github-ds" class="linktitle">GitHub::DS</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
GitHub::DS is a collection of Ruby libraries for working with SQL on top of ActiveRecord's connection.
</td></tr>

<tr><td>
<a href="https://github.com/nickelser/zhong" class="linktitle">Zhong</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Distributed cron using redis.
</td></tr>

<tr><td>
<a href="https://github.com/shugo/textbringer" class="linktitle">Textbringer</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
An Emacs-like text editor written in Ruby.
</td></tr>

<tr><td>
<a href="https://github.com/goruby/goruby" class="linktitle">Goruby</a>

</td><td class="date">

<img class="icon" src="ico/go.png" height="18" width="18" align="right" alt="go" />
</td></tr>
<tr><td colspan="2" class="comment">
An implementation of Ruby written in Go.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://www.smashingmagazine.com/2017/04/guide-http2-server-push/" class="linktitle">A Comprehensive Guide To HTTP/2 Server Push</a>

</td><td class="date">
apr 10
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Explain ow does server push work and how it helps performance.
</td></tr>

<tr><td>
<a href="https://cloudplatform.googleblog.com/2017/04/the-state-of-Ruby-on-Google-Cloud-Platform.html" class="linktitle">The state of Ruby on Google Cloud Platform</a>

</td><td class="date">
apr 11
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Seems Google Cloud Platform is ready for ruby developers to do some real things.
</td></tr>

<tr><td>
<a href="https://blog.codeship.com/writing-efficient-queries/" class="linktitle">Writing Efficient Queries</a>

</td><td class="date">
apr 12
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Some rules to wirte sufficient rails queries.
</td></tr>

<tr><td>
<a href="https://www.schneems.com/2017/04/12/jumping-off-the-memory-cliff/" class="linktitle">Jumping Off The Ruby Memory Cliff</a>

</td><td class="date">
apr 12
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
The memory use of a healthy app is like the heartbeat of a patient - regular and predictable.
</td></tr>

<tr><td>
<a href="http://www.cheynewallace.com/deduplicating-large-data-with-rails/" class="linktitle">Deduplicating Large Data With Rails</a>

</td><td class="date">
apr 12
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Using MD5 checksum as uniqueness constraint for data.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by xenor (publisher), tysliu (editors)
.</i>

</div>



</div>
</div>
