<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#190 - sep 25th 2016</h1>
</div>
<div id="templateBody">



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.kikk.be/2016/" class="linktitle">KIKK Festival</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
KIKK Festival is a mix of technology, visual arts, music, Architecture, design and interactive media
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://www.skylight.io/" class="linktitle">Skylight</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Web app profiling tool.
</td></tr>

<tr><td>
<a href="https://cloudhero.io/" class="linktitle">CloudHero</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Secure Docker Container as a Service For Developers (beta, free container for now).
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/ankane/pgslice" class="linktitle">pgslice</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Postgres partitioning tool.
</td></tr>

<tr><td>
<a href="https://github.com/antulik/pagelet_rails" class="linktitle">Pagelet_rails</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Improve perceived performance of your rails application with minimum effort
</td></tr>

<tr><td>
<a href="https://github.com/molybdenum-99/tlaw" class="linktitle">Tlaw</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Pragmatic API wrapper framework.
</td></tr>

<tr><td>
<a href="https://github.com/nolanlawson/optimize-js" class="linktitle">Optimize-js</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Optimize a JavaScript file for faster initial load by wrapping eagerly-invoked functions
</td></tr>

<tr><td>
<a href="https://github.com/alexflint/gallium" class="linktitle">Gallium</a>

</td><td class="date">

<img class="icon" src="ico/go.png" height="18" width="18" align="right" alt="go" />
</td></tr>
<tr><td colspan="2" class="comment">
Build desktop applications in Go and HTML. Kinda like Electron.
</td></tr>

<tr><td>
<a href="https://github.com/purcell/sqlint" class="linktitle">Sqlint</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Simple SQL linter
</td></tr>

<tr><td>
<a href="https://github.com/codevise/pageflow" class="linktitle">Pageflow</a>

</td><td class="date">

<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Multimedia story telling for the web.
</td></tr>

<tr><td>
<a href="http://bedquiltdb.github.io/v2.html" class="linktitle">BedquiltDB</a>

</td><td class="date">

<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
JSON document-store built on PostgreSQL.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://blog.mechanicles.com/2016/09/19/microservices-using-rails-http-and-rabbitmq.html" class="linktitle">Microservices using Rails, HTTP and RabbitMQ</a>

</td><td class="date">
sep 19
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Example of decoupling an app to micro services.
</td></tr>

<tr><td>
<a href="http://thomasleecopeland.com/2016/09/20/programs-that-rewrite-ruby-programs.html" class="linktitle">Programs that rewrite Ruby programs</a>

</td><td class="date">
sep 20
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Several gems that convert or edit your code based on syntax upgrade or linting.
</td></tr>

<tr><td>
<a href="http://blog.excelwithcode.com/drying-ruby-module.html" class="linktitle">DRYing Up Your Ruby Module</a>

</td><td class="date">
sep 20
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Refactor a Ruby module and see the DRY principle in action
</td></tr>

<tr><td>
<a href="https://www.smashingmagazine.com/2016/09/understanding-rest-and-rpc-for-http-apis/" class="linktitle">Understanding REST And RPC For HTTP APIs</a>

</td><td class="date">
sep 20
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Knowing the differences between REST and RPC.
</td></tr>

<tr><td>
<a href="https://mkdev.me/en/posts/a-couple-of-words-about-interactors-in-rails" class="linktitle">A couple of words about interactors in Rails</a>

</td><td class="date">
sep 21
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
How to structure a Ruby on Rails applications following Domain Driven Design.
</td></tr>

<tr><td>
<a href="https://medium.com/@iamjordanlittle/9-underutilized-features-in-css-90ced6ddbfe7#.uppu161j8" class="linktitle">9 Underutilized Features in CSS</a>

</td><td class="date">
sep 22
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
There are many old, often-overlooked features in CSS specs which offer some very handy functionality.
</td></tr>

<tr><td>
<a href="https://medium.com/ideo-stories/chatbots-ultimate-prototyping-tool-e4e2831967f3" class="linktitle">Chatbots: Your Ultimate Prototyping Tool</a>

</td><td class="date">
sep 22
<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
How chatbots can teach us to learn what people need when designing products and services.
</td></tr>

</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://www.youtube.com/watch?v=xXWaECk9XqM" class="linktitle">The Container Revolution: Reflections After the First Decade</a>

</td><td class="date">
sep 18
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Bryan Cantrill, CTO at Joyent The Container Revolution: Reflections After the First Decade The meteoric rise of Docker brought containers into the limelight.
</td></tr>

<tr><td>
<a href="https://www.youtube.com/watch?v=4Pd9NrZSbGU" class="linktitle">Applying Graph Theory to Infrastructure</a>

</td><td class="date">
sep 18
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Paul Hinze, Director of Infrastructure at HashiCorp Applying Graph Theory to Infrastructure.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by mose (publisher), xenor (editors), 
xenor, hsatac (contributors)
.</i>

</div>


<div id="rant">
<h3>Rant</h3>

<div class="baseline"><i>The random rant of the week by mose.</i></div>
<h4>A stress-free life</h4>

<p>Next friday, I've been told that I have to stop working for 2 weeks. Well, for people that have a normal life and/or kids, it's a pretty good news. For people that get heavy pressure from their work, it can give some air. But I wondered why I didn't feel like I ever felt the need for holidays. I take them by principle, but I'm usually not really eager to get them.</p>

<p>After some consideration, it all sums up to some kind of discipline. I refuse stress on a daily basis. I want each day at work to be enjoyable and debt-free. It's a bad news for some category of employers. The same way those consider it's acceptable to accumulate technical debt, they apply the same principle on human-life debt. Put people under pressure, get a loan on their health, that will never be repaid. So, I just refuse pressure, the same way I would refuse to eat meat if I was really vegetarian (which I am only part-time).</p>

<p>Really I have more trouble with holidays because they bring a gap in the continuity of work. You get back and there is a lot to catch up on. I would prefer to have just one hour work less per day than week-long breaks. But that's just me. It would be totally different if I wanted to travel for fun or if I had kids. My case is not reproducible.</p>

<p>But the baseline remains valid. whether you have plans or not for holidays, they should not be required for having a balanced life. Stress has to be fought on a daily basis and not by using breaks. Breaks, in such case, are even more enjoyable, if you have the context for it.</p>

<p>The best way I know to push stress away is to put my efforts into what I do, in a way that I'm self-aware that I'm really doing what I can to fulfill my duties. If someone is not happy about the output, that's their problem not mine. If it leads to some awkward context, then it's broken and I will reach out to find a better work context. I apply that principle for more than 20 years now and I can't remember last time I felt stressed.</p>

</div>


</div>
</div>
