<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#223 - may 14th 2017</h1>
</div>
<div id="templateBody">



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://truff.co/" class="linktitle">Trüff</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Beautiful animated illustration.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://urivalet.com/" class="linktitle">URI Valet</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Check server headers.
</td></tr>

<tr><td>
<a href="https://outline.com/" class="linktitle">Outline</a>

</td><td class="date">

<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Only keep related content for a website.
</td></tr>

<tr><td>
<a href="http://www.archetypeapp.com/" class="linktitle">Archetype</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Digital typography design Tool using Google web fonts.
</td></tr>

<tr><td>
<a href="https://zeplin.io" class="linktitle">Zeplin</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Collaboration app for UI designers and frontend developers.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/molybdenum-99/mediawiktory" class="linktitle">Mediawiktory</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Full-featured MediaWiki client.
</td></tr>

<tr><td>
<a href="https://github.com/yandex/gixy" class="linktitle">Gixy</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Nginx configuration static analyzer.
</td></tr>

<tr><td>
<a href="https://github.com/tensorflow/models/tree/master/syntaxnet" class="linktitle">Syntaxnet</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A transition-based framework for natural language processing.
</td></tr>

<tr><td>
<a href="https://material.io/components/" class="linktitle">Material Components</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Modular and customizable Material Design UI components.
</td></tr>

<tr><td>
<a href="https://rosid.electerious.com/" class="linktitle">Rosid</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Just-in-time server and static site generator written in Node.js.
</td></tr>

<tr><td>
<a href="https://github.com/Rich-Harris/butternut" class="linktitle">Butternut</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Fast js minifier.
</td></tr>

<tr><td>
<a href="https://github.com/vesparny/fair-analytics" class="linktitle">Fair-analytics</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
An analytics server that doesn't undermine user's privacy.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://robots.thoughtbot.com/untangling-ruby-threads" class="linktitle">Untangling Ruby Threads</a>

</td><td class="date">
may 8
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Thread class can be a simple and effective way of improving the performance of I/O bound code in some scenarios.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by xenor (publisher), xenor (editors)
.</i>

</div>


<div id="rant">
<h3>Rant</h3>

<div class="baseline"><i>The random rant of the week by xenor.</i></div>
<h4>Meaning of death</h4>

<p>Recently I've lost 3 family members in 5 years, accident, age, and sickness. One night, my 5 years old son asked me: "Where are we going after death? How does it feel like?" Here are my answers: "You are not going anywhere, and it feels like void."</p>

<p>Death means blood stop moving, and brain stops working, what's after are all imaginations or willings from others instead of the dead. From heaven to hell, from funeral to tomb, everything is to comfort or satisfy the livings, no matter which religion or belief.</p>

<p>Do not spend time on things that's already ended, move on and have your last days worth living.</p>

</div>


</div>
</div>
