<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#070 - jun 8th 2014</h1>
</div>
<div id="templateBody">

<div>
<div class="baseline">
<h2>Edito</h2>
This week I'm adding at the very bottom the <a href="http://devtips.faria.co">devtips</a> of the week. I had some positive feedback about them. So adding quick links may be of interest because they cover the same fullstack webdev topics as this newsletter.
<br>
</div>
</div>



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.buildinamsterdam.com/" class="linktitle">Build in Amsterdam</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
A design company website, with neat navigation.
</td></tr>

<tr><td>
<a href="http://airtype.io/" class="linktitle">Airtype</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
The keyless keyboard of the future.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://sysadmincasts.com/" class="linktitle">Sysadmin Casts</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
imple bite sized sysadmin screencasts (released weekly).
</td></tr>

<tr><td>
<a href="http://www.techtalkshub.com/" class="linktitle">Tech Talks Hub</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A listing of Tech Talks.
</td></tr>

<tr><td>
<a href="http://www.theodinproject.com/" class="linktitle">The Odin Project</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Online free courses to learn all about webdev.
</td></tr>

<tr><td>
<a href="http://shapecatcher.com/" class="linktitle">Shape Catcher</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Unicode character recognition: draw the shape, it gives the code.
</td></tr>

<tr><td>
<a href="http://www.flexjobs.com/" class="linktitle">FlexJobs</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Look for a remote job? give that one a look.
</td></tr>

<tr><td>
<a href="http://www.gembundle.com/" class="linktitle">GemBundle</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A discovery engine for ruby gems (work in progress).
</td></tr>

<tr><td>
<a href="https://gonative.io/" class="linktitle">Go Native</a>

</td><td class="date">

<img class="icon" src="ico/mobile.png" height="18" width="18" align="right" alt="mobile" />
</td></tr>
<tr><td colspan="2" class="comment">
Transform any website in native code for iOS and android.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://myronmars.to/n/dev-blog/2014/06/rspec-2-99-0-and-3-0-0-have-been-released" class="linktitle">Rspec 3</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Tons of great new features.
</td></tr>

<tr><td>
<a href="http://brakemanscanner.org/blog/2014/06/06/brakeman-2-dot-6-0-released/" class="linktitle">Brakeman 2.6.0</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
This release introduces significant changes to how and when files are parsed.
</td></tr>

<tr><td>
<a href="https://github.com/dawn/dawn" class="linktitle">Dawn</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Docker-based PaaS in Ruby.
</td></tr>

<tr><td>
<a href="https://github.com/coolacid/logstash-pluginbase" class="linktitle">Logstash pluginbase</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
A base repo to make Logstash plugins.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://medium.com/@pereiragoncalo/setting-up-for-infrastructure-development-1ab67b721ff9" class="linktitle">Setting up for infrastructure development</a>

</td><td class="date">
jun 2
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Local MacOSX environment for development and testing with Test Kitchen and Vagrant.
</td></tr>

<tr><td>
<a href="http://blog.sharetribe.com/2014/06/02/option-pattern-maybe-monad-in-ruby/" class="linktitle">Option pattern in Ruby</a>

</td><td class="date">
jun 2
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Examples use the Possibly gem.
</td></tr>

<tr><td>
<a href="http://blog.motioninmotion.tv/why-swift-will-never-replace-rubymotion" class="linktitle">Why Swift Will Never Replace RubyMotion</a>

</td><td class="date">
jun 3
<img class="icon" src="ico/mobile.png" height="18" width="18" align="right" alt="mobile" />
</td></tr>
<tr><td colspan="2" class="comment">
Swift from Apple makes a buzz in iOS dev, but rubymotion is not going to die.
</td></tr>

<tr><td>
<a href="http://www.talkingquickly.co.uk/2014/06/rails-development-environment-with-vagrant-and-docker/" class="linktitle">A Rails Development Environment with Docker and Vagrant</a>

</td><td class="date">
jun 3
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
How-to for setting up a rails dev env.
</td></tr>

<tr><td>
<a href="http://tenderlovemaking.com/2014/06/04/yagni-methods-slow-us-down.html" class="linktitle">YAGNI methods slow us down</a>

</td><td class="date">
jun 4
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
OutputBuffer subclasses SafeBuffer which forces us to do runtime checks that are probably unnecessary.
</td></tr>

<tr><td>
<a href="http://aaronlasseigne.com/2014/06/04/know-ruby-string-accessor/" class="linktitle">Know Ruby: String Accessor</a>

</td><td class="date">
jun 4
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Deep dive into the use of [] with strings.
</td></tr>

<tr><td>
<a href="http://codecrate.com/2014/06/toolbox-bundler-group.html" class="linktitle">The Toolbox Bundler Group</a>

</td><td class="date">
jun 4
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A clever approach for managing Gemfile content.
</td></tr>

<tr><td>
<a href="https://github.com/blog/1845-psd-viewing-diffing" class="linktitle">PSD Viewing & Diffing on github</a>

</td><td class="date">
jun 5
<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Now gitub supports diff on photoshop files.
</td></tr>

<tr><td>
<a href="http://www.kcoleman.me/blog/2014/06/05/rails-4-dot-1-enums-how-not-to-handle-states/" class="linktitle">Rails 4.1 Enums: How Not to Handle States</a>

</td><td class="date">
jun 5
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Shout out against blind enum state machines.
</td></tr>

<tr><td>
<a href="http://www.jovicailic.org/2014/06/the-history-of-vim/" class="linktitle">The History of Vim</a>

</td><td class="date">
jun 5
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Small recap of where vim comes from, in preparation of a new vim book.
</td></tr>

<tr><td>
<a href="http://ccsinjection.lepidum.co.jp/blog/2014-06-05/CCS-Injection-en/index.html" class="linktitle">How I discovered CCS Injection Vulnerability</a>

</td><td class="date">
jun 5
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
History of the discovery of CVE-2014-0224 from last week.
</td></tr>

<tr><td>
<a href="http://updates.html5rocks.com/2014/06/Automating-Web-Performance-Measurement" class="linktitle">Automating Web Performance Measurement</a>

</td><td class="date">
jun 6
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
The PageSpeed Insights as a node module.
</td></tr>

</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://channel9.msdn.com/Events/Lang-NEXT/Lang-NEXT-2014/From-Parallel-to-Concurrent" class="linktitle">From Parallel to Concurrent</a>
<span class="duration">(42m)</span>
</td><td class="date">
may 29
<img class="icon" src="ico/go.png" height="18" width="18" align="right" alt="go" />
</td></tr>
<tr><td colspan="2" class="comment">
Talk of Rob Pike about Golang.
</td></tr>

<tr><td>
<a href="http://www.centurylinklabs.com/interview-with-deis-cto-gabriel-monroy/" class="linktitle">Interview with Deis CTO, Gabriel Monroy</a>
<span class="duration">(32m)</span>
</td><td class="date">
jun 2
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Learn more about docker for PaaS.
</td></tr>

<tr><td>
<a href="http://www.youtube.com/watch?v=djQh8XKRzRg&feature=youtu.be" class="linktitle">Introducing the Polymer Designer tool</a>
<span class="duration">(18m)</span>
</td><td class="date">
jun 2
<img class="icon" src="ico/html5.png" height="18" width="18" align="right" alt="html5" />
</td></tr>
<tr><td colspan="2" class="comment">
Polymer has an IDE now.
</td></tr>

<tr><td>
<a href="http://blog.dataloop.io/2014/06/03/doxlon-devops-exchange-may-14-deployment-with-containers/" class="linktitle">#DOXLON DevOps Exchange – Deployment with Containers</a>
<span class="duration">(3 videos)</span>
</td><td class="date">
jun 3
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Polymer has an IDE now.
</td></tr>

<tr><td>
<a href="http://devops.com/blogs/using-docker-ansible/" class="linktitle">Using Docker & Ansible by John Minnihan</a>
<span class="duration">(32m)</span>
</td><td class="date">
jun 4
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Video from the DevOps track at Gluecon 2014.
</td></tr>

<tr><td>
<a href="http://www.centurylinklabs.com/simple-introduction-to-coreos-with-ceo-alex-polvi-and-cto-brandon-philips/" class="linktitle">Simple introduction to CoreOS</a>
<span class="duration">(33m)</span>
</td><td class="date">
jun 6
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Interview with the CEO and CTO of CoreOS, Alex Polvi and Brandon Philips.
</td></tr>

</table>

<h3>Listen</h3>
<div class="baseline">What could be heard last week ..</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://podcasts.thoughtbot.com/giantrobots/101" class="linktitle">Giant robots #101</a>
<span class="duration">(39m)</span>
</td><td class="date">
jun 2
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Developing Skills (Alex Fox, Jatin Bhandari).
</td></tr>

<tr><td>
<a href="http://blog.producthunt.com/post/87694345879/product-hunt-radio-episode-8" class="linktitle">Product Hunt Radio 8</a>
<span class="duration">(37m)</span>
</td><td class="date">
jun 3
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
About betaworks new mobile game, anonymous social apps in schools, various other things.
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/506-episode-469-june-3rd-2014" class="linktitle">Ruby5 469</a>
<span class="duration">(7m)</span>
</td><td class="date">
jun 3
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
RSpec 3, Git 2, bower-rails, JSON responses with PostgreSQL, serialization & enumeration.
</td></tr>

<tr><td>
<a href="http://rubyrogues.com/159-rr-hacking-education-with-saron-yitbarek/" class="linktitle">Ruby Rogues 159</a>
<span class="duration">(1h26)</span>
</td><td class="date">
jun 4
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Hacking Education with Saron Yitbarek.
</td></tr>

<tr><td>
<a href="http://javascriptjabber.com/111-jsj-the-ember-js-project-with-erik-bryn/" class="linktitle">Javascript Jabber 111</a>
<span class="duration">(1h08)</span>
</td><td class="date">
jun 4
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
The Ember.js Project with Erik Bryn.
</td></tr>

<tr><td>
<a href="http://foodfightshow.org/2014/06/chef-metal.html" class="linktitle">Food Fight Show june 2014</a>
<span class="duration">(1h12)</span>
</td><td class="date">
jun 4
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Chef Metal with it's creator, John Keiser.
</td></tr>

<tr><td>
<a href="http://5by5.tv/rubyonrails/153" class="linktitle">Ruby on Rails Podcast #153</a>
<span class="duration">(1h11)</span>
</td><td class="date">
jun 5
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Ben Hundley - elasticsearch & Qbox.
</td></tr>

<tr><td>
<a href="http://blog.codepen.io/2014/06/05/014-security/" class="linktitle">Code Pen 014</a>
<span class="duration">(34m)</span>
</td><td class="date">
jun 5
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Security in Codepen.
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/507-episode-470-june-6th-2014" class="linktitle">Ruby5 470</a>
<span class="duration">(5m)</span>
</td><td class="date">
jun 6
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Rails and Sinatra, Protocol Buffers, HTTP API design, dat science.
</td></tr>

</table>

<h3>Devtips</h3>
<div class="baseline">The tips of the week collected from Faria Dev Team ..</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://devtips.faria.co/2014-06-07-wrap-nil-with-try.html" class="linktitle">Wrap nil with try and avoid errors</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">

</td></tr>

<tr><td>
<a href="http://devtips.faria.co/2014-06-05-codemirror-for-mail-template.html" class="linktitle">Codemirror for mail templates and limit user errors</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">

</td></tr>

<tr><td>
<a href="http://devtips.faria.co/2014-06-04-git-2-push.html" class="linktitle">Git 2 push from matching to simple</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">

</td></tr>

<tr><td>
<a href="http://devtips.faria.co/2014-06-04-fs_usage-debug.html" class="linktitle">fs_usage debug for js compilation</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">

</td></tr>

<tr><td>
<a href="http://devtips.faria.co/2014-06-04-photoshop-custom-sharpen.html" class="linktitle">Photoshop custom sharpen with a cloned overlay</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">

</td></tr>

<tr><td>
<a href="http://devtips.faria.co/2014-06-04-media-queries-from-sratch.html" class="linktitle">Media queries from scratch because small is beautiful</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">

</td></tr>

<tr><td>
<a href="http://devtips.faria.co/2014-06-04-vim-leader-key.html" class="linktitle">Vim leader key from outer space</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">

</td></tr>

<tr><td>
<a href="http://devtips.faria.co/2014-06-04-make-a-gem.html" class="linktitle">Make a gem it's simpler than what it looks</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">

</td></tr>

<tr><td>
<a href="http://devtips.faria.co/2014-06-04-restore-user-data.html" class="linktitle">Restore user data from a mysql db</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">

</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by mose (editor).</i>

</div>



</div>
</div>
