<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#193 - oct 16th 2016</h1>
</div>
<div id="templateBody">



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.offfitalia.com/" class="linktitle">Offf - Italia</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Pretty neat navigation trick
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://youmightnotneedjs.com/" class="linktitle">You might not need Javascript</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
You can build so many functional UI components without the additional dependency.
</td></tr>

<tr><td>
<a href="https://bitwarden.com/" class="linktitle">Bitwarden</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Store and sync password across devices.
</td></tr>

<tr><td>
<a href="http://www.sqlstyle.guide" class="linktitle">SQL style guide by Simon Holywell</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A consistent code style guide for SQL to ensure legible and maintainable projects.
</td></tr>

<tr><td>
<a href="https://robinlinus.github.io/socialmedia-leak/" class="linktitle">Your Social Media Fingerprint</a>

</td><td class="date">

<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Any website can detect on which platforms you're signed up (mostly on chrome, and a little less on firefox).
</td></tr>

<tr><td>
<a href="https://github.com/open-guides/og-aws" class="linktitle">The Open Guide to Amazon Web Services</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
A huge practical guide.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/Gargron/mastodon" class="linktitle">mastodon</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A GNU Social-compatible microblogging server
</td></tr>

<tr><td>
<a href="https://github.com/davidmann4/botstack" class="linktitle">botstack</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Rapid FB chatbot development with ruby on rails.
</td></tr>

<tr><td>
<a href="https://github.com/FormidableLabs/nodejs-dashboard" class="linktitle">Nodejs-dashboard</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Telemetry dashboard for node.js apps from the terminal!
</td></tr>

<tr><td>
<a href="https://github.com/benwr/glean" class="linktitle">glean</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A tiny bitmap font for programming
</td></tr>

<tr><td>
<a href="http://i.got.nothing.to/code/on/git-repo:_the_utility_for_services/" class="linktitle">Git-Repo</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
utility for managing services
</td></tr>

<tr><td>
<a href="https://resinos.io/" class="linktitle">Resinos</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Run Docker containers on embedded devices
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.notmagic.org/refine-your-ruby-util-objects" class="linktitle">Refine Your Ruby Util Objects</a>

</td><td class="date">
oct 9
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Use refine to do monkey patch with monkey.
</td></tr>

<tr><td>
<a href="http://dev.mikamai.com/post/151608679809/euruko-2016-ruby-is-dead-long-live-ruby" class="linktitle">Euruko 2016 - Ruby is dead, long live Ruby!</a>

</td><td class="date">
oct 10
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
What can we expect for ruby 3?
</td></tr>

<tr><td>
<a href="https://www.sitepoint.com/diving-into-how-hashes-work-in-ruby/" class="linktitle">Diving into How Hashes Work in Ruby</a>

</td><td class="date">
oct 10
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
By far the largest costs in hashing are the rehashing, hash calculation, and bucketing.
</td></tr>

<tr><td>
<a href="http://www.rubypigeon.com/posts/wasting-time-tdd-the-wrong-things/" class="linktitle">Wasting Time TDDing The Wrong Things</a>

</td><td class="date">
oct 11
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Use top-down approach to prevent refactoring your test all the time.
</td></tr>

<tr><td>
<a href="http://blog.arkency.com/2016/10/how-we-save-money-by-using-ddd-and-process-managers-in-our-rails-app/" class="linktitle">How we save money by using DDD and Process Managers</a>

</td><td class="date">
oct 11
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A clever payment management system.
</td></tr>

<tr><td>
<a href="http://www.railscarma.com/blog/technical-articles/generate-add-sitemap-rails-application/" class="linktitle">How to generate and add sitemap to your Rails Application</a>

</td><td class="date">
oct 11
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
SitemapGenerator gem is the easiest way to generate Sitemaps in Ruby.
</td></tr>

<tr><td>
<a href="http://eng.localytics.com/exploring-cli-best-practices/" class="linktitle">Exploring CLI Best Practices</a>

</td><td class="date">
oct 12
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
List of best practices they use at Localytics.
</td></tr>

<tr><td>
<a href="https://www.ianlewis.org/en/how-kubeadm-initializes-your-kubernetes-master" class="linktitle">How kubeadm Initializes Your Kubernetes Master</a>

</td><td class="date">
oct 12
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
kubeadm is a new tool that is part of the Kubernetes distribution as of 1.4.0
</td></tr>

<tr><td>
<a href="https://scotch.io/tutorials/yarn-package-manager-an-improvement-over-npm" class="linktitle">Yarn Package Manager: An Improvement over npm</a>

</td><td class="date">
oct 13
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Yarn is the newest package manager on the block with speed and improvements over npm.
</td></tr>

<tr><td>
<a href="https://medium.com/@codepo8/we-need-javascript-to-fix-the-web-a01bca57ff97#.lxhyihs93?utm_source=codropscollective" class="linktitle">We need JavaScript to fix the web</a>

</td><td class="date">
oct 15
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Own the responsibility to work around JS flaky nature and reliability issues.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by mose (publisher), xenor, tysliu (editors)
, Nauman Tariq, hsatac (contributors)
.</i>

</div>


<div id="rant">
<h3>Rant</h3>

<div class="baseline"><i>The random rant of the week by mose.</i></div>
<h4>Is Facebook the new NPM?</h4>

<p>This week there is a lot of noise in the JS ecosystem, on various trends. But the most noticeable is about <a href="https://yarnpkg.com/">Yarn</a>. Yet another package manager for js, that states it opens a war against NPM (in soft terms but clearly enough). The <a href="https://code.facebook.com/posts/1840075619545360">long post from Facebook</a> about it demonstrates a clear effort to push things forward about NPM shortcomings. The reaction on <a href="https://news.ycombinator.com/item?id=12684980">hacker news</a> is pretty verbose.</p>

<p>It provoked a public <a href="http://blog.npmjs.org/post/151660845210/hello-yarn">response from NPM</a> to try to explain that, nop, it's not a war. But I keep feeling that Facebook is slowly taking over another piece of the javascript world. For now, it doesn't seem harmful at all, but my instinct lights a various number of warning bonfires.</p>

<p>But for real, it was more than time that the supremacy of NPM was questioned. It has a lot of flaws and the number of posts about this event proves that the community was kind of waiting for something like this to happen. Like this <a href="https://shift.infinite.red/npm-vs-yarn-cheat-sheet-8755b092e5cc#.d5wnp2yf9">cheatsheet</a>, various articles like <a href="http://www.infoworld.com/article/3130179/javascript/facebook-spins-yarn-to-replace-npm-packager.html">this one</a>, this enthusiastic post from <a href="http://yehudakatz.com/2016/10/11/im-excited-to-work-on-yarn-the-new-js-package-manager-2/">Yehuda Kats</a>. But <a href="https://medium.com/@boennemann/questions-i-wish-yarn-had-answered-on-day-1-ec0db7458107#.r1kyqfnwr">not everybody is happy</a> about how things are done.</p>

<p>Personally, I like the technical direction it takes. But I hope that like io.js went back to node.js, it will eventually merge back to NPM, really. But I have the feeling it is not going to happen.</p>

</div>


</div>
</div>
