<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#121 - may 31th 2015</h1>
</div>
<div id="templateBody">



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://yourtime4.com/" class="linktitle">Your time 4</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Neat and simple horizontal page scrolling, and cool design.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.libgrader.com/" class="linktitle">libgrader</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Find quality gems for your next project.
</td></tr>

<tr><td>
<a href="http://blog.arkency.com/rails-react/" class="linktitle">Rails meets React</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
(book) still under progress, but already accessible.
</td></tr>

<tr><td>
<a href="https://packagecloud.io/" class="linktitle">PackageCloud</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Public and private package repositories with powerful tooling, security and automation.
</td></tr>

<tr><td>
<a href="http://www.cloudslang.io/" class="linktitle">CloudSlang</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Automate your DevOps use cases using ready-made workflows.
</td></tr>

<tr><td>
<a href="http://www.brendangregg.com/linuxperf.html" class="linktitle">Linux performance</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Very neat gathering of tools for deep Linux observability.
</td></tr>

<tr><td>
<a href="http://www.devbattles.com/" class="linktitle">Devbattles</a>

</td><td class="date">

<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
IT community for professionals.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/denkGroot/Spina" class="linktitle">Spina</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A CMS built upon the Rails framework.
</td></tr>

<tr><td>
<a href="https://github.com/apneadiving/waterfall" class="linktitle">Waterfall</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A tool to chain ruby services and blocks.
</td></tr>

<tr><td>
<a href="https://github.com/GBH/acts_as_localized" class="linktitle">acts_as_localized</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Localization accessor mechanism for AR models.
</td></tr>

<tr><td>
<a href="https://www.polymer-project.org/1.0/" class="linktitle">Polymer 1.0</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Announced at Google IO, here is the first major release of this web component framework.
</td></tr>

<tr><td>
<a href="https://github.com/pgilad/leasot" class="linktitle">Leasot</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Parse and output TODOs and FIXMEs from comments in your files.
</td></tr>

<tr><td>
<a href="https://blog.phusion.nl/2015/05/20/phusion-passenger-5-0-8-new-debian-packages-red-hat-packages-bug-fixes/" class="linktitle">Passenger 5.0.8</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
New Debian packages, Red Hat packages, bug fixes.
</td></tr>

<tr><td>
<a href="https://about.gitlab.com/2015/05/22/gitlab-7-11-released/" class="linktitle">Gitlab 7.11</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Two-factor Authentication, look and feel upgrade, and more.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.sitepoint.com/remote-control-mac-node-js-arduino/" class="linktitle">Remote Control Your Mac With Node.js and Arduino</a>

</td><td class="date">
may 25
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Not really remote, more like an external keypad.
</td></tr>

<tr><td>
<a href="http://rubylogs.com/singleton-pattern/" class="linktitle">Implementing 'the lovely' Singleton Pattern</a>

</td><td class="date">
may 26
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
The good part of singleton.
</td></tr>

<tr><td>
<a href="http://engineering.vinted.com/2015/05/26/boldly-refactoring-complex-code/" class="linktitle">Boldly refactoring complex code</a>

</td><td class="date">
may 26
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
By using github's scientist gem.
</td></tr>

<tr><td>
<a href="http://www.leighhalliday.com/recursion-in-ruby" class="linktitle">Recursion in Ruby</a>

</td><td class="date">
may 26
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Exemple of adding a head_tail method to array to ease up recursion.
</td></tr>

<tr><td>
<a href="http://hashrocket.com/blog/posts/rails-quick-tips-easy-activerecord-optimizations" class="linktitle">Rails Quick Tips: Easy ActiveRecord Optimizations</a>

</td><td class="date">
may 27
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Use select, any?, empty?, and pluck to boost the query performance.
</td></tr>

<tr><td>
<a href="https://medium.com/@KamilLelonek/how-to-delegate-methods-in-ruby-a7a71b077d99" class="linktitle">How to delegate methods in Ruby</a>

</td><td class="date">
may 27
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
5 ways of forwarding your work to some other object in Ruby.
</td></tr>

<tr><td>
<a href="http://blog.codeship.com/orchestrate-containers-for-development-with-docker-compose/" class="linktitle">Orchestrate Containers for Development with Docker Compose</a>

</td><td class="date">
may 27
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
It was known as Fig, now it's docker-compose.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/build-custom-user-analytics-parse/" class="linktitle">Build Custom User Analytics with Parse</a>

</td><td class="date">
may 28
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Parse is an IaaS from Facebook with a large free tier.
</td></tr>

<tr><td>
<a href="http://blog.honeybadger.io/ruby-exception-vs-standarderror-whats-the-difference" class="linktitle">Ruby’s Exception vs StandardError: What’s the difference?</a>

</td><td class="date">
may 29
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Why you should never rescue Exception in ruby.
</td></tr>

<tr><td>
<a href="http://blog.arkency.com/2015/05/you-can-use-coffeescript-classes-with-react-dot-js-pros-and-cons/" class="linktitle">CoffeeScript classes with React - pros and cons</a>

</td><td class="date">
may 31
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
You can use CoffeeScript classes to create React components (since 0.12).
</td></tr>

</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://devblog.avdi.org/2015/05/26/rubytapas-freebie-sequel/" class="linktitle">RubyTapas Freebie: Sequel</a>
<span class="duration">(5m)</span>
</td><td class="date">
may 26
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
The good part of sequel gem.
</td></tr>

<tr><td>
<a href="http://blog.docker.com/2015/05/docker-tutorial-11-docker-swarm/" class="linktitle">Docker Swarm</a>
<span class="duration">(23m)</span>
</td><td class="date">
may 27
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
11th of the Docket Tutorial collectiopn.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by mose (publisher), xenor, tysliu (editors)

.</i>

</div>


<div id="rant">
<h3>Rant</h3>

<div class="baseline"><i>The random rant of the week by mose.</i></div>
<h4>linux trick: too many logs</h4>

<p>Recently I found my self again in that situation on a linux server. The partition where logs are stored went 100%. In such case, It's clever top purge old useless logfiles. Typical move for me would be to run logrotate manually with</p>

<pre> logrotate -f /etc/logrotate.conf </pre>


<p>But I had a case where that was not enough. A developer forgot to remove a debugging output and the logs were just gathering way too much information, more than what I could free with some janitoring.</p>

<p>To avoid losing logs, we can move the logfile where there is space and replace the file with a symbolic link. That's good enough for until the partition gets resized of the logs get cleaned. But when it's done on a live logfile, the running process that writes into it still has the same file descriptor. The process has to be relaunched so the new fd can be taken in account, on the new partition, as instructed by the symbolic link.</p>

<p>So a colleague pointed out that could be done without restart by using gdb. It's a pretty neat trick (if you have gdb installed on your production server, which may not always be the case, and for good reasons). Anyways I had it at hand, and here is the sequence:</p>

<pre> touch /path/to/new/logfile

gdb -p pid

(gdb) call dup(1)
$1 = 3
(gdb) call close(1)
$2 = 0
(gdb) call open("/path/to/new/logfile", 2)
$3 = 1
(gdb) call close($1)
$4 = 0
(gdb) </pre>


<p>This gave me the taste of digging up a little bit more on how gdb can interact with live processes.</p>

</div>


</div>
</div>
