<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#093 - nov 16th 2014</h1>
</div>
<div id="templateBody">

<div>
<div class="baseline">
<h2>Edito</h2>
This newsletter is sent from Marseille, gonna catch a train back to Paris now.
<br>
</div>
</div>



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://teye.denkwerk.com" class="linktitle">Teye</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Graphical presentation of a communication device.
</td></tr>

<tr><td>
<a href="http://www.nerisson.fr/" class="linktitle">Nerisson</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Very graphical freelance website.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://rarmv.herokuapp.com/" class="linktitle">Ruby on Rails ActiveRecord Model Visualizer</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Draws an image with relationships between rails models.
</td></tr>

<tr><td>
<a href="https://crypton.io/" class="linktitle">Crypton</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
So the server doesn't know the contents it's storing on behalf of users.
</td></tr>

<tr><td>
<a href="http://ocean.ink/" class="linktitle">Ocean</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Community of designers sharing feedback..
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://www.ruby-lang.org/en/news/2014/11/13/ruby-2-1-5-is-released/" class="linktitle">Ruby 2.1.5</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
This is a security release (CVE-2014-8090). Upgrades are also available on 1.9.3 and 2.0.0 branches.
</td></tr>

<tr><td>
<a href="http://pakyow.com/" class="linktitle">Pakyow</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Open-source platform for the modern web, like an alternative to rails.
</td></tr>

<tr><td>
<a href="https://github.com/tombenner/ru" class="linktitle">Ru</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Brings Ruby's expressiveness, cleanliness, and readability to the command line.
</td></tr>

<tr><td>
<a href="https://github.com/stefankroes/scribble/" class="linktitle">Scribble</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Client facing template language similar to Liquid build in Ruby.
</td></tr>

<tr><td>
<a href="https://github.com/grosser/maxitest" class="linktitle">Maxitest</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Minitest + all the features you always wanted.
</td></tr>

<tr><td>
<a href="https://github.com/yoolk/themes_on_rails" class="linktitle">ThemesOnRails</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Adds multi themes support to your Rails 3/4 application.
</td></tr>

<tr><td>
<a href="http://slimerjs.org/" class="linktitle">SlimerJS</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Interact with a web page through an external JS script (for testing, too).
</td></tr>

<tr><td>
<a href="http://material-ui.com" class="linktitle">Material ui</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
CSS Framework and a Set of React Components that Implement Google's Material Design.
</td></tr>

<tr><td>
<a href="https://github.com/rancherio/rancher" class="linktitle">Rancher</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Portable AWS-style infrastructure service for Docker.
</td></tr>

<tr><td>
<a href="http://bosun.org/" class="linktitle">Bosun</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
An advanced, open-source monitoring and alerting system by Stack Exchange.
</td></tr>

<tr><td>
<a href="http://docker.sh/ip/" class="linktitle">Dockership</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Tool for easily deploying Docker containers to one or multiple Docker servers.
</td></tr>

<tr><td>
<a href="https://github.com/Netflix/Raigad" class="linktitle">Raigad</a>

</td><td class="date">

<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Process/tool that runs alongside Elasticsearch to automate various things.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://rubini.us/2014/11/10/rubinius-3-0-part-1-the-rubinius-team/" class="linktitle">Rubinius 3.0 - Part 1: The Rubinius Team</a>

</td><td class="date">
nov 10
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
First article in a serie of 5, published this week, all about rubinius 3.
</td></tr>

<tr><td>
<a href="http://www.justinweiss.com/blog/2014/11/10/fun-with-the-method-method/" class="linktitle">Fun With the 'method' Method</a>

</td><td class="date">
nov 10
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Methods as easy as lambdas.
</td></tr>

<tr><td>
<a href="http://blog.glaucocustodio.com/2014/11/10/natural-language-parsing-with-ruby/" class="linktitle">Natural Language Parsing with Ruby</a>

</td><td class="date">
nov 11
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Using treetop gem.
</td></tr>

<tr><td>
<a href="http://omniref.com/blog/blog/2014/11/12/making-ruby-faster/" class="linktitle">Making Ruby Faster</a>

</td><td class="date">
nov 12
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Some of the optimizations going on deep inside the guts of Ruby interpreter.
</td></tr>

<tr><td>
<a href="http://brightbox.com/blog/2014/11/13/preventing-mysql-deadlocks/" class="linktitle">Prevent MySQL deadlocks in your Rails application</a>

</td><td class="date">
nov 13
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Some good advices and explanations about deadlocks and how to avoid them.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/clojure-loops-ruby/" class="linktitle">Clojure Loops in Ruby</a>

</td><td class="date">
nov 13
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Someone decided to port this new Clojure loop into Ruby, and explains how.
</td></tr>

<tr><td>
<a href="http://codegeekz.com/free-data-visualization-tools/" class="linktitle">20 Free Data Visualization Tools</a>

</td><td class="date">
nov 13
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Quite a good list.
</td></tr>

<tr><td>
<a href="https://aws.amazon.com/blogs/aws/cloud-container-management/" class="linktitle">AWS EC2 Container Service</a>

</td><td class="date">
nov 13
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
A lot of new things this week at AWS, this is only one of them.
</td></tr>

<tr><td>
<a href="http://robots.thoughtbot.com/speed-up-javascript-capybara-specs-by-blacklisting-urls" class="linktitle">Speed Up JavaScript Capybara Specs</a>

</td><td class="date">
nov 14
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
... by Blacklisting URLs.
</td></tr>

<tr><td>
<a href="http://www.makeuseof.com/tag/7-unique-ways-practice-coding-skills/" class="linktitle">7 Unique Ways To Practice Your Coding Skills</a>

</td><td class="date">
nov 14
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Some innovative websites you may already know, or not.
</td></tr>

<tr><td>
<a href="http://www.saturnflyer.com/blog/jim/2014/11/15/shorter-simpler-code-with-forwardable/" class="linktitle">Shorter, simpler code with Forwardable</a>

</td><td class="date">
nov 15
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
And use of the delegate method.
</td></tr>

</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://www.youtube.com/watch?v=iVJA-lGkEFw" class="linktitle">Web Components - Custom Elements </a>
<span class="duration">(8m)</span>
</td><td class="date">
nov 11
<img class="icon" src="ico/html5.png" height="18" width="18" align="right" alt="html5" />
</td></tr>
<tr><td colspan="2" class="comment">
How to work with Custom Elements.
</td></tr>

<tr><td>
<a href="https://gorails.com/episodes/markdown-emoji-with-html-pipeline-gem" class="linktitle">Gorails 32</a>
<span class="duration">(17m)</span>
</td><td class="date">
nov 14
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Markdown and Emoji with the html-pipeline gem.
</td></tr>

</table>

<h3>Listen</h3>
<div class="baseline">What could be heard last week ..</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://giantrobots.fm/122" class="linktitle">Giant Robots 122</a>
<span class="duration">(50m)</span>
</td><td class="date">
nov 10
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Ruby, the Weird Way (Britt Ballard, Caleb Thompson, Richard Schneeman, Terence Lee)
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/546-episode-509-november-11-2014" class="linktitle">Ruby5 509</a>
<span class="duration">(5m)</span>
</td><td class="date">
nov 11
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
CLI gems, autoload paths, Ruby and Rails releases, static analysis.
</td></tr>

<tr><td>
<a href="http://5by5.tv/changelog/130" class="linktitle">TheChangelog 130</a>
<span class="duration">(1h05)</span>
</td><td class="date">
nov 11
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Sidekiq, Inspeqtor and OSS Products With Mike Perham.
</td></tr>

<tr><td>
<a href="http://devchat.tv/ruby-rogues/181-rr-rubyinstaller-with-luis-lavena" class="linktitle">RubyRogues 180</a>
<span class="duration">(1h15)</span>
</td><td class="date">
nov 12
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
RubyInstaller with Luis Lavena.
</td></tr>

<tr><td>
<a href="http://devchat.tv/js-jabber/133-jsj-remote-work-with-mike-hostetler" class="linktitle">Javascript Jabber 133</a>
<span class="duration">(53m)</span>
</td><td class="date">
nov 12
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Remote Work with Mike Hostetler.
</td></tr>

<tr><td>
<a href="http://www.arresteddevops.com/git-101/" class="linktitle">Arrested Devops 24</a>
<span class="duration">(1h06)</span>
</td><td class="date">
nov 12
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Git 101.
</td></tr>

<tr><td>
<a href="http://devchat.tv/adventures-in-angular/016-aia-ng-1-3-and-2-0-with-brad-green-igor-minar-and-mi-ko-hevery" class="linktitle">Adventure in angular #16</a>
<span class="duration">(54m)</span>
</td><td class="date">
nov 13
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
NG 1.3 and 2.0 with Brad Green, Igor Minar, and Miško Hevery.
</td></tr>

<tr><td>
<a href="http://www.thecloudcast.net/2014/11/the-cloudcast-171-evolving-api-economy.html" class="linktitle">The Cloudcast #171</a>
<span class="duration">(22m)</span>
</td><td class="date">
nov 13
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Evolving API Economy & Hackathons .
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/547-episode-510-november-14th-2014" class="linktitle">Ruby5 510</a>
<span class="duration">(5m)</span>
</td><td class="date">
nov 14
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Tail call optimizations, keeping migrations healthy, how raptor is faster, psychology of SAAS products,Ru.
</td></tr>

<tr><td>
<a href="http://5by5.tv/rubyonrails/176" class="linktitle">Ruby on Rails Podcast 176</a>
<span class="duration">(58m)</span>
</td><td class="date">
nov 14
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Rails Rumble 2014 Solo Winner - Flora Saramago .
</td></tr>

<tr><td>
<a href="http://nodeup.com/seventysix" class="linktitle">NodeUp 76</a>
<span class="duration">(1h18)</span>
</td><td class="date">
nov 14
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A structuring applications show.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by mose (editor), xenor (informer).</i>

</div>



</div>
</div>
