<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#152 - jan 3rd 2016</h1>
</div>
<div id="templateBody">



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.cryptarismission.com/" class="linktitle">Cryptaris mission</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
A US army website heavy in 3d graphics. Is it now how they recruit?
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://sameroom.io/open-a-tube" class="linktitle">Sameroom</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Connect different chat services together.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/httprb/http" class="linktitle">Http</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A fast Ruby HTTP client with a chainable API, streaming support, and timeouts.
</td></tr>

<tr><td>
<a href="https://github.com/peter-murach/tty-prompt" class="linktitle">TTY::Prompt</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Provides a number of prompt types for gathering user input and robust API for getting and validating complex inputs.
</td></tr>

<tr><td>
<a href="https://github.com/mxstbr/react-boilerplate" class="linktitle">React-boilerplate</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Quick setup for Redux, hot–reloading, PostCSS, react-router, ServiceWorker, AppCache, FontFaceObserver and Mocha.
</td></tr>

<tr><td>
<a href="http://www.sqltabs.com/" class="linktitle">SQL Tabs</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
An open source SQL console for Postgresql.
</td></tr>

<tr><td>
<a href="https://justineo.github.io/github-hovercard/" class="linktitle">GitHub Hovercard</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Hover popup for github issues, users, and repos.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://blog.bigbinary.com/2015/12/28/application-record-in-rails-5.html" class="linktitle">ApplicationRecord in Rails 5</a>

</td><td class="date">
dec 28
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Rails 5 beta-1 was recently released and one of the notable change was introduction of ApplicationRecord.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/a-retrospective-on-ruby-in-2015/" class="linktitle">A Retrospective on Ruby in 2015</a>

</td><td class="date">
dec 28
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
2015 is a big year for Ruby, let's look at some major changes.
</td></tr>

<tr><td>
<a href="http://blog.honeybadger.io/how-cookies-and-other-http-headers-get-passed-from-nginx-to-rack-and-into-rails/" class="linktitle">How HTTP headers get passed from nginx to your Ruby app</a>

</td><td class="date">
dec 28
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
HTTP headers contain cookies, information about the user agent, caching info — a whole lot of really useful stuff.
</td></tr>

<tr><td>
<a href="https://stanthecoder.me/three-way-to-use-block-argument/" class="linktitle">Third way to use block argument</a>

</td><td class="date">
dec 28
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
There are two common ways to use block argument in a method. And a third one.
</td></tr>

<tr><td>
<a href="https://rossta.net/blog/using-rspec-metadata.html" class="linktitle">Using RSpec Metadata</a>

</td><td class="date">
dec 29
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Use rspec's metadata tag to separate the boilerplate of test setup.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/whats-in-a-state/" class="linktitle">What’s in a State and How to Persist It</a>

</td><td class="date">
dec 29
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Keeping all state in a webapp without depending on the server always being available.
</td></tr>

<tr><td>
<a href="https://css-tricks.com/should-i-use-a-video-as-a-background/" class="linktitle">Should I use a video as a background</a>

</td><td class="date">
dec 29
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
What part of it is a trend and what is not.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by mose (publisher), xenor, tysliu (editors), 
Nauman Tariq (contributors)
.</i>

</div>


<div id="rant">
<h3>Rant</h3>

<div class="baseline"><i>The random rant of the week by mose.</i></div>
<h4>Here is 2016</h4>

<p>Well in this last week of 2015, the have not been that much publication and the list of links is shorter than usual. Everybody is probably just having a life for a change, which is a good things :)</p>

<p>There is a lot of promising trends that may unleash in the coming year. I hope to see what ruby 3 will bring. Rails 5 is already almost out there too. But there is some interesting move on the side of Elixir as well, even if it's still very young and hacky in my opinion.</p>

<p>On the frontend side, there is that big news that was announced last year, with <a href="https://www.microsoft.com/en-us/WindowsForBusiness/End-of-IE-support">Microsoft ditching IE old versions</a> officially on january 12, it will be on tuesday next week. IE 11 would become the only supported version. A bold but welcome move. Maybe it will help adoption of JS recent native APIs. I suspect that if IE dies, jquery will not make any sense anymore as the JS stack will be more consistent then. But maybe I'm wrong, that's just an intuition. And the end of support doesn't mean there will be an instant extinction of old IEs, it may still take some more time.</p>

</div>


</div>
</div>
