<div id="templateContainer">
<div id="templateHeader">
<h1>#078 - aug 3rd 2014</div>
</div>
<div id="templateBody">
<div>
	<div class="baseline">
	<h2>Edito</h2>
	This week <a href="https://www.airpair.com/airconf2014">Airconf</a> begins. It's an interesting remote conference about remote pairing, collaboration, and various technical topics. It lasts 4 weeks during august. Be sure to check it out. 
<br>
<br>
<em>&nbsp; mose - the green ruby editor</em><br>
<em>&nbsp;

	xenor - the informer

</em><br>
&nbsp; <a href="http://greenruby.org" target="_self">http://greenruby.org</a>
<br>
</div>


<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="http://uxpin.com/mobile-design-patterns.html" class="linktitle">Mobile UI Design Patterns 2014</a>
				
			</td>
			<td class="date">
				
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				(book) A Deeper Look At the Hottest Apps Today.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://flatornot.klm.com/en_GB" class="linktitle">KLM flat or not</a>
				
			</td>
			<td class="date">
				
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				It's not about flat design, just a very animated website about seats at KLM.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://blog.invisionapp.com/reading-list-for-designers/" class="linktitle">A Comprehensive Reading List for and by Designers</a>
				
			</td>
			<td class="date">
				
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				A list of 75 books for designer.
			</td>
		</tr>
	
</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="http://uxpin.com/" class="linktitle">UXpin</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				UX design tool online.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://www.drystorm.co/" class="linktitle">DryStorm</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Create Rails apps faster.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://stoplight.io/" class="linktitle">StopLight</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				A Powerful HTTP Testing Tool.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://mailto.ninja/" class="linktitle">Mailto Ninja</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				A contact form on your site with one JavaScript file.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://www.cronchecker.net/" class="linktitle">Cron checker</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Cron commands explained in plain English.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://danielmiessler.com/study/tmux/" class="linktitle">A tmux Primer</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				from 'wtf tmux' to 'omg tmux' with extreme haste.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://www.bootbundle.com/" class="linktitle">Boot Bundle</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Complete collection of stuff to make Bootstrap better.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://csstriggers.com/" class="linktitle">CSS triggers</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Definitive reference for what is triggered by changing various CSS properties.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://pragprog.com/book/ppmetr2/metaprogramming-ruby-2" class="linktitle">Metaprogramming Ruby 2</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				(book) Revised and updated second edition of the Metaprogramming Ruby book.
			</td>
		</tr>
	
</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="http://www.terraform.io/" class="linktitle">Terraform</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Common configuration to launch infrastructure from servers to email and DNS providers.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://antimatter15.com/ocrad.js/demo.html" class="linktitle">Ocrad.js</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Pure-javascript version of the Ocrad project for OCR in js.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://github.com/addyosmani/critical" class="linktitle">Critical CSS</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Extract & Inline Critical-path CSS from HTML (for faster initial rendering).
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://github.com/zeisler/active_mocker" class="linktitle">Active Mocker</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Create mocks from ActiveRecord models and run them without loading rails or running a database.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://github.com/heapsource/active_model_otp" class="linktitle">ActiveModel::Otp</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Adds methods to set and authenticate against one time passwords in rails.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://github.com/ankane/pghero" class="linktitle">Pg Hero</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Postgresql Database insights made easy, as a mountable engine.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://www.ember-cli.com/" class="linktitle">Ember cli</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				The command line interface for Ember.js.
			</td>
		</tr>
	
</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="http://www.recursion.org/looking-backward/" class="linktitle">Looking Backward: Ten Years on Rails</a>
				
			</td>
			<td class="date">
				jul 28
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Good retrospective of actually 42 (!) years of history that led to Rails where it is now.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://www.justinweiss.com/blog/2014/07/28/4-simple-memoization-patterns-in-ruby-and-one-gem" class="linktitle">4 Simple Memoization Patterns in Ruby</a>
				
			</td>
			<td class="date">
				jul 28
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Memoization patterns explained.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://www.centurylinklabs.com/optimizing-docker-images/" class="linktitle">Optimizing docker images</a>
				
			</td>
			<td class="date">
				jul 28
				
					
						<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Great article on how to reduce docker image sizes.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://xprogramming.com/articles/refactoring-not-on-the-backlog/" class="linktitle">Refactoring — Not on the backlog!</a>
				
			</td>
			<td class="date">
				jul 29
				
					
						<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				On why integrate refactoring inside existing stories.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://netguru.co/blog/posts/most-loved-ruby-on-rails-open-source-projects" class="linktitle">Most Loved Ruby on Rails Open Source Projects</a>
				
			</td>
			<td class="date">
				jul 29
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Best open source Ruby on Rails projects (ranked by the amount of stars on Github).
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="https://github.com/jnunemaker/httparty/pull/315#issue-38949297" class="linktitle">Party more quietly</a>
				
			</td>
			<td class="date">
				jul 29
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Avdi Grimm's pull request to well known httparty gem.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://tympanus.net/codrops/2014/07/30/fullscreen-form-interface/" class="linktitle">Fullscreen form interface</a>
				
			</td>
			<td class="date">
				jul 30
				
					
						<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Concept to allow distraction-free form filling with some fancy animations.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://codyhouse.co/gem/points-of-interest/" class="linktitle">Points Of Interest</a>
				
			</td>
			<td class="date">
				jul 30
				
					
						<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				To highlight the points of interest of your products.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://codepen.io/chriscoyier/blog/codepens-css" class="linktitle">CodePen's CSS</a>
				
			</td>
			<td class="date">
				jul 30
				
					
						<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Chris Coyer explains how they do CSS at CodePen.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://www.smashingmagazine.com/2014/08/01/build-blog-jekyll-github-pages/" class="linktitle">Build A Blog With Jekyll And GitHub Pages</a>
				
			</td>
			<td class="date">
				aug 1
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				STory of a migration from Wordpress to Jekyll.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://www.watchsumo.com/posts/adding-github-flavoured-markdown-with-syntax-highlighting-in-your-rails-application" class="linktitle">Adding GFM in your Rails application</a>
				
			</td>
			<td class="date">
				aug 2
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				GitHub Flavored Markdown with syntax highlighting.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://ianunruh.com/2014/08/ha-syslog.html" class="linktitle">The State of Highly-Available Syslog</a>
				
			</td>
			<td class="date">
				aug 2
				
					
						<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Some thoughts thrown on logs collection.
			</td>
		</tr>
	
</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="http://sysadmincasts.com/episodes/31-introduction-to-docker" class="linktitle">Introduction to Docker</a>
				<span class="duration">(16m)</span>
			</td>
			<td class="date">
				jul 28
				
					
						<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				A quick illustrated overview of Docker, with a demo.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://tagtree.tv/boost-express-website-performance" class="linktitle">Express-CDN</a>
				<span class="duration">(7m)</span>
			</td>
			<td class="date">
				jul 28
				
					
						<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				How-to for adding a CDN assets delivery with the Express framweork.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://www.atozcss.com/media-queries/" class="linktitle">AtoZ CSS: media</a>
				<span class="duration">(7m)</span>
			</td>
			<td class="date">
				jul 29
				
					
						<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Two approaches for tackling page layout in responsive design.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://realm.io/news/swift-for-javascript-developers/" class="linktitle">Swift for JavaScript Developers</a>
				<span class="duration">(55m)</span>
			</td>
			<td class="date">
				jul 30
				
					
						<img class="icon" src="ico/mobile.png" height="18" width="18" align="right" alt="mobile" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Swift for JavaScript Developers, Similarities & Differences.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://newrelic.com/webinar/github-for-teams" class="linktitle">GitHub Flow</a>
				<span class="duration">(1h)</span>
			</td>
			<td class="date">
				jul 31
				
					
						<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Collaborating effectively using Git and GitHub.
			</td>
		</tr>
	
</table>

<h3>Listen</h3>
<div class="baseline">What could be heard last week ..</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="http://podcasts.thoughtbot.com/giantrobots/109" class="linktitle">Giant robots #109</a>
				<span class="duration">(36m)</span>
			</td>
			<td class="date">
				jul 28
				
					
						<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Venturing Thru Capital (Alex Taussig).
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://thewebplatform.libsyn.com/goangular-the-goinstant-platform" class="linktitle">Web platform #3</a>
				<span class="duration">(58m)</span>
			</td>
			<td class="date">
				jul 28
				
					
						<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				GoAngular & The GoInstant Platform (but seems there is no relationship with golang).
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://blog.codepen.io/2014/07/28/018-seo/" class="linktitle">CodePen 018</a>
				<span class="duration">(44m)</span>
			</td>
			<td class="date">
				jul 28
				
					
						<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Digging into search engine optimization (SEO).
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://ruby5.envylabs.com/episodes/521-episode-484-july-29th-2014" class="linktitle">Ruby5 484</a>
				<span class="duration">(6m)</span>
			</td>
			<td class="date">
				jul 29
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Rails 4.2 sanitizer, ActiveMocker, validation_auditor, Timeouts in CRuby, Roar, RubyConf Portugal.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://rubyrogues.com/167-rr-speaking-at-conferences/" class="linktitle">Ruby Rogues 167</a>
				<span class="duration">(1h08)</span>
			</td>
			<td class="date">
				jul 30
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Speaking at Conferences.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://javascriptjabber.com/119-jsj-chrome-apps-with-joe-marini/" class="linktitle">Javascript Jabber 119</a>
				<span class="duration">(55m)</span>
			</td>
			<td class="date">
				jul 30
				
					
						<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Chrome Apps with Joe Marini.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://5by5.tv/rubyonrails/161" class="linktitle">Ruby on Rails Podcast #161</a>
				<span class="duration">(1h07)</span>
			</td>
			<td class="date">
				jul 31
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Peter Cooper - Ruby Weekly.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://ruby5.envylabs.com/episodes/522-episode-485-august-1st-2014" class="linktitle">Ruby5 485</a>
				<span class="duration">(5m)</span>
			</td>
			<td class="date">
				aug 1
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				Capistrano tutos, memoization patterns, Mocaroni, middleman-presentation, RubyConf 2014.
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://nodeup.com/sixtynine" class="linktitle">NodeUp 69</a>
				<span class="duration">(1h44)</span>
			</td>
			<td class="date">
				aug 2
				
					
						<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				A peer-to-peer show.
			</td>
		</tr>
	
</table>

<h3>Devtips</h3>
<div class="baseline">The tips of the week collected from Faria Dev Team ..</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	
		<tr>
			<td>
				<a href="http://devtips.faria.co/2014-07-29-association-merging.html" class="linktitle">Association merging and don't forget to .reload</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://devtips.faria.co/2014-07-30-rename-current-file-inside-vim.html" class="linktitle">Rename current file in vim without getting out of it</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://devtips.faria.co/2014-07-30-gist-in-sublimetext.html" class="linktitle">Gist in Sublimetext with the gist plugin</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://devtips.faria.co/2014-07-30-collapsable-div.html" class="linktitle">Collapsable div according to the width of container</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://devtips.faria.co/2014-07-30-chrome-devtools-keyboard-shortcuts.html" class="linktitle">Chrome Developer Tools keyboard shortcuts</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				
			</td>
		</tr>
	
		<tr>
			<td>
				<a href="http://devtips.faria.co/2014-08-01-animated-screen-capture.html" class="linktitle">Animated screen capture and the gif gets alive</a>
				
			</td>
			<td class="date">
				
				
					
						<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
					
				
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				
			</td>
		</tr>
	
</table>

</div>
</div>
