<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#050 - jan 19th 2014</h1>
</div>
<div id="templateBody">

<div>
<div class="baseline">
<h2>Edito</h2>
In 2 weeks there is the <a href="https://geekli.st/hackathon/52c49d837689332d5f000019">5th geeklist world-wide hackacthon</a>, maybe you are interested in joining and/or suggesting projects, that can be fun.
<br>
</div>
</div>



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://discover.store.sony.com/be-moved/" class="linktitle">Sony</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
A nice scrollbased Sony presentation all in HTML.
</td></tr>

<tr><td>
<a href="http://rachelnabors.com/blackbrickroad" class="linktitle">Black Brick Road</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
An (work in progress) interactive story in HTML5, code source is on github.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.kimonolabs.com/" class="linktitle">Kimono</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Never write a web scraper again.
</td></tr>

<tr><td>
<a href="http://nastyicons.com/" class="linktitle">Nasty Icons</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
A perverted icon collection.
</td></tr>

<tr><td>
<a href="http://funded.io/" class="linktitle">Funded</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Rapid startup prototyping and financial planning.
</td></tr>

<tr><td>
<a href="http://jstherightway.org/" class="linktitle">JS the right way</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Compilation of best practices for js coding, with links to sources.
</td></tr>

<tr><td>
<a href="https://gocasts.io/" class="linktitle">GoCasts</a>

</td><td class="date">

<img class="icon" src="ico/go.png" height="18" width="18" align="right" alt="go" />
</td></tr>
<tr><td colspan="2" class="comment">
Bite sized screencasts to help you learn Go faster.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/addyosmani/polymer-boilerplate" class="linktitle">Polymer boilerplate</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A Polymer.js template for building fast, robust web apps using Web Components.
</td></tr>

<tr><td>
<a href="http://www.railsbricks.net/" class="linktitle">Rails Bricks</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Create Rails apps faster by automating setup tasks.
</td></tr>

<tr><td>
<a href="https://github.com/github/hub" class="linktitle">Hub</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Command-line wrapper for git that makes you better at GitHub.
</td></tr>

<tr><td>
<a href="https://github.com/chanks/que" class="linktitle">Que</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Queue for Ruby and PostgreSQL that manages jobs using advisory locks.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://www.ruby-lang.org/en/news/2014/01/10/ruby-1-9-3-will-end-on-2015" class="linktitle">Ruby 1.9.3 will die in feb 2015</a>

</td><td class="date">
jan 10
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Let's push towards ruby 2 harder.
</td></tr>

<tr><td>
<a href="http://www.zhubert.com/blog/2014/01/12/introduction-to-go-golang-part-1/" class="linktitle">Introduction to Go (Golang), Part 1</a>

</td><td class="date">
jan 12
<img class="icon" src="ico/go.png" height="18" width="18" align="right" alt="go" />
</td></tr>
<tr><td colspan="2" class="comment">
A pretty good overview for wannabe go beginners.
</td></tr>

<tr><td>
<a href="http://blog.millermedeiros.com/callbacks-promises-signals-and-events" class="linktitle">Callbacks, Promises, Signals and Events</a>

</td><td class="date">
jan 12
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
When and how use each pattern.
</td></tr>

<tr><td>
<a href="http://zachholman.com/posts/github-speaking-culture/" class="linktitle">GitHub's Public Speaking Culture</a>

</td><td class="date">
jan 13
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Benefits of sending devs talk at conferences.
</td></tr>

<tr><td>
<a href="http://robots.thoughtbot.com/code-show-and-tell-polymorphic-finder" class="linktitle">PolymorphicFinder</a>

</td><td class="date">
jan 13
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Replace conditionnals with some polymorphism, example.
</td></tr>

<tr><td>
<a href="http://css-tricks.com/myth-busting-css-animations-vs-javascript/" class="linktitle">Myth Busting: CSS Animations vs. JavaScript</a>

</td><td class="date">
jan 13
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
Why CSS animation is not necessarily faster (but check <a href="http://christianheilmann.com/2014/01/13/myth-busting-mythbusted/">this response</a>).
</td></tr>

<tr><td>
<a href="https://semaphoreapp.com/blog/2014/01/14/rails-testing-antipatterns-fixtures-and-factories.html" class="linktitle">Rails Testing Antipatterns: Fixtures and Factories</a>

</td><td class="date">
jan 14
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Some common antipatterns in writing tests for Rails applications.
</td></tr>

<tr><td>
<a href="http://robots.thoughtbot.com/compare-commits-between-git-branches" class="linktitle">Compare Commits Between Git Branches</a>

</td><td class="date">
jan 16
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
The usage of git show-branch.
</td></tr>

<tr><td>
<a href="http://devblog.avdi.org/2014/01/17/dotenv-for-multiple-environments/" class="linktitle">Dotenv for multiple environments</a>

</td><td class="date">
jan 17
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Advanced configless strategy.
</td></tr>

<tr><td>
<a href="http://robm.me.uk/ruby/2014/01/18/pathname.html" class="linktitle">Paths aren't strings</a>

</td><td class="date">
jan 18
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
The right use of the Pathname object.
</td></tr>

<tr><td>
<a href="http://walpurgisriot.github.io/blog/2013/12/18/ruby-syntax-trivia.html" class="linktitle">Ruby syntax trivia</a>

</td><td class="date">
jan 18
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Some acrobatic tricks in ruby syntax.
</td></tr>

</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://parleys.com/play/529c4440e4b0e619540cc3b9/chapter0/about" class="linktitle">What is in store for the future of Angular</a>
<span class="duration">(54m)</span>
</td><td class="date">
jan 10
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Talk of angular code devs at devoxx 2013.
</td></tr>

</table>

<h3>Listen</h3>
<div class="baseline">What could be heard last week ..</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://foodfightshow.org/2014/01/were-doing-it-wrong.html" class="linktitle">Food fight show jan 10</a>
<span class="duration">(1h031)</span>
</td><td class="date">
jan 10
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
We're Doing It Wrong.
</td></tr>

<tr><td>
<a href="http://www.arresteddevops.com/2014/01/13/episode-004-agile-and-devops/" class="linktitle">Arrested Devops 004</a>
<span class="duration">(1h01)</span>
</td><td class="date">
jan 13
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Agile and DevOps.
</td></tr>

<tr><td>
<a href="http://nodeup.com/fiftyseven" class="linktitle">NodeUp 57</a>
<span class="duration">(1h21)</span>
</td><td class="date">
jan 13
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Discussions around Docker.
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/468-episode-432-january-14-2014" class="linktitle">Ruby5 432</a>
<span class="duration">(6m)</span>
</td><td class="date">
jan 14
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
lt-ruby, TDrails, CodeBrag, DBeater, I18nema, 1.9.3 EOL.
</td></tr>

<tr><td>
<a href="http://rubyrogues.com/139-rr-riak-with-sean-cribbs-and-bryce-kerley/" class="linktitle">Ruby Rogues 139</a>
<span class="duration">(1h12)</span>
</td><td class="date">
jan 17
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Riak with Sean Cribbs and Bryce Kerley.
</td></tr>

<tr><td>
<a href="http://javascriptjabber.com/092-jsj-the-mean-stack-with-ward-bell-and-valeri-karpov/" class="linktitle">Javascript Jabber 092</a>
<span class="duration">(1h04)</span>
</td><td class="date">
jan 17
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
The MEAN Stack with Ward Bell and Valeri Karpov.
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/469-episode-433-january-17-2014" class="linktitle">Ruby5 433</a>
<span class="duration">(6m)</span>
</td><td class="date">
jan 17
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Activesupport notification, railsbricks, composable matchers, DotEnv, Polymorphic finder.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by mose (editor).</i>

</div>



</div>
</div>
