<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#153 - jan 10th 2016</h1>
</div>
<div id="templateBody">



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://sfcd.com/" class="linktitle">SFCD</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
One-page website of a design agency.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/loverajoel/jstips" class="linktitle">Jstips</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
This is about one JS tip every day.
</td></tr>

<tr><td>
<a href="http://gradient.quasi.ink/" class="linktitle">Unique gradient generator</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
This tool helps you to generate beautiful blurry background images. It uses extremely light images instead off CSS3 gradients.
</td></tr>

<tr><td>
<a href="http://www.justinaguilar.com/animations/" class="linktitle">CSS3 Animation Cheat Sheet</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
The CSS3 Animation Cheat Sheet is a set of preset, plug-and-play animations for your web projects.
</td></tr>

<tr><td>
<a href="https://matt.sh/howto-c" class="linktitle">How to C (as of 2016)</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
If you must write in C, you should follow modern rules.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/brianhempel/rounding" class="linktitle">Rounding</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Round by any arbitrary step in Ruby.
</td></tr>

<tr><td>
<a href="https://github.com/nerab/pstore_pp" class="linktitle">Pstore_pp</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Pretty-prints the contents of PStore files as JSON.
</td></tr>

<tr><td>
<a href="http://os.js.org/" class="linktitle">OS.js</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
JavaScript Cloud/Web Desktop Platform
</td></tr>

<tr><td>
<a href="http://www.nodaljs.com/" class="linktitle">Nodal</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Framework that adds a lot of tools to node.js.
</td></tr>

<tr><td>
<a href="https://github.com/bryanjos/elixirscript" class="linktitle">Elixirscript</a>

</td><td class="date">

<img class="icon" src="ico/el.png" height="18" width="18" align="right" alt="el" />
</td></tr>
<tr><td colspan="2" class="comment">
Converts Elixir to JavaScript
</td></tr>

<tr><td>
<a href="http://milligram.github.io/" class="linktitle">Milligram</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
A minimalist CSS framework 
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://blog.bigbinary.com/2016/01/03/test-runner-in-rails-5.html" class="linktitle">Test runner in Rails 5</a>

</td><td class="date">
jan 3
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
New command for running tests
</td></tr>

<tr><td>
<a href="http://brandonhilkert.com/blog/lessons-learned-from-building-a-ruby-gem-api/" class="linktitle">Lessons Learned from Building a Ruby Gem API</a>

</td><td class="date">
jan 4
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Using the adapter pattern can help create a layer between your code and the dependency API.
</td></tr>

<tr><td>
<a href="http://eftimov.net//refactoring-smelly-parameters-lists" class="linktitle">Refactoring in Ruby: Smelly Parameters Lists</a>

</td><td class="date">
jan 4
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Why and ho to avoid long parameters lists in your method signatures.
</td></tr>

<tr><td>
<a href="https://medium.com/@luizvarela1/building-a-phoenix-api-d27902a1450a#.ox1b1msqv" class="linktitle">Building a Phoenix API</a>

</td><td class="date">
jan 4
<img class="icon" src="ico/el.png" height="18" width="18" align="right" alt="el" />
</td></tr>
<tr><td colspan="2" class="comment">
How to build a JSON API using Elixir + Phoenix from scratch
</td></tr>

<tr><td>
<a href="http://blog.honeybadger.io/writing-command-line-apps-in-ruby/" class="linktitle">Writing command-line apps in Ruby</a>

</td><td class="date">
jan 5
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Ruby provides all the building blocks to command-line applications fairly easily.
</td></tr>

<tr><td>
<a href="http://engineering.avvo.com/articles/how-swappable-storage-and-fakes-lead-to-cleaner-more-reliable-tests.html#disqus_thread" class="linktitle">How swappable storage and fakes lead to cleaner, more reliable tests</a>

</td><td class="date">
jan 5
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Bringing fakeredis to resque_unit
</td></tr>

<tr><td>
<a href="http://blog.codeship.com/statefulness-in-elixir/" class="linktitle">Statefulness in a Stateless Language: Elixir</a>

</td><td class="date">
jan 5
<img class="icon" src="ico/el.png" height="18" width="18" align="right" alt="el" />
</td></tr>
<tr><td colspan="2" class="comment">
When it's necessary to keep track of state, Elixir (functional, stateless) has got your back by using recursion and processes.
</td></tr>

<tr><td>
<a href="https://developer.atlassian.com/blog/2016/01/git-2.7-release/" class="linktitle">Neat new features in Git 2.7</a>

</td><td class="date">
jan 5
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Some of the new stuff in last Git version.
</td></tr>

<tr><td>
<a href="https://medium.com/@adaptivepath/jedi-principles-of-ui-animation-2b88423b1dac#.e2y6nn67f" class="linktitle">Jedi Principles of UI Animation</a>

</td><td class="date">
jan 5
<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Why, when, and how to use animation in your UI.
</td></tr>

<tr><td>
<a href="https://blog.blockscore.com/hidden-complexity-in-ruby-land/" class="linktitle">Hidden Complexity in Ruby Land</a>

</td><td class="date">
jan 6
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Concise code can have a dark side.
</td></tr>

<tr><td>
<a href="https://medium.com/@yammereng/activerecord-stole-my-data-and-now-i-want-it-back-3041ac4eb163#.xz4nzioqg" class="linktitle">ActiveRecord stole my data and now I want it back</a>

</td><td class="date">
jan 7
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Case study from Yammer, in which they gradually moved from a monolith to microservices.
</td></tr>

<tr><td>
<a href="http://blog.codeship.com/running-a-rails-application-on-deis/" class="linktitle">Running a Rails Application on Deis</a>

</td><td class="date">
jan 7
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
This tutorial is about running a Rails application on Deis.
</td></tr>

<tr><td>
<a href="http://rorbservations.com/post/136816741674/rubys-unless-x-is-processed-differently" class="linktitle">unless X is processed differently then if !X</a>

</td><td class="date">
jan 7
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Actual instructions generated behind the scenes are not the same.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/authenticate-all-the-things-with-opro-the-basics/" class="linktitle">Authenticate All the Things with oPRO, the Basics</a>

</td><td class="date">
jan 7
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Rails engine to build custom authentication provider quickly and easily.
</td></tr>

<tr><td>
<a href="http://blog.bigbinary.com/2016/01/08/rendering-views-outside-of-controllers-in-rails-5.html" class="linktitle">Rendering views outside of controllers in Rails 5</a>

</td><td class="date">
jan 8
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Render HTML or JSON response outside of the request-response cycle.
</td></tr>

<tr><td>
<a href="https://scotch.io/bar-talk/poll-whats-your-favorite-bloggingwriting-platform" class="linktitle">What’s your favorite blogging platform?</a>

</td><td class="date">
jan 8
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
A poll for different blogging platforms.
</td></tr>

<tr><td>
<a href="http://www.firatatagun.com/blog/2016/01/09/analysis-of-software-architectures/" class="linktitle">Analysis of Software Architectures</a>

</td><td class="date">
jan 9
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Review of all different software architectures.
</td></tr>

</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://build-podcast.com/atom/" class="linktitle">Atom</a>
<span class="duration">(23m)</span>
</td><td class="date">
jan 10
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Various settings, packages, themes and also create a super simple package for Atom.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by mose (publisher), tysliu (editors)
, Nauman Tariq, xenor (contributors)
.</i>

</div>


<div id="rant">
<h3>Rant</h3>

<div class="baseline"><i>The random rant of the week by mose.</i></div>
<h4>That micro-service thing</h4>

<p>For a while now, and more even since the rise of docker, it becomes a trend to split applications in parts and approach them as a collection of micro-services. This is not exactly new, I remember in 2002 having seen various applications based on this concept. But they had shortcomings. Development was harder and it imported a whole bunch of increased complexity because there was a lot of moving parts.</p>

<p>In a projects that I have the occasion of following, I can watch the migration from monolith to micro-service and I can tell you, the architecture change is not simple technical decision. By splitting application there is a whole lot of application aspects that move out of the area of the developers team and are now the responsibility of the infrastructure team. The shift cannot be taken lightly.</p>

<p>From what I observed, the switch to micro-services can only be efficient if there was already a shift to a real devops organization. It means that the development and the infrastructure are more tightly coupled. Otherwise, it's just a mess. The QA also can get crazy, and the networking layer gets increased complexity (or even dramatic latencies). Errors and services resilience also need an extra layer of attention.</p>

<p>Don't move to micro-services if you are not ready for it, seriously, it can end up by shooting yourself in the foot.</p>

</div>


</div>
</div>
