<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#146 - nov 22th 2015</h1>
</div>
<div id="templateBody">



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.bucaboot.com/" class="linktitle">Buca boot</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
A simple but good design all on one page.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://empireofcode.com/" class="linktitle">Empire of code</a>

</td><td class="date">

<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
A new game involving coding.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/caarlos0/nprogress-rails" class="linktitle">Nprogress-rails</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Slim progress bars for Ajax'y applications.
</td></tr>

<tr><td>
<a href="https://github.com/varvet/godmin" class="linktitle">Godmin</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Admin framework for Rails 4+
</td></tr>

<tr><td>
<a href="http://sigmajs.org/" class="linktitle">Sigma js</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Publish networks on Web pages.
</td></tr>

<tr><td>
<a href="http://designbeep.com/2015/11/18/multi-level-menu-a-simple-menu-with-multiple-levels/" class="linktitle">Multi-Level Menu</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Simple multi-level menu with delayed item animations.
</td></tr>

<tr><td>
<a href="https://jaredreich.com/projects/notie.js/" class="linktitle">Notie.js</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A clean and simple notification plugin.
</td></tr>

<tr><td>
<a href="https://github.com/Mashape/kong" class="linktitle">Kong</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Open-source, Microservice and API Management Layer built on top of NGINX.
</td></tr>

<tr><td>
<a href="https://github.com/square/git-fastclone" class="linktitle">Git-fastclone</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
git clone --recursive on steroids.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.mikeperham.com/2015/11/16/sidekiq-4.0/" class="linktitle">Sidekiq 4.0 is now available</a>

</td><td class="date">
nov 16
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Benchmarks show a lot of effective optimization.
</td></tr>

<tr><td>
<a href="http://blog.honeybadger.io/lexical-scoping-and-ruby-class-variables/" class="linktitle">Lexical scoping and Ruby class variables</a>

</td><td class="date">
nov 16
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Class variables are confusing. Even expert Ruby users can find them hard to intuit.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/deploying-ruby-apps-bare-metal-self-sufficient-containers-right-way/" class="linktitle">Deploying Ruby Apps with Bare Metal: A New Type of VM</a>

</td><td class="date">
nov 16
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
The Bare Metal container platform is a service from CenturyLink, here is how to set up a simple Ruby app there.
</td></tr>

<tr><td>
<a href="http://adarsh.io/save-money-and-be-happier-by-updating-your-gems-every-monday-morning/" class="linktitle">Update your gems every Monday morning</a>

</td><td class="date">
nov 16
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Frequent updates of your gems saves money.
</td></tr>

<tr><td>
<a href="http://www.smashingmagazine.com/2015/11/static-website-generators-jekyll-middleman-roots-hugo-review/" class="linktitle">Static Website Generators Reviewed</a>

</td><td class="date">
nov 16
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Jekyll, Middleman, Roots, Hugo.
</td></tr>

<tr><td>
<a href="https://aerotwist.com/blog/the-cost-of-frameworks/" class="linktitle">The Cost of Frameworks</a>

</td><td class="date">
nov 16
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Interesting transcription of a talk about how to think about using a framework.
</td></tr>

<tr><td>
<a href="https://dev.acquia.com/blog/open-sourcing-statsgod-a-statsd-implementation-in-go/16/11/2015/8171" class="linktitle">Open Sourcing Statsgod</a>

</td><td class="date">
nov 16
<img class="icon" src="ico/go.png" height="18" width="18" align="right" alt="go" />
</td></tr>
<tr><td colspan="2" class="comment">
A StatsD Implementation In Go.
</td></tr>

<tr><td>
<a href="http://engineeredweb.com/blog/2015/go-packages-need-release-versions/" class="linktitle">Why It's Time For Go Packages To Start Versioning</a>

</td><td class="date">
nov 16
<img class="icon" src="ico/go.png" height="18" width="18" align="right" alt="go" />
</td></tr>
<tr><td colspan="2" class="comment">
Please provide semantically versioned releases of your Go packages and libraries.
</td></tr>

<tr><td>
<a href="http://abailly.github.io/posts/cm-arch-design.html" class="linktitle">Anatomy of a Haskell-based Application</a>

</td><td class="date">
nov 16
<img class="icon" src="ico/hk.png" height="18" width="18" align="right" alt="hk" />
</td></tr>
<tr><td colspan="2" class="comment">
A general overview of what an Haskell application looks like.
</td></tr>

<tr><td>
<a href="http://blog.honeybadger.io/spying-on-running-ruby-processes/" class="linktitle">Spying on running Ruby processes</a>

</td><td class="date">
nov 17
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
How about injecting code to be executed inside of a running process?
</td></tr>

<tr><td>
<a href="http://vaidehijoshi.github.io/blog/2015/11/17/peeking-under-the-hood-of-actioncontroller-parameters-part-1/" class="linktitle">Peeking Under the Hood of ActionController Parameters, Part 1</a>

</td><td class="date">
nov 17
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
All about the permit method filters.
</td></tr>

<tr><td>
<a href="https://medium.com/@addyosmani/instant-loading-web-apps-with-an-application-shell-architecture-7c0c2f10c73#.4qsm1b5yp" class="linktitle">Instant Loading Web Apps With An Application Shell Architecture</a>

</td><td class="date">
nov 17
<img class="icon" src="ico/mobile.png" height="18" width="18" align="right" alt="mobile" />
</td></tr>
<tr><td colspan="2" class="comment">
Diving into Progressive Web Apps (PWA).
</td></tr>

<tr><td>
<a href="https://brakemanpro.com/blog/announcement/2015/11/18/brakeman-pro-is-available/" class="linktitle">Brakeman Pro 1.0</a>

</td><td class="date">
nov 18
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Initial release of Brakeman Pro.
</td></tr>

<tr><td>
<a href="https://codyhouse.co/gem/stretchy-navigation/" class="linktitle">Stretchy Navigation in CSS and jQuery</a>

</td><td class="date">
nov 18
<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
A rounded navigation trigger that stretches on click/tap to reveal the navigation items
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/learn-concurrency-by-implementing-futures-in-ruby/" class="linktitle">Learn concurrency by implementing futures in Ruby</a>

</td><td class="date">
nov 19
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Futures are a concurrency abstraction that represents the result of an asynchronous computation.
</td></tr>

<tr><td>
<a href="http://www.blackbytes.info/2015/10/ruby-case/" class="linktitle">The many uses of Ruby case statements</a>

</td><td class="date">
nov 19
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
The case statement is more flexible than it might appear at first sigh.
</td></tr>

<tr><td>
<a href="http://nicksda.apotomo.de/2015/11/representable-2-4-how-functional-programming-speeds-up-rendering-and-parsing/" class="linktitle">Representable 2.4</a>

</td><td class="date">
nov 19
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
How Functional Programming Speeds Up Rendering And Parsing.
</td></tr>

<tr><td>
<a href="http://www.sitepoint.com/getting-started-with-service-workers/" class="linktitle">Getting started with service workers</a>

</td><td class="date">
nov 19
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
There was a time when people only related the use of push notifications to mobile applications. Luckily, that time has passed.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by mose (publisher), tysliu (editors), 
Nauman Tariq, hsatac (contributors)
.</i>

</div>


<div id="rant">
<h3>Rant</h3>

<div class="baseline"><i>The random rant of the week by mose.</i></div>
<h4>A Hackhaton in Taipei</h4>

<p>In 2 weeks Gandi organizes with .taipei registry a <a href="http://hackathon.taipei/">Hackhaton</a> with pretty wide topic. It will be at at the Hi-tech Promotion Center in Taipei on December 5 and 6. I will be there (part of the jury), so if you want to have some week-end fun and are in Taipei at that time, feel free to join in. There will be prizes, free domains and hosting. I would love to see some ruby projects there.</p>

</div>


</div>
</div>
