<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#026 - aug 4th 2013</h1>
</div>
<div id="templateBody">

<div>
<div class="baseline">
<h2>Edito</h2>
This week I changed job and also my hat. I became a fulltime system administrator. It may have some consequences on the green ruby publication, because I am switching gears. Hopefully we will have a more contributive platform very soon. But in the while, feel free to send me links to help compensate. On another hand, I'm thinking about making a new publication about devops. It's just because I use publication as a way to self-hack myself into more structured organization of my awareness of what happens around. Like a public bookmarking, in some ways. More news about it next week...
<br>
</div>
</div>



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://brolik.com/blog/2013-web-design-trends/" class="linktitle">2013 Web Design Trends</a>

</td><td class="date">
aug 1
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
A list of what the web looks like this year.
</td></tr>

<tr><td>
<a href="http://www.kitchenprague.com/en/" class="linktitle">Kitchen prague</a>

</td><td class="date">

<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Beautiful design with an interesting navigation.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://osrc.dfm.io/" class="linktitle">Open source Report Card</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A textual analysis of your github profile.
</td></tr>

<tr><td>
<a href="http://www.svgeneration.com/" class="linktitle">SVGeneration</a>

</td><td class="date">

<img class="icon" src="ico/html5.png" height="18" width="18" align="right" alt="html5" />
</td></tr>
<tr><td colspan="2" class="comment">
An online tool to generate svg backgrounds, with easy edit of parameters.
</td></tr>

<tr><td>
<a href="http://exercism.io/" class="linktitle">Exercism</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A cool tool by Katrina for practice and crowd-reviews.
</td></tr>

<tr><td>
<a href="http://developerexcuses.com/" class="linktitle">Developer excuses</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Random generation of an excuse for anything.
</td></tr>

<tr><td>
<a href="http://ascii.io/" class="linktitle">ascii.io</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
record and share terminal sessions.
</td></tr>

<tr><td>
<a href="http://rollbar.com/" class="linktitle">Rollbar</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
yet another cloud error viewer.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://blog.getbootstrap.com/2013/07/27/bootstrap-3-rc1/" class="linktitle">Bootstrap 3-rc1</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
The version 3 of this over-popular css framework is out in rc state. Feels like it's following the flat UI trend now.
</td></tr>

<tr><td>
<a href="https://groups.google.com/forum/#!topic/ember-security/dokLVwwxAdM" class="linktitle">ember patch</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A potential XSS exploit on Ember.js and a provided patch.
</td></tr>

<tr><td>
<a href="https://github.com/arnoo/git-deliver" class="linktitle">git-deliver</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Delivery system based on git push and ssh.
</td></tr>

<tr><td>
<a href="http://layervault.tumblr.com/post/56891876898/psd-rb" class="linktitle">psd.rb</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A ruby lib to read photoshop files (!).
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://mislav.uniqpath.com/2013/07/ruby-openssl/" class="linktitle">SSLError and Rubyist, sitting in a tree</a>

</td><td class="date">
jul 28
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A pretty good explanation of how SSL verification and certificates work.
</td></tr>

<tr><td>
<a href="http://codebrief.com/2013/07/10-things-you-can-do-with-epf/" class="linktitle">10 Things You Can Do With EPF in Ember</a>

</td><td class="date">
jul 28
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Details about this serious alternative to Ember-data abstraction.
</td></tr>

<tr><td>
<a href="http://jakearchibald.com/2013/animated-line-drawing-svg/" class="linktitle">Animated line drawing in SVG</a>

</td><td class="date">
jul 29
<img class="icon" src="ico/html5.png" height="18" width="18" align="right" alt="html5" />
</td></tr>
<tr><td colspan="2" class="comment">
Some SVG tricks, anda bunch of examples in the comments thread.
</td></tr>

<tr><td>
<a href="http://hugogiraudel.com/2013/07/29/optimizing-with-bash/" class="linktitle">Optimizing images with a bash script</a>

</td><td class="date">
jul 29
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
An interesting drive-through how to write an elaborate bash script.
</td></tr>

<tr><td>
<a href="http://rubysource.com/build-a-port-scanner-in-ruby/" class="linktitle">Build a Port Scanner in Ruby</a>

</td><td class="date">
jul 29
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Tutorial about manipulation of sockets with some celluloid actors.
</td></tr>

<tr><td>
<a href="http://flippinawesome.org/2013/07/29/changing-history-with-git/" class="linktitle">Changing History with Git</a>

</td><td class="date">
jul 29
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Some tricks for manipulating git history.
</td></tr>

<tr><td>
<a href="http://thepugautomatic.com/2013/07/dsom/" class="linktitle">Dynamic super-overridable methods in Ruby</a>

</td><td class="date">
jul 31
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Dynamic super-overridable methods in Ruby (solution for method override issue in rails' dynamic attributes method).
</td></tr>

<tr><td>
<a href="http://makezine.com/magazine/how-to-choose-the-right-platform-raspberry-pi-or-beaglebone-black/" class="linktitle">Raspberry Pi or BeagleBone Black</a>

</td><td class="date">
aug 1
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Detailled comparison between those 2 makers card-puters.
</td></tr>

<tr><td>
<a href="http://tech.pro/tutorial/1453/7-javascript-basics-many-developers-aren-t-using-properly" class="linktitle">7 JavaScript Basics Many Developers Aren't Using (Properly)</a>

</td><td class="date">
aug 2
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Basics with js code example and patterns.
</td></tr>

</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://www.youtube.com/playlist?list=PL37ZVnwpeshF7AHpbZt33aW0brYJyNftx#jsconf2013" class="linktitle">JsConf 2013</a>
<span class="duration">(8 videos)</span>
</td><td class="date">
jul 29
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
This week the jsconf 2013 video have been put online.
</td></tr>

</table>

<h3>Listen</h3>
<div class="baseline">What could be heard last week ..</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://episodes.gitminutes.com/2013/07/gitminutes-18-tair-and-tero-from-deveo.html" class="linktitle">Git minutes 18</a>
<span class="duration">(56m)</span>
</td><td class="date">
jul 28
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Tair and Tero from Deveo.
</td></tr>

<tr><td>
<a href="http://learn.thoughtbot.com/podcast/59" class="linktitle">Giant robots 59</a>
<span class="duration">(26m)</span>
</td><td class="date">
jul 29
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
With thoughtbot CTO Joe Ferris about the technical interview process at thoughtbot.
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/426-episode-390-july-30th-2013" class="linktitle">Ruby5 390</a>
<span class="duration">(6m)</span>
</td><td class="date">
jul 30
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
subclassing core, n+1, rubyprize, flynn, ruby warrior.
</td></tr>

<tr><td>
<a href="http://rubyrogues.com/116-rr-non-rails-projects" class="linktitle">RubyRogues 116</a>
<span class="duration">(1h20)</span>
</td><td class="date">
jul 31
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Non-rails projects.
</td></tr>

<tr><td>
<a href="http://nodeup.com/fifty" class="linktitle">NodeUp 50</a>
<span class="duration">(1h41)</span>
</td><td class="date">
aug 2
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
About node 0.11.
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/427-episode-391-august-2nd-2013" class="linktitle">Ruby5 391</a>
<span class="duration">(5m)</span>
</td><td class="date">
aug 2
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
vimgenius, screenshots, psd.rb, nsa panel, maildown, exercism.io.
</td></tr>

<tr><td>
<a href="http://javascriptjabber.com/069-jsj-the-application-cache-with-jake-archibald/" class="linktitle">Javascript Jabber 069</a>
<span class="duration">(51m)</span>
</td><td class="date">
aug 2
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
The Application Cache with Jake Archibald.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">
<i>Links curated by by mose (editor),

xenor (informer)
.</i>
</div>


<div id="rant">
<h3>Rant</h3>
<div class="baseline"><i>The random rant of the week by mose.</i></div>

</div>


</div>
</div>
