<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#221 - apr 30th 2017</h1>
</div>
<div id="templateBody">



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://eien.tokyo" class="linktitle">Michele Angeloro</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
Nice animation effect on the top right helix.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/arbox/machine-learning-with-ruby" class="linktitle">Awesome Machine Learning with Ruby</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Awesome libraries, data sources, tutorials and presentations about Machine Learning utilizing the Ruby programming language.
</td></tr>

<tr><td>
<a href="https://usehelix.com/" class="linktitle">Helix</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Helix makes writing Ruby classes in Rust safe and fun.
</td></tr>

<tr><td>
<a href="https://www.vecteezy.com/editor" class="linktitle">Vecteezy Editor</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
A free SVG editor build on top of a huge database of free vector graphics.
</td></tr>

<tr><td>
<a href="https://www.dropsource.com/" class="linktitle">Dropsource</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Rapid visual prototyping for native mobile apps.
</td></tr>

<tr><td>
<a href="https://github.com/tc39/proposals" class="linktitle">Tracking ECMAScript Proposals</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Up-to-date list of current proposals for ECMAscript evolution.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://github.com/LIQIDTechnology/methodobject" class="linktitle">Method Object</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Method objects is a common pattern used to ease the extraction of complex methods from other classes and for the implementation of service objects.
</td></tr>

<tr><td>
<a href="https://github.com/Shopify/bootsnap" class="linktitle">Bootsnap</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Bootsnap is a library that plugs into a number of Ruby and (optionally) ActiveSupport and YAML methods to optimize and cache expensive computations.
</td></tr>

<tr><td>
<a href="https://github.com/atech/postal" class="linktitle">Postal</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
An open source mail delivery platform for incoming & outgoing e-mail.
</td></tr>

<tr><td>
<a href="https://github.com/mlandauer/cuttlefish" class="linktitle">Cuttlefish</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
Transactional email server with web interface.
</td></tr>

<tr><td>
<a href="https://github.com/netlify/netlify-cms" class="linktitle">Netlify CMS</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A CMS for static site generators.
</td></tr>

<tr><td>
<a href="https://github.com/palkan/acli" class="linktitle">Acli</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Action Cable command-line client.
</td></tr>

<tr><td>
<a href="https://github.com/kitze/sizzy" class="linktitle">Sizzy</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A tool for developing responsive websites.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://schneems.com/2017/04/24/a-variable-by-any-other-name/" class="linktitle">A Variable By any Other Name</a>

</td><td class="date">
apr 24
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Sometimes when you do everything right, things still go wrong.
</td></tr>

<tr><td>
<a href="http://www.ohler.com/oj/index.html" class="linktitle">Oj (Optimized JSON) 3.0.0 Released</a>

</td><td class="date">
apr 24
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Oj (Optimized JSON) released their new version focus on json gem and Rails compatibility.
</td></tr>

<tr><td>
<a href="https://blog.rebased.pl/2017/04/24/postgresql-9-6-parallel-queries.html" class="linktitle">PostgreSQL 9.6: Parallel Queries</a>

</td><td class="date">
apr 24
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
The biggest feature delivered in 9.6 was the parallel execution of sequential scans, joins and aggregates.
</td></tr>

<tr><td>
<a href="https://www.sitepoint.com/search-autocomplete-rails-apps/" class="linktitle">Search and Autocomplete in Rails Apps</a>

</td><td class="date">
apr 25
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Discuss Postgres’ native search in Rails applications powered by the pg_search gem.
</td></tr>

<tr><td>
<a href="http://www.mikeperham.com/2017/04/25/hello-sidekiq-5.0/" class="linktitle">Hello Sidekiq 5.0</a>

</td><td class="date">
apr 25
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Sidekiq 5.0 refactors the core job processor to work better with Rails 5 and includes a few breaking changes that have been pending for a while.
</td></tr>

<tr><td>
<a href="https://depfu.io/blog/2017/04/25/bundlers-new-update-options" class="linktitle">Bundler’s new update options</a>

</td><td class="date">
apr 25
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Bundler added new CLI options in the last two releases that allow you to influence how bundle update decides which versions to update to.
</td></tr>

<tr><td>
<a href="https://dave.cheney.net/2017/04/26/understand-go-pointers-in-less-than-800-words-or-your-money-back" class="linktitle">Understand Go pointers in less than 800 words or your money back</a>

</td><td class="date">
apr 26
<img class="icon" src="ico/go.png" height="18" width="18" align="right" alt="go" />
</td></tr>
<tr><td colspan="2" class="comment">
This post is for programmers coming to Go who are unfamiliar with the idea of pointers or a pointer type in Go.
</td></tr>

<tr><td>
<a href="http://weblog.rubyonrails.org/2017/4/27/Rails-5-1-final/" class="linktitle">Rails 5.1: Loving JavaScript, System Tests, Encrypted Secrets, and more</a>

</td><td class="date">
apr 27
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Manage JavaScript dependencies from NPM via Yarn, Optionally compile JavaScript with webpack, drop jQuery as a default dependency etc.
</td></tr>

<tr><td>
<a href="https://medium.com/the-renaissance-developer/idiomatic-ruby-1b5fa1445098" class="linktitle">Idiomatic Ruby: writing beautiful code</a>

</td><td class="date">
apr 28
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A reflection of working with Ruby by examples.
</td></tr>

<tr><td>
<a href="https://ksylvest.com/posts/2017-04-29/automating-favicon-generation-in-rails-using-sketch" class="linktitle">Automating Favicon Generation in Rails using Sketch</a>

</td><td class="date">
apr 29
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Seeing as the favicon standard dates back to 1999, it is difficult to reason why they are still a pain to generate.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">

<i>Links curated by xenor (publisher), tysliu, mose (editors), 
lincoln (contributors)
.</i>

</div>



</div>
</div>
