<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#062 - apr 13th 2014</h1>
</div>
<div id="templateBody">

<div>
<div class="baseline">
<h2>Edito</h2>
The week of the <a href="http://heartbleed.com/">bleeding heart</a> was busy with server upgrades. ruby recompilation, SSL renewals, passwords and keys rotations. There are so many posts about it this week.
<br>
</div>
</div>



<h3>Look</h3>
<div class="baseline">Examples of UI/UX, graphic performance, web design and flashy things.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://activetheory.net/" class="linktitle">Active Theory</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
An impressive portfolio.
</td></tr>

<tr><td>
<a href="http://www.getmentalnotes.com/" class="linktitle">Mental Notes</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
A set of cards representing psychology traits that belong web design world.
</td></tr>

<tr><td>
<a href="http://www.designingfortheweb.co.uk/" class="linktitle">Design for the web</a>

</td><td class="date">
</td></tr>
<tr><td colspan="2" class="comment">
A free book about web design.
</td></tr>

</table>

<h3>Use</h3>
<div class="baseline">Web applications, resources and tools, available for making our life easier or funnier.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://filippo.io/Heartbleed" class="linktitle">Heartbleed tests</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
This one is obvious, but there is also a <a href="https://reverseheartbleed.com/">reverse Heartbleed tester</a> and ruby <a href="https://github.com/emboss/heartbeat">standlone testing code</a>.
</td></tr>

<tr><td>
<a href="http://www.slant.co/topics/900/~what-is-the-best-cross-platform-windows-osx-linux-password-manager" class="linktitle">Cross platform password manager</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
All this password changing may be a good time to consider using one of those tools (but I prefer <a href="http://www.zx2c4.com/projects/password-store/">pass</a> personally).
</td></tr>

<tr><td>
<a href="http://www.flaticon.com/" class="linktitle">Flaticon</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
The largest database of free vector icons.
</td></tr>

<tr><td>
<a href="http://www.ruby-survey.com/" class="linktitle">Ruby Survey 2014</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Started in 2008, this survey is the 4th of its kind.
</td></tr>

<tr><td>
<a href="http://angular-rails.com/" class="linktitle">Angular-rails</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A free Micro eBook on Getting Started with Angular on Rails.
</td></tr>

<tr><td>
<a href="https://medium.com/design-ux/799d16952a56" class="linktitle">Designer resources</a>

</td><td class="date">

<img class="icon" src="ico/design.png" height="18" width="18" align="right" alt="design" />
</td></tr>
<tr><td colspan="2" class="comment">
160+ sites, apps & books that I recommend any designer should check out.
</td></tr>

<tr><td>
<a href="http://www.regexr.com/" class="linktitle">RegExr</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
An online tool to learn, build, & test Regular Expressions.
</td></tr>

<tr><td>
<a href="http://superherojs.com/" class="linktitle">Superhero.js</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A collection of the best articles, videos and presentations about javascript.
</td></tr>

<tr><td>
<a href="http://www.developeragents.com/" class="linktitle">Developer Agents</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
A shared newsletter promoting talented developers as soon as they become available.
</td></tr>

</table>

<h3>Install</h3>
<div class="baseline">A selection of gems or applications updated during past week.</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://weblog.rubyonrails.org/2014/4/8/Rails-4-1/" class="linktitle">Rails 4.1</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Spring, Variants, Enums, Mailer previews, secrets.yml.
</td></tr>

<tr><td>
<a href="http://blog.phusion.nl/2014/04/08/phusion-passenger-4-0-41-released-openssl-heartbleed-security-update/" class="linktitle">Passenger 4.0.41</a>

</td><td class="date">

<img class="icon" src="ico/devops.png" height="18" width="18" align="right" alt="devops" />
</td></tr>
<tr><td colspan="2" class="comment">
The OpenSSL Heartbleed security update.
</td></tr>

<tr><td>
<a href="http://expressjs.com/4x/api.html" class="linktitle">ExpressJS 4</a>

</td><td class="date">

<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Some nice performance improvements (but <a href="http://scotch.io/bar-talk/expressjs-4-0-new-features-and-upgrading-from-3-0">upgrading</a> can use some attention).
</td></tr>

<tr><td>
<a href="https://github.com/arirusso/web-repl" class="linktitle">Web-repl</a>

</td><td class="date">

<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Javascript/Web REPL in Ruby.
</td></tr>

<tr><td>
<a href="http://gudh.github.io/ihover/dist/index.html" class="linktitle">iHover</a>

</td><td class="date">

<img class="icon" src="ico/css3.png" height="18" width="18" align="right" alt="css3" />
</td></tr>
<tr><td colspan="2" class="comment">
CSS3 hover effects pack.
</td></tr>

<tr><td>
<a href="https://hacks.mozilla.org/2014/04/introducing-predictionio/" class="linktitle">PredictionIO</a>

</td><td class="date">

<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
An open source machine learning server from Mozilla.
</td></tr>

</table>

<h3>Read</h3>
<div class="baseline">From the blogosphere or news feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://blog.engineyard.com/2014/intro-to-go-rubyists" class="linktitle">Go for Rubyists</a>

</td><td class="date">
apr 3
<img class="icon" src="ico/go.png" height="18" width="18" align="right" alt="go" />
</td></tr>
<tr><td colspan="2" class="comment">
Another go primer that covers the very basics of Go and compares with ruby code.
</td></tr>

<tr><td>
<a href="http://blog.testdouble.com/posts/2014-04-04-crafting-a-conference-talk.html" class="linktitle">Crafting a conference talk</a>

</td><td class="date">
apr 4
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
An extensive fedback about how to give talks.
</td></tr>

<tr><td>
<a href="http://www.informationweek.com/strategic-cio/executive-insights-and-innovation/4-signs-youre-doing-agile-development-wrong/d/d-id/1174135" class="linktitle">4 Signs You're Doing Agile Development Wrong</a>

</td><td class="date">
apr 4
<img class="icon" src="ico/tool.png" height="18" width="18" align="right" alt="tool" />
</td></tr>
<tr><td colspan="2" class="comment">
Agile is nice, when it works. When it doesn't, here are some hints about why.
</td></tr>

<tr><td>
<a href="http://jeremytinley.wordpress.com/2014/04/06/elk-stack-in-docker/" class="linktitle">Running ElasticSearch, LogStash and Kibana in Docker</a>

</td><td class="date">
apr 6
<img class="icon" src="ico/ops.png" height="18" width="18" align="right" alt="ops" />
</td></tr>
<tr><td colspan="2" class="comment">
Comments about getting the ELK up in containers.
</td></tr>

<tr><td>
<a href="http://www.centurylinklabs.com/linking-docker-containers-with-a-serf-ambassador/" class="linktitle">Linking docker containers with a Serf ambassador</a>

</td><td class="date">
apr 7
<img class="icon" src="ico/devops.png" height="18" width="18" align="right" alt="devops" />
</td></tr>
<tr><td colspan="2" class="comment">
An example setup for linking containers.
</td></tr>

<tr><td>
<a href="http://samsaffron.com/archive/2014/04/08/ruby-2-1-garbage-collection-ready-for-production" class="linktitle">Ruby 2.1 GC: ready for production</a>

</td><td class="date">
apr 8
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A good reason to use Ruby 2.1.1 in production.
</td></tr>

<tr><td>
<a href="http://patshaughnessy.net/2014/4/8/using-a-ruby-class-to-write-functional-code" class="linktitle">Using a Ruby Class To Write Functional Code</a>

</td><td class="date">
apr 8
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
A post from Pat with once agin very deep insights into ruby language.
</td></tr>

<tr><td>
<a href="http://www.smashingmagazine.com/2014/04/08/how-to-build-ruby-gem-with-bundler-travis-ci-coveralls/" class="linktitle">How To Build A Ruby Gem</a>

</td><td class="date">
apr 8
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
With Bundler, Test-Driven Development, Travis CI And Coveralls. A long article.
</td></tr>

<tr><td>
<a href="http://www.toptal.com/javascript#hiring-guide" class="linktitle">The Insider's Guide to JavaScript Interviewing</a>

</td><td class="date">
apr 9
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Questions to ask to see if your JS candidates are what they think they are.
</td></tr>

<tr><td>
<a href="https://www.ruby-lang.org/en/news/2014/04/10/severe-openssl-vulnerability/" class="linktitle">Heartbleed and ruby</a>

</td><td class="date">
apr 10
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
How is Ruby affected by the bleeding.
</td></tr>

<tr><td>
<a href="http://robots.thoughtbot.com/extract-mostly-constant-data-from-the-database" class="linktitle">Extract Mostly-Constant Data from the Database</a>

</td><td class="date">
apr 11
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Just some common sense to the sake of performance.
</td></tr>

</table>

<h3>Watch</h3>
<div class="baseline">Screencasts and conferences videos, or other video feeds ...</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="https://www.youtube.com/watch?v=1rz334A8U7o" class="linktitle">AngularJS and i18n</a>
<span class="duration">(34m)</span>
</td><td class="date">
apr 9
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
A talk by Pascal Precht at kod.io 2014.
</td></tr>

</table>

<h3>Listen</h3>
<div class="baseline">What could be heard last week ..</div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">

<tr><td>
<a href="http://podcasts.thoughtbot.com/giantrobots/93" class="linktitle">Giant robots #93</a>
<span class="duration">(42m)</span>
</td><td class="date">
apr 7
<img class="icon" src="ico/web.png" height="18" width="18" align="right" alt="web" />
</td></tr>
<tr><td colspan="2" class="comment">
Diversity of Approach (David Nolen from NY Times).
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/491-episode-454-april-8th-2014" class="linktitle">Ruby5 454</a>
<span class="duration">(6m)</span>
</td><td class="date">
apr 8
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
postgres, tips for hiring, ruby love, proposals, conference talk, json schema, build a ruby gem, apis with rails.
</td></tr>

<tr><td>
<a href="http://ruby5.envylabs.com/episodes/492-episode-455-april-8th-2014" class="linktitle">Ruby5 455</a>
<span class="duration">(9m)</span>
</td><td class="date">
apr 8
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
Heartbleed, tco gem, ruby 2.1 GC, hound, rails 4.1.
</td></tr>

<tr><td>
<a href="http://rubyrogues.com/151-rr-the-jim-weirich-tribute-episode/" class="linktitle">Ruby Rogues 151</a>
<span class="duration">(1h02)</span>
</td><td class="date">
apr 9
<img class="icon" src="ico/rb.png" height="18" width="18" align="right" alt="rb" />
</td></tr>
<tr><td colspan="2" class="comment">
The Jim Weirich Tribute Episode.
</td></tr>

<tr><td>
<a href="http://javascriptjabber.com/103-jsj-robots-with-raquel-velez/" class="linktitle">Javascript Jabber 103</a>
<span class="duration">(1h04)</span>
</td><td class="date">
apr 9
<img class="icon" src="ico/js.png" height="18" width="18" align="right" alt="js" />
</td></tr>
<tr><td colspan="2" class="comment">
Robots with Raquel Vélez.
</td></tr>

</table>


<div class="baseline" style="border-top: 1px solid #ccc">
<i>Links curated by by mose (editor),

xenor (informer)
.</i>
</div>



</div>
</div>
